@import "compass/css3/box-shadow";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "public/global";
@import "standard-text-shadow";

@include standard-text-shadow("ui-effect-standard-text-shadow-demo", "1.0.0");

.widgetDemoContainer {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;

    > div {
        position: relative;
        float: left;
        height: 3em;
        line-height: 3;
        margin: 0.5em;
    }
}