#Widget_1443421272456 {
  background-position: 0% 0%;
  background-image: url(../resource/image/bg-2.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#Widget_1443421272456 #Widget_1443424975385 {
  width: 100px;
  height: 100px;
  left: 734.666px;
  top: 97.666px;
  background-position: 50undefined 50undefined;
  background-image: url(../resource/image/bird.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#Widget_1443421272456 #Widget_1443447120788 {
  width: 120px;
  height: 80px;
  left: 365.958px;
  top: 64.644px;
  background-position: 0% 0%;
  opacity: 0;
}
#Widget_1443421272456 #Widget_1443447120788[state='Display'] {
  font-size: 30px;
  opacity: 1;
}
#Widget_1443421272456 #Widget_1443447128452 {
  width: 120px;
  height: 80px;
  left: 369.937px;
  top: 187px;
  background-position: 0% 0%;
  opacity: 0;
}
#Widget_1443421272456 #Widget_1443447128452[state='Display'] {
  font-size: 30px;
  opacity: 1;
}
#Widget_1443421272456 #Widget_1443447133472 {
  width: 120px;
  height: 80px;
  left: 374.916px;
  top: 330.998px;
  background-position: 0% 0%;
  opacity: 0;
}
#Widget_1443421272456 #Widget_1443447133472[state='Display'] {
  font-size: 30px;
  opacity: 1;
}
#Widget_1443421272456 #Widget_1443447136344 {
  width: 120px;
  height: 80px;
  left: 375.916px;
  top: 482.998px;
  background-position: 0% 0%;
  opacity: 0;
}
#Widget_1443421272456 #Widget_1443447136344[state='Display'] {
  font-size: 30px;
  opacity: 1;
}
#Widget_1443421272456 #Widget_1443447055055 {
  width: 120px;
  height: 80px;
  left: 114.625px;
  top: 59.645px;
  background-position: 0% 0%;
  opacity: 0;
}
#Widget_1443421272456 #Widget_1443447055055[state='Display'] {
  background-position: 0% 0%;
  font-size: 30px;
  opacity: 1;
}
#Widget_1443421272456 #Widget_1443447098237 {
  width: 120px;
  height: 80px;
  left: 106.625px;
  top: 183px;
  background-position: 0% 0%;
  opacity: 0;
}
#Widget_1443421272456 #Widget_1443447098237[state='Display'] {
  font-size: 30px;
  opacity: 1;
}
#Widget_1443421272456 #Widget_1443447106580 {
  width: 120px;
  height: 80px;
  left: 121.625px;
  top: 335.998px;
  background-position: 0% 0%;
  opacity: 0;
}
#Widget_1443421272456 #Widget_1443447106580[state='Display'] {
  font-size: 30px;
  opacity: 1;
}
#Widget_1443421272456 #Widget_1443447114008 {
  width: 120px;
  height: 80px;
  left: 125.625px;
  top: 481.998px;
  background-position: 0% 0%;
  opacity: 0;
}
#Widget_1443421272456 #Widget_1443447114008[state='Display'] {
  font-size: 30px;
  opacity: 1;
}
