<div>
    <div class="_widget_creativeLinkContainer" widget-container version="1.0.0" ng-attr-link-effect="{{effect}}"
         ng-class="{'toggled':activeState === state}" ng-click="toggleState($event)">
        <div class="linkContent"><span>{{linkTitle}}</span></div>
        <div class="linkContent"><span>{{linkTitle}}</span></div>
        <span class="lineBox" ng-if="effect == 'switchLine'">
            <span class="leftLine"></span>
            <span class="rightLine"></span>
        </span>
    </div>
</div>