@font-face {
    font-family: 'icon-chat';
    src: url('icon-chat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon-chat:before {
    font-family: 'icon-chat';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chat-before:before {
    font-family: 'icon-chat';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chat-after:after {
    font-family: 'icon-chat';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chat-talk:before {
    content: "\e600";
}

.icon-chat-exit:before {
    content: "\e601";
}

.icon-chat-qr-code:before {
    content: "\e602";
}

.icon-chat-textsms:before {
    content: "\e603";
}

.icon-chat-menu:before {
    content: "\e604";
}

.icon-chat-close:before {
    content: "\e605";
}

.icon-chat-person:before {
    content: "\e606";
}

.icon-chat-search:before {
    content: "\e607";
}

.icon-chat-portrait:before {
    content: "\e608";
}

.icon-chat-person_add:before {
    content: "\e609";
}

.icon-chat-group_add:before {
    content: "\e60a";
}

.icon-chat-local_florist:before {
    content: "\e60b";
}

.icon-chat-send:before {
    content: "\e60c";
}

.icon-chat-talk-before:before {
    content: "\e600";
}

.icon-chat-exit-before:before {
    content: "\e601";
}

.icon-chat-qr-code-before:before {
    content: "\e602";
}

.icon-chat-textsms-before:before {
    content: "\e603";
}

.icon-chat-menu-before:before {
    content: "\e604";
}

.icon-chat-close-before:before {
    content: "\e605";
}

.icon-chat-person-before:before {
    content: "\e606";
}

.icon-chat-search-before:before {
    content: "\e607";
}

.icon-chat-portrait-before:before {
    content: "\e608";
}

.icon-chat-person_add-before:before {
    content: "\e609";
}

.icon-chat-group_add-before:before {
    content: "\e60a";
}

.icon-chat-local_florist-before:before {
    content: "\e60b";
}

.icon-chat-send-before:before {
    content: "\e60c";
}

.icon-chat-talk-after:after {
    content: "\e600";
}

.icon-chat-exit-after:after {
    content: "\e601";
}

.icon-chat-qr-code-after:after {
    content: "\e602";
}

.icon-chat-textsms-after:after {
    content: "\e603";
}

.icon-chat-menu-after:after {
    content: "\e604";
}

.icon-chat-close-after:after {
    content: "\e605";
}

.icon-chat-person-after:after {
    content: "\e606";
}

.icon-chat-search-after:after {
    content: "\e607";
}

.icon-chat-portrait-after:after {
    content: "\e608";
}

.icon-chat-person_add-after:after {
    content: "\e609";
}

.icon-chat-group_add-after:after {
    content: "\e60a";
}

.icon-chat-local_florist-after:after {
    content: "\e60b";
}

.icon-chat-send-after:after {
    content: "\e60c";
}
