.widgetDemoContainer {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  background: #333;
}
.widgetDemoContainer .pt-triggers {
  position: absolute;
  width: 450px;
  z-index: 999999;
  top: 12%;
  left: 50%;
  margin-top: 130px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.widgetDemoContainer .pt-triggers .dl-menuwrapper button,
.widgetDemoContainer .pt-triggers .pt-touch-button {
  border: none;
  font-size: 13px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  margin: 10px 0 20px !important;
  padding: 0px 20px;
  line-height: 50px !important;
  height: 50px;
  letter-spacing: 1px;
  width: 100%;
  cursor: pointer;
  display: block;
  font-family: 'Lato', Calibri, Arial, sans-serif !important;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.widgetDemoContainer .pt-triggers .pt-touch-button {
  background: #fff;
  color: #aaa !important;
}
.widgetDemoContainer .pt-triggers .pt-touch-button:active {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.widgetDemoContainer .pt-triggers .dl-menuwrapper button {
  margin-bottom: 0;
}
.widgetDemoContainer .pt-perspective {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}
.widgetDemoContainer .pt-perspective .pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.widgetDemoContainer .pt-perspective .pt-page.pt-page-1 {
  background: #0ac2d2;
}
.widgetDemoContainer .pt-perspective .pt-page.pt-page-2 {
  background: #7bb7fa;
}
.widgetDemoContainer .pt-perspective .pt-page.pt-page-3 {
  background: #60d7a9;
}
.widgetDemoContainer .pt-perspective .pt-page.pt-page-4 {
  background: #fdc162;
}
.widgetDemoContainer .pt-perspective .pt-page.pt-page-5 {
  background: #fd6a62;
}
.widgetDemoContainer .pt-perspective .pt-page.pt-page-6 {
  background: #f68dbb;
}
.widgetDemoContainer .pt-perspective .pt-page.pt-page-ontop {
  z-index: 999;
}
.widgetDemoContainer .pt-perspective .pt-page.currentPage {
  visibility: visible;
}
.widgetDemoContainer .pt-perspective .pt-page h1 {
  position: absolute;
  font-weight: 300;
  font-size: 4.4em;
  line-height: 1;
  letter-spacing: 6px;
  margin: 0;
  top: 12%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  word-spacing: -0.3em;
}
.widgetDemoContainer .pt-perspective .pt-page h1 span {
  font-family: 'Satisfy', serif;
  font-weight: 400;
  font-size: 40%;
  text-transform: none;
  word-spacing: 0;
  letter-spacing: 0;
  display: block;
  opacity: 0.4;
}
.widgetDemoContainer .pt-perspective .pt-page h1 strong {
  color: rgba(0, 0, 0, 0.1);
}
