@font-face {
	font-family: 'icomoon';
	src:url('../fonts/menuicons/icomoon.eot');
	src:url('../fonts/menuicons/icomoon.eot?#iefix') format('embedded-opentype'),
	url('../fonts/menuicons/icomoon.woff') format('woff'),
	url('../fonts/menuicons/icomoon.ttf') format('truetype'),
	url('../fonts/menuicons/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}