<div class="widgetDemoContainer" ng-controller="CreativeLinkDemoController">
    <section class="fs-x-large" style="background: #0e83cd">
        <span>Brackets</span>

        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="brackets"
             ng-click="toggleState($event)">Add To
            Cart
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="brackets"
             ng-click="toggleState($event)">
            Delete
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="brackets"
             ng-click="toggleState($event)">
            Settings
        </div>
    </section>

    <section class="fs-x-large" style="background: #9e54bd">
        <span>Slide Up Line</span>


        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="slideUpLine"
             ng-click="toggleState($event)">Add To
            Cart
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="slideUpLine"
             ng-click="toggleState($event)">
            Delete
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="slideUpLine"
             ng-click="toggleState($event)">
            Settings
        </div>
    </section>

    <section class="fs-x-large" style="background: #0e83cd">
        <span>Slide Down Line</span>


        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="slideDownLine"
             ng-click="toggleState($event)">Add To
            Cart
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="slideDownLine"
             ng-click="toggleState($event)">
            Delete
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="slideDownLine"
             ng-click="toggleState($event)">
            Settings
        </div>
    </section>

    <section class="fs-x-large" style="background: #cd4436">
        <span>Slide Up Second Line</span>


        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="slideUpSecondLine"
             ng-click="toggleState($event)">Add To
            Cart
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="slideUpSecondLine"
             ng-click="toggleState($event)">
            Delete
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="slideUpSecondLine"
             ng-click="toggleState($event)">
            Settings
        </div>
    </section>

    <section class="fs-x-large" style="background: #f19f0f">
        <span>Translate Line</span>


        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="translateLine"
             ng-click="toggleState($event)">Add To
            Cart
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="translateLine"
             ng-click="toggleState($event)">
            Delete
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="translateLine"
             ng-click="toggleState($event)">
            Settings
        </div>
    </section>

    <section class="fs-x-large" style="background: #27ae60">
        <span>Slight Translate Line</span>


        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="slightTranslateLine"
             ng-click="toggleState($event)">Add To
            Cart
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="slightTranslateLine"
             ng-click="toggleState($event)">
            Delete
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="slightTranslateLine"
             ng-click="toggleState($event)">
            Settings
        </div>
    </section>

    <section class="fs-x-large" style="background: #3fa46a">
        <span>Reveal</span>


        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="reveal"
             ng-click="toggleState($event)">Add To
            Cart
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="reveal"
             ng-click="toggleState($event)">
            Delete
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="reveal"
             ng-click="toggleState($event)">
            Settings
        </div>
    </section>

    <section class="fs-x-large" style="background: #9e487f">
        <span>Switch Line</span>


        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="switchLine"
             ng-click="toggleState($event)">Add To
            Cart
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="switchLine"
             ng-click="toggleState($event)">
            Delete
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="switchLine"
             ng-click="toggleState($event)">
            Settings
        </div>
    </section>

    <section class="fs-x-large" style="background: #16a085">
        <span>Scale Down</span>


        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="scaleDown"
             ng-click="toggleState($event)">Add To
            Cart
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="scaleDown"
             ng-click="toggleState($event)">
            Delete
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="scaleDown"
             ng-click="toggleState($event)">
            Settings
        </div>
    </section>

    <section class="fs-x-large" style="background: #aab7b7">
        <span>Fall Down</span>


        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="fallDown"
             ng-click="toggleState($event)">Add To
            Cart
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="fallDown"
             ng-click="toggleState($event)">
            Delete
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="fallDown"
             ng-click="toggleState($event)">
            Settings
        </div>
    </section>

    <section class="fs-x-large" style="background: #435a6b">
        <span>Fade Out</span>


        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="fadeOut"
             ng-click="toggleState($event)">Add To
            Cart
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="fadeOut"
             ng-click="toggleState($event)">
            Delete
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="fadeOut"
             ng-click="toggleState($event)">
            Settings
        </div>
    </section>

    <section class="fs-x-large" style="background: #f39c12">
        <span>Flip Up</span>


        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="flipUp"
             ng-click="toggleState($event)">Add To
            Cart
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="flipUp"
             ng-click="toggleState($event)">
            Delete
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="flipUp"
             ng-click="toggleState($event)">
            Settings
        </div>
    </section>

    <section class="fs-x-large" style="background: #2ac56c">
        <span>Slight Translate</span>


        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="slightTranslate"
             ng-click="toggleState($event)">Add To
            Cart
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="slightTranslate"
             ng-click="toggleState($event)">
            Delete
        </div>
        <div ui-widget-creative-link-1-0-0 active-state="select" state="*" effect="slightTranslate"
             ng-click="toggleState($event)">
            Settings
        </div>
    </section>
</div>