<div class="ui-control-title fs-x-small">
    <p ng-transclude></p>

    <div class="ui-control-enable-button icon-dock-after icon-dock-cross-after"
         ng-click="once(this, $event, 'toggleBackgroundImageControl')"></div>
</div>
<div class="backgroundImageContent ui-control-wrapper">
    <div class="backgroundImageBar ui-control-bar fs-x-large">
        <img ng-if="pickedBackgroundImageName"
             ng-src="project/{{$root.loadedProject.projectRecord._id}}/resource/image/{{pickedBackgroundImageName}}"/>

        <div ng-if="pickedBackgroundImageName" ng-click="once(this, $event, 'clearBackgroundImageUrl', $event)"
             class="deleteButton fs-x-huge icon-background-image-before icon-background-image-delete-before"></div>
    </div>
    <div class="backgroundImagePalette ui-control-panel">
        <div class="backgroundImagePane">
            <div class="paneContent">
                <div class="input-group col-as-12 fs-x-smaller">
                    <label class="col-as-5 no-padding control-label">Images</label>

                    <div class="imageResourceList no-padding col-as-7" ng-click="$event.stopPropagation()">
                        <select class="form-control" ng-model="pickedBackgroundImageName"
                                ng-change="onChangeBackgroundImageName()">
                            <option value="{{resourceName}}"
                                    ng-attr-selected="{{item.resourceName === resourceName}}"
                                    ng-repeat="resourceName in $root.loadedProject.resources.image">
                                {{resourceName}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="backgroundImagePane">
            <div class="paneTitle fs-x-small">Position</div>
            <div class="paneContent">
                <div class="input-group col-as-5 no-padding fs-x-smaller">
                    <label class="col-as-4 no-padding control-label">X%</label>

                    <div class="col-as-7 no-padding">
                        <input type="text" class="form-control" ng-model="pickedBackgroundPosition.x"/>
                    </div>
                </div>
                <div class="input-group col-as-5 no-padding fs-x-smaller">
                    <label class="col-as-4 no-padding control-label">Y%</label>

                    <div class="col-as-7 no-padding">
                        <input type="text" class="form-control" ng-model="pickedBackgroundPosition.y"/>
                    </div>
                </div>
                <div id="positionRuler" class="fs-x-smaller">
                    <div class="positionCordContainer">
                        <div id="positionTarget"
                             ng-style="{'left':pickedBackgroundPosition.x + pickedBackgroundPosition.unit, 'top': pickedBackgroundPosition.y + pickedBackgroundPosition.unit}"></div>
                        <span class="horizontalDividers">
                            <span class="horizontalDivider"
                                  ng-class="{'nearByDivider':i==nearByHorizontalMarkerIndex}"
                                  ng-repeat="i in [0,3]|makeRange"></span>

                            <div class="fs-x-small horizontalLocator">
                                <div class="horizontalMoveControl icon-background-image-before icon-background-image-move-before"></div>
                            </div>
                        </span>

                        <span class="verticalDividers">
                            <span class="verticalDivider"
                                  ng-class="{'nearByDivider':i==nearByVerticalMarkerIndex}"
                                  ng-repeat="i in [0,3]|makeRange"></span>

                            <div class="fs-x-small verticalLocator">
                                <div class="verticalMoveControl icon-background-image-before icon-background-image-move-before"></div>
                            </div>
                        </span>

                        <div class="horizontalCord" ng-attr-row="{{i}}"
                             ng-repeat="i in [0,3]|makeRange">
                            <div class="verticalCord" ng-attr-column="{{j}}"
                                 ng-repeat="j in [0,3]|makeRange">
                                <span ng-class="{'select':j==nearByHorizontalCordIndex && i==nearByVerticalCordIndex}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="backgroundImagePane">
            <div class="paneTitle fs-x-small">Repeat</div>
            <div id="repeatDropdown" class="paneContent fs-x-smaller stackAndRotateSelect"
                 ui-simple-dropdown
                 ui-simple-dropdown-opts="{dataField:'value', labelField:'name', zIndex:100, gutter: 5, showTitle: true, displayUnsetOption: false}"
                 selection-list="repeatList"
                 select-item="pickedBackgroundRepeat"
                 on-option-select="setBackgroundRepeatValue(pickedBackgroundRepeat)">
            </div>
        </div>
    </div>
</div>
