<style>
    {{composeBoxShadowCss(pickedBoxShadow, 'boxShadowPickerPane')}}
</style>
<div class="ui-control-title fs-x-small">
    <p ng-transclude></p>

    <div class="ui-control-enable-button icon-dock-after icon-dock-cross-after"
         ng-click="toggleBoxShadowControl()"></div>
</div>
<div class="boxShadowContent ui-control-wrapper" ng-class="dockAlign">
    <div class="boxShadowBar ui-control-bar fs-x-large" ng-click="togglePalette($event)">
        <div id="boxShadowPickerPane" class="boxShadowPickerPane fs-x-large vt-align-center"
             ng-class="{'fs-x-tiny':pickedBoxShadow && hasStyle(pickedBoxShadow)}">
            <span>{{pickedBoxShadow && hasStyle(pickedBoxShadow) && (pickedBoxShadowName || 'Shadowed') || 'None'}}</span>
        </div>
    </div>
    <div class="boxShadowPalette ui-control-panel" ng-click="selectTab($event.currentTarget, $event.target, $event)">
        <div class="topBar">
            <div class="boxShadowToolBar fs-x-toolButton-normal">
                <div tab-sel="tab-head-box-shadow-value-1" tab-content="box-shadow-value"
                     class="toolButton icon-box-shadow-before icon-box-shadow-after icon-box-shadow-box-before icon-box-shadow-box-after"></div>
                <div tab-sel="tab-head-box-shadow-value-2" tab-content="box-shadow-value"
                     class="toolButton icon-box-shadow-before icon-box-shadow-after icon-box-shadow-format-list-bulleted-before  icon-box-shadow-format-list-bulleted-after"></div>
                <div tab-sel="tab-head-box-shadow-value-3" tab-content="box-shadow-value"
                     class="toolButton icon-box-shadow-before icon-box-shadow-after icon-box-shadow-brackets-before icon-box-shadow-brackets-after"></div>
                <div tab-sel="tab-head-box-shadow-value-4" tab-content="box-shadow-value"
                     class="toolButton icon-box-shadow-before icon-box-shadow-after icon-box-shadow-library-before icon-box-shadow-library-after"></div>
            </div>
        </div>
        <div class="tabContents">
            <div tab-sel="tab-content-box-shadow-value-1" class="presetBoxShadow">
                <div class="effectLibrary"
                     ng-if="effectLibrary.uiControl === 'uiBoxShadowEditor'"
                     ng-repeat="effectLibrary in filterEffectLibraryList">
                    <div class="libraryTitle icon-box-shadow-before icon-box-shadow-library-before">
                        {{effectLibrary.name}}
                    </div>
                    <div class="accordianGroup fs-x-small"
                         ng-repeat="artifact in filterArtifactList(effectLibrary, project.xrefRecord)"
                         ng-click="toggleSelect($event.currentTarget, $event)">

                        <style>
                            {{generateBoxShadowStyle(artifact.json)}}
                        </style>

                        <div class="accordianTitle col-as-12 icon-box-shadow-before icon-box-shadow-angle-double-up-before">
                            {{artifact.name}}
                        </div>
                        <div class="accordianBody col-as-12 no-padding">
                            <div ng-attr-id="boxShadow-{{pane.value}}"
                                 class="shadowPane fs-x-small col-as-10 no-padding"
                                 ng-repeat="pane in artifact.json"
                                 ng-click="pickBoxShadow(pane, $event)">
                                <span class="fs-x-tiny vt-align-center">{{pane.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div tab-sel="tab-content-box-shadow-value-2" class="boxShadowValuePanes vt-scroll-pane">
                <div id="shadowStopColorPalette" class="shadowStopColorPalette" ui-color-editor-palette
                     ui-color-editor-palette-opts="{enableClose:true}" selected-color="selectedShadowStopColor"></div>
                <div class="accordianGroup shadowStopGroup" ng-click="toggleSelect($event.currentTarget, $event)"
                     pseudo="before">
                    <div class="accordianTitle col-as-12 icon-box-shadow-before icon-box-shadow-angle-double-up-before">
                        :before
                    </div>
                    <div class="accordianBody col-as-12 no-padding">
                        <div class="shadowStop fs-x-tiny"
                             ng-repeat="shadowStop in pickedBoxShadow.beforeStyle['box-shadow']"
                             ng-attr-shadow-order="{{$index}}">
                            <div class="shadowStopNumber col-as-10 no-padding fs-x-tiny">
                                <div class="input-group col-as-6 no-padding fs-x-tiny">
                                    <label class="col-as-6 no-padding">H</label>

                                    <div class="col-as-6 input-group no-padding">
                                        <input type="text" class="form-control shadowValueInput"
                                               ng-click="$event.stopPropagation()"
                                               ng-model="shadowStop['h-shadow']"/>
                                    </div>
                                </div>
                                <div class="input-group col-as-6 no-padding fs-x-tiny">
                                    <label class="col-as-6 no-padding">V</label>

                                    <div class="col-as-6 input-group no-padding">
                                        <input type="text" class="form-control shadowValueInput"
                                               ng-click="$event.stopPropagation()"
                                               ng-model="shadowStop['v-shadow']"/>
                                    </div>
                                </div>
                                <div class="input-group col-as-6 no-padding fs-x-tiny">
                                    <label class="col-as-6 no-padding">Blur</label>

                                    <div class="col-as-6 input-group no-padding">
                                        <input type="text" class="form-control shadowValueInput"
                                               ng-click="$event.stopPropagation()"
                                               ng-model="shadowStop['blur']"/>
                                    </div>
                                </div>
                                <div class="input-group col-as-6 no-padding fs-x-tiny">
                                    <label class="col-as-6 no-padding">Spread</label>

                                    <div class="col-as-6 input-group no-padding">
                                        <input type="text" class="form-control shadowValueInput"
                                               ng-click="$event.stopPropagation()"
                                               ng-model="shadowStop['spread']"/>
                                    </div>
                                </div>
                            </div>
                            <div class="shadowStopColor col-as-2 no-padding-right fs-x-tiny"
                                 ng-click="toggleShadowStopMenu('before', $index, $event)" ng-if="shadowStop.color">
                                <span ng-style="{'background-color':'{{shadowStop.color.alphaColor || shadowStop.color.color}}'}"></span>
                            </div>
                            <div class="circular-menu">
                                <div class="circle">
                                    <div class="icon-box-shadow icon-box-shadow-insert-before"
                                         ng-click="insertShadowStop('before', $index, $event)"></div>
                                    <div class="icon-box-shadow icon-box-shadow-remove-before"
                                         ng-click="removeShadowStop('before', $index, $event)"></div>
                                    <div class="icon-box-shadow icon-box-shadow-brush-before"
                                         ng-click="setShadowStopColor('before', $index, $event)"></div>
                                    <div class="icon-box-shadow icon-box-shadow-copy-before"
                                         ng-click="copyShadowStop('before', $index, $event)"></div>
                                    <div class="icon-box-shadow icon-box-shadow-paste-before"
                                         ng-click="pasteShadowStop('before', $index, $event)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordianGroup shadowStopGroup" ng-click="toggleSelect($event.currentTarget, $event)"
                     pseudo="">
                    <div class="accordianTitle col-as-12 icon-box-shadow-before icon-box-shadow-angle-double-up-before">
                        :current
                    </div>
                    <div class="accordianBody col-as-12 no-padding">
                        <div class="shadowStop fs-x-tiny" ng-repeat="shadowStop in pickedBoxShadow.style['box-shadow']"
                             ng-attr-shadow-order="{{$index}}">
                            <div class="shadowStopNumber col-as-10 no-padding fs-x-tiny">
                                <div class="input-group col-as-6 no-padding fs-x-tiny">
                                    <label class="col-as-6 no-padding">H</label>

                                    <div class="col-as-6 input-group no-padding">
                                        <input type="text" class="form-control shadowValueInput"
                                               ng-click="$event.stopPropagation()"
                                               ng-model="shadowStop['h-shadow']"/>
                                    </div>
                                </div>
                                <div class="input-group col-as-6 no-padding fs-x-tiny">
                                    <label class="col-as-6 no-padding">V</label>

                                    <div class="col-as-6 input-group no-padding">
                                        <input type="text" class="form-control shadowValueInput"
                                               ng-click="$event.stopPropagation()"
                                               ng-model="shadowStop['v-shadow']"/>
                                    </div>
                                </div>
                                <div class="input-group col-as-6 no-padding fs-x-tiny">
                                    <label class="col-as-6 no-padding">Blur</label>

                                    <div class="col-as-6 input-group no-padding">
                                        <input type="text" class="form-control shadowValueInput"
                                               ng-click="$event.stopPropagation()"
                                               ng-model="shadowStop['blur']"/>
                                    </div>
                                </div>
                                <div class="input-group col-as-6 no-padding fs-x-tiny">
                                    <label class="col-as-6 no-padding">Spread</label>

                                    <div class="col-as-6 input-group no-padding">
                                        <input type="text" class="form-control shadowValueInput"
                                               ng-click="$event.stopPropagation()"
                                               ng-model="shadowStop['spread']"/>
                                    </div>
                                </div>
                            </div>
                            <div class="shadowStopColor col-as-2 no-padding-right fs-x-tiny"
                                 ng-click="toggleShadowStopMenu('', $index, $event)" ng-if="shadowStop.color">
                                <span ng-style="{'background-color':'{{shadowStop.color.alphaColor || shadowStop.color.color}}'}"></span>
                            </div>
                            <div class="circular-menu">
                                <div class="circle">
                                    <div class="icon-box-shadow icon-box-shadow-insert-before"
                                         ng-click="insertShadowStop('', $index, $event)"></div>
                                    <div class="icon-box-shadow icon-box-shadow-remove-before"
                                         ng-click="removeShadowStop('', $index, $event)"></div>
                                    <div class="icon-box-shadow icon-box-shadow-brush-before"
                                         ng-click="setShadowStopColor('', $index, $event)"></div>
                                    <div class="icon-box-shadow icon-box-shadow-copy-before"
                                         ng-click="copyShadowStop('', $index, $event)"></div>
                                    <div class="icon-box-shadow icon-box-shadow-paste-before"
                                         ng-click="pasteShadowStop('', $index, $event)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordianGroup shadowStopGroup" ng-click="toggleSelect($event.currentTarget, $event)"
                     pseudo="after">
                    <div class="accordianTitle col-as-12 icon-box-shadow-before icon-box-shadow-angle-double-up-before">
                        :after
                    </div>
                    <div class="accordianBody col-as-12 no-padding">
                        <div class="shadowStop fs-x-tiny"
                             ng-repeat="shadowStop in pickedBoxShadow.afterStyle['box-shadow']"
                             ng-attr-shadow-order="{{$index}}">
                            <div class="shadowStopNumber col-as-10 no-padding fs-x-tiny">
                                <div class="input-group col-as-6 no-padding fs-x-tiny">
                                    <label class="col-as-6 no-padding">H</label>

                                    <div class="col-as-6 input-group no-padding">
                                        <input type="text" class="form-control shadowValueInput"
                                               ng-click="$event.stopPropagation()"
                                               ng-model="shadowStop['h-shadow']"/>
                                    </div>
                                </div>
                                <div class="input-group col-as-6 no-padding fs-x-tiny">
                                    <label class="col-as-6 no-padding">V</label>

                                    <div class="col-as-6 input-group no-padding">
                                        <input type="text" class="form-control shadowValueInput"
                                               ng-click="$event.stopPropagation()"
                                               ng-model="shadowStop['v-shadow']"/>
                                    </div>
                                </div>
                                <div class="input-group col-as-6 no-padding fs-x-tiny">
                                    <label class="col-as-6 no-padding">Blur</label>

                                    <div class="col-as-6 input-group no-padding">
                                        <input type="text" class="form-control shadowValueInput"
                                               ng-click="$event.stopPropagation()"
                                               ng-model="shadowStop['blur']"/>
                                    </div>
                                </div>
                                <div class="input-group col-as-6 no-padding fs-x-tiny">
                                    <label class="col-as-6 no-padding">Spread</label>

                                    <div class="col-as-6 input-group no-padding">
                                        <input type="text" class="form-control shadowValueInput"
                                               ng-click="$event.stopPropagation()"
                                               ng-model="shadowStop['spread']"/>
                                    </div>
                                </div>
                            </div>
                            <div class="shadowStopColor col-as-2 no-padding-right fs-x-tiny"
                                 ng-click="toggleShadowStopMenu('after', $index, $event)" ng-if="shadowStop.color">
                                <span ng-style="{'background-color':'{{shadowStop.color.alphaColor || shadowStop.color.color}}'}"></span>
                            </div>
                            <div class="circular-menu">
                                <div class="circle">
                                    <div class="icon-box-shadow icon-box-shadow-insert-before"
                                         ng-click="insertShadowStop('after', $index, $event)"></div>
                                    <div class="icon-box-shadow icon-box-shadow-remove-before"
                                         ng-click="removeShadowStop('after', $index, $event)"></div>
                                    <div class="icon-box-shadow icon-box-shadow-brush-before"
                                         ng-click="setShadowStopColor('after', $index, $event)"></div>
                                    <div class="icon-box-shadow icon-box-shadow-copy-before"
                                         ng-click="copyShadowStop('after', $index, $event)"></div>
                                    <div class="icon-box-shadow icon-box-shadow-paste-before"
                                         ng-click="pasteShadowStop('after', $index, $event)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div tab-sel="tab-content-box-shadow-value-3" class="boxShadowStylePanes vt-scroll-pane">
                <div class="accordianGroup shadowStopGroup" ng-click="toggleSelect($event.currentTarget, $event)"
                     pseudo="before" ng-if="pickedBoxShadow.beforeStyle['content'] != null">
                    <div class="accordianTitle col-as-12 icon-box-shadow-before icon-box-shadow-angle-double-up-before">
                        :before
                    </div>
                    <div class="accordianBody col-as-12 no-padding">
                        <div class="shadowStyle fs-x-tiny"
                             ng-repeat="shadowStyle in ['left', 'top', 'right', 'bottom', 'width', 'height']"
                             ng-attr-shadow-style-order="{{$index}}">
                            <div class="input-group col-as-12 no-padding fs-x-tiny">
                                <label class="col-as-4 no-padding">{{shadowStyle}}</label>

                                <div class="col-as-7 input-group no-padding">
                                    <input type="text" class="form-control shadowValueInput"
                                           ng-click="$event.stopPropagation()"
                                           ng-model="pickedBoxShadow.beforeStyle[shadowStyle]"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordianGroup shadowStopGroup" ng-click="toggleSelect($event.currentTarget, $event)"
                     pseudo="after" ng-if="pickedBoxShadow.afterStyle['content'] != null">
                    <div class="accordianTitle col-as-12 icon-box-shadow-before icon-box-shadow-angle-double-up-before">
                        :after
                    </div>
                    <div class="accordianBody col-as-12 no-padding">
                        <div class="shadowStyle fs-x-tiny" ng-repeat="shadowStyle in styleNames"
                             ng-attr-shadow-style-order="{{$index}}">
                            <div class="input-group col-as-12 no-padding fs-x-tiny">
                                <label class="col-as-4 no-padding">{{shadowStyle}}</label>

                                <div class="col-as-7 input-group no-padding">
                                    <input type="text" class="form-control shadowValueInput"
                                           ng-click="$event.stopPropagation()"
                                           ng-model="pickedBoxShadow.afterStyle[shadowStyle]"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div tab-sel="tab-content-box-shadow-value-4" class="boxShadowArtifactPanes vt-scroll-pane">
                <div class="accordianGroup"
                     ng-repeat="effectLibrary in markLibrarySelection(effectLibraryList, project.xrefRecord)"
                     ng-if="effectLibrary.uiControl === 'uiBoxShadowEditor'"
                     ng-click="toggleSelect($event.currentTarget, $event)">
                    <div class="accordianTitle col-as-12 fs-x-small icon-box-shadow-before icon-box-shadow-angle-double-up-before">
                        <span class="col-as-10 no-padding"
                              ng-attr-title="{{effectLibrary.desc}}">{{effectLibrary.desc}}</span>

                        <div class="toggleSelectionButton col-as-2 no-padding-right icon-box-shadow-before"
                             ng-class="{'icon-box-shadow-square-before':!effectLibrary._selected, 'icon-box-shadow-square-check-before':effectLibrary._selected, 'partialSelect':isPartialSelection(effectLibrary, project.xrefRecord)}"
                             ng-click="toggleLibrarySelection(effectLibrary, $event)"></div>
                    </div>
                    <div class="accordianBody fs-x-smaller col-as-12 no-padding">
                        <div class="effectPane col-as-12 no-padding"
                             ng-repeat="artifact in markArtifactSelection(effectLibrary, project.xrefRecord)"
                             ng-click="$event.stopPropagation()">
                            <span>{{artifact.name}}</span>

                            <div class="toggleSelectionButton icon-box-shadow-before"
                                 ng-class="{'icon-box-shadow-square-before':!artifact._selected, 'icon-box-shadow-square-check-before':artifact._selected}"
                                 ng-click="toggleArtifactSelection(artifact, effectLibrary, $event)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
