<div class="topBar" ng-click="selectTab($event.currentTarget.parentNode, $event.target, $event)">
    <div class="paneToolBar fs-x-toolButton-normal">
        <div tab-sel="tab-head-color-value-1" tab-content="color-value"
             class="toolButton icon-color-editor-palette-before icon-color-editor-palette-after icon-color-editor-palette-grid-before icon-color-editor-palette-grid-after"></div>
        <div tab-sel="tab-head-color-value-2" tab-content="color-value"
             class="toolButton icon-color-editor-palette-before icon-color-editor-palette-after icon-color-editor-palette-vertical-scroll-before  icon-color-editor-palette-vertical-scroll-after"></div>

        <div class="closeToolButton fs-x-toolButton-small icon-color-editor-palette-before icon-color-editor-palette-cross-before"
             ng-click="closePalette($event)" ng-if="options.enableClose"></div>
    </div>
    <div class="pickedColorList fs-x-squarePane">
        <div class="colorSticker haloPane icon-color-editor-palette-before icon-color-editor-palette-paint-brush-before"
             hm-pan-end="copyPickedColor($event.target, $event)"
             ng-style="{'background-color':'{{selectedColorObj.alphaColor || selectedColorObj.color}}'}"></div>
        <div class="alphaStep">
            <div class="alphaSpin fs-x-small icon-color-editor-palette-before icon-color-editor-palette-increment-before"
                 ng-click="incrementAlpha($event)"></div>
            <input class="alphaValue fs-x-small" required type="number" step="0.1" min="0" max="1"
                   ng-model="selectedColorObj.alpha"
                   ng-keyup="onAlphaChange($event)"/>

            <div class="alphaSpin fs-x-small icon-color-editor-palette-before icon-color-editor-palette-decrement-before"
                 ng-click="decrementAlpha($event)"></div>
        </div>
        <div class="pickedColorPanes">
            <div ng-repeat="n in [0, 15] | makeRange"
                 class="pickedColorPane squarePane icon-color-editor-palette-before icon-color-editor-palette-question-before"
                 hm-pan-end="copyPickedColor($event.target, $event)">
            </div>
        </div>
    </div>
</div>
<div class="tabContents">
    <div tab-sel="tab-content-color-value-1" class="presetColors">
        <div class="colorPane squarePane" ng-repeat="pane in colors" ng-click="pickColor({'color':pane})"
             ng-style="{'background-color':'{{pane}}'}">
        </div>
    </div>
    <div tab-sel="tab-content-color-value-2" class="colorValuePanes vt-scroll-pane">
        <div class="hsbValuePane">
            <div class="paneNavBackward fs-x-toolButton-normal icon-color-editor-palette-before icon-color-editor-palette-simple-arrow-left-before"
                 ng-click="toggleSelect('.hsbValuePane', $event)"></div>
            <div class="valuePane hueValuePane">
                <div class="valueTitle fs-x-medium">H</div>
                <div class="valueDisplay fs-x-small">{{Math.floor(selectedColorObj.hueValue * 359)}}</div>
                <div class="valueScroll vt-scroll-normal">
                    <div class="scrollUpButton fs-x-toolButton-normal icon-color-editor-palette-before icon-color-editor-palette-arrow-up-before"
                         ng-click="decrementColor($event)"></div>
                    <div class="scrollBar fs-x-toolButton-normal">
                        <div class="scrollMeter fs-x-small" ng-attr-color-range="{{1}}"
                             color-value-name="hueValue" ui-draggable="observeColorValueScrollMeter($event)"
                             ui-draggable-opts="{threshold: 5, pointers: 0, direction:'vertical'}">
                        </div>
                    </div>
                    <div class="scrollDownButton fs-x-toolButton-normal icon-color-editor-palette-before icon-color-editor-palette-arrow-down-before"
                         ng-click="incrementColor($event)"></div>
                </div>
            </div>
            <div class="valuePane saturationValuePane">
                <div class="valueTitle fs-x-medium">S</div>
                <div class="valueDisplay fs-x-small">{{Math.round(selectedColorObj.saturationValue * 100) /
                    100}}
                </div>
                <div class="valueScroll vt-scroll-normal">
                    <div class="scrollUpButton fs-x-toolButton-normal icon-color-editor-palette-before icon-color-editor-palette-arrow-up-before"
                         ng-click="decrementColor($event)"></div>
                    <div class="scrollBar fs-x-toolButton-normal">
                        <div class="scrollMeter fs-x-small" ng-attr-color-range="{{1}}"
                             color-value-name="saturationValue"
                             ui-draggable="observeColorValueScrollMeter($event)"
                             ui-draggable-opts="{threshold: 5, pointers: 0, direction:'vertical'}">
                        </div>
                    </div>
                    <div class="scrollDownButton fs-x-toolButton-normal icon-color-editor-palette-before icon-color-editor-palette-arrow-down-before"
                         ng-click="incrementColor($event)"></div>
                </div>
            </div>
            <div class="valuePane lightValuePane">
                <div class="valueTitle fs-x-medium">L</div>
                <div class="valueDisplay fs-x-small">{{Math.round(selectedColorObj.lightValue * 100) / 100}}
                </div>
                <div class="valueScroll vt-scroll-normal">
                    <div class="scrollUpButton fs-x-toolButton-normal icon-color-editor-palette-before icon-color-editor-palette-arrow-up-before"
                         ng-click="decrementColor($event)"></div>
                    <div class="scrollBar fs-x-toolButton-normal">
                        <div class="scrollMeter fs-x-small" ng-attr-color-range="{{1}}"
                             color-value-name="lightValue"
                             ui-draggable="observeColorValueScrollMeter($event)"
                             ui-draggable-opts="{threshold: 5, pointers: 0, direction:'vertical'}">
                        </div>
                    </div>
                    <div class="scrollDownButton fs-x-toolButton-normal icon-color-editor-palette-before icon-color-editor-palette-arrow-down-before"
                         ng-click="incrementColor($event)"></div>
                </div>
            </div>
        </div>
        <div class="rgbValuePane">
            <div class="paneNavForward fs-x-toolButton-normal icon-color-editor-palette-before icon-color-editor-palette-simple-arrow-right-before"
                 ng-click="toggleSelect('.hsbValuePane', $event)"></div>
            <div class="valuePane rValuePane">
                <div class="valueTitle fs-x-medium">R</div>
                <div class="valueDisplay fs-x-small">{{selectedColorObj.rValue}}</div>
                <div class="valueScroll vt-scroll-normal">
                    <div class="scrollUpButton fs-x-toolButton-normal icon-color-editor-palette-before icon-color-editor-palette-arrow-up-before"
                         ng-click="decrementColor($event)"></div>
                    <div class="scrollBar fs-x-toolButton-normal">
                        <div class="scrollMeter fs-x-small" ng-attr-color-range="{{255}}"
                             color-value-name="rValue" ui-draggable="observeColorValueScrollMeter($event)"
                             ui-draggable-opts="{threshold: 5, pointers: 0, direction:'vertical'}">
                        </div>
                    </div>
                    <div class="scrollDownButton fs-x-toolButton-normal icon-color-editor-palette-before icon-color-editor-palette-arrow-down-before"
                         ng-click="incrementColor($event)"></div>
                </div>
            </div>
            <div class="valuePane gValuePane">
                <div class="valueTitle fs-x-medium">G</div>
                <div class="valueDisplay fs-x-small">{{selectedColorObj.gValue}}</div>
                <div class="valueScroll vt-scroll-normal">
                    <div class="scrollUpButton fs-x-toolButton-normal icon-color-editor-palette-before icon-color-editor-palette-arrow-up-before"
                         ng-click="decrementColor($event)"></div>
                    <div class="scrollBar fs-x-toolButton-normal">
                        <div class="scrollMeter fs-x-small" ng-attr-color-range="{{255}}"
                             color-value-name="gValue" ui-draggable="observeColorValueScrollMeter($event)"
                             ui-draggable-opts="{threshold: 5, pointers: 0, direction:'vertical'}">
                        </div>
                    </div>
                    <div class="scrollDownButton fs-x-toolButton-normal icon-color-editor-palette-before icon-color-editor-palette-arrow-down-before"
                         ng-click="incrementColor($event)"></div>
                </div>
            </div>
            <div class="valuePane bValuePane">
                <div class="valueTitle fs-x-medium">B</div>
                <div class="valueDisplay fs-x-small">{{selectedColorObj.bValue}}</div>
                <div class="valueScroll vt-scroll-normal">
                    <div class="scrollUpButton fs-x-toolButton-normal icon-color-editor-palette-before icon-color-editor-palette-arrow-up-before"
                         ng-click="decrementColor($event)"></div>
                    <div class="scrollBar fs-x-toolButton-normal">
                        <div class="scrollMeter fs-x-small" ng-attr-color-range="{{255}}"
                             color-value-name="bValue" ui-draggable="observeColorValueScrollMeter($event)"
                             ui-draggable-opts="{threshold: 5, pointers: 0, direction:'vertical'}">
                        </div>
                    </div>
                    <div class="scrollDownButton fs-x-toolButton-normal icon-color-editor-palette-before icon-color-editor-palette-arrow-down-before"
                         ng-click="incrementColor($event)"></div>
                </div>
            </div>
        </div>
    </div>
</div>
