<div class="ui-control-title fs-x-small">
    <p ng-transclude></p>

    <div class="ui-control-enable-button icon-dock-after icon-dock-cross-after" ng-click="toggleColorControl()"></div>
</div>
<div class="pickerContent ui-control-wrapper">
    <div class="pickerBar ui-control-bar fs-x-large"
         ng-click="togglePalette($event)"
         ng-style="{'background-color':'{{pickerBarBackgroundColor}}'}"
         ng-if="colorIsSet">
        <div class="pickerPane fs-x-smaller"
             ng-style="{'background-color':'{{pickerPaneBackgroundColor}}'}">
            <span ng-style="{'color':'{{pickerPaneColor}}'}">{{pickedColor.alphaColor || pickedColor.color}}</span>
        </div>
    </div>
    <div class="ui-control-panel">
        <div id="colorPickerPalette" ui-color-editor-palette selected-color="pickedColor"></div>
    </div>
</div>
