<div class="pickerContent">
    <div class="pickerBar" ng-click="togglePalette()" ng-style="{'background-color':'{{pickerBarBackgroundColor}}'}"
         ng-if="pickerPaneColor">
        <div class="pickerPane" ng-style="{'color':'{{pickerPaneColor}}', 'background-color':'{{pickerPaneBackgroundColor}}'}"
                >{{pickedColor}}
        </div>
    </div>
    <div class="pickerPalette">
        <div class="colorPane" ng-repeat="pane in colors" ng-click="pickColor(pane)"
             ng-style="{'background-color':'{{pane}}'}">
        </div>
    </div>
</div>
