<div class="ui-control-title fs-x-small">
    <p ng-transclude></p>

    <div class="ui-control-enable-button icon-dock-after icon-dock-cross-after"
         ng-click="toggleGradientControl()"></div>
</div>
<div class="editorContent fs-x-large ui-control-wrapper" ng-class="dockAlign">
    <div class="editorBar ui-control-bar" ng-click="toggleEditor($event)">
        <div class="angleDisplay" ng-include="'images/image-gradient-editor/compass_east.svg'"
             ng-style="prefixedStyle('transform', 'rotate({0}deg)', pickedGradientColor.angle)">
        </div>
        <div class="gradientSummary">
            <div class="angleLabel fs-x-small">
                {{pickedGradientColor.angle}}deg
            </div>
            <div class="colorSummary">
                <div class="smallSquarePane" ng-repeat="colorStop in pickedGradientColor.colorStopList"
                     ng-style="{'background-color':'{{colorStop.color}}'}"
                     ng-if="colorStop.color">
                </div>
            </div>
        </div>
        <div class="angleStep">
            <div class="fs-x-smaller icon-gradient-editor icon-gradient-editor-increment-before"
                 ng-click="incrementAngle($event)"></div>
            <div class="fs-x-smaller icon-gradient-editor icon-gradient-editor-decrement-before"
                 ng-click="decrementAngle($event)"></div>
        </div>
    </div>
    <div class="editorColorStopList ui-control-panel">
        <div id="colorStopEditorPalette" class="editorPalette" ui-color-editor-palette
             ui-color-editor-palette-opts="{enableClose:true}" selected-color="selectedStopColor"></div>
        <div class="colorStop" ng-repeat="colorStop in pickedGradientColor.colorStopList"
             ng-style="{'background-color':'{{colorStop.backgroundColor}}'}"
             ng-attr-color-order="{{$index}}">
            <div class="colorStopLabel fs-x-small" ng-style="{'color':'{{colorStop.color}}'}">
                <input class="spinValue" required type="number" ng-model="colorStop.percent"
                       ng-keyup="onPercentChange($event)"
                       ng-attr-min="{{colorStop.minPercent}}" ng-attr-max="{{colorStop.maxPercent}}"/>
            </div>
            <div class="colorPane fs-x-large" ng-style="{'background-color':'{{colorStop.color}}'}"
                 ng-click="toggleColorStopMenu($index, $event)" ng-if="colorStop.color">
            </div>
            <div class="circular-menu">
                <div class="circle">
                    <div class="icon-gradient-editor icon-gradient-editor-insert-before"
                         ng-click="insertColorStop($index, $event)"></div>
                    <div class="icon-gradient-editor icon-gradient-editor-remove-before"
                         ng-click="removeColorStop($index, $event)"></div>
                    <div class="icon-gradient-editor icon-gradient-editor-brush-before"
                         ng-click="setColorStop($index, $event)"></div>
                    <div class="icon-gradient-editor icon-gradient-editor-copy-before"
                         ng-click="copyColorStop($index, $event)"></div>
                    <div class="icon-gradient-editor icon-gradient-editor-paste-before"
                         ng-click="pasteColorStop($index, $event)"></div>
                </div>
            </div>
        </div>
    </div>
</div>