<div class="editorContent">
    <div class="editorBar" ng-click="toggleEditor($event)">
        <div class="angleStep">
            <div class="icon-gradient-editor icon-gradient-editor-increment-before"
                 ng-click="incrementAngle($event)"></div>
            <div class="icon-gradient-editor icon-gradient-editor-decrement-before"
                 ng-click="decrementAngle($event)"></div>
        </div>
        <div class="gradientSummary">
            <div class="angleLabel">
                {{angle}}deg
            </div>
            <div class="colorSummary">
                <div ng-repeat="colorStop in colorStopList" ng-style="{'background-color':'{{colorStop.color}}'}"
                     ng-if="colorStop.color">
                </div>
            </div>
        </div>
        <div class="angleDisplay" ng-include="'images/image-gradient-editor/compass_east.svg'"
             ng-style="prefixedStyle('transform', 'rotate({0}deg)', angle)">
        </div>
    </div>
    <div class="editorColorStopList">
        <div class="editorPalette" ng-click="selectTab($event.currentTarget, $event.target, $event)">
            <div class="topBar">
                <div class="paneToolBar">
                    <div tab-sel="tab-head-1"
                         class="toolButton icon-gradient-editor icon-gradient-editor-grid-before icon-gradient-editor-grid-after"></div>
                    <div tab-sel="tab-head-2"
                         class="toolButton icon-gradient-editor icon-gradient-editor-vertical-scroll-before  icon-gradient-editor-vertical-scroll-after"></div>

                    <div class="closeToolButton icon-gradient-editor icon-gradient-editor-cross-before"
                         ng-click="togglePalette($event)"></div>
                </div>
                <div class="pickedColorList">
                    <div class="colorSticker icon-gradient-editor icon-gradient-editor-paint-brush-before"
                         ng-click="hasClass('.pickedColorPane', 'select') && pickColor({'color':attr('.pickedColorPane.select', 'picked-color')}, $event) || toggleSelect($event.target, $event)"></div>
                    <div class="pickedColorPanes">
                        <div ng-repeat="n in [0, 6] | makeRange"
                             class="pickedColorPane icon-gradient-editor icon-gradient-editor-question-before"
                             ng-click="hasClass('.colorSticker', 'select') && copyPickedColor('.colorSticker', $event.target, $event) || toggleExclusiveSelect($event.target, $event)">
                        </div>
                    </div>
                </div>
            </div>
            <div tab-sel="tab-content-1" class="presetColors">
                <div class="colorPane" ng-repeat="pane in colors" ng-click="pickColor({'color':pane})"
                     ng-style="{'background-color':'{{pane}}'}">
                </div>
            </div>
            <div tab-sel="tab-content-2" class="colorValuePanes">
                <div class="hsbValuePane">
                    <div class="paneNavLeft icon-gradient-editor icon-gradient-editor-simple-arrow-left-before"
                         ng-click="toggleSelect('.hsbValuePane', $event)"></div>
                    <div class="valuePane hueValuePane">
                        <div class="valueTitle">H</div>
                        <div class="valueDisplay">{{Math.floor(selectedColor.hueValue * 359)}}</div>
                        <div class="valueScroll" ng-style="hueLinearGradient(selectedColor.color)">
                            <div class="scrollUpButton icon-gradient-editor icon-gradient-editor-arrow-up-before"
                                 ng-click="decrementColor($event)"></div>
                            <div class="scrollBar">
                                <div class="scrollMeter" ng-attr-color-range="{{1}}"
                                     color-value-name="hueValue">
                                    <div class="scrollPin"></div>
                                </div>
                            </div>
                            <div class="scrollDownButton icon-gradient-editor icon-gradient-editor-arrow-down-before"
                                 ng-click="incrementColor($event)"></div>
                        </div>
                    </div>
                    <div class="valuePane saturationValuePane">
                        <div class="valueTitle">S</div>
                        <div class="valueDisplay">{{Math.round(selectedColor.saturationValue * 100) / 100}}</div>
                        <div class="valueScroll">
                            <div class="scrollUpButton icon-gradient-editor icon-gradient-editor-arrow-up-before"
                                 ng-click="decrementColor($event)"></div>
                            <div class="scrollBar">
                                <div class="scrollMeter" ng-attr-color-range="{{1}}"
                                     color-value-name="saturationValue">
                                    <div class="scrollPin"></div>
                                </div>
                            </div>
                            <div class="scrollDownButton icon-gradient-editor icon-gradient-editor-arrow-down-before"
                                 ng-click="incrementColor($event)"></div>
                        </div>
                    </div>
                    <div class="valuePane lightValuePane">
                        <div class="valueTitle">L</div>
                        <div class="valueDisplay">{{Math.round(selectedColor.lightValue * 100) / 100}}</div>
                        <div class="valueScroll">
                            <div class="scrollUpButton icon-gradient-editor icon-gradient-editor-arrow-up-before"
                                 ng-click="decrementColor($event)"></div>
                            <div class="scrollBar">
                                <div class="scrollMeter" ng-attr-color-range="{{1}}"
                                     color-value-name="lightValue">
                                    <div class="scrollPin"></div>
                                </div>
                            </div>
                            <div class="scrollDownButton icon-gradient-editor icon-gradient-editor-arrow-down-before"
                                 ng-click="incrementColor($event)"></div>
                        </div>
                    </div>
                </div>
                <div class="rgbValuePane">
                    <div class="paneNavRight icon-gradient-editor icon-gradient-editor-simple-arrow-right-before"
                         ng-click="toggleSelect('.hsbValuePane', $event)"></div>
                    <div class="valuePane rValuePane">
                        <div class="valueTitle">R</div>
                        <div class="valueDisplay">{{selectedColor.rValue}}</div>
                        <div class="valueScroll">
                            <div class="scrollUpButton icon-gradient-editor icon-gradient-editor-arrow-up-before"
                                 ng-click="decrementColor($event)"></div>
                            <div class="scrollBar">
                                <div class="scrollMeter" ng-attr-color-range="{{255}}"
                                     color-value-name="rValue">
                                    <div class="scrollPin"></div>
                                </div>
                            </div>
                            <div class="scrollDownButton icon-gradient-editor icon-gradient-editor-arrow-down-before"
                                 ng-click="incrementColor($event)"></div>
                        </div>
                    </div>
                    <div class="valuePane gValuePane">
                        <div class="valueTitle">G</div>
                        <div class="valueDisplay">{{selectedColor.gValue}}</div>
                        <div class="valueScroll">
                            <div class="scrollUpButton icon-gradient-editor icon-gradient-editor-arrow-up-before"
                                 ng-click="decrementColor($event)"></div>
                            <div class="scrollBar">
                                <div class="scrollMeter" ng-attr-color-range="{{255}}"
                                     color-value-name="gValue">
                                    <div class="scrollPin"></div>
                                </div>
                            </div>
                            <div class="scrollDownButton icon-gradient-editor icon-gradient-editor-arrow-down-before"
                                 ng-click="incrementColor($event)"></div>
                        </div>
                    </div>
                    <div class="valuePane bValuePane">
                        <div class="valueTitle">B</div>
                        <div class="valueDisplay">{{selectedColor.bValue}}</div>
                        <div class="valueScroll">
                            <div class="scrollUpButton icon-gradient-editor icon-gradient-editor-arrow-up-before"
                                 ng-click="decrementColor($event)"></div>
                            <div class="scrollBar">
                                <div class="scrollMeter" ng-attr-color-range="{{255}}"
                                     color-value-name="bValue">
                                    <div class="scrollPin"></div>
                                </div>
                            </div>
                            <div class="scrollDownButton icon-gradient-editor icon-gradient-editor-arrow-down-before"
                                 ng-click="incrementColor($event)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="colorStop" ng-repeat="colorStop in colorStopList"
             ng-style="{'background-color':'{{colorStop.backgroundColor}}'}"
             ng-if="colorStop.color" ng-attr-color-order="{{$index}}">
            <div class="colorStopLabel" ng-style="{'color':'{{colorStop.color}}'}"
                 ng-mousedown="switchPercentSpinner($event)">
                <div class="percentSpinner" ng-mousedown="$event.stopPropagation()">
                    <input class="spinValue" type="number" ng-model="colorStop.percent"/>
                </div>
                <div class="percentContent">{{colorStop.percent}}%</div>
            </div>
            <div class="colorPane" ng-style="{'background-color':'{{colorStop.color}}'}"
                 ng-click="toggleColorStopMenu($index, $event)">
            </div>
            <div class="circular-menu">
                <div class="circle">
                    <a href="" class="icon-gradient-editor icon-gradient-editor-insert-before"
                       ng-click="insertColorStop($index, $event)"></a>
                    <a href="" class="icon-gradient-editor icon-gradient-editor-remove-before"
                       ng-click="removeColorStop($index, $event)"></a>
                    <a href="" class="icon-gradient-editor icon-gradient-editor-brush-before"
                       ng-click="setColorStop($index, $event)"></a>
                    <a href="" class="icon-gradient-editor icon-gradient-editor-copy-before"
                       ng-click="copyColorStop($index, $event)"></a>
                    <a href="" class="icon-gradient-editor icon-gradient-editor-paste-before"
                       ng-click="pasteColorStop($index, $event)"></a>
                </div>
            </div>
        </div>
    </div>
</div>