<div class="ui-control-title fs-x-small">
    <p ng-transclude></p>

    <div class="ui-control-enable-button icon-dock-after icon-dock-cross-after" ng-click="toggleGradientControl()"></div>
</div>
<div class="editorContent fs-x-large ui-control-wrapper" ng-class="dockAlign">
    <div class="editorBar ui-control-bar" ng-click="toggleEditor($event)">
        <div class="angleDisplay" ng-include="'images/image-gradient-editor/compass_east.svg'"
             ng-style="prefixedStyle('transform', 'rotate({0}deg)', angle)">
        </div>
        <div class="gradientSummary">
            <div class="angleLabel fs-x-small">
                {{angle}}deg
            </div>
            <div class="colorSummary">
                <div class="smallSquarePane" ng-repeat="colorStop in colorStopList"
                     ng-style="{'background-color':'{{colorStop.color}}'}"
                     ng-if="colorStop.color">
                </div>
            </div>
        </div>
        <div class="angleStep">
            <div class="fs-x-smaller icon-gradient-editor icon-gradient-editor-increment-before"
                 ng-click="incrementAngle($event)"></div>
            <div class="fs-x-smaller icon-gradient-editor icon-gradient-editor-decrement-before"
                 ng-click="decrementAngle($event)"></div>
        </div>
    </div>
    <div class="editorColorStopList ui-control-panel">
        <div class="editorPalette" ng-click="selectTab($event.currentTarget, $event.target, $event)">
            <div class="topBar">
                <div class="paneToolBar fs-x-toolButton-normal">
                    <div tab-sel="tab-head-color-value-1" tab-content="color-value"
                         class="toolButton icon-gradient-editor icon-gradient-editor-grid-before icon-gradient-editor-grid-after"></div>
                    <div tab-sel="tab-head-color-value-2" tab-content="color-value"
                         class="toolButton icon-gradient-editor icon-gradient-editor-vertical-scroll-before  icon-gradient-editor-vertical-scroll-after"></div>

                    <div class="closeToolButton fs-x-toolButton-small icon-gradient-editor icon-gradient-editor-cross-before"
                         ng-click="togglePalette($event)"></div>
                </div>
                <div class="pickedColorList fs-x-squarePane">
                    <div class="colorSticker haloPane icon-gradient-editor icon-gradient-editor-paint-brush-before"
                         hm-pan-end="copyPickedColor($event.target, $event)"></div>
                    <div class="pickedColorPanes">
                        <div ng-repeat="n in [0, 6] | makeRange"
                             class="pickedColorPane squarePane icon-gradient-editor icon-gradient-editor-question-before"
                             hm-pan-end="copyPickedColor($event.target, $event)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabContents">
                <div tab-sel="tab-content-color-value-1" class="presetColors">
                    <div class="colorPane squarePane" ng-repeat="pane in colors" ng-click="pickColor({'color':pane})"
                         ng-style="{'background-color':'{{pane}}'}">
                    </div>
                </div>
                <div tab-sel="tab-content-color-value-2" class="colorValuePanes vt-scroll-pane">
                    <div class="hsbValuePane">
                        <div class="paneNavBackward fs-x-toolButton-normal icon-gradient-editor icon-gradient-editor-simple-arrow-left-before"
                             ng-click="toggleSelect('.hsbValuePane', $event)"></div>
                        <div class="valuePane hueValuePane">
                            <div class="valueTitle fs-x-medium">H</div>
                            <div class="valueDisplay fs-x-small">{{Math.floor(selectedColor.hueValue * 359)}}</div>
                            <div class="valueScroll vt-scroll-normal" ng-style="hueLinearGradient(selectedColor.color)">
                                <div class="scrollUpButton fs-x-toolButton-normal icon-gradient-editor icon-gradient-editor-arrow-up-before"
                                     ng-click="decrementColor($event)"></div>
                                <div class="scrollBar fs-x-toolButton-normal">
                                    <div class="scrollMeter fs-x-small" ng-attr-color-range="{{1}}"
                                         color-value-name="hueValue" ui-draggable="observeColorValueScrollMeter($event)"
                                         ui-draggable-opts="{threshold: 5, pointers: 0, direction:'vertical'}">
                                    </div>
                                </div>
                                <div class="scrollDownButton fs-x-toolButton-normal icon-gradient-editor icon-gradient-editor-arrow-down-before"
                                     ng-click="incrementColor($event)"></div>
                            </div>
                        </div>
                        <div class="valuePane saturationValuePane">
                            <div class="valueTitle fs-x-medium">S</div>
                            <div class="valueDisplay fs-x-small">{{Math.round(selectedColor.saturationValue * 100) /
                                100}}
                            </div>
                            <div class="valueScroll vt-scroll-normal">
                                <div class="scrollUpButton fs-x-toolButton-normal icon-gradient-editor icon-gradient-editor-arrow-up-before"
                                     ng-click="decrementColor($event)"></div>
                                <div class="scrollBar fs-x-toolButton-normal">
                                    <div class="scrollMeter fs-x-small" ng-attr-color-range="{{1}}"
                                         color-value-name="saturationValue"
                                         ui-draggable="observeColorValueScrollMeter($event)"
                                         ui-draggable-opts="{threshold: 5, pointers: 0, direction:'vertical'}">
                                    </div>
                                </div>
                                <div class="scrollDownButton fs-x-toolButton-normal icon-gradient-editor icon-gradient-editor-arrow-down-before"
                                     ng-click="incrementColor($event)"></div>
                            </div>
                        </div>
                        <div class="valuePane lightValuePane">
                            <div class="valueTitle fs-x-medium">L</div>
                            <div class="valueDisplay fs-x-small">{{Math.round(selectedColor.lightValue * 100) / 100}}
                            </div>
                            <div class="valueScroll vt-scroll-normal">
                                <div class="scrollUpButton fs-x-toolButton-normal icon-gradient-editor icon-gradient-editor-arrow-up-before"
                                     ng-click="decrementColor($event)"></div>
                                <div class="scrollBar fs-x-toolButton-normal">
                                    <div class="scrollMeter fs-x-small" ng-attr-color-range="{{1}}"
                                         color-value-name="lightValue"
                                         ui-draggable="observeColorValueScrollMeter($event)"
                                         ui-draggable-opts="{threshold: 5, pointers: 0, direction:'vertical'}">
                                    </div>
                                </div>
                                <div class="scrollDownButton fs-x-toolButton-normal icon-gradient-editor icon-gradient-editor-arrow-down-before"
                                     ng-click="incrementColor($event)"></div>
                            </div>
                        </div>
                    </div>
                    <div class="rgbValuePane">
                        <div class="paneNavForward fs-x-toolButton-normal icon-gradient-editor icon-gradient-editor-simple-arrow-right-before"
                             ng-click="toggleSelect('.hsbValuePane', $event)"></div>
                        <div class="valuePane rValuePane">
                            <div class="valueTitle fs-x-medium">R</div>
                            <div class="valueDisplay fs-x-small">{{selectedColor.rValue}}</div>
                            <div class="valueScroll vt-scroll-normal">
                                <div class="scrollUpButton fs-x-toolButton-normal icon-gradient-editor icon-gradient-editor-arrow-up-before"
                                     ng-click="decrementColor($event)"></div>
                                <div class="scrollBar fs-x-toolButton-normal">
                                    <div class="scrollMeter fs-x-small" ng-attr-color-range="{{255}}"
                                         color-value-name="rValue" ui-draggable="observeColorValueScrollMeter($event)"
                                         ui-draggable-opts="{threshold: 5, pointers: 0, direction:'vertical'}">
                                    </div>
                                </div>
                                <div class="scrollDownButton fs-x-toolButton-normal icon-gradient-editor icon-gradient-editor-arrow-down-before"
                                     ng-click="incrementColor($event)"></div>
                            </div>
                        </div>
                        <div class="valuePane gValuePane">
                            <div class="valueTitle fs-x-medium">G</div>
                            <div class="valueDisplay fs-x-small">{{selectedColor.gValue}}</div>
                            <div class="valueScroll vt-scroll-normal">
                                <div class="scrollUpButton fs-x-toolButton-normal icon-gradient-editor icon-gradient-editor-arrow-up-before"
                                     ng-click="decrementColor($event)"></div>
                                <div class="scrollBar fs-x-toolButton-normal">
                                    <div class="scrollMeter fs-x-small" ng-attr-color-range="{{255}}"
                                         color-value-name="gValue" ui-draggable="observeColorValueScrollMeter($event)"
                                         ui-draggable-opts="{threshold: 5, pointers: 0, direction:'vertical'}">
                                    </div>
                                </div>
                                <div class="scrollDownButton fs-x-toolButton-normal icon-gradient-editor icon-gradient-editor-arrow-down-before"
                                     ng-click="incrementColor($event)"></div>
                            </div>
                        </div>
                        <div class="valuePane bValuePane">
                            <div class="valueTitle fs-x-medium">B</div>
                            <div class="valueDisplay fs-x-small">{{selectedColor.bValue}}</div>
                            <div class="valueScroll vt-scroll-normal">
                                <div class="scrollUpButton fs-x-toolButton-normal icon-gradient-editor icon-gradient-editor-arrow-up-before"
                                     ng-click="decrementColor($event)"></div>
                                <div class="scrollBar fs-x-toolButton-normal">
                                    <div class="scrollMeter fs-x-small" ng-attr-color-range="{{255}}"
                                         color-value-name="bValue" ui-draggable="observeColorValueScrollMeter($event)"
                                         ui-draggable-opts="{threshold: 5, pointers: 0, direction:'vertical'}">
                                    </div>
                                </div>
                                <div class="scrollDownButton fs-x-toolButton-normal icon-gradient-editor icon-gradient-editor-arrow-down-before"
                                     ng-click="incrementColor($event)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="colorStop" ng-repeat="colorStop in colorStopList"
             ng-style="{'background-color':'{{colorStop.backgroundColor}}'}"
             ng-if="colorStop.color" ng-attr-color-order="{{$index}}">
            <div class="colorStopLabel fs-x-small" ng-style="{'color':'{{colorStop.color}}'}">
                <input class="spinValue" required type="number" ng-model="colorStop.percent" ng-keyup="onPercentChange($event)"
                       ng-attr-min="{{colorStop.minPercent}}" ng-attr-max="{{colorStop.maxPercent}}"/>
            </div>
            <div class="colorPane fs-x-large" ng-style="{'background-color':'{{colorStop.color}}'}"
                 ng-click="toggleColorStopMenu($index, $event)">
            </div>
            <div class="circular-menu">
                <div class="circle">
                    <div class="icon-gradient-editor icon-gradient-editor-insert-before"
                       ng-click="insertColorStop($index, $event)"></div>
                    <div class="icon-gradient-editor icon-gradient-editor-remove-before"
                       ng-click="removeColorStop($index, $event)"></div>
                    <div class="icon-gradient-editor icon-gradient-editor-brush-before"
                       ng-click="setColorStop($index, $event)"></div>
                    <div class="icon-gradient-editor icon-gradient-editor-copy-before"
                       ng-click="copyColorStop($index, $event)"></div>
                    <div class="icon-gradient-editor icon-gradient-editor-paste-before"
                       ng-click="pasteColorStop($index, $event)"></div>
                </div>
            </div>
        </div>
    </div>
</div>