<div class="multilevelMenuContainer">
    <script type="text/ng-template" id="_multilevelSubMenu.html">
        <li ng-repeat="item in item[options.listField]" ng-if="filterItem(item)" data-value="{{pickValue(item)}}"
            ng-click="once(this, $event, 'onSelect', $event)">
            <a href="">{{pickLabel(item)}}</a>

            <div class="mp-level" ng-if="item[options.listField] && item[options.listField].length">
                <div class="mp-back" ng-click="once(this, $event, 'goBack', $event)">Back</div>
                <ul ng-include="'_multilevelSubMenu.html'">
                </ul>
            </div>
        </li>
    </script>
    <div class="openButton" ng-transclude ng-click="once(this, $event, 'toggleMenu', $event)"></div>

    <div class="barContent" ng-click="$event.stopPropagation()">
        <nav class="mp-menu">
            <div class="mp-level" data-level="1">
                <ul>
                    <li ng-repeat="item in menuList" ng-if="filterItem(item)" data-value="{{pickValue(item)}}"
                        ng-click="once(this, $event, 'onSelect', $event)">
                        <a href="">{{pickLabel(item)}}</a>

                        <div class="mp-level" ng-if="item[options.listField] && item[options.listField].length">
                            <div class="mp-back" ng-click="once(this, $event, 'goBack', $event)">Back</div>
                            <ul ng-include="'_multilevelSubMenu.html'">
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
