<script type="text/ng-template" id="_pageWidgets.html">
    <div ui-tree-handle ng-click="exclusiveSelect($event)">
        <div class="stateButton icon-page-before icon-page-flag-before"
             ng-class="{'activeState':item.state.name != item.initialStateOption.name}"
             ng-click="toggleSelectState(item, $event)"
             ng-if="item.getStates().length > 1"
                >
        </div>

        <div class="editState" ng-if="item.getStates().length && item.state.name != item.initialStateOption.name">
            {{item.state.name}}
        </div>

        <a class="fs-x-small btn btn-xs" nodrag ng-click="toggle();$event.stopPropagation()">
            <span class="glyphicon"
                  ng-class="{ 'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed }"></span>
        </a>

        <span class="treeNodeName">
            {{item.name}}
        </span>
    </div>
    <ol ui-tree-nodes ng-model="item.childWidgets" ng-class="{ 'hidden': collapsed }">
        <li ng-repeat="item in item.childWidgets" ui-tree-node ng-attr-id="{{treeNodeIdPrefix + item.id}}"
            ng-include="'_pageWidgets.html'" ng-class="{ 'selected': selected }"></li>
    </ol>
</script>
<div class="pageContent ui-control-wrapper" ng-class="dockAlign">
    <div class="pageBar ui-control-bar">
        <div class="currentPage col-as-5 no-padding">
            <div class="pageState fs-x-smaller" ng-if="$root.sketchObject.pickedPage.states.length">
                <div class="stateButton icon-page-before icon-page-flag-before"
                     ng-class="{'activeState':$root.sketchObject.pickedPage.state.name != $root.sketchObject.pickedPage.initialStateOption.name}"
                     ng-click="toggleSelectState($root.sketchObject.pickedPage, $event)"
                     ng-if="$root.sketchObject.pickedPage.states.length > 1"
                        >
                </div>

                <div class="editState"
                     ng-if="$root.sketchObject.pickedPage.state.name != $root.sketchObject.pickedPage.initialStateOption.name">
                    {{$root.sketchObject.pickedPage.state.name}}
                </div>
            </div>

            <div class="pageLabel fs-x-medium vt-align-center">Page</div>
        </div>

        <div class="pageList col-as-7" ng-click="$event.stopPropagation()">
            <select class="form-control fs-x-medium vt-align-center" title="{{$root.sketchObject.pickedPage.name}}">
                <option value="{{$index}}" ng-attr-selected="{{p.id == $root.sketchObject.pickedPage.id}}"
                        ng-repeat="p in project.sketchWorks.pages">
                    {{$index+1}}
                </option>
            </select>
        </div>

        <div class="pageMenu fs-x-medium">
            <div class="togglePageButton icon-page-before icon-page-angle-double-right-before"
                 ng-click="togglePage($event)"></div>
            <div class="icon-page-before icon-page-copy-before"
                 ng-click="copyPage($event)"></div>
            <div class="icon-page-before icon-page-insert-before"
                 ng-click="insertPage($event)"></div>
            <div class="icon-page-before icon-page-remove-before"
                 ng-click="removePage($event)"></div>
        </div>
    </div>
    <div class="pageDetails ui-control-panel">
        <ui-tree id="pageDetailsTree" class="fs-x-small" drag-enabled="false" spacing="20" coverage="50"
                 collapseAll="true">
            <ol ui-tree-nodes ng-model="$root.sketchObject.pickedPage.childWidgets">
                <li ng-repeat="item in $root.sketchObject.pickedPage.childWidgets" ui-tree-node
                    ng-attr-id="{{treeNodeIdPrefix + item.id}}" ng-include="'_pageWidgets.html'"
                    ng-class="{ 'selected': selected }"></li>
            </ol>
        </ui-tree>
    </div>
    <div id="widgetStateDropdown" class="fs-x-smaller stackAndRotateSelect" ng-if="stateTreeNodeItem" ui-simple-dropdown
         ui-simple-dropdown-opts="{dataField:'name', labelField:'name', zIndex:1000, gutter: 5, showTitle: false, displayUnsetOption: false}"
         selection-list="stateTreeNodeItem.getStates()" select-item="pickedState"
         on-option-select="toggleSelectState() && stateTreeNodeItem.setState(pickedState)">
    </div>
</div>