<script type="text/ng-template" id="_pageWidgets.html">
    <div ui-tree-handle ng-click="exclusiveSelect($event)">
        <div class="stateButton icon-page-before icon-page-flag-before"
             ng-class="{'activeState':item.state.name != item.initialStateOption.name}"
             ng-click="toggleSelectState(item, $event)"
             ng-if="item.getStates().length > 1"
                >
        </div>

        <div class="editState" ng-if="item.getStates().length && item.state.name != item.initialStateOption.name">
            {{item.state.name}}
        </div>

        <a class="fs-x-small btn btn-xs" nodrag ng-click="toggle();$event.stopPropagation()">
            <span class="glyphicon"
                  ng-class="{ 'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed }"></span>
        </a>

        <span class="treeNodeName">
            {{item.name}}
        </span>
    </div>
    <ol ui-tree-nodes ng-model="item.childWidgets" ng-class="{ 'hidden': collapsed }">
        <li ng-repeat="item in item.childWidgets" ui-tree-node ng-attr-id="{{treeNodeIdPrefix + item.id}}"
            ng-include="'_pageWidgets.html'" ng-class="{ 'selected': selected }"></li>
    </ol>
</script>
<div class="pageContent ui-control-wrapper" ng-class="dockAlign">
    <div class="pageBar ui-control-bar">
        <div class="currentPage col-as-5 no-padding">
            <div class="pageState fs-x-smaller" ng-if="$root.sketchObject.pickedPage.states.length">
                <div class="stateButton icon-page-before icon-page-flag-before"
                     ng-class="{'activeState':$root.sketchObject.pickedPage.state.name != $root.sketchObject.pickedPage.initialStateOption.name}"
                     ng-click="toggleSelectState($root.sketchObject.pickedPage, $event)"
                     ng-if="$root.sketchObject.pickedPage.states.length > 1"
                        >
                </div>

                <div class="editState"
                     ng-if="$root.sketchObject.pickedPage.state.name != $root.sketchObject.pickedPage.initialStateOption.name">
                    {{$root.sketchObject.pickedPage.state.name}}
                </div>
            </div>

            <div class="pageLabel fs-x-medium vt-align-center">Page</div>
        </div>

        <div class="pageList col-as-7" ng-click="$event.stopPropagation()">
            <select class="form-control fs-x-medium vt-align-center" title="{{$root.sketchObject.pickedPage.name}}">
                <option value="{{$index}}" ng-attr-selected="{{p.id == $root.sketchObject.pickedPage.id}}"
                        ng-repeat="p in $root.loadedProject.sketchWorks.pages">
                    {{$index+1}}
                </option>
            </select>
        </div>

        <div class="pageMenu fs-x-medium">
            <div class="togglePageButton icon-page-before icon-page-angle-double-right-before"
                 ng-click="togglePage($event)"></div>
            <div class="icon-page-before icon-page-copy-before"
                 ng-click="copyPage($event)"></div>
            <div class="icon-page-before icon-page-insert-before"
                 ng-click="insertPage($event)"></div>
            <div class="icon-page-before icon-page-remove-before"
                 ng-click="removePage($event)"></div>
        </div>
    </div>
    <div class="pageDetails ui-control-panel">
        <div class="topBar" ng-click="selectTab($event.currentTarget.parentNode, $event.target, $event)">
            <div class="pageDetailsToolBar fs-x-toolButton-normal">
                <div tab-sel="tab-head-page-details-1" tab-content="page-details"
                     class="toolButton icon-page-before icon-page-after icon-page-page-settings-before icon-page-page-settings-after"></div>
                <div tab-sel="tab-head-page-details-2" tab-content="page-details"
                     class="toolButton icon-page-before icon-page-after icon-page-list-before  icon-page-list-after"></div>
            </div>
        </div>
        <div class="tabContents">
            <div tab-sel="tab-content-page-details-1">
                <div class="effectArtifactTitle fs-x-small">
                    <span class="fs-x-medium-before icon-page-before icon-page-transition-before">Page Transition Effect</span>
                </div>

                <div class="effectArtifactContainer fs-x-smaller">
                    <div class="pageEffectArtifactMultilevelMenu col-as-9 no-padding" ui-multilevel-menu
                         menu-list="filterEffectLibraryList"
                         ui-multilevel-menu-opts="{dataField:'_id', labelField:'name', listField:'artifactList', listFilter:{_selected:true}, zIndex:100}"
                         picked-menu-item="pickedEffectArtifactId"
                         on-menu-select="pickEffectArtifact(pickedEffectArtifactId)">
                        {{pickedEffectArtifact && pickedEffectArtifact.name || "Choose an Artifact"}}
                    </div>
                    <div class="toggleLibraryButton col-as-3 no-padding-right">
                    <span class="fs-x-medium-before icon-page-before icon-page-library-before"
                          ng-click="toggleSelectLibraryList($event)">
                    </span>
                    </div>
                </div>

                <div class="pageEffectMultilevelMenu fs-x-smaller" ui-multilevel-menu menu-list="effectList"
                     ui-multilevel-menu-opts="{dataField:'value', labelField:'name', zIndex:101}"
                     picked-menu-item="pickedEffect"
                     on-menu-select="$root.sketchObject.pickedPage.pageTransition = createEffectObj(pickedEffect)">
                    {{$root.sketchObject.pickedPage.pageTransition &&
                    $root.sketchObject.pickedPage.pageTransition.effect.name || 'Choose an Effect'}}
                </div>

                <div class="effectLibraryList">
                    <div class="hideLibraryListButton fs-x-small icon-page-before icon-page-exit-before"
                         ng-click="toggleSelectLibraryList($event)"></div>

                    <div class="accordianGroup fs-x-small"
                         ng-repeat="effectLibrary in markLibrarySelection(effectLibraryList, $root.loadedProject.xrefRecord)"
                         ng-click="toggleSelect($event.currentTarget, $event)">
                        <div class="accordianTitle col-as-12 icon-widget-before icon-widget-angle-double-up-before">
                            <span class="col-as-10 no-padding" ng-attr-title="{{effectLibrary.desc}}">{{effectLibrary.desc}}</span>

                            <div class="toggleSelectionButton col-as-2 no-padding-right icon-widget-before"
                                 ng-class="{'icon-widget-square-before':!effectLibrary._selected, 'icon-widget-square-check-before':effectLibrary._selected, 'partialSelect':isPartialSelection(effectLibrary, $root.loadedProject.xrefRecord)}"
                                 ng-click="toggleLibrarySelection(effectLibrary, $event)"></div>
                        </div>
                        <div class="accordianBody fs-x-small col-as-12 no-padding">
                            <div class="effectPane col-as-12 no-padding"
                                 ng-repeat="artifact in markArtifactSelection(effectLibrary, $root.loadedProject.xrefRecord)"
                                 ng-click="$event.stopPropagation()">
                                <span class="col-as-10 no-padding"
                                      ng-attr-title="{{artifact.name}}">{{artifact.name}}</span>

                                <div class="col-as-2 no-padding-right toggleSelectionButton icon-widget-before"
                                     ng-class="{'icon-widget-square-before':!artifact._selected, 'icon-widget-square-check-before':artifact._selected}"
                                     ng-click="toggleArtifactSelection(artifact, effectLibrary, $event)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div tab-sel="tab-content-page-details-2">
                <ui-tree id="pageDetailsTree" class="fs-x-small" drag-enabled="false" spacing="20" coverage="50"
                         collapseAll="true">
                    <ol ui-tree-nodes ng-model="$root.sketchObject.pickedPage.childWidgets">
                        <li ng-repeat="item in $root.sketchObject.pickedPage.childWidgets" ui-tree-node
                            ng-attr-id="{{treeNodeIdPrefix + item.id}}" ng-include="'_pageWidgets.html'"
                            ng-class="{ 'selected': selected }"></li>
                    </ol>
                </ui-tree>
            </div>
        </div>
    </div>
    <div id="widgetStateDropdown" class="fs-x-smaller stackAndRotateSelect" ng-if="stateTreeNodeItem" ui-simple-dropdown
         ui-simple-dropdown-opts="{dataField:'name', labelField:'name', zIndex:1000, gutter: 5, showTitle: false, displayUnsetOption: false}"
         selection-list="stateTreeNodeItem.getStates()" select-item="pickedState"
         on-option-select="toggleSelectState() && stateTreeNodeItem.setState(pickedState)">
    </div>
</div>