<div class="resourceContent">
    <div class="accordianGroup" ng-click="once(this, $event, 'toggleSelect', $event)" extensionPoint="resourceExtensionPoint">
        <div class="accordianTitle col-as-12 fs-x-small fs-x-medium-before icon-resource-editor-before icon-resource-editor-angle-double-up-before">
            <span class="col-as-12 no-padding icon-resource-editor-after icon-resource-editor-sound-after">Sound</span>
        </div>

        <div class="accordianSubTitle fs-x-smaller col-as-12 no-padding" ng-click="$event.stopPropagation()">
            <div class="uploadContent fs-x-smaller"
                 flow-init="{'target':'api/public/projectResourceChunk', 'simultaneousUploads':1, 'query':{'projectId':$root.loadedProject.projectRecord._id, 'resourceType':'audio'}}"
                 flow-file-success="onUploadSuccess('audio', $file, $message)" flow-files-submitted="$flow.upload()">
                <div class="uploadButton form-control fs-x-smaller-before icon-resource-editor-before icon-resource-editor-circle-plus-before"
                     flow-btn>
                    <input type="file" style="visibility: hidden; position: absolute;">
                </div>
                <div class="uploadDock" flow-drop ng-class="dropClass" flow-drag-enter="dropClass='drag-over'"
                     flow-drag-leave="dropClass=''">
                    OR Drag And Drop file here
                </div>
            </div>
        </div>

        <div class="accordianBody fs-x-smaller col-as-12 no-padding">
            <div class="resourcePane col-as-12 no-padding"
                 ng-click="$event.stopPropagation()" ng-repeat="resourceItem in $root.loadedProject.resources['audio']">
                <span ng-click="once(this, $event, 'displayResourceEditor', 'audio', resourceItem, $event)">{{resourceItem}}</span>

                <div class="resourceDeleteButton fs-x-medium-before icon-resource-editor icon-resource-editor-circle-minus-before"
                     ng-click="once(this, $event, 'deleteResource', 'audio', resourceItem, $event)"></div>
            </div>
        </div>
    </div>
    <div class="accordianGroup" ng-click="once(this, $event, 'toggleSelect', $event)">
        <div class="accordianTitle col-as-12 fs-x-small fs-x-medium-before icon-resource-editor-before icon-resource-editor-angle-double-up-before">
            <span class="col-as-12 no-padding icon-resource-editor-after icon-resource-editor-image-after">Image</span>
        </div>

        <div class="accordianSubTitle fs-x-smaller col-as-12 no-padding" ng-click="$event.stopPropagation()">
            <div class="uploadContent fs-x-smaller"
                 flow-init="{'target':'api/public/projectResourceChunk', 'simultaneousUploads':1, 'query':{'projectId':$root.loadedProject.projectRecord._id, 'resourceType':'image'}}"
                 flow-file-success="onUploadSuccess('image', $file, $message)" flow-files-submitted="$flow.upload()">
                <div class="uploadButton form-control fs-x-smaller-before icon-resource-editor-before icon-resource-editor-circle-plus-before"
                     flow-btn>
                    <input type="file" style="visibility: hidden; position: absolute;">
                </div>
                <div class="uploadDock" flow-drop ng-class="dropClass" flow-drag-enter="dropClass='drag-over'"
                     flow-drag-leave="dropClass=''">
                    OR Drag And Drop file here
                </div>
            </div>
        </div>

        <div class="accordianBody fs-x-smaller col-as-12 no-padding">
            <div class="resourcePane col-as-12 no-padding"
                 ng-click="$event.stopPropagation()" ng-repeat="resourceItem in $root.loadedProject.resources['image']">
                <span>{{resourceItem}}</span>

                <div class="resourceDeleteButton fs-x-medium-before icon-resource-editor icon-resource-editor-circle-minus-before"
                     ng-click="once(this, $event, 'deleteResource', 'image', resourceItem, $event)"></div>
            </div>
        </div>
    </div>
</div>
<div class="resourceEditor">
    <div id="audioEditor" ng-show="resourceEditorType === 'audio'">
        <div class="toolPalette">
            <div class="icon-resource-editor-before icon-resource-editor-refresh-before"></div>
            <div class="icon-resource-editor-before icon-resource-editor-save-before"
                 ng-click="once(this, $event, 'saveAudio', $event)"></div>
            <div class="icon-resource-editor-before icon-resource-editor-undo-before"></div>
            <div class="icon-resource-editor-before"
                 ng-class="{'icon-resource-editor-pause-before':isPlaying, 'icon-resource-editor-play-before':!isPlaying}"
                 ng-click="once(this, $event, 'playPauseAudio', $event)"></div>
            <div class="icon-resource-editor-before icon-resource-editor-stop-before"
                 ng-click="once(this, $event, 'stopAudio', $event)"></div>
            <div class="icon-resource-editor-before icon-resource-editor-add-marker-before"
                 ng-click="once(this, $event, 'addMarker', $event)"></div>
            <div class="icon-resource-editor-before icon-resource-editor-remove-marker-before"
                 ng-click="once(this, $event, 'toggleMarkerEditMode', $event, 'RemoveMarker')"></div>
            <div class="icon-resource-editor-before icon-resource-editor-folder-before"
                 ng-click="once(this, $event, 'toggleMarkerEditMode', $event, 'DisplayClips')"></div>
            <div class="icon-resource-editor-before icon-resource-editor-cut-before"
                 ng-click="once(this, $event, 'cutAudioClip', $event)"></div>
            <div class="icon-resource-editor-before icon-resource-editor-music-copy-before"
                 ng-click="once(this, $event, 'copyAudioClip', $event)"></div>
            <div class="icon-resource-editor-before icon-resource-editor-bin-before"
                 ng-click="once(this, $event, 'removeAudioPart', $event)"></div>
            <div class="icon-resource-editor-before icon-resource-editor-edit-before"></div>
        </div>

        <div id="audioSidebar" ui-sidebar transition="delayed3DRotate" overlay="" side="leftSide">
            <div id="waveClipContainer" name="barContent">
                <div class="waveClipItem fs-x-small" ng-repeat="clip in audioClips"
                     ng-click="once(this, $event, 'toggleSelectAudioClip', clip, $event)">
                    <div class="waveClipMeter">
                        <div class="waveClipKnob" ng-style="{'width':'{{clip.progress|percentFilter}}'}"></div>
                    </div>
                    <div class="startTime">{{clip.startTime|shortTimeFilter}}</div>
                    <div class="endTime">{{clip.endTime|shortTimeFilter}}</div>
                    <div class="duration">{{clip.duration|shortTimeFilter}}</div>
                    <div class="removeClipButton fs-x-medium icon-resource-editor-before icon-resource-editor-delete-before"
                         ng-click="once(this, $event, 'removeAudioClip', clip, $event)"></div>
                    <div class="playClipButton fs-x-medium icon-resource-editor-before"
                         ng-class="{'icon-resource-editor-pause-before':clip.isPlaying, 'icon-resource-editor-play-before':!clip.isPlaying}"
                         ng-click="once(this, $event, 'playPauseAudioClip', clip, $event)"></div>
                    <div class="loopClipButton fs-x-medium icon-resource-editor-before icon-resource-editor-rotate-before"
                         ng-class="{'select':clip.isLooped}"
                         ng-click="once(this, $event, 'toggleAudioClipLoop', clip, $event)"></div>
                </div>
            </div>
            <div id="waveCanvasContainer" name="mainContent">
                <canvas id="waveCanvas"></canvas>
                <div class="waveCanvasPanel" ng-click="once(this, $event, 'hideInsertPartPopup', $event)">
                    <div class="waveMarkers" ng-click="once(this, $event, 'toggleSelectMarker', $event)">
                    </div>
                </div>
                <div class="insertPartPopup">
                    <div class="btn-group open">
                        <ul class="dropdown-menu fs-x-medium" role="menu">
                            <li class="icon-resource-editor-before icon-resource-editor-insert-after-before"
                                ng-click="once(this, $event, 'insertPartAfter', $event)"><a href="">Insert Clip</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>