<div class="shapeContent ui-control-wrapper" ng-class="dockAlign">
    <div class="shapeBar ui-control-bar fs-x-large">
        <div class="pickerPane fs-x-large fs-x-large-before" ng-class="pickerPaneShape.thumbnailStyle.classList" ng-style="pickerPaneShape.thumbnailStyle.style"></div>
    </div>
    <div class="shapePalette ui-control-panel">
        <div class="accordianGroup" ng-repeat="shapeGroup in shapes"
             ng-click="toggleSelect($event.currentTarget, $event)">
            <div class="accordianTitle col-as-12 icon-shape-before icon-shape-angle-double-up-before">
                {{shapeGroup.group}}
            </div>
            <div class="accordianBody col-as-12 no-padding">
                <div class="shapePane fs-x-large fs-x-large-before col-as-3 no-padding" ng-repeat="pane in shapeGroup.list"
                     ng-click="pickShape(pane) && $event.stopPropagation()"
                     ng-class="pane.thumbnailStyle.classList" ng-style="pane.thumbnailStyle.style">
                </div>
            </div>
        </div>
    </div>
</div>
