<div class="cd-dropdown" ng-if="selectionList && selectionList.length"
     ng-style="{'z-index':'{{options.zIndex + selectionList.length + 1}}'}">
    <span ng-style="{'z-index':'{{options.zIndex + selectionList.length}}'}" ng-show="options.showTitle && selection"
          ng-click="toggleOpen($event)">{{pickLabel(selection) || options.title}}</span>

    <div ng-style="{'z-index':'{{options.zIndex + selectionList.length}}'}" ng-click="toggleOpen($event)"
         ng-transclude ng-show="!selection"></div>
    <ul ng-click="onSelect($event)">
        <li ng-if="options.displayUnsetOption">
            <span selection-order="-1" data-value="{{pickValue(unsetOptionValue)}}"></span>
        </li>
        <li ng-repeat="selection in selectionList">
            <span ng-attr-selection-order="{{$index}}" data-value="{{pickValue(selection)}}">{{pickLabel(selection)}}</span>
        </li>
    </ul>
</div>