<script type="text/ng-template" id="_actionWidgets.html">
    <div ui-tree-handle ng-click="exclusiveSelect($event)">
        <a class="fs-x-small btn btn-xs" nodrag ng-click="toggle();$event.stopPropagation()">
            <span class="glyphicon"
                  ng-class="{ 'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed }"></span>
        </a>

        <span class="treeNodeName">
            {{item.name}}
        </span>
    </div>
    <ol ui-tree-nodes ng-model="item.childWidgets" ng-class="{ 'hidden': collapsed }">
        <li ng-repeat="item in item.childWidgets" ui-tree-node ng-attr-id="{{treeNodeIdPrefix + item.id}}"
            ng-include="'_actionWidgets.html'" ng-class="{ 'selected': selected }"></li>
    </ol>
</script>
<script type="text/ng-template" id="_childActions.html">
    <div class="accordianGroup" ng-if="item.actionType == 'Effect'"
         ng-click="once(this, $event, 'toggleSelect', $event)">
        <div class="accordianTitle fs-x-medium-before col-as-12 icon-state-transition-before icon-state-transition-animation-before">
            <div class="deleteButton fs-x-tiny icon-state-transition-before icon-state-transition-cross-before"
                 ng-click="once(this, $event, 'deleteAction', parentAction, item, $event)"></div>
            <span class="col-as-offset-1 col-as-10 no-padding">Effect</span>
        </div>
        <div class="accordianSubTitle fs-x-smaller col-as-12">
            <span ng-click="once(this, $event, 'toggleActionWidgetTree', item, $event)">{{item.widgetObj.name}}</span>

            <div class="effectArtifactContainer">
                <div class="effectArtifactMultilevelMenu col-as-9 no-padding" ui-multilevel-menu
                     menu-list="filterEffectLibraryList"
                     ui-multilevel-menu-opts="{dataField:'_id', labelField:'name', listField:'artifactList', listFilter:{_selected:true}, zIndex:100}"
                     picked-menu-item="pickedEffectArtifactId"
                     on-menu-select="pickEffectArtifact(item, pickedEffectArtifactId)">
                    {{pickedEffectArtifact && pickedEffectArtifact.name || "Choose an Artifact"}}
                </div>
                <div class="toggleLibraryButton col-as-3 no-padding-right">
                    <span class="fs-x-medium-before icon-state-transition-before icon-state-transition-library-before"
                          ng-click="once(this, $event, 'toggleSelectLibraryList', $event)">
                    </span>
                </div>
            </div>

            <div class="effectMultilevelMenu" ui-multilevel-menu menu-list="effectList"
                 ui-multilevel-menu-opts="{dataField:'value', labelField:'name', zIndex:101}"
                 picked-menu-item="pickedEffect"
                 on-menu-select="item.effect = createEffectObj(pickedEffect)">
                {{item.effect && item.effect.name || 'Choose an Effect'}}
            </div>
        </div>
        <div class="accordianBody col-as-12 no-padding" ng-show="item.effect.type == 'Animation'">
            <div class="animationOptions"
                 ng-click="$event.stopPropagation()">
                <div class="input-group col-as-12">
                    <label class="col-as-5 no-padding-right control-label fs-x-smaller">Duration</label>

                    <div class="col-as-7 no-padding-left">
                        <input type="number"
                               class="form-control no-padding fs-x-smaller animationDurationInput"
                               ng-model="item.effect.options.duration"/>
                    </div>
                </div>
                <div class="input-group col-as-12">
                    <label class="col-as-5 no-padding-right control-label fs-x-smaller">Timing</label>

                    <div class="col-as-7 no-padding-left">
                        <select class="form-control no-padding fs-x-smaller"
                                ng-model="item.effect.options.timing">
                            <option value="linear">linear</option>
                            <option value="ease">ease</option>
                            <option value="ease-in">ease-in</option>
                            <option value="ease-out">ease-out</option>
                            <option value="ease-in-out">ease-in-out</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordianGroup" ng-if="item.actionType == 'State'">
        <div class="accordianTitle col-as-12 icon-state-transition-before icon-state-transition-set-state-before">
            <div class="deleteButton fs-x-tiny icon-state-transition-before icon-state-transition-cross-before"
                 ng-click="once(this, $event, 'deleteAction', parentAction, item, $event)"></div>
            <span class="col-as-offset-1 col-as-4 no-padding">State</span>
        </div>
        <div class="accordianSubTitle fs-x-smaller col-as-12">
            <span ng-click="once(this, $event, 'toggleActionWidgetTree', item, $event)">{{item.widgetObj.name}}</span>

            <div class="widgetObjStateDropdown stackAndRotateSelect"
                 ui-simple-dropdown
                 ui-simple-dropdown-opts="{dataField:'name', labelField:'name', zIndex:100, gutter: 5, showTitle: true, displayUnsetOption: true}"
                 selection-list="item.widgetObj.stateOptions"
                 unset-option-value="item.widgetObj.initialStateOption.name" select-item="pickedStateOption"
                 on-option-select="item.newState = pickedStateOption">
                {{item.newState}}
            </div>
        </div>
    </div>
    <div class="accordianGroup" ng-if="item.actionType == 'Configuration'"
         ng-click="once(this, $event, 'toggleConfigurationBody', $event)" ng-init="item.readWidgetSpec()">
        <div class="accordianTitle col-as-12 icon-state-transition-before icon-state-transition-configuration-before">
            <div class="deleteButton fs-x-tiny icon-state-transition-before icon-state-transition-cross-before"
                 ng-click="once(this, $event, 'deleteAction', parentAction, item, $event)"></div>
            <span class="col-as-offset-1 col-as-10 no-padding">Configuration</span>
        </div>
        <div class="accordianSubTitle fs-x-smaller col-as-12">
            <span ng-click="once(this, $event, 'toggleActionWidgetTree', item, $event)">{{item.widgetObj.name}}</span>
        </div>
        <div class="accordianBody col-as-12 no-padding">
            <div class="configurationBody" ng-click="$event.stopPropagation()">
                <div class="configurationPane" ng-class="configurationItem.type"
                     ng-repeat="configurationItem in item.configuration">
                    <div class="input-group col-as-12 fs-x-smaller">
                        <label class="col-as-5 no-padding control-label fs-x-smaller">{{configurationItem.name}}</label>

                        <div ng-if="configurationItem.type === 'list'"
                             class="configurationItemList col-as-7 no-padding stackAndRotateSelect"
                             ui-simple-dropdown
                             ui-simple-dropdown-opts="{dataField:'value', labelField:'name', zIndex:100, gutter: 5, showTitle: true, displayUnsetOption: false}"
                             selection-list="configurationItem.options" select-item="configurationItem.configuredValue"
                             on-option-select="item.setConfigurationItem(configurationItem)">
                        </div>
                        <div ng-if="configurationItem.type === 'multilevel-list'"
                             class="configurationItemMultilevelList col-as-7 no-padding" ui-multilevel-menu
                             menu-list="configurationItem.options"
                             ui-multilevel-menu-opts="{dataField:'value', labelField:'name', zIndex:101}"
                             picked-menu-item="configurationItem.configuredValue"
                             on-menu-select="item.setConfigurationItem(configurationItem)">
                            {{configurationItem.configuredValue || 'Choose...'}}
                        </div>
                        <div ng-if="configurationItem.type === 'boundReadList'"
                             class="configurationItemList col-as-7 no-padding stackAndRotateSelect"
                             ui-simple-dropdown
                             ui-simple-dropdown-opts="{dataField:'name', labelField:'name', zIndex:102, gutter: 5, showTitle: true, displayUnsetOption: false}"
                             selection-list="configurationItem.options" select-item="configurationItem.configuredValue"
                             on-option-select="item.setConfigurationItem(configurationItem)">
                        </div>
                        <div ng-if="configurationItem.type === 'number'"
                             class="col-as-7 no-padding">
                            <input type="number"
                                   class="form-control no-padding fs-x-smaller"
                                   ng-model="configurationItem.configuredValue"/>
                        </div>
                        <div ng-if="configurationItem.type === 'size'"
                             class="col-as-7 no-padding">
                            <input type="text"
                                   class="form-control no-padding fs-x-smaller"
                                   ng-model="configurationItem.configuredValue"/>
                        </div>
                        <div ng-if="configurationItem.type === 'text'"
                             class="col-as-7 no-padding">
                            <input type="text"
                                   class="form-control no-padding fs-x-smaller"
                                   ng-model="configurationItem.configuredValue"/>
                        </div>
                        <div ng-if="configurationItem.type === 'boolean'"
                             class="col-as-7 no-padding">
                            <input class="configurationCheckBox" type="checkbox"
                                   ng-checked="configurationItem.configuredValue"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordianGroup" ng-if="item.actionType == 'Service'"
         ng-click="once(this, $event, 'toggleSelect', $event)">
        <div class="accordianTitle col-as-12 icon-state-transition-before icon-state-transition-keyboard-before">
            <div class="deleteButton fs-x-tiny icon-state-transition-before icon-state-transition-cross-before"
                 ng-click="once(this, $event, 'deleteAction', parentAction, item, $event)"></div>
            <span class="col-as-offset-1 col-as-4 no-padding">Service</span>
        </div>
        <div class="accordianBody col-as-12 no-padding">
            <div class="serviceBody" ng-click="$event.stopPropagation()">
                <div class="servicePane">
                    <div class="input-group col-as-12 fs-x-smaller">
                        <label class="col-as-3 no-padding control-label">Feature</label>

                        <select class="col-as-8 no-padding form-control" ng-model="item.feature"
                                ng-change="onPickServiceFeature(item)">
                            <option value="{{featureItem.feature}}"
                                    ng-attr-selected="{{item.feature === featureItem.name}}"
                                    ng-repeat="featureItem in registry" title="{{featureItem.description}}">
                                {{featureItem.feature}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="servicePane">
                    <div class="input-group col-as-12 fs-x-smaller">
                        <label class="col-as-3 no-padding control-label">Invoke</label>

                        <select class="col-as-8 no-padding form-control" ng-model="item.serviceName"
                                ng-change="onPickService(item)">
                            <option value="{{service.name}}"
                                    ng-attr-selected="{{item.serviceName === service.name}}"
                                    ng-repeat="service in pickedServiceFeature.serviceList"
                                    title="{{service.description}}">
                                {{service.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordianGroup" ng-if="item.actionType == 'Movement'"
         ng-click="once(this, $event, 'toggleSelect', $event)">
        <div class="accordianTitle col-as-12 icon-state-transition-before icon-state-transition-set-state-before">
            <div class="deleteButton fs-x-tiny icon-state-transition-before icon-state-transition-cross-before"
                 ng-click="once(this, $event, 'deleteAction', parentAction, item, $event)"></div>
            <span class="col-as-offset-1 col-as-4 no-padding">Movement</span>
        </div>
        <div class="accordianSubTitle fs-x-smaller col-as-12">
            <span ng-click="once(this, $event, 'toggleActionWidgetTree', item, $event)">{{item.widgetObj.name}}</span>
        </div>
        <div class="accordianBody col-as-12 no-padding">
            <div class="movementBody" ng-click="$event.stopPropagation()">
                <div class="movementPane">
                    <div class="input-group col-as-12 fs-x-smaller">
                        <label class="col-as-5 no-padding control-label">Route</label>

                        <div class="widgetObjRouteList no-padding col-as-7" ng-click="$event.stopPropagation()">
                            <select class="form-control" ng-model="item.routeIndex"
                                    ng-change="onMovementActionRouteIndexChange(item.routeIndex)">
                                <option value="{{$index}}" ng-attr-selected="{{item.routeIndex === $index}}"
                                        ng-repeat="r in item.widgetObj.routes">
                                    {{$index+1}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="movementPane" ng-repeat="settingItem in item.settings">
                    <div class="input-group col-as-12 fs-x-smaller">
                        <label class="col-as-5 no-padding control-label fs-x-smaller">{{settingItem.name}}</label>

                        <div ng-if="settingItem.type === 'list'" class="no-padding col-as-7"
                             ng-click="$event.stopPropagation()">
                            <select class="form-control" ng-model="settingItem.pickedValue">
                                <option value="{{opt}}" ng-attr-selected="{{settingItem.pickedValue === opt}}"
                                        ng-repeat="opt in settingItem.options">
                                    {{opt}}
                                </option>
                            </select>
                        </div>
                        <div ng-if="settingItem.type === 'number'"
                             class="col-as-7 no-padding">
                            <input type="number"
                                   class="form-control no-padding fs-x-smaller"
                                   ng-model="settingItem.pickedValue"/>
                        </div>
                        <div ng-if="settingItem.type === 'size'"
                             class="col-as-7 no-padding">
                            <input type="text"
                                   class="form-control no-padding fs-x-smaller"
                                   ng-model="settingItem.pickedValue"/>
                        </div>
                        <div ng-if="settingItem.type === 'text'"
                             class="col-as-7 no-padding">
                            <input type="text"
                                   class="form-control no-padding fs-x-smaller"
                                   ng-model="settingItem.pickedValue"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordianGroup" ng-if="item.actionType == 'Sound'"
         ng-click="once(this, $event, 'toggleSelect', $event)">
        <div class="accordianTitle col-as-12 icon-state-transition-before icon-state-transition-sound-before">
            <div class="deleteButton fs-x-tiny icon-state-transition-before icon-state-transition-cross-before"
                 ng-click="once(this, $event, 'deleteAction', parentAction, item, $event)"></div>
            <span class="col-as-offset-1 col-as-4 no-padding">Sound</span>
        </div>
        <div class="accordianBody col-as-12 no-padding">
            <div class="soundBody" ng-click="$event.stopPropagation()">
                <div class="soundPane">
                    <div class="input-group col-as-12 fs-x-smaller">
                        <label class="col-as-5 no-padding control-label">Resources</label>

                        <div class="soundResourceList no-padding col-as-7" ng-click="$event.stopPropagation()">
                            <select class="form-control" ng-model="item.resourceName">
                                <option value="{{resourceName}}"
                                        ng-attr-selected="{{item.resourceName === resourceName}}"
                                        ng-repeat="resourceName in $root.loadedProject.resources.audio">
                                    {{resourceName}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<div class="stateContent" ng-class="dockAlign">
    <div class="stateBar">
        <span class="stateTitle fs-x-small icon-state-transition-before icon-state-transition-current-state-before">Current State</span>
        <span class="stateName fs-x-medium">{{activeWidget.state.name}}</span>
    </div>
    <div class="stateDetails">
        <div class="accordianGroup stateDefinition" ng-attr-id="{{state.id}}"
             ng-repeat="state in activeWidget.states|where:{context:activeWidget.state.context}"
             ng-click="once(this, $event, 'toggleSelect', $event)">
            <div class="accordianTitle col-as-12 icon-state-transition-before icon-state-transition-current-state-before">
                <div class="deleteButton fs-x-tiny icon-state-transition-before icon-state-transition-cross-before"
                     ng-click="once(this, $event, 'deleteState', state, $event)"></div>
                {{state.name}}
            </div>
            <div class="accordianBody col-as-12 no-padding">
                <div ng-attr-id="{{transition.id}}"
                     class="transition fs-x-small"
                     ng-repeat="transition in state.transitions"
                     ng-init="pickedTriggerEventId = transition.trigger && transition.trigger.id || '';sequenceStopOnEach = transition.actionObj.stopOnEach"
                     ng-click="$event.stopPropagation()">
                    <div class="transitionBar">
                        <div class="toggleTransitionButton fs-x-small icon-state-transition-before icon-state-transition-arrow-right-before"
                             ng-click="once(this, $event, 'toggleTransitionDetails', '#' + transition.id, $event)"></div>
                        <div class="deleteButton fs-x-tiny icon-state-transition-before icon-state-transition-cross-before"
                             ng-click="once(this, $event, 'deleteTransition', state, transition, $event)"></div>
                        <span>{{transition.name}}</span>
                    </div>
                    <div class="transitionDetails"
                         ng-click="once(this, $event, 'selectTransitionDetailsTab', $event)">
                        <div class="transition-details-titles fs-x-smaller">
                            <div class="transition-details-title fs-x-small-before icon-state-transition-before icon-state-transition-fire-before"
                                 tab-sel="tab-head-transition-details-1"
                                 tab-content="transition-details">
                                Trigger
                            </div>
                            <div class="transition-details-title fs-x-small-before icon-state-transition-before icon-state-transition-running-man-before"
                                 tab-sel="tab-head-transition-details-2"
                                 tab-content="transition-details">
                                Action
                            </div>
                        </div>
                        <div class="transition-details-tabs">
                            <div class="tab-content-transition-details" tab-sel="tab-content-transition-details-1">
                                <ul id="triggerContent" class="fs-x-smaller">
                                    <li>
                                        <input type="radio" id="input-gesture-radio" name="trigger-content-radio"
                                               checked>
                                        <label for="input-gesture-radio">Gesture</label>

                                        <div class="triggerEventDropdown stackAndRotateSelect col-as-12 input-group"
                                             ui-simple-dropdown
                                             ui-simple-dropdown-opts="{dataField:'id', labelField:'name', zIndex:100, gutter: 5, showTitle: true, displayUnsetOption: false}"
                                             selection-list="triggers['Gesture']"
                                             select-item="pickedTriggerEventId"
                                             on-option-select="pickTriggerEvent('Gesture', transition, pickedTriggerEventId)">
                                            {{transition.trigger && transition.trigger.eventName || "Choose Trigger
                                            Event"}}
                                        </div>
                                    </li>
                                    <li>
                                        <input type="radio" id="input-bind-expression-radio"
                                               name="trigger-content-radio">
                                        <label for="input-bind-expression-radio">Bind Expression</label>

                                        <div class="triggerInput">Input2</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content-transition-details" tab-sel="tab-content-transition-details-2">
                                <div class="sequenceOptions fs-x-smaller">
                                    <label class="col-as-12 fs-x-large-before icon-state-transition-before icon-state-transition-sequence-before">Sequence
                                        Options</label>

                                    <div class="stopOnEachFlag input-group col-as-12">
                                        <div class="checkBoxItem col-as-3">
                                            <input type="checkbox"
                                                   ng-attr-id="stopOnEach_{{transition.actionObj.id}}"
                                                   name=""
                                                   class="form-control no-padding"
                                                   ng-model="sequenceStopOnEach"
                                                   ng-change="onUpdateStopOnEach(transition.actionObj, sequenceStopOnEach)"/>
                                            <label ng-attr-for="stopOnEach_{{transition.actionObj.id}}"></label>
                                        </div>

                                        <label class="col-as-7 no-padding-right control-label">Stop On
                                            Each</label>
                                    </div>
                                </div>

                                <div class="transition-action-wrapper" ng-init="parentAction = transition.actionObj"
                                     ng-repeat="item in transition.actionObj.childActions"
                                     ng-include="'_childActions.html'"></div>

                                <div class="emptyAction fs-x-smaller"
                                     ng-click="once(this, $event, 'toggleSelect', '.emptyAction', $event)">
                                    <span>New Action</span>

                                    <div class="actionInput input-group" ng-click="$event.stopPropagation()">
                                        <select id="actionTypeSelect" class="form-control fs-x-smaller">
                                            <option value="Effect">Effect</option>
                                            <option value="State">Change State</option>
                                            <option value="Configuration">Change Configuration</option>
                                            <option value="Service">Service</option>
                                            <option value="Movement">Movement</option>
                                            <option value="Sound">Sound</option>
                                        </select>
                                        <span class="input-group-addon fs-x-smaller-before icon-state-transition-before icon-state-transition-plus-before"
                                              ng-click="once(this, $event, 'createAction', transition.actionObj, $event);once(this, $event, 'toggleSelect', '.emptyAction', $event)"></span>
                                    </div>
                                </div>

                                <div id="actionWidgetTreeTab"
                                     ng-click="once(this, $event, 'toggleActionWidgetTree', pickedAction, $event)">
                                    <div class="hideWidgetTreeButton icon-state-transition-before icon-state-transition-exit-before"
                                         ng-click="once(this, $event, 'toggleActionWidgetTree', null, $event)"></div>
                                    <ui-tree id="actionWidgetTree" class="fs-x-small" drag-enabled="false" spacing="20"
                                             coverage="50"
                                             collapseAll="true">
                                        <ol ui-tree-nodes ng-model="pickedPage.childWidgets">
                                            <li ng-repeat="item in pickedPage.childWidgets" ui-tree-node
                                                ng-attr-id="{{treeNodeIdPrefix + item.id}}"
                                                ng-include="'_actionWidgets.html'"
                                                ng-class="{ 'selected': selected }"></li>
                                        </ol>
                                    </ui-tree>
                                </div>

                                <div class="effectLibraryList">
                                    <div class="hideLibraryListButton icon-state-transition-before icon-state-transition-exit-before"
                                         ng-click="once(this, $event, 'toggleSelectLibraryList', $event)"></div>

                                    <div class="accordianGroup fs-x-small"
                                         ng-repeat="effectLibrary in markLibrarySelection(effectLibraryList, $root.loadedProject.xrefRecord)"
                                         ng-click="once(this, $event, 'toggleSelect', $event)">
                                        <div class="accordianTitle col-as-12 icon-widget-before icon-widget-angle-double-up-before">
                                            <span class="col-as-10 no-padding" ng-attr-title="{{effectLibrary.desc}}">{{effectLibrary.desc}}</span>

                                            <div class="toggleSelectionButton col-as-2 no-padding-right icon-widget-before"
                                                 ng-class="{'icon-widget-square-before':!effectLibrary._selected, 'icon-widget-square-check-before':effectLibrary._selected, 'partialSelect':isPartialSelection(effectLibrary, $root.loadedProject.xrefRecord)}"
                                                 ng-click="once(this, $event, 'toggleLibrarySelection', effectLibrary, $event)"></div>
                                        </div>
                                        <div class="accordianBody fs-x-small col-as-12 no-padding">
                                            <div class="effectPane col-as-12 no-padding"
                                                 ng-repeat="artifact in markArtifactSelection(effectLibrary, $root.loadedProject.xrefRecord)"
                                                 ng-click="$event.stopPropagation()">
                                                <span class="col-as-10 no-padding" ng-attr-title="{{artifact.name}}">{{artifact.name}}</span>

                                                <div class="col-as-2 no-padding-right toggleSelectionButton icon-widget-before"
                                                     ng-class="{'icon-widget-square-before':!artifact._selected, 'icon-widget-square-check-before':artifact._selected}"
                                                     ng-click="once(this, $event, 'toggleArtifactSelection', artifact, effectLibrary, $event)"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="emptyTransition fs-x-small"
                     ng-click="once(this, $event, 'toggleSelect', '.emptyTransition', $event)">
                    <span>New Transition</span>

                    <div class="transitionNameInput input-group" ng-click="$event.stopPropagation()">
                        <input class="form-control fs-x-medium" id="transitionNameInput"/>
                        <span class="input-group-addon fs-x-medium-before icon-state-transition-before icon-state-transition-plus-before"
                              ng-click="once(this, $event, 'createTransition', state, $event);once(this, $event, 'toggleSelect', '.emptyTransition', $event)"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="stateOptions fs-x-small" ng-if="activeWidget.stateOptions.length">
            <div class="stateOption" ng-repeat="opt in activeWidget.stateOptions"
                 ng-attr-name="{{opt.name}}"
                 ng-click="once(this, $event, 'toggleExclusiveSelect', $event)">
                <span class="icon-state-transition-before icon-state-transition-option-before">{{opt.name}}</span>

                <div class="deleteButton fs-x-tiny icon-state-transition-before icon-state-transition-cross-before"
                     ng-click="once(this, $event, 'deleteStateOption', opt, $event)"/>
            </div>
            <div class="createStateButton" ng-click="once(this, $event, 'createState', $event)">
                <div class="fs-x-small btn">New State</div>
            </div>
        </div>
        <div class="emptyStateOption fs-x-small"
             ng-click="once(this, $event, 'toggleSelect', '.emptyStateOption', $event)">
            <span>New State Option</span>

            <div class="stateOptionInput input-group" ng-click="$event.stopPropagation()">
                <input class="form-control fs-x-medium" id="stateOptionInput"/>
                <span class="input-group-addon fs-x-medium-before icon-state-transition-before icon-state-transition-plus-before"
                      ng-click="once(this, $event, 'createStateOption', $event);once(this, $event, 'toggleSelect', '.emptyStateOption', $event)"></span>
            </div>
        </div>
    </div>
</div>
