<div class="widgetContent ui-control-wrapper" ng-class="dockAlign">
    <div class="widgetBar ui-control-bar fs-x-large">
        <div class="pickerPane fs-x-medium">{{pickerPaneWidget.name}}</div>
    </div>
    <div class="widgetPalette ui-control-panel">
        <div class="accordianGroup" ng-repeat="widgetLibrary in widgetLibraryList"
             ng-click="toggleSelect($event.currentTarget, $event)">
            <div class="accordianTitle col-as-12 icon-widget-before icon-widget-cog-before">
                {{widgetLibrary.name}}
            </div>
            <div class="accordianBody fs-x-small col-as-12 no-padding">
                <div class="widgetPane col-as-12 no-padding"
                     ng-repeat="artifact in widgetLibrary.artifactList"
                     ng-click="pickWidget(artifact, widgetLibrary, $event)">
                    <div class="demoButton fs-x-large-before icon-widget-before icon-widget-show-demo-before"
                         ng-click="showArtifactDemo(artifact, widgetLibrary, $event)"></div>
                    <span>{{artifact.name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
