<div class="ui-control-title fs-x-small">
    <p ng-transclude></p>
</div>
<div class="configurationContent ui-control-wrapper" ng-class="dockAlign">
    <div class="configurationBar ui-control-bar fs-x-medium" ng-click="togglePalette($event)">
        <span>{{widgetSpec.name}}</span>
    </div>
    <div class="configurationPalette ui-control-panel">
        <div class="configurationPane" ng-class="configurationItem.type"
             ng-repeat="configurationItem in widgetSpec.configuration">
            <div class="input-group col-as-12 fs-x-smaller">
                <label class="col-as-5 no-padding-right control-label">{{configurationItem.name}}</label>

                <div ng-if="configurationItem.type === 'list'"
                     class="configurationItemList col-as-7 no-padding stackAndRotateSelect"
                     ui-simple-dropdown
                     ui-simple-dropdown-opts="{dataField:'value', labelField:'name', zIndex:1000, gutter: 5, showTitle: true, displayUnsetOption: false, zIndex: 100}"
                     selection-list="configurationItem.options" select-item="configurationItem.pickedOption"
                     on-option-select="setItem(configurationItem)">
                </div>
                <div ng-if="configurationItem.type === 'size'" class="configurationItemNumber col-as-7 no-padding-left">
                    <input type="text" class="form-control" ng-model="configurationItem.sizeValue"/>
                </div>
                <div ng-if="configurationItem.type === 'boolean'"
                     class="configurationItemCheckBox col-as-7 no-padding-left">
                    <input type="checkbox" ng-checked="configurationItem.booleanValue" ng-attr-item-order="{{$index}}"/>
                </div>
                <div ng-if="configurationItem.type === 'writableList'"
                     class="configurationItemWritableList col-as-7 no-padding-left"></div>
            </div>
        </div>
    </div>
</div>
