#Widget_1443403213888 {
  border-color: #27ae60;
  border-width: 5px;
  border-style: solid;
  border-radius: 0px;
  background-image: url(../resource/image/bg-1.png);
  background-position: 50% undefinedundefinedundefinedundefinedundefinedundefinedundefinedundefinedundefinedundefinedundefined 50% undefinedundefinedundefinedundefinedundefinedundefinedundefinedundefinedundefinedundefinedundefined;
  background-repeat: no-repeat;
  background-size: contain;
}
#Widget_1443403213888 #Widget_1443403308159 {
  width: 232px;
  height: 200px;
  left: 794px;
  top: 570px;
  color: #ecf0f1;
}
#Widget_1443403213888 #Widget_1443410291944 {
  width: 853.33px;
  height: 300px;
  left: 76.799px;
  top: 185.6px;
  background-position: 50% undefinedundefinedundefined 50% undefinedundefinedundefined;
  color: #bdc3c7;
  text-shadow: 0px 3px 8px #2A2A2A;
}
