<div>
    <div class="_widget_sideBarContainer" widget-container version="1.0.0" ng-class="[transition, side, overlay]"
         ng-show="transition|in:['slideInOnTop', 'reveal', 'slideAlong', 'reverseSlideOut', 'scaleDownPusher', 'scaleUp', 'scaleRotatePusher', 'openDoor', 'fallDown']">
        <div desc="Side Bar Content" class="barContent" widget-anchor="986F8450-9E40-4DEF-9C2F-05B1547B7A38" ng-click="$event.stopPropagation()"></div>
        <div desc="Main Area Content" class="mainContent" widget-anchor="80694DA6-8AA6-47D4-A9B0-368900098A97" ng-click="hideSideBar($event)"></div>
    </div>
    <div class="_widget_sideBarContainer" widget-container version="1.0.0" ng-class="[transition, side, overlay]"
         ng-show="transition|in:['rotatePusher', 'rotateIn3D', 'rotateOut3D', 'delayed3DRotate']">
        <div desc="Main Area Content" class="mainContent" widget-anchor="4C108B2E-A2C8-44AA-8C16-4C160984AE80" ng-click="hideSideBar($event)">
            <div desc="Side Bar Content" class="barContent" widget-anchor="66681717-D82F-42C4-A834-5C2F4FF0636B" ng-click="$event.stopPropagation()"></div>
        </div>
    </div>
</div>