@import "color_editor_palette";

$borderColor: rgba(0, 0, 0, 0.4);
$activeBorderShadow: rgba(192, 192, 192, 0.8);

@include color-editor-palette(colorPickerPalette);

@mixin color-picker($colorPickerId) {
    ##{$colorPickerId} {
        > .pickerContent {
            position: absolute;
            left: 0;
            top: 0;

            > .pickerBar {
                position: relative;
                float: left;
                width: 100%;
                height: 2em;

                > .pickerPane {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    span {
                        position: relative;
                        float: left;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                    }
                }
            }

            &.expanded {
                > .pickerBar {
                    > .pickerPane {
                        top: 0.5em;
                        left: 0.5em;
                        width: calc(100% - 1em);
                        height: calc(100% - 1em);
                        border-radius: 5px;
                        @extend %swashIn;
                    }
                }
            }
        }
    }
}