@import "bootstrap/variables";
@import "bootstrap-variables";

$activeDarkenPercent: 10%;
$color: rgba(0, 0, 0, 0.4);
$borderColor: rgba(0, 0, 0, 0.4);
$fontColor: rgba(0, 0, 0, 0.4);
$activeColor: #669933;
$errorColor: #e74c3c;
$underlineLinearGradient: (rgb(235, 235, 235) 0%, rgb(235, 235, 235) 50%, #fff 100%);
$touchOpacity: 0.4;

$lightColor: #ecf0f1;
$blue0: #f1f6fa;
$blue1: #a6c1ce;
$blue2: #6699a8;
$blue3: #4f7698;
$blue4: #1d5b8b;
$blue5: #114975;
$blue6: #033865;
$green: #40bf6c;

@mixin emboss-title($pseudo: "", $onActive:true) {
    &#{$pseudo} {
        margin: 0;
        text-shadow: 1px 0px 0px ghostwhite, -1px 0px 0px ghostwhite, 0px 1px 0px ghostwhite, 0px -1px 0px ghostwhite, 1px 1px 0px ghostwhite, -1px -1px 0px ghostwhite, -1px 1px 0px ghostwhite, 1px -1px 0px ghostwhite, 0px 6px 1px silver, 2px 6px 1px gray, -2px 6px 1px gray, 0px 6px 7px black;
    }

    @if $onActive {
        &:active#{$pseudo} {
            margin-top: 2px;
            text-shadow: 1px 0px 0px ghostwhite, -1px 0px 0px ghostwhite, 0px 1px 0px ghostwhite, 0px -1px 0px ghostwhite, 1px 1px 0px ghostwhite, -1px -1px 0px ghostwhite, -1px 1px 0px ghostwhite, 1px -1px 0px ghostwhite, 0px 6px 1px silver;
        }
    }

}

@mixin toggle-emboss-title($state) {
    margin-top: 2px;
    text-shadow: 1px 0px 0px ghostwhite, -1px 0px 0px ghostwhite, 0px 1px 0px ghostwhite, 0px -1px 0px ghostwhite, 1px 1px 0px ghostwhite, -1px -1px 0px ghostwhite, -1px 1px 0px ghostwhite, 1px -1px 0px ghostwhite;

    &.#{$state} {
        margin: 0;
        text-shadow: 1px 0px 0px ghostwhite, -1px 0px 0px ghostwhite, 0px 1px 0px ghostwhite, 0px -1px 0px ghostwhite, 1px 1px 0px ghostwhite, -1px -1px 0px ghostwhite, -1px 1px 0px ghostwhite, 1px -1px 0px ghostwhite, 0px 6px 1px silver;
    }
}

@mixin solidSplitLine($pseudoSelector) {
    &:#{$pseudoSelector} {
        width: 100%;
        height: 0px;
        content: '';
        border-top: 1px solid #CACDC0;
        border-bottom: 1px solid #FFF;
    }
}