@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/flexbox";
@import "global";
@import "circular-navigation";
@import "color_editor_palette";

$activeBackgroundColor: rgba(0, 0, 0, 0.3);
$deepShadow: #555;
$activeBorderShadow: rgba(192, 192, 192, 0.8);
$dockWidth: 8em;
$expandedDockWidth: 12em;

@include color-editor-palette(colorStopEditorPalette, null);

@mixin gradient-editor($gradientEditorId) {
    ##{$gradientEditorId} {

        .editorContent.expanded {
            .editorBar {
                @include box-shadow(0 8px 6px -6px $activeBorderShadow);
            }

            .editorColorStopList {
                width: 100%;
                background: #fff;
                border: 1px solid $borderColor;

                @include box-shadow(0 4px 3px #555);

                .colorStop {
                    position: relative;
                    float: left;
                    width: 100%;
                    height: 2em;

                    &.animate {
                        @extend %swashIn;
                    }

                    .colorStopLabel {
                        position: relative;
                        float: left;
                        width: 25%;
                        height: 100%;
                        font-weight: 600;
                        color: $color;
                        background: inherit;

                        &:after {
                            position: absolute;
                            content: "%";
                            right: -0.25em;
                            top: calc(50% - 0.5em);
                            height: 1em;
                            width: 1em;
                            text-align: center;
                        }

                        .spinValue {
                            position: absolute;
                            left: 0;
                            top: calc(50% - 1em);
                            width: calc(100% - 0.4em);
                            padding: 0 0.2em;
                            height: 2em;
                            border-width: 0;
                            outline: none;
                            text-align: left;
                            background: transparent;

                            &::-webkit-inner-spin-button,
                            &::-webkit-outer-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                        }
                    }

                    .colorPane {
                        position: relative;
                        float: left;
                        left: 10px;
                        width: calc(75% - 10px);
                        height: 1em;
                        margin: 0.5em 0;
                        border-radius: 20px;
                        @include box-shadow(0 2px 2px rgba(0, 0, 0, 0.3));

                        &:active {
                            @include box-shadow(none);
                        }
                    }
                }
            }
        }

        .editorContent.expanded.align-left {
            .editorColorStopList {

                .editorPalette {
                    position: absolute;
                    left: 100%;
                    top: 0px;
                    opacity: 0;
                    pointer-events: none;

                    &.show {
                        pointer-events: auto;
                        opacity: 1;
                        @extend %twisterInDown;
                    }

                    @include animation-duration(0.3s);
                }

                .colorStop {
                    @include circular-navigation(circular-menu, 5, 100px, -25px, 50px, 60px, 60px, -0.5, 1.2);

                    .circular-menu {
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 1px;
                        z-index: 1;

                        .circle {
                            position: relative;
                            float: right;
                            width: 1px;

                            div {
                                color: $borderColor;
                                border: solid 1px $borderColor;
                                background: #fff;

                                &:before {
                                    font-size: 32px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .editorContent.expanded.align-right {
            .editorColorStopList {
                .colorStop {
                    @include circular-navigation(circular-menu, 5, 100px, -25px, 50px, 60px, 60px, 0.5, 1.2);

                    .circular-menu {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 1px;
                        z-index: 1;

                        .circle {
                            position: relative;
                            float: left;
                            width: 1px;

                            div {
                                color: $borderColor;
                                border: solid 1px $borderColor;
                                background: #fff;

                                &:before {
                                    font-size: 32px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .editorContent:not(.expanded) {
            .editorColorStopList {
                @include flipDownOrigin();
            }
        }

        .editorContent {
            .editorBar {
                width: 100%;
                height: 2em;

                .angleDisplay {
                    width: 2em;
                    height: 2em;
                    @include transform-origin(50% 50%);
                    @include transform(rotate(0deg));

                    svg {
                        width: 100%;
                        height: 100%;

                        g {
                            fill: $borderColor;
                        }
                    }
                }

                .gradientSummary {
                    width: calc(100% - 3.4em);
                    min-width: 2em;
                    height: 100%;
                    margin: 0 0.2em;
                    overflow: hidden;

                    @include transition(width 0.3s);

                    .angleLabel {
                        width: 100%;
                        height: 50%;
                        text-align: center;
                        font-weight: 600;
                        color: $color;
                    }

                    .colorSummary {
                        width: 100%;
                        height: 50%;

                        @include display-flex;
                        @include flex-direction(row);
                        @include justify-content(center);
                        @include align-items(center);

                        > div {
                            @include flex(1);
                        }
                    }
                }

                .angleStep {
                    width: 1em;
                    height: 100%;

                    > div {
                        width: 100%;
                        height: calc(50% - 4px);
                        margin: 2px 0;
                        border: 2px solid $borderColor;
                        border-radius: 4px;

                        &:before {
                            position: absolute;
                            width: 100%;
                            height: 1em;
                            top: calc(50% - 0.5em);
                            font-weight: 600;
                            text-align: center;
                            color: $color;
                        }

                        &:active {
                            background: $activeBackgroundColor;
                        }
                    }
                }
            }
        }

        .editorContent.align-left {
            position: absolute;
            left: 0;
            top: 0;

            .editorBar {
                position: relative;
                float: right;

                .angleDisplay {
                    position: relative;
                    float: right;
                }

                .gradientSummary {
                    position: relative;
                    float: right;

                    .angleLabel {
                        position: relative;
                        float: right;
                    }

                    .colorSummary {
                        position: relative;
                        float: right;
                    }
                }

                .angleStep {
                    position: relative;
                    float: right;

                    > div {
                        position: relative;
                        float: right;
                    }
                }
            }
        }

        .editorContent.align-right {
            position: absolute;
            left: 0;
            top: 0;

            .editorBar {
                position: relative;
                float: left;

                .angleDisplay {
                    position: relative;
                    float: left;
                }

                .gradientSummary {
                    position: relative;
                    float: left;

                    .angleLabel {
                        position: relative;
                        float: left;
                    }

                    .colorSummary {
                        position: relative;
                        float: left;
                    }
                }

                .angleStep {
                    position: relative;
                    float: left;

                    > div {
                        position: relative;
                        float: left;
                    }
                }
            }
        }
    }
}