@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/flexbox";
@import "global";
@import "angular-ui-tree";
@import "simple-dropdown";

$color: rgba(0, 0, 0, 0.4);
$borderColor: rgba(0, 0, 0, 0.4);
$activeColor: #669933;

@include angular-ui-tree(pageDetailsTree);
@include simple-dropdown(widgetStateDropdown, $activeColor);

@mixin page($pageEditorId) {
    ##{$pageEditorId} {
        top: 1em;
        height: auto !important;

        .pageContent.expanded {
            > .pageDetails {
                display: block;
            }
        }

        .pageContent:not(.expanded) {
            > .pageDetails {
                display: none;
            }
        }

        .pageContent {
            color: $color;
            background: #fff;
            height: auto !important;

            > .pageBar {
                height: auto !important;

                > div {
                    height: 2.5em;

                    > div {
                        position: relative;
                        float: left;
                    }
                }

                .currentPage {
                    .pageLabel {
                        height: 1em;
                        width: calc(100% - 0.5em);
                        text-align: right;
                    }

                    .pageState {
                        position: absolute;
                        left: 0.2em;
                        top: 0.2em;
                        height: 1.5em;
                        width: auto;

                        .editState {
                            position: relative;
                            float: left;
                            height: 1em;
                            margin: 0.25em 0;
                            padding: 0 0.5em;
                            border-radius: 0.25em;
                            line-height: 1;
                            text-align: center;
                            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
                            background: rgba(102, 153, 51, 0.5);
                            color: $color;
                            border: 1px solid #669933;
                        }

                        .stateButton {
                            position: relative;
                            float: left;
                            height: 1em;
                            margin: 0.25em;
                            line-height: 1;
                            cursor: pointer;
                            @include opacity(0.15);

                            &.activeState {
                                @include opacity(1);

                                div {
                                    color: $color;
                                    text-shadow: 0px 2px 3px darken($color, $activeDarkenPercent);

                                    &.select + ul {
                                        display: block;
                                    }
                                }
                            }

                            div {
                                position: relative;
                                float: left;
                                width: 1.5em;
                                height: 1.5em;
                                color: $color;

                                &:before {
                                    position: relative;
                                    float: left;
                                    width: 100%;
                                    height: 100%;
                                    line-height: 1.5;
                                    text-align: center;
                                }
                            }

                        }

                    }
                }

                .pageList {
                    > select {
                        position: relative;
                        float: left;
                        height: 1.5em;
                        line-height: 1.5;
                    }
                }
            }

            > .pageDetails {
                height: auto;
                background: inherit;
                overflow: auto;

                > ui-tree {
                    position: relative;
                    float: left;
                    min-width: 40em;
                }
            }

            #widgetStateDropdown {
                position: relative;
                float: left;
                width: 100%;
                height: 0;
                opacity: 0;
                overflow: hidden;

                &.select {
                    display: block;
                    height: auto;
                    opacity: 1;
                    overflow: visible;
                }
            }
        }

        .pageContent.align-left {
            > .pageBar {
                .pageMenu {
                    position: absolute;
                    top: -1.5em;
                    width: 100%;
                    height: 1.5em;

                    div {
                        position: relative;
                        float: right;
                        width: 1.5em;
                        height: 100%;

                        &:before {
                            position: absolute;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            line-height: 1.5;
                        }

                        &:active:before {
                            margin-top: 2px;
                        }

                        &.togglePageButton.select:before {
                            @include transition(transform 0.3s);
                            @include transform(rotateZ(90deg));
                        }
                    }
                }
            }

            > .pageDetails {
            }
        }

        .pageContent.align-right {
            > .pageBar {
                .pageMenu {
                    position: absolute;
                    top: -1.5em;
                    width: 100%;
                    height: 1.5em;

                    div {
                        position: relative;
                        float: left;
                        width: 1.5em;
                        height: 100%;

                        &:before {
                            position: absolute;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            line-height: 1.5;
                        }

                        &:active:before {
                            margin-top: 2px;
                        }
                    }
                }
            }

            > .pageDetails {
            }
        }
    }
}