@import "companimation";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "flexbox";

@mixin sidebar($sideBarClass, $contentWidth: 300px) {

    .#{$sideBarClass}.rightSide {
        .st-pusher {
            position: relative;
            right: 0;
            z-index: 99;
            height: 100%;

            @include transition(transform 0.5s);

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 0;
                background: rgba(0,0,0,0.2);
                content: '';
                opacity: 1;

            }
        }

        > .st-content, > .st-pusher > .st-content {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 100;
            visibility: hidden;
            width: #{$contentWidth};
            height: 100%;
            display: none;

            @include transition(all 0.5s);

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.2);
                content: '';
                opacity: 1;

                @include transition(opacity 0.5s);
            }
        }

        &.st-sidebar-open {
            .st-pusher::after {
                width: 100%;
                height: 100%;
                opacity: 1;

                @include transition(opacity 0.5s);
            }

            .st-content {
                display: block;
            }

            .st-content::after {
                width: 0;
                height: 0;
                opacity: 0;

                @include transition(opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s);
            }
        }

        /* Effect 1: Slide in on top */
        &.slideInOnTop {
            .st-content {
                @include translate3d(100%, 0, 0);
            }

            .st-content::after {
                display: none;
            }

            &.st-sidebar-open .st-content {
                visibility: visible;
                @include translate3d(0, 0, 0);
            }
        }

        /* Effect 2: Reveal */
        &.reveal {
            .st-content {
                z-index: 1;
            }

            .st-content::after {
                display: none;
            }

            &.st-sidebar-open {
                >.st-content {
                    visibility: visible;

                    @include transition(transform 0.5s);
                }

                .st-pusher {
                    @include translate3d(-#{$contentWidth}, 0, 0);
                }
            }
        }


        /* Effect 4: Slide along */
        &.slideAlong {
            .st-content {
                z-index: 1;
                @include translate3d(50%, 0, 0);
            }

            .st-content::after {
                display: none;
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include translate3d(-#{$contentWidth}, 0, 0);
                }

                > .st-content {
                    visibility: visible;

                    @include transition(transform 0.5s);
                    @include translate3d(0, 0, 0);
                }
            }
        }

        /* Effect 5: Reverse slide out */
        &.reverseSlideOut {
            .st-content {
                z-index: 1;
                @include translate3d(-50%, 0, 0);
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include translate3d(-#{$contentWidth}, 0, 0);
                }

                > .st-content {
                    visibility: visible;

                    @include transition(transform 0.5s);
                    @include translate3d(0, 0, 0);
                }
            }
        }

        /* Effect 6: Rotate pusher */
        &.rotatePusher {
            @include perspective(1500px);

            .st-pusher {
                @include transform-origin(100%, 50%);
                @include transform-style(preserve-3d);

                .st-content {
                    @include translate3d(100%, 0, 0);
                    @include transform-origin(0%, 50%);
                    @include transform-style(preserve-3d);
                }

                .st-content::after {
                    display: none;
                }
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include transform(translate3d(-#{$contentWidth}, 0, 0) rotateY(15deg));

                    .st-content {
                        visibility: visible;

                        @include transition(transform 0.5s);
                        @include transform(translate3d(100%, 0, 0) rotateY(-15deg));
                    }
                }
            }
        }

        /* Effect 7: 3D rotate in */
        &.rotateIn3D {
            @include perspective(1500px);
            @include perspective-origin(0% 50%);

            .st-pusher {
                @include transform-style(preserve-3d);

                .st-content {
                    @include transform(translate3d(100%, 0, 0) rotateY(90deg));
                    @include transform-origin(100%, 50%);
                    @include transform-style(preserve-3d);
                }
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include translate3d(-#{$contentWidth}, 0, 0);

                    .st-content {
                        visibility: visible;

                        @include transition(transform 0.5s);
                        @include transform(translate3d(100%, 0, 0) rotateY(0deg));
                    }
                }
            }
        }

        /* Effect 8: 3D rotate out */
        &.rotateOut3D {
            @include perspective(1500px);
            @include perspective-origin(0% 50%);

            .st-pusher {
                @include transform-style(preserve-3d);

                .st-content {
                    @include transform-origin(0%, 50%);
                    @include transform(translate3d(100%, 0, 0) rotateY(-90deg));
                    @include transform-style(preserve-3d);
                }

                .st-content::after {
                    display: none;
                }
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include translate3d(-#{$contentWidth}, 0, 0);

                    .st-content {
                        visibility: visible;

                        @include transition(transform 0.5s);
                        @include transform(translate3d(100%, 0, 0) rotateY(0deg));
                    }
                }
            }
        }

        /* Effect 9: Scale down pusher */
        &.scaleDownPusher {
            @include perspective(1500px);

            .st-pusher {
                @include transform-style(preserve-3d);
            }

            .st-content {
                opacity: 1;
                @include translate3d(100%, 0, 0);
            }

            .st-content::after {
                display: none;
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include translate3d(0, 0, -#{$contentWidth});
                }

                > .st-content {
                    visibility: visible;

                    @include transition(transform 0.5s);
                    @include translate3d(0, 0, 0);
                }
            }
        }

        /* Effect 10: Scale up */
        &.scaleUp {
            @include perspective(1500px);
            @include perspective-origin(0% 50%);

            .st-content {
                z-index: 1;
                opacity: 1;
                @include translate3d(0, 0, -#{$contentWidth});
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include translate3d(-#{$contentWidth}, 0, 0);
                }

                > .st-content {
                    visibility: visible;

                    @include transition(transform 0.5s);
                    @include translate3d(0, 0, 0);
                }
            }
        }

        /* Effect 11: Scale and rotate pusher */
        &.scaleRotatePusher {
            @include perspective(1500px);

            .st-pusher {
                @include transform-style(preserve-3d);
            }

            .st-content {
                opacity: 1;
                @include translate3d(100%, 0, 0);
            }

            .st-content::after {
                display: none;
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include transform(translate3d(-100px, 0, -600px) rotateY(20deg));
                }

                > .st-content {
                    visibility: visible;

                    @include transition(transform 0.5s);
                    @include translate3d(0, 0, 0);
                }
            }
        }

        /* Effect 12: Open door */
        &.openDoor {
            @include perspective(1500px);

            .st-pusher {
                @include transform-origin(0%, 50%);
                @include transform-style(preserve-3d);
            }

            .st-content {
                opacity: 1;
                @include translate3d(100%, 0, 0);
            }

            .st-content::after {
                display: none;
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include rotateY(10deg);
                }

                > .st-content {
                    visibility: visible;

                    @include transition(transform 0.5s);
                    @include translate3d(0, 0, 0);
                }
            }
        }

        /* Effect 13: Fall down */
        &.fallDown {
            @include perspective(1500px);
            @include perspective-origin(0% 50%);

            .st-content {
                z-index: 1;
                opacity: 1;
                @include translate3d(0, -100%, 0);
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include translate3d(-#{$contentWidth}, 0, 0);
                }

                > .st-content {
                    visibility: visible;

                    @include transition(transform 0.2s ease-in-out);
                    @include translate3d(0, 0, 0);
                }
            }
        }

        /* Effect 14: Delayed 3D rotate */
        &.delayed3DRotate {
            @include perspective(1500px);
            @include perspective-origin(0% 50%);

            .st-pusher {
                @include transform-style(preserve-3d);

                .st-content {
                    @include transform-origin(100%, 50%);
                    @include transform(rotateY(90deg));
                    @include transform-style(preserve-3d);
                }
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include translate3d(-#{$contentWidth}, 0, 0);

                    .st-content {
                        visibility: visible;

                        @include transform(translate3d(100%, 0, 0) rotateY(0deg));
                    }
                }
            }
        }
    }

    .#{$sideBarClass}.leftSide {
        .st-pusher {
            position: relative;
            left: 0;
            z-index: 99;
            height: 100%;

            @include transition(transform 0.5s);

            &:after {
                position: absolute;
                top: 0;
                right: 0;
                width: 0;
                height: 0;
                background: rgba(0,0,0,0.2);
                content: '';
                opacity: 1;

            }
        }

        > .st-content, > .st-pusher > .st-content {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
            visibility: hidden;
            width: #{$contentWidth};
            height: 100%;

            @include transition(all 0.5s);

            &:after {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.2);
                content: '';
                opacity: 1;

                @include transition(opacity 0.5s);
            }
        }

        &.st-sidebar-open {
            > .st-pusher::after {
                width: 100%;
                height: 100%;
                opacity: 1;

                @include transition(opacity 0.5s);
            }

            > .st-content::after, > .st-pusher > .st-content::after {
                width: 0;
                height: 0;
                opacity: 0;

                @include transition(opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s);
            }
        }

        /* Effect 1: Slide in on top */
        &.slideInOnTop {
            > .st-content, > .st-pusher > .st-content {
                @include translate3d(-100%, 0, 0);
            }

            > .st-content::after, > .st-pusher > .st-content::after {
                display: none;
            }

            &.st-sidebar-open {
                > .st-content, > .st-pusher > .st-content {
                    visibility: visible;
                    @include translate3d(0, 0, 0);
                }
            }
        }

        /* Effect 2: Reveal */
        &.reveal {
            .st-content {
                z-index: 1;
            }

            .st-content::after {
                display: none;
            }

            &.st-sidebar-open {
                >.st-content {
                    visibility: visible;

                    @include transition(transform 0.5s);
                }

                .st-pusher {
                    @include translate3d(#{$contentWidth}, 0, 0);
                }
            }
        }

        /* Effect 4: Slide along */
        &.slideAlong {
            .st-content {
                z-index: 1;
                @include translate3d(-50%, 0, 0);
            }

            .st-content::after {
                display: none;
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include translate3d(#{$contentWidth}, 0, 0);
                }

                > .st-content {
                    visibility: visible;

                    @include transition(transform 0.5s);
                    @include translate3d(0, 0, 0);
                }
            }
        }

        /* Effect 5: Reverse slide out */
        &.reverseSlideOut {
            .st-content {
                z-index: 1;
                @include translate3d(50%, 0, 0);
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include translate3d(#{$contentWidth}, 0, 0);
                }

                > .st-content {
                    visibility: visible;

                    @include transition(transform 0.5s);
                    @include translate3d(0, 0, 0);
                }
            }
        }

        /* Effect 6: Rotate pusher */
        &.rotatePusher {
            @include perspective(1500px);

            .st-pusher {
                @include transform-origin(0%, 50%);
                @include transform-style(preserve-3d);

                .st-content {
                    @include translate3d(-100%, 0, 0);
                    @include transform-origin(100%, 50%);
                    @include transform-style(preserve-3d);
                }

                .st-content::after {
                    display: none;
                }
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include transform(translate3d(#{$contentWidth}, 0, 0) rotateY(-15deg));

                    .st-content {
                        visibility: visible;

                        @include transition(transform 0.5s);
                        @include transform(translate3d(-100%, 0, 0) rotateY(15deg));
                    }
                }
            }
        }

        /* Effect 7: 3D rotate in */
        &.rotateIn3D {
            @include perspective(1500px);
            @include perspective-origin(0% 50%);

            .st-pusher {
                @include transform-style(preserve-3d);

                .st-content {
                    @include transform(translate3d(-100%, 0, 0) rotateY(-90deg));
                    @include transform-origin(100%, 50%);
                    @include transform-style(preserve-3d);
                }
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include translate3d(#{$contentWidth}, 0, 0);

                    .st-content {
                        visibility: visible;

                        @include transition(transform 0.5s);
                        @include transform(translate3d(-100%, 0, 0) rotateY(0deg));
                    }
                }
            }
        }

        /* Effect 8: 3D rotate out */
        &.rotateOut3D {
            @include perspective(1500px);
            @include perspective-origin(0% 50%);

            .st-pusher {
                @include transform-style(preserve-3d);

                .st-content {
                    @include transform(translate3d(-100%, 0, 0) rotateY(90deg));
                    @include transform-origin(100%, 50%);
                    @include transform-style(preserve-3d);
                }

                .st-content::after {
                    display: none;
                }
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include translate3d(#{$contentWidth}, 0, 0);

                    .st-content {
                        visibility: visible;

                        @include transition(transform 0.5s);
                        @include transform(translate3d(-100%, 0, 0) rotateY(0deg));
                    }
                }
            }
        }

        /* Effect 9: Scale down pusher */
        &.scaleDownPusher {
            @include perspective(1500px);

            .st-pusher {
                @include transform-style(preserve-3d);
            }

            .st-content {
                opacity: 1;
                @include translate3d(-100%, 0, 0);
            }

            .st-content::after {
                display: none;
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include translate3d(0, 0, -#{$contentWidth});
                }

                > .st-content {
                    visibility: visible;

                    @include transition(transform 0.5s);
                    @include translate3d(0, 0, 0);
                }
            }
        }

        /* Effect 10: Scale up */
        &.scaleUp {
            @include perspective(1500px);
            @include perspective-origin(0% 50%);

            .st-content {
                z-index: 1;
                opacity: 1;
                @include translate3d(0, 0, -#{$contentWidth});
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include translate3d(#{$contentWidth}, 0, 0);
                }

                > .st-content {
                    visibility: visible;

                    @include transition(transform 0.5s);
                    @include translate3d(0, 0, 0);
                }
            }
        }

        /* Effect 11: Scale and rotate pusher */
        &.scaleRotatePusher {
            @include perspective(1500px);

            .st-pusher {
                @include transform-style(preserve-3d);
            }

            .st-content {
                opacity: 1;
                @include translate3d(-100%, 0, 0);
            }

            .st-content::after {
                display: none;
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include transform(translate3d(100px, 0, -600px) rotateY(-20deg));
                }

                > .st-content {
                    visibility: visible;

                    @include transition(transform 0.5s);
                    @include translate3d(0, 0, 0);
                }
            }
        }

        /* Effect 12: Open door */
        &.openDoor {
            @include perspective(1500px);

            .st-pusher {
                @include transform-origin(100%, 50%);
                @include transform-style(preserve-3d);
            }

            .st-content {
                opacity: 1;
                @include translate3d(-100%, 0, 0);
            }

            .st-content::after {
                display: none;
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include rotateY(-10deg);
                }

                > .st-content {
                    visibility: visible;

                    @include transition(transform 0.5s);
                    @include translate3d(0, 0, 0);
                }
            }
        }

        /* Effect 13: Fall down */
        &.fallDown {
            @include perspective(1500px);
            @include perspective-origin(0% 50%);

            .st-content {
                z-index: 1;
                opacity: 1;
                @include translate3d(0, -100%, 0);
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include translate3d(#{$contentWidth}, 0, 0);
                }

                > .st-content {
                    visibility: visible;

                    @include transition(transform 0.2s ease-in-out);
                    @include translate3d(0, 0, 0);
                }
            }
        }

        /* Effect 14: Delayed 3D rotate */
        &.delayed3DRotate {
            @include perspective(1500px);
            @include perspective-origin(0% 50%);

            .st-pusher {
                @include transform-style(preserve-3d);

                .st-content {
                    @include transform(translate3d(-100%, 0, 0) rotateY(90deg));
                    @include transform-origin(0%, 50%);
                    @include transform-style(preserve-3d);
                }
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include translate3d(#{$contentWidth}, 0, 0);

                    .st-content {
                        visibility: visible;

                        @include transform(translate3d(-100%, 0, 0) rotateY(0deg));
                    }
                }
            }
        }
    }

    .#{$sideBarClass}.bottomSide {
        .st-pusher {
            z-index: 99;

            @include flex(1);
            @include order(1);
            @include transition(transform 0.5s);
        }

        > .st-content, > .st-pusher > .st-content {
            z-index: 100;
            visibility: hidden;
            display:none;

            min-height: 0;
            @include flex(1);
            @include order(2);
            @include transition(all 0.5s);
        }

        &.st-sidebar-open {
        }

        /* Effect 1: Slide in on top */
        &.slideInOnTop {
            > .st-content {
                position: absolute;
                bottom: 0;
                width: 100%;

                @include translate3d(0, 100%, 0);
            }

            &.st-sidebar-open {
                > .st-content {
                    visibility: visible;
                    display:block;
                    @include translate3d(0, 0, 0);
                }
            }
        }

        /* Effect 2: Reveal */
        &.reveal {
            .st-content {
                @include translate3d(0, 100%, 0);
            }

            &.st-sidebar-open {
                > .st-content {
                    visibility: visible;
                    display:block;

                    @include translate3d(0, 0, 0);
                }

                .st-pusher {
                    @include translate3d(0, -#{$contentWidth}, 0);
                }
            }
        }

        /* Effect 5: Reverse slide out */
        &.reverseSlideOut {
            .st-content {
                z-index: 1;
                @include translate3d(0, -50%, 0);
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include translate3d(0, -#{$contentWidth}, 0);
                }

                > .st-content {
                    visibility: visible;
                    display:block;

                    @include transition(transform 0.5s);
                    @include translate3d(0, 0, 0);
                }
            }
        }

        /* Effect 7: 3D rotate in */
        &.rotateIn3D {
            @include perspective(1500px);
            @include perspective-origin(50% 100%);

            .st-content {
                @include transform(translate3d(0, 100%, 0) rotateX(-90deg));
                @include transform-origin(50%, 0%);
                @include transform-style(preserve-3d);
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include translate3d(0, -#{$contentWidth}, 0);
                }

                .st-content {
                    visibility: visible;
                    display:block;

                    @include transition(transform 0.5s);
                    @include transform(translate3d(0, 0, 0) rotateX(0deg));
                }
            }
        }

        /* Effect 8: 3D rotate out */
        &.rotateOut3D {
            @include perspective(1500px);
            @include perspective-origin(50% 100%);

            .st-content {
                @include transform(translate3d(0, 100%, 0) rotateX(90deg));
                @include transform-origin(50%, 0%);
                @include transform-style(preserve-3d);
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include translate3d(0, -#{$contentWidth}, 0);
                }

                .st-content {
                    visibility: visible;
                    display:block;

                    @include transition(transform 0.5s);
                    @include transform(translate3d(0, 0, 0) rotateX(0deg));
                }
            }
        }

        /* Effect 9: Scale down pusher */
        &.scaleDownPusher {
            @include perspective(1500px);

            .st-pusher {
                @include transform-style(preserve-3d);
            }

            .st-content {
                opacity: 1;
                @include translate3d(-100%, 0, 0);
            }

            .st-content::after {
                display: none;
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include translate3d(0, 0, -#{$contentWidth});
                }

                > .st-content {
                    visibility: visible;

                    @include transition(transform 0.5s);
                    @include translate3d(0, 0, 0);
                }
            }
        }

        /* Effect 10: Scale up */
        &.scaleUp {
            @include perspective(1500px);
            @include perspective-origin(0% 50%);

            .st-content {
                z-index: 1;
                opacity: 1;
                @include translate3d(0, 0, -#{$contentWidth});
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include translate3d(#{$contentWidth}, 0, 0);
                }

                > .st-content {
                    visibility: visible;

                    @include transition(transform 0.5s);
                    @include translate3d(0, 0, 0);
                }
            }
        }

        /* Effect 14: Delayed 3D rotate */
        &.delayed3DRotate {
            @include perspective(1500px);
            @include perspective-origin(0% 50%);

            .st-pusher {
                @include transform-style(preserve-3d);

                .st-content {
                    @include transform(translate3d(-100%, 0, 0) rotateY(90deg));
                    @include transform-origin(0%, 50%);
                    @include transform-style(preserve-3d);
                }
            }

            &.st-sidebar-open {
                .st-pusher {
                    @include translate3d(#{$contentWidth}, 0, 0);

                    .st-content {
                        visibility: visible;

                        @include transform(translate3d(-100%, 0, 0) rotateY(0deg));
                    }
                }
            }
        }
    }
}