@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/flexbox";
@import "bootstrap/mixins/gradients";
@import "global";

$deepShadow: #555;

.sketchWidget {

    &:not(.zoom):not(.isPlaying) {
        &.pickedWidget {
            @include box-shadow(0 0 20px $deepShadow);

            [widget-anchor]:hover {
                @include gradient-horizontal-three-colors(#6699CC, #99CCFF, 50%, #ECF0F1);

                &:before {
                    position: absolute;
                    width: 100%;
                    line-height: 1em;
                    content: attr(desc);
                    top: calc(50% - 0.5em);
                    text-align: center;
                    font-weight: 900;
                    color: $fontColor;
                    letter-spacing: 2px;
                }
            }
        }
    }

    &.tempElement {
        border-style: dashed !important;
        background: transparent !important;
    }

    &.zoom {
        border: none !important;
        @include transition(all, 0.3s);
    }

    .widgetText {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background: transparent;
        color: inherit;
    }

    > .loadExternalSuccess, .loadExternalFail {
        position: relative;
        float: left;
        width: 100%;
        height: 3em;
        top: calc(50% - 1.5em);
        pointer-events: none;

        &:before {
            position: relative;
            float: left;
            width: 2em;
            text-align: center;
        }

        @include emboss-title();

        span {
            position: relative;
            float: left;
            height: 100%;
            line-height: 1;
            width: calc(100% - 2em);
            text-align: left;
            top: calc(50% - 1.5em);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    > .loadExternalSuccess {
        color: $activeColor !important;
    }

    > .loadExternalFail {
        color: $errorColor !important;
    }
}