@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/flexbox";
@import "bootstrap/mixins/gradients";
@import "global";

$deepShadow: #555;

.sketchWidget {
    width: 100px;
    height: 100px;
    color: #000;
    border-color: #000;
    background: #fff;
    border-width: 1px;
    border-style: solid;

    &:not(.zoom):not(.isPlaying) {
        &.pickedWidget {
            @include box-shadow(0 0 20px $deepShadow);

            &:before {
                position: absolute;
                top: calc(50% - 0.5em);
                width: 100%;
                text-align: center;
                line-height: 1;
            }

            [widget-anchor]:hover {
                @include gradient-horizontal-three-colors(#6699CC, #99CCFF, 50%, #ECF0F1);

                &:before {
                    position: absolute;
                    width: 100%;
                    line-height: 1em;
                    content: attr(desc);
                    top: calc(50% - 0.5em);
                    text-align: center;
                    font-weight: 900;
                    color: $fontColor;
                    letter-spacing: 2px;
                }
            }
        }
    }

    &.tempElement {
        border-style: dashed !important;
        background: transparent !important;
    }

    &.zoom {
        border: none !important;
        @include transition(all, 0.3s);
    }

    .widgetText {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        heigh: 100%;
        background: transparent;
    }
}

@mixin sketch-widget($widgetContainerId) {
    ##{$widgetContainerId} {
        .widget {
        }

        .resize {
            background: transparent;
            overflow: visible;

            .resizeContent {
                position: relative;
                float: left;
                width: calc(100% - 1px);
                height: calc(100% - 1px);
                pointer-events: none;
                border: 1px dashed;

                > div {
                    position: absolute;
                    width: 10%;
                    height: 10%;
                    border-width: 4px;
                }

                .resize-nw {
                    left: -4px;
                    top: -4px;
                    border-style: solid none none solid;

                }
                .resize-ne {
                    right: -4px;
                    top: -4px;
                    border-style: solid solid none none;
                }
                .resize-se {
                    right: -4px;
                    bottom: -4px;
                    border-style: none solid solid none;
                }
                .resize-sw {
                    left: -4px;
                    bottom: -4px;
                    border-style: none none solid solid;
                }
            }
        }
    }
}