@import "compass/css3/transform";
@import "compass/css3/transition";
@import "bootstrap/mixins/gradients";
@import "global";
@import "multilevel-menu";
@import "simple-dropdown";
@import "angular-ui-tree";

$underlineLinearGradient: (rgb(235, 235, 235) 0%, rgb(235, 235, 235) 50%, #fff 100%);
$tabHeaderWidth: 6em;
$maxNumOfConfigurationItems: 10;

@include multilevel-menu(null, effectMultilevelMenu, $activeColor);
@include multilevel-menu(null, effectArtifactMultilevelMenu, $activeColor);
@include simple-dropdown(null, widgetObjStateDropdown, $activeColor);
@include simple-dropdown(null, configurationItemList, $activeColor);
@include simple-dropdown(null, triggerEventDropdown, $activeColor);
@include angular-ui-tree(actionWidgetTree);

@mixin state-transition($stateEditorId) {
    ##{$stateEditorId} {

        .stateContent.expanded {
        }

        .stateContent:not(.expanded) {
        }

        .stateContent {
            color: $color;
            background: #fff;

            > .stateBar {
                @include gradient-horizontal(#339933, #ecf0f1);

                .stateTitle {
                    position: absolute;
                    top: 5px;
                    width: 100%;
                    height: 1em;
                    line-height: 1;
                    text-align: center;
                    font-weight: 600;
                    text-shadow: 0px 2px 3px #666;

                    &:before {
                        position: absolute;
                        left: 1em;
                        width: 1em;
                        height: 100%;
                        line-height: 1;
                        text-align: center;
                    }
                }

                .stateName {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 1em;
                    line-height: 1;
                    text-align: center;
                }
            }

            > .stateDetails {
                background: inherit;

                > .accordianGroup {
                    width: 100%;
                    overflow: hidden;

                    > .accordianTitle {
                        z-index: 1;
                        width: 100%;
                        height: 2em;
                        line-height: 2;
                        background: #fff;

                        @include gradient-horizontal(#339933, #ecf0f1);

                        &:before {
                            position: relative;
                            float: left;
                            line-height: 2;
                            text-align: center;
                            width: 1em;
                            height: 2em;
                            font-weight: 900;

                            @include transform(rotateZ(0deg));
                            @include transition(transform 0.3s);
                        }
                    }

                    > .accordianBody {
                        width: 100%;
                        margin-top: 0.5em;
                        margin-bottom: 0.5em;

                        @include transition(transform 0.3s);

                        .transition {
                            display: none;
                        }

                        .emptyTransition {
                            height: 0px;
                            overflow: hidden;
                        }
                    }

                    &.select {
                        > .accordianTitle:before {
                            @extend %rotateQuarterArc;
                            @include animation-duration(0.3s);
                        }

                        > .accordianBody {

                            .transition {
                                display: block;
                                position: relative;
                                float: left;
                                height: auto;
                                width: 100%;
                                overflow: hidden;

                                &.select {
                                    > .transitionBar {
                                        > div.toggleTransitionButton:before {
                                            @extend %rotateQuarterArc;
                                            @include animation-duration(0.3s);
                                        }
                                    }

                                    > .transitionDetails {
                                        display: block;
                                        position: relative;
                                        float: left;
                                        width: 100%;
                                        height: 30em;

                                        .transition-details-titles {
                                            position: relative;
                                            float: left;
                                            width: calc(100% - 0.2em);
                                            height: 3em;
                                            margin: 0 0.2em;

                                            @include display-flex;
                                            @include justify-content(center);
                                            @include align-items(flex-start);

                                            .transition-details-title {
                                                @include flex(1);

                                                min-width: 50%;
                                                max-width: 50%;
                                                line-height: 2;
                                                text-align: center;
                                                border-top: 1px solid $borderColor;
                                                border-left: 1px solid $borderColor;
                                                border-right: 1px solid $borderColor;
                                                background: $color;

                                                @include transition(all 0.7s);
                                                @include toggle-emboss-title("select");

                                                &.select {
                                                    background: #fff;
                                                    @include box-shadow(0px -3px 6px $activeBorderShadow);
                                                }

                                            }
                                        }

                                        .transition-details-tabs {
                                            position: relative;
                                            float: left;
                                            top: -0.75em;
                                            width: calc(100% - 0.2em);
                                            height: calc(100% - 3em);
                                            margin: 0 0.2em;
                                            border-left: 1px solid $borderColor;
                                            border-right: 1px solid $borderColor;
                                            border-bottom: 1px solid $borderColor;
                                            overflow: hidden;

                                            .tab-content-transition-details {
                                                position: absolute;
                                                width: 100%;
                                                height: 100%;
                                                overflow: auto;

                                                > #triggerContent {
                                                    position: relative;
                                                    float: left;
                                                    width: 100%;
                                                    height: auto;
                                                    list-style: none;
                                                    -webkit-padding-start: 0.5em;
                                                    -webkit-margin-before: 0.5em;
                                                    -webkit-margin-start: 5px;

                                                    > li > div.triggerEventDropdown {
                                                        padding-left: 0.5em;
                                                        padding-bottom: 0.5em;
                                                        height: 2em;
                                                    }

                                                    > li > div:not(.checked) ~ .triggerEventDropdown {
                                                        cursor: not-allowed;

                                                        input, select, div {
                                                            pointer-events: none;
                                                        }
                                                    }
                                                }

                                                .transition-action-wrapper {
                                                    position: relative;
                                                    float: left;
                                                    width: 100%;
                                                    height: auto;
                                                    margin-top: 0.5em;

                                                    .accordianGroup {
                                                        position: relative;
                                                        float: left;
                                                        width: 100%;

                                                        > .accordianTitle {
                                                            position: relative;
                                                            float: left;
                                                            width: 100%;
                                                            text-align: left;
                                                            z-index: 1;
                                                            line-height: 2;
                                                            background: #fff;

                                                            &:after {
                                                                position: absolute;
                                                                right: 0;
                                                                bottom: 0;
                                                                content: '';
                                                                width: 100%;
                                                                height: 2px;
                                                                @include background(linear-gradient(right, $underlineLinearGradient));
                                                            }

                                                            &:before {
                                                                position: absolute;
                                                                left: 0;
                                                                top: calc(50%  - 0.5em);
                                                                line-height: 1;
                                                                text-align: center;
                                                                width: 1em;

                                                                @include transform(rotateZ(0deg));
                                                                @include transition(transform 0.3s);
                                                            }

                                                            > *:not(.deleteButton) {
                                                                position: relative;
                                                                float: left;
                                                                display: -webkit-box;
                                                                -webkit-box-orient: vertical;
                                                                -webkit-line-clamp: 1;
                                                                text-overflow: ellipsis;
                                                                overflow: hidden;
                                                            }


                                                        }

                                                        > .accordianSubTitle {
                                                            position: relative;
                                                            float: left;
                                                            width: 100%;
                                                            margin-top: 0.5em;

                                                            > * {
                                                                position: relative;
                                                                float: left;
                                                                width: 100%;
                                                                height: 2em;
                                                                line-height: 2;
                                                                margin: 0.5em 0;
                                                            }

                                                            > span {
                                                                @include emboss-title('', true);
                                                            }

                                                            .toggleLibraryButton {
                                                                span {
                                                                    position: relative;
                                                                    float: left;
                                                                    line-height: 1;
                                                                    width: 100%;
                                                                    text-align: center;

                                                                    @include emboss-title(':before', true);
                                                                }
                                                            }

                                                            .effectMultilevelMenu {
                                                                z-index: 10;
                                                            }
                                                        }

                                                        > .accordianBody {
                                                            position: relative;
                                                            float: left;
                                                            width: 100%;
                                                            margin-top: 0.5em;
                                                            margin-bottom: 0.5em;

                                                            @include transition(transform 0.3s);

                                                            > .animationOptions, .configurationBody {
                                                                opacity: 0;
                                                                pointer-events: none;
                                                                height: 0px;
                                                                overflow: hidden;
                                                            }

                                                            .configurationPane {
                                                                position: relative;
                                                                float: left;
                                                                width: 100%;
                                                                height: auto;
                                                                margin-bottom: 0.5em;

                                                                $i: $maxNumOfConfigurationItems;
                                                                @while $i > 0 {
                                                                    &:nth-of-type(#{$i}) {
                                                                        z-index: $maxNumOfConfigurationItems - $i + 100;
                                                                    }
                                                                    $i: $i - 1;
                                                                }

                                                                .input-group {
                                                                    position: relative;
                                                                    float: left;
                                                                    width: calc(100% - 5px);
                                                                    padding-left: 5px;
                                                                }
                                                            }
                                                        }

                                                        &.select {
                                                            > .accordianBody {
                                                                background: rgba(0, 0, 0, 0.1);

                                                                @include box-shadow(inset 0 0 6px #555);

                                                                > .animationOptions, .configurationBody {
                                                                    opacity: 1;
                                                                    pointer-events: auto;
                                                                    height: auto;
                                                                    overflow: visible;
                                                                    margin: 0.5em 0;

                                                                    input[type='number'] {
                                                                        &::-webkit-inner-spin-button,
                                                                        &::-webkit-outer-spin-button {
                                                                            -webkit-appearance: none;
                                                                            margin: 0;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }

                                                }

                                                .emptyAction {
                                                    position: relative;
                                                    float: left;
                                                    height: 3.4em;
                                                    width: 100%;

                                                    > span {
                                                        display: block;
                                                        position: relative;
                                                        float: left;
                                                        width: calc(100% - 1.4em);
                                                        height: calc(100% - 1.4em);
                                                        outline: 1px dashed;
                                                        margin: 0.7em;
                                                        line-height: 2;
                                                        text-align: center;
                                                        background-color: #ccc;

                                                        @include transition(0.3s);
                                                        @include gradient-striped();

                                                        &:hover {
                                                            background-color: darken(#ccc, $activeDarkenPercent);;
                                                        }

                                                        &:active {
                                                            top: 2px;
                                                        }
                                                    }

                                                    > .actionInput {
                                                        display: none;
                                                    }

                                                    &.select {
                                                        > span {
                                                            display: none;
                                                        }

                                                        > .actionInput {
                                                            display: table;

                                                            position: relative;
                                                            float: left;
                                                            width: calc(100% - 1.4em);
                                                            height: calc(100% - 1.4em);
                                                            margin: 0.7em;
                                                            line-height: 2;

                                                            > select {
                                                                line-height: 2 !important;
                                                                height: calc(2em + 3px) !important;
                                                            }

                                                            > span {
                                                                padding-top: 0;
                                                                padding-bottom: 0;

                                                                &:before {
                                                                    position: relative;
                                                                    float: left;
                                                                    width: 100%;
                                                                    height: 100%;
                                                                    text-align: center;
                                                                    line-height: 2;
                                                                }
                                                                &:active {
                                                                    background: darken($input-group-addon-bg, $activeDarkenPercent);
                                                                }
                                                            }
                                                        }
                                                    }
                                                }

                                                #actionWidgetTreeTab {
                                                    z-index: 101;
                                                    position: absolute;
                                                    width: 100%;
                                                    height: 100%;
                                                    left: 0;
                                                    opacity: 0;
                                                    pointer-events: none;
                                                    background: #fff;

                                                    @extend %slideLeft;
                                                    @include animation-duration(0.3s);

                                                    &.select {
                                                        opacity: 1;
                                                        pointer-events: auto;

                                                        @extend %slideLeftRetourn;
                                                        @include animation-duration(0.3s);
                                                    }

                                                    .hideWidgetTreeButton {
                                                        position: absolute;
                                                        top: 0.5em;
                                                        width: 2em;
                                                        height: 2em;
                                                        background-color: #ddd;
                                                        box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .135);
                                                        border-radius: 0.2em;
                                                        display: inline-block;
                                                        margin: 0 0.5em;

                                                        &:active {
                                                            background-color: #555;
                                                            color: $activeColor;
                                                            box-shadow: none;
                                                        }

                                                        &:before {
                                                            position: absolute;
                                                            width: 100%;
                                                            height: 100%;
                                                            text-align: center;
                                                            line-height: 2;
                                                        }
                                                    }

                                                    #actionWidgetTree {
                                                        position: absolute;
                                                        top: 2em;
                                                        width: calc(100% - 2em);
                                                        height: calc(100% - 4em);
                                                        margin: 1em;
                                                    }

                                                }

                                                > .effectLibraryList {
                                                    z-index: 101;
                                                    position: absolute;
                                                    width: 100%;
                                                    height: auto;
                                                    left: 0;
                                                    opacity: 0;
                                                    pointer-events: none;
                                                    background: #fff;

                                                    @extend %slideLeft;
                                                    @include animation-duration(0.3s);

                                                    &.select {
                                                        opacity: 1;
                                                        pointer-events: auto;

                                                        @extend %slideLeftRetourn;
                                                        @include animation-duration(0.3s);
                                                    }

                                                    .toggleSelectionButton {
                                                        height: 2em;

                                                        &:before {
                                                            position: absolute;
                                                            left: 0;
                                                            top: 0;
                                                            width: 100%;
                                                            height: 2em;
                                                            line-height: 2;
                                                            text-align: center;
                                                        }

                                                        &.partialSelect:before {
                                                            color: darken(#fff, $activeDarkenPercent);
                                                        }
                                                    }

                                                    .hideLibraryListButton {
                                                        position: absolute;
                                                        top: 0.5em;
                                                        width: 2em;
                                                        height: 2em;
                                                        background-color: #ddd;
                                                        box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .135);
                                                        border-radius: 0.2em;
                                                        display: inline-block;
                                                        margin: 0 0.5em;

                                                        &:active {
                                                            background-color: #555;
                                                            color: $activeColor;
                                                            box-shadow: none;
                                                        }

                                                        &:before {
                                                            position: absolute;
                                                            width: 100%;
                                                            height: 100%;
                                                            text-align: center;
                                                            line-height: 2;
                                                        }
                                                    }

                                                    .hideLibraryListButton+.accordianGroup {
                                                        top: 2.5em;
                                                    }

                                                    .accordianGroup {
                                                        position: relative;
                                                        float: left;
                                                        width: 100%;
                                                        overflow: hidden;

                                                        > .accordianTitle {
                                                            z-index: 1;
                                                            position: relative;
                                                            float: left;
                                                            width: 100%;
                                                            line-height: 2;
                                                            font-weight: 900;
                                                            text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
                                                            background: #fff;

                                                            &:before {
                                                                @include transform(rotateZ(0deg));
                                                                @include transition(transform 0.3s);
                                                            }
                                                        }

                                                        > .accordianBody {
                                                            width: 100%;
                                                            margin-top: 0.5em;
                                                            margin-bottom: 0.5em;

                                                            @include transition(transform 0.3s);

                                                            .effectPane {
                                                                opacity: 0;
                                                                pointer-events: none;
                                                                height: 0px;
                                                                overflow: hidden;
                                                            }
                                                        }

                                                        &.select {
                                                            > .accordianTitle:before {
                                                                @extend %rotateUpSideDown;
                                                                @include animation-duration(0.3s);
                                                            }

                                                            > .accordianBody {

                                                                .effectPane {
                                                                    opacity: 1;
                                                                    pointer-events: auto;
                                                                    height: 2em;
                                                                    line-height: 2;
                                                                    margin-top: 1em;
                                                                    margin-right: 1em;
                                                                    overflow: visible;

                                                                    span {
                                                                        position: relative;
                                                                        float: left;
                                                                        width: calc(100% - 3em);
                                                                        line-height: 2;
                                                                        height: 100%;

                                                                        @include emboss-title('');
                                                                    }

                                                                    .toggleSelectionButton {
                                                                        position: relative;
                                                                        float: left;
                                                                        width: 2em;
                                                                        height: 2em;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                > .transitionBar {
                                    position: relative;
                                    float: left;
                                    width: 100%;
                                    height: auto;

                                    > div.toggleTransitionButton {
                                        position: relative;
                                        float: left;
                                        width: 3em;
                                        height: 2em;

                                        @include emboss-title(':before');

                                        &:before {
                                            position: relative;
                                            float: left;
                                            width: 100%;
                                            height: 100%;
                                            line-height: 2;
                                            text-align: center;

                                            @include transform(rotateZ(0deg));
                                            @include transition(transform 0.3s);
                                        }

                                        &:active:before {
                                            margin-top: 2px;
                                        }
                                    }

                                    > span {
                                        position: relative;
                                        float: left;
                                        width: calc(100% - 4.4em);
                                        height: 2em;
                                        line-height: 2;
                                        margin: 0 0.7em;
                                    }
                                }

                                > .transitionDetails {
                                    display: none;
                                }
                            }

                            .emptyTransition {
                                position: relative;
                                float: left;
                                height: 3.4em;
                                width: 100%;

                                > span {
                                    display: block;
                                    position: relative;
                                    float: left;
                                    width: calc(100% - 1.4em);
                                    height: calc(100% - 1.4em);
                                    outline: 1px dashed;
                                    margin: 0.7em;
                                    line-height: 2;
                                    text-align: center;
                                    background-color: #ccc;

                                    @include transition(0.3s);
                                    @include gradient-striped();

                                    &:hover {
                                        background-color: darken(#ccc, $activeDarkenPercent);;
                                    }

                                    &:active {
                                        top: 2px;
                                    }
                                }

                                > .transitionNameInput {
                                    display: none;
                                }

                                &.select {
                                    > span {
                                        display: none;
                                    }

                                    > .transitionNameInput {
                                        display: table;

                                        position: relative;
                                        float: left;
                                        width: calc(100% - 1.4em);
                                        height: calc(100% - 1.4em);
                                        margin: 0.7em;
                                        line-height: 2;

                                        > input {
                                            line-height: 2 !important;
                                            height: calc(2em + 3px) !important;
                                        }

                                        > span {
                                            padding-top: 0;
                                            padding-bottom: 0;

                                            &:before {
                                                position: relative;
                                                float: left;
                                                width: 100%;
                                                height: 100%;
                                                text-align: center;
                                                line-height: 2;
                                            }
                                            &:active {
                                                background: darken($input-group-addon-bg, $activeDarkenPercent);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .stateOptions {
                    position: relative;
                    float: left;
                    height: auto;
                    width: 100%;

                    .stateOption {
                        position: relative;
                        float: left;
                        height: 2.4em;
                        width: 100%;

                        @include transition(0.3s);

                        &:hover {
                            background-color: darken(#fff, $activeDarkenPercent);;
                        }

                        &.select {
                            background-color: darken(#fff, $activeDarkenPercent);;
                        }

                        &:active {
                            top: 2px;
                        }

                        span {
                            position: relative;
                            float: left;
                            width: calc(100% - 0.4em);
                            height: calc(100% - 0.4em);
                            margin: 0.2em;
                            line-height: 2;
                            text-align: center;

                            @include gradient-horizontal(#3399cc, #ecf0f1);

                            &:before {
                                position: absolute;
                                left: 1em;
                                width: 1em;
                                height: 100%;
                                line-height: 2;
                                text-align: center;
                                font-weight: 900;
                            }
                        }
                    }

                    .createStateButton {
                        position: relative;
                        float: left;
                        height: 3.4em;
                        width: 100%;
                        padding: 0.5em 0;

                        div {
                            position: relative;
                            float: left;
                            width: calc(100% - 1.2em);
                            height: 100%;
                            margin: 0.4em 0.6em;
                            line-height: 2;
                            text-align: center;
                            color: $color;
                            border-color: #ccc;
                        }
                    }
                }

                .emptyStateOption {
                    position: relative;
                    float: left;
                    height: 3.4em;
                    width: 100%;

                    > span {
                        display: block;
                        position: relative;
                        float: left;
                        width: calc(100% - 1.4em);
                        height: calc(100% - 1.4em);
                        outline: 1px dashed;
                        margin: 0.7em;
                        line-height: 2;
                        text-align: center;
                        background-color: #ccc;

                        @include transition(0.3s);
                        @include gradient-striped();

                        &:hover {
                            background-color: darken(#ccc, $activeDarkenPercent);;
                        }

                        &:active {
                            top: 2px;
                        }
                    }

                    > .stateOptionInput {
                        display: none;
                    }

                    &.select {
                        > span {
                            display: none;
                        }

                        > .stateOptionInput {
                            display: table;

                            position: relative;
                            float: left;
                            width: calc(100% - 1.4em);
                            height: calc(100% - 1.4em);
                            margin: 0.7em;
                            line-height: 2;

                            > input {
                                line-height: 2 !important;
                                height: calc(2em + 3px) !important;
                            }

                            > span {
                                padding-top: 0;
                                padding-bottom: 0;

                                &:before {
                                    position: relative;
                                    float: left;
                                    width: 100%;
                                    height: 100%;
                                    text-align: center;
                                    line-height: 2;
                                }
                                &:active {
                                    background: darken($input-group-addon-bg, $activeDarkenPercent);
                                }
                            }
                        }
                    }
                }

                .deleteButton {
                    position: absolute;
                    right: 2px;
                    top: 2px;
                    width: 1.5em;
                    height: 1.5em;
                    border-radius: 100%;
                    background: rgba(#ccc, 0.7);

                    &:before {
                        position: absolute;
                        width: 1em;
                        height: 1em;
                        line-height: 1;
                        margin: 0.25em;
                        text-align: center;
                        font-weight: 600;
                        color: #fff;
                        text-shadow: 0px 2px 3px #aaa, 0px 2px 1px #fff;
                    }

                    &:active {
                        background: rgba(#ccc, 0.3);
                        &:before {
                            color: #888;
                        }
                    }
                }
            }
        }

        .stateContent.align-left {
            > .stateDetails {
                .tab-content-transition-details {

                    &[tab-sel^='tab-content'] {
                        position: absolute;
                        left: 0;
                        top: 0;
                        display: none;

                        &.select {
                            display: block;
                        }
                    }

                    .effectLibraryList {
                        .accordianGroup {
                            position: relative;
                            float: right;

                            > .accordianTitle {
                                position: relative;
                                float: right;
                                text-align: right;

                                &:after {
                                    position: absolute;
                                    right: 0;
                                    bottom: 0;
                                    content: '';
                                    width: 100%;
                                    height: 2px;
                                    @include background(linear-gradient(right, $underlineLinearGradient));
                                }

                                &:before {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    line-height: 2;
                                    text-align: center;
                                    width: 1em;
                                    height: 2em;
                                }
                            }

                            > .accordianBody {
                                position: relative;
                                float: right;

                                .effectPane {

                                    span {
                                        text-align: right;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .stateContent.align-right {
            > .stateDetails {
                .tab-content-transition-details {

                    &[tab-sel^='tab-content'] {
                        position: absolute;
                        left: 0;
                        top: 0;
                        display: none;

                        &.select {
                            display: block;
                        }
                    }

                    .effectLibraryList {
                        .accordianGroup {
                            position: relative;
                            float: left;

                            > .accordianTitle {
                                position: relative;
                                float: left;
                                text-align: left;

                                &:after {
                                    position: absolute;
                                    left: 0;
                                    bottom: 0;
                                    content: '';
                                    width: 100%;
                                    height: 2px;
                                    @include background(linear-gradient(left, $underlineLinearGradient));
                                }

                                &:before {
                                    position: absolute;
                                    right: 0;
                                    top: 0;
                                    line-height: 2;
                                    text-align: center;
                                    width: 2em;
                                    height: 2em;
                                }
                            }

                            > .accordianBody {
                                position: relative;
                                float: left;

                                .effectPane {

                                    span {
                                        text-align: left;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}