@import "circular-navigation";
@import "color_editor_palette";

$borderColor: rgba(0, 0, 0, 0.4);
$activeBorderShadow: rgba(192, 192, 192, 0.8);

@include color-editor-palette(shadowStopColorPalette);

@mixin text-shadow-editor($textShadowEditorId) {
    ##{$textShadowEditorId} {
        > .textShadowContent {
            position: absolute;
            left: 0;
            top: 0;

            > .textShadowBar {
                position: relative;
                float: left;
                width: 100%;
                height: 2em;

                .textShadowPickerPane {
                    position: relative;
                    float: left;
                    width: 100%;
                    height: 2em;
                    line-height: 2;
                    text-align: center;
                }
            }

            > .textShadowPalette {
                position: relative;
                float: left;
                top: 5px;

                &.show {
                    @extend %flipDown;
                }

                @include flipDownOrigin();
                @include animation-duration(0.3s);

                > .topBar {
                    position: relative;
                    float: left;
                    width: 100%;
                    height: 2em;

                    > .textShadowToolBar {
                        position: relative;
                        width: calc(100% - 0.4em);
                        height: 2em;
                        margin: 0.2em;
                        background: $borderColor;
                        color: #fff;

                        .toolButton {
                            position: relative;
                            float: left;
                            width: 2em;
                            height: 100%;
                            margin-left: -1px;

                            &:before {
                                position: absolute;
                                text-align: center;
                                width: 100%;
                                height: 100%;
                                top: 0px;
                                line-height: 2;
                                border-right: 1px solid #fff;
                                color: #fff;
                                overflow: hidden;
                                @include transition(all 0.5s);
                            }

                            &.select:before {
                                top: 100%;
                                height: 0px;
                            }

                            &:after {
                                position: absolute;
                                text-align: center;
                                width: 100%;
                                height: 0px;
                                color: $borderColor;
                                background: $borderColor;
                                overflow: hidden;
                                @include transition(all 0.5s);
                            }

                            &.select:after {
                                height: 100%;
                                line-height: 2;
                                border-right: 1px solid $borderColor;
                                background: #fff;
                            }
                        }
                    }
                }

                > .tabContents {
                    position: relative;
                    float: left;
                    top: 10px;
                    width: 100%;

                    @include transition(opacity 0.3s);

                    > div[tab-sel^='tab-content'] {
                        position: absolute;
                        width: 100%;
                        opacity: 0;
                        pointer-events: none;

                        @include flipDownOrigin();

                        &.select {
                            pointer-events: auto;
                            opacity: 1;
                            @extend %flipDown;
                        }
                    }

                    > .presetTextShadow {
                        > .accordianGroup {
                            position: relative;
                            float: right;
                            width: 100%;
                            overflow: hidden;

                            > .accordianTitle {
                                position: relative;
                                float: right;
                                text-align: right;
                                z-index: 1;
                                width: 100%;
                                line-height: 2;
                                background: #fff;

                                &:before {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    line-height: 2;
                                    text-align: center;
                                    width: 2em;
                                    height: 2em;

                                    @include transform(rotateZ(0deg));
                                    @include transition(transform 0.3s);
                                }

                                &:after {
                                    position: absolute;
                                    right: 0;
                                    bottom: 0;
                                    content: '';
                                    width: 100%;
                                    height: 2px;
                                    @include background(linear-gradient(right, $underlineLinearGradient));
                                }
                            }

                            > .accordianBody {
                                position: relative;
                                float: right;
                                width: 100%;
                                margin-top: 0.5em;
                                margin-bottom: 0.5em;

                                @include transition(transform 0.3s);

                                .shadowPane {
                                    opacity: 0;
                                    height: 0px;
                                }
                            }

                            &.select {
                                > .accordianTitle:before {
                                    @extend %rotateUpSideDown;
                                    @include animation-duration(0.3s);
                                }

                                > .accordianBody {

                                    .shadowPane {
                                        opacity: 1;
                                        pointer-events: auto;
                                        height: 2em;
                                        line-height: 2;
                                        overflow: visible;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }

                    > .textShadowValuePanes {
                        .shadowStopColorPalette {
                            position: absolute;
                            left: 100%;
                            top: 0px;
                            opacity: 0;
                            pointer-events: none;

                            &.show {
                                pointer-events: auto;
                                opacity: 1;
                                @extend %twisterInDown;
                            }

                        }

                        .shadowStop {
                            position: relative;
                            float: left;
                            width: 100%;
                            height: 5em;
                            margin-bottom: 0.5em;
                            border-radius: 10px;

                            @include box-shadow(0 2px 2px rgba(0, 0, 0, 0.3));

                            .shadowStopNumber {
                                > div {
                                    float: left;
                                    margin-bottom: 0.25em;

                                    label {
                                        text-align: center;
                                    }
                                }
                            }
                            .shadowStopColor {
                                height: 100%;
                                border-radius: 0 10px 10px 0;
                                overflow: hidden;

                                span {
                                    position: relative;
                                    float: left;
                                    width: 100%;
                                    height: 100%;

                                    @include box-shadow(inset 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 2px white);
                                }
                            }

                            @include circular-navigation(circular-menu, 5, 100px, -25px, 50px, 60px, 60px, -0.5, 1.2);

                            .circular-menu {
                                position: absolute;
                                right: 0;
                                top: 0;
                                width: 1px;
                                z-index: 1;

                                .circle {
                                    position: relative;
                                    float: right;
                                    width: 1px;

                                    div {
                                        color: $borderColor;
                                        border: solid 1px $borderColor;
                                        background: #fff;

                                        &:before {
                                            font-size: 32px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.expanded {
            }
        }
    }
}