@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/flexbox";
@import "global";

@mixin toolbar($toolbarContainerId) {
    ##{$toolbarContainerId} {
        .ui-toolbar {
            z-index: 1000;
            position: relative;
            float: left;
            width: 100%;
            height: 100%;

            > div {
                position: relative;
                float: left;
                top: 0.5em;
                width: 2em;
                height: 2em;
                background-color: #ddd;
                box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .135);
                border-radius: 0.2em;
                display: inline-block;
                margin: 0 0.5em 0 0;
                color: $color;

                &:active {
                    background-color: #555;
                    color: $activeColor;
                    box-shadow: none;
                }

                &:before {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    line-height: 2;
                }
            }
        }
    }
}