@import "compass/css3/transform";
@import "compass/css3/transition";
@import "global";

$underlineLinearGradient: (rgb(235, 235, 235) 0%, rgb(235, 235, 235) 50%, #fff 100%);

.pickerPaneWidget {
    position: absolute;
    pointer-events: none;
    width: 10em;
    height: 2em;
    line-height: 2;
    text-align: center;

    @extend %sonarEffect;
    @include animation-duration(2s);
    @include animation-timing-function(ease-out);
    @include animation-iteration-count(infinite);
}

@mixin widget($widgetEditorId) {
    ##{$widgetEditorId} {

        .widgetContent.expanded {
        }

        .widgetContent:not(.expanded) {
        }

        .widgetContent {
            color: $color;
            background: #fff;

            > .widgetBar {
                @include display-flex;
                @include justify-content(center);
                @include align-items(center);

                > .pickerPane {
                    max-height: 1em;
                    text-align: center;

                    @include flex(1);
                }

                > .toggleLibraryButton {
                    span {
                        position: relative;
                        float: left;
                        line-height: 1;
                        width: 100%;
                        text-align: center;

                        @include emboss-title(':before', true);
                    }
                }
            }

            > .widgetPalette {
                background: inherit;

                .accordianGroup {
                    position: relative;
                    float: left;
                    width: 100%;
                    overflow: hidden;

                    > .accordianTitle {
                        z-index: 1;
                        position: relative;
                        float: left;
                        width: 100%;
                        line-height: 2;
                        font-weight: 900;
                        text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
                        background: #fff;

                        &:after {
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            content: '';
                            width: 100%;
                            height: 2px;
                            @include background(linear-gradient(right, $underlineLinearGradient));
                        }

                        &:before {
                            position: absolute;
                            left: 0;
                            top: 0;
                            line-height: 2;
                            text-align: center;
                            width: 1em;
                            height: 2em;

                            @include transform(rotateZ(0deg));
                            @include transition(transform 0.3s);
                        }

                        span {
                            line-height: 2;
                            height: 2em;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            text-overflow: ellipsis;
                            text-align: left;
                            text-indent: 2em;
                            overflow: hidden;
                        }
                    }

                    > .accordianBody {
                        position: relative;
                        float: left;
                        width: 100%;
                        margin-top: 0.5em;
                        margin-bottom: 0.5em;

                        @include transition(transform 0.3s);

                        .widgetPane {
                            opacity: 0;
                            pointer-events: none;
                            height: 0px;
                            overflow: hidden;
                        }
                    }

                    &.select {
                        > .accordianTitle:before {
                            @extend %rotateUpSideDown;
                            @include animation-duration(0.3s);
                        }

                        > .accordianBody {

                            .widgetPane {
                                opacity: 1;
                                pointer-events: auto;
                                height: 2em;
                                line-height: 2;
                                margin-top: 1em;
                                margin-right: 1em;
                                overflow: visible;

                                span {
                                    position: relative;
                                    float: left;
                                    width: calc(100% - 3em);
                                    line-height: 2;
                                    height: 100%;

                                    @include emboss-title('');
                                }

                                .demoButton {
                                    position: relative;
                                    float: left;
                                    width: 2em;
                                    height: 2em;

                                    @include emboss-title(':before');

                                    &:before {
                                        position: absolute;
                                        left: 0;
                                        text-align: center;
                                        width: 100%;
                                        height: 100%;
                                    }
                                }

                                .toggleSelectionButton {
                                    position: relative;
                                    float: left;
                                    width: 2em;
                                    height: 2em;
                                }
                            }
                        }
                    }
                }

                > .widgetLibraryList {
                    z-index: 101;
                    position: absolute;
                    width: 100%;
                    height: auto;
                    left: 0;
                    opacity: 0;
                    pointer-events: none;
                    background: #fff;

                    @extend %slideLeft;
                    @include animation-duration(0.3s);

                    &.select {
                        opacity: 1;
                        pointer-events: auto;

                        @extend %slideLeftRetourn;
                        @include animation-duration(0.3s);

                        &~.accordianGroup {
                            opacity: 0;
                        }
                    }

                    .toggleSelectionButton {
                        height: 2em;

                        &:before {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 2em;
                            line-height: 2;
                            text-align: center;
                        }

                        &.partialSelect:before {
                            color: darken(#fff, $activeDarkenPercent);
                        }
                    }

                }
            }
        }
    }
}