@import "compass/css3/transform";
@import "compass/css3/transition";
@import "bootstrap/mixins/gradients";
@import "global";
@import "simple-dropdown";
@import "color_editor_palette";

$activeColor: #669933;
$underlineLinearGradient: (rgb(235, 235, 235) 0%, rgb(235, 235, 235) 50%, #fff 100%);
$maxNumOfItems: 10;

@include simple-dropdown(null, configurationItemList, $activeColor);

@mixin widget-configurator($widgetConfiguratorId) {
    ##{$widgetConfiguratorId} {
        .configurationContent.expanded {
        }

        .configurationContent:not(.expanded) {
        }

        .configurationContent {
            color: $color;
            background: #fff;

            > .configurationBar {
                @include gradient-horizontal-three-colors(#6699CC, #99CCFF, 50%, #ECF0F1);

                span {
                    position: absolute;
                    top: 5px;
                    left: 0;
                    width: 100%;
                    height: 1em;
                    line-height: 1;
                    text-align: center;
                    font-weight: 600;
                    text-shadow: 0px 2px 3px #666;
                }
            }

            > .configurationPalette {
                background: #fff;
                border: 1px solid $borderColor;

                @include box-shadow(0 4px 3px #555);

                .handDownConfigurationGroup {
                    position: relative;
                    float: left;
                    width: 100%;
                    height: auto;
                    background: #fff;

                    .handDownConfigurationBar {
                        position: relative;
                        float: left;
                        width: 100%;
                        height: 3em;
                        margin-bottom: 5px;
                        border-bottom: 3px solid rgba(0, 0, 0, .135);

                        span {
                            position: relative;
                            float: left;
                            height: 100%;
                            line-height: 3;

                            &.handDownButton {
                                background-color: #ddd;
                                box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .135);
                                border-radius: 0.2em;
                                display: inline-block;

                                &:active {
                                    background-color: #555;
                                    box-shadow: none;
                                }

                                &:before {
                                    position: absolute;
                                    width: 100%;
                                    line-height: 1;
                                    top: calc(50% - 0.5em);
                                    text-align: center;
                                    color: #fff;

                                    @include transition(color 1s);
                                }

                                &.dirty:before {
                                    color: $color;
                                }

                                &.handingDown {
                                    pointer-events: none;
                                    background-image: url('../images/image-widget-configurator/loading-bubbles.svg');
                                    background-repeat: no-repeat;
                                    background-position: center center;

                                    &:before {
                                        content: "";
                                    }
                                }
                            }

                            &.handDownTitle {
                                text-align: center;
                                font-weight: 900;
                                text-shadow: 0px 2px 3px #ccc;
                            }
                        }
                    }
                }

                .configurationPane {
                    position: relative;
                    float: left;
                    width: calc(100% - 0.2em);
                    height: 2em;
                    background: #fff;

                    &:after {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        content: '';
                        width: 100%;
                        height: 2px;

                        @include background(linear-gradient(left, $underlineLinearGradient));
                    }

                    > .input-group {
                        top: calc(50% - 0.75em);
                    }

                    $i: $maxNumOfItems;
                    @while $i > 0 {
                        &:nth-of-type(#{$i}) {
                            z-index: $maxNumOfItems - $i + 3;
                        }
                        $i: $i - 1;
                    }

                    .configurationItemCheckBox {
                        > div {
                            left: 50%;
                        }
                    }

                    .configurationItemNumber {
                        input {
                            &::-webkit-inner-spin-button,
                            &::-webkit-outer-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }

                            position: absolute;
                            left: 0;
                            top: 0;
                            width: calc(100% - 2em);
                            height: 2em;
                        }
                    }

                    .configurationItemWritableList {

                        .configurationBar {
                            z-index: 1;
                            width: 100%;
                            height: 2em;
                            line-height: 2;
                            background: #fff;
                            text-align: center;

                            @include box-shadow(0 1px 4px #A4A4A4, 0 0 40px #E0E0E0 inset);
                            @include gradient-horizontal(#3399cc, #ecf0f1);

                            &.select {
                                @include box-shadow(0 8px 6px -6px black);
                            }

                            &:before {
                                position: relative;
                                float: left;
                                top: calc(50% - 0.5em);
                                line-height: 1;
                                text-align: center;
                                width: 1em;
                                font-weight: 900;
                            }

                            span {
                                position: relative;
                                float: left;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 1;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                        }

                        .configurationPanel {
                            z-index: 1;
                            position: absolute;
                            top: 100%;
                            width: 100%;
                            margin-top: 5px;
                            pointer-events: none;
                            opacity: 0;
                            @include flipDownOrigin();

                            .emptyConfigurationItemOption {
                                position: relative;
                                float: left;
                                height: 3.4em;

                                > span {
                                    display: block;
                                    position: relative;
                                    float: left;
                                    width: 100%;
                                    height: calc(100% - 1.4em);
                                    outline: 1px dashed;
                                    margin: 0.7em 0;
                                    line-height: 2;
                                    text-align: center;
                                    background-color: #ccc;

                                    @include transition(0.3s);
                                    @include gradient-striped();

                                    &:hover {
                                        background-color: darken(#ccc, $activeDarkenPercent);;
                                    }

                                    &:active {
                                        top: 2px;
                                    }
                                }

                                > .configurationItemOptionInput {
                                    display: none;
                                }

                                &.select {
                                    > span {
                                        display: none;
                                    }

                                    > .configurationItemOptionInput {
                                        display: table;

                                        position: relative;
                                        float: left;
                                        width: 100%;
                                        height: calc(100% - 1.4em);
                                        margin: 0.7em 0;
                                        line-height: 2;

                                        > input {
                                            line-height: 2 !important;
                                            height: calc(2em + 3px) !important;
                                        }

                                        > span {
                                            padding-top: 0;
                                            padding-bottom: 0;

                                            &:before {
                                                position: relative;
                                                float: left;
                                                width: 100%;
                                                height: 100%;
                                                text-align: center;
                                                line-height: 2;
                                            }
                                            &:active {
                                                background: darken($input-group-addon-bg, $activeDarkenPercent);
                                            }
                                        }
                                    }
                                }
                            }

                            .configurationItemOption {
                                display: block;
                                position: relative;
                                float: left;
                                height: auto;
                                width: 100%;
                                overflow: hidden;

                                &:after {
                                    position: absolute;
                                    right: 0;
                                    bottom: 0;
                                    content: '';
                                    width: 100%;
                                    height: 2px;

                                    @include background(linear-gradient(left, $underlineLinearGradient));
                                }

                                span {
                                    position: relative;
                                    float: left;
                                    width: 100%;
                                    height: 100%;
                                    line-height: 2;

                                    @include gradient-horizontal(#3399cc, #ecf0f1);

                                    &:before {
                                        position: relative;
                                        float: left;
                                        line-height: 2;
                                        width: 2em;
                                        text-align: center;
                                    }
                                }

                                .deleteButton {
                                    position: absolute;
                                    right: 2px;
                                    top: 2px;
                                    width: 1.5em;
                                    height: 1.5em;
                                    border-radius: 100%;
                                    background: rgba(#ccc, 0.7);

                                    &:before {
                                        position: absolute;
                                        width: 1em;
                                        height: 1em;
                                        line-height: 1;
                                        margin: 0.25em;
                                        text-align: center;
                                        font-weight: 600;
                                        color: #fff;
                                        text-shadow: 0px 2px 3px #aaa, 0px 2px 1px #fff;
                                    }

                                    &:active {
                                        background: rgba(#ccc, 0.3);
                                        &:before {
                                            color: #888;
                                        }
                                    }
                                }
                            }

                            &.show {
                                padding-bottom: 10px;
                                background: #fff;
                                pointer-events: auto;
                                opacity: 1;

                                @include box-shadow(0 3px 3px 0px black);
                                @extend %flipDown;
                                @include animation-duration(0.3s);
                            }
                        }
                    }

                    .configurationItemColor {
                        height: 100%;

                        .configurationColorBar {
                            height: 100%;

                            @include box-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
                            @include transform-style(preserve-3d);
                            @include transform-origin(50% 0%);
                            @include transition(transform 0.3s);

                            @include backface-visibility(hidden);
                            @include user-select(none);
                            -webkit-touch-callout: none;

                            &:after {
                                content: '\25BC';
                                position: absolute;
                                right: 0px;
                                width: 2em;
                                line-height: 2;
                                text-align: center;
                                border-left: 1px solid #ddd;
                            }

                            &:active {
                                @include transform(rotateX(60deg));
                            }

                            .configurationColorPickerPane {
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: calc(100% - 2em);
                                height: 2em;
                                line-height: 2;
                                text-align: center;
                            }
                        }

                        .configurationColorPalette {
                            z-index: 1;
                            position: absolute;
                            top: 50px !important;
                            left: 0;
                            width: 200% !important;
                            padding-top: 15px;
                            opacity: 0;
                            pointer-events: none;

                            &.show {
                                pointer-events: auto;
                                opacity: 1;

                                @extend %twisterInDown;
                            }
                        }

                        @include color_editor_palette(null, configurationColorPalette);
                    }
                }
            }
        }
    }
}