@import "compass/css3";
@import "bootstrap/mixins/gradients";
@import "global";
@import "animation/directive_animation_keyframes";
@import "animation/directive_animation";
@import "creative-link";

$reveal-value-map: map-merge($default-creative-link-value-map, (color: $green1));
$fallDown-value-map: map-merge($default-creative-link-value-map, (color: $blue0, inactiveColor: $blue3));
$chatColor: #666;

.chatContainer {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;

    > .modalWindowContainer {
        position: relative;
        float: left;
        width: 100%;
        height: 100%;

        > div {
            position: absolute;
            width: 100% !important;
            height: 100% !important;
            max-width: none;
            max-height: none;
            top: 0px;
            left: 0px;

            &.md-modal {
                @include transform(translateX(0%) translateY(0%));
            }
        }

        .chatModalContent {
            position: absolute;
            width: 80%;
            height: 80%;
            top: 10%;
            left: 10%;

            @include box-shadow(0px 2px 3px black);
            @include background(linear-gradient(left, ($chatColor 0%, rgba($chatColor, $activeDarkenPercent) 50%, $chatColor 100%)));

            > div {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }

        > .modalOverlay {
            background: rgba($blue1, 0.4);
        }
    }

    .contactPanel {
        position: relative;
        float: left;
        height: 100%;

        @include background(linear-gradient(left, ($chatColor 0%, rgba($chatColor, $activeDarkenPercent) 50%, $chatColor 100%)));

        .userHeader {
            position: relative;
            float: left;
            width: 100%;
            height: 3em;
            line-height: 3;

            @include display-flex;
            @include flex-direction(row);
            @include justify-content(center);
            @include align-items(center);

            .contactAvatar {
                position: relative;
                float: left;
                width: 3em;
                height: 3em;

                &:before {
                    position: absolute;
                    width: 1em;
                    height: 1em;
                    left: calc(50% - 0.5em);
                    top: calc(50% - 0.5em);
                    color: white;
                }

                img {
                    width: calc(100% - 10px);
                    height: calc(100% - 10px);
                    margin: 5px;
                }
            }

            .userLabel {
                @include flex(1);

                .userLabelContainer {
                    position: relative;
                    float: left;
                    width: 100%;
                    height: 100%;

                    .userName {
                        position: relative;
                        float: left;
                        width: 100%;
                        height: 100%;
                        color: white;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        text-overflow: ellipsis;
                        text-align: left;
                        overflow: hidden;
                    }

                    .invitationFlag {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 1em;
                        height: 1em;
                        margin-bottom: 5px;
                        color: $blue6;

                        &.select {
                            color: $blue1;
                        }
                    }
                }
            }

            #chatUserDropdown {
                position: relative;
                float: right;
                width: 3em;
                height: 3em;

                #chatUserMenu {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;

                    &:after {
                        position: absolute;
                        width: 1em;
                        height: 1em;
                        left: calc(50% - 0.5em);
                        top: calc(50% - 0.5em);
                        color: white;
                    }
                }

                .dropdown-menu {
                    width: 14em;
                    overflow: hidden;
                    padding-bottom: 0.5em;

                    li:not(.divider) {
                        position: relative;
                        height: 2.5em;
                        color: $chatColor;

                        &:before {
                            position: absolute;
                            top: calc(50% - 1em);
                            width: 2em;
                            text-align: center;
                            line-height: 2;
                            color: $green2;
                        }

                        &:active {
                            color: $activeColor;
                        }

                        a {
                            position: relative;
                            left: 2.5em;
                            line-height: 2.5;

                            &:active {
                                color: $activeColor;
                            }
                        }
                    }
                }
            }
        }

        .contactDetail {
            position: relative;
            float: left;
            width: 100%;
            height: calc(100% - 3em);

            > nav {
                position: relative;
                float: left;
                width: 100%;
                height: 2em;
                z-index: 1;

                @include box-shadow(0px 2px 3px black);

                > [ui-creative-link] {
                    position: relative;
                    float: left;
                    width: 50%;
                    height: 2em;

                    .linkContent span {
                        text-align: center;
                    }

                    &:not(.select):not(:first-child):before {
                        z-index: 1;
                        position: absolute;
                        content: "";
                        width: 1px;
                        height: 100%;
                        border-left: 1px solid #CACDC0;
                        border-right: 1px solid #FFF;
                    }
                }

                @include creative-link($reveal-value-map...);
            }

            .contactContent {
                position: relative;
                float: left;
                width: 100%;
                height: calc(100% - 2em);

                > div {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    overflow-y: auto;

                    @include backface-visibility(hidden);
                    @include transform(translate3d(0, 0, 0));
                    @include transform-style(preserve-3d);

                    &.select {
                        @extend %tab_moveFromLeft;
                        pointer-events: auto;
                    }

                    @extend %tab_moveToRightFade;

                    &[content='message'] {
                        background: #E6E6E6;
                        @include gradient-vertical-three-colors(#E6E6E6, rgba(#E6E6E6, 0.9), 50%, #E6E6E6);

                        .userName, .chat {
                            position: relative;
                            float: left;
                            width: 100%;
                            height: 3em;
                            color: $chatColor;
                            cursor: pointer;

                            @include display-flex;
                            @include flex-direction(row);
                            @include justify-content(center);
                            @include align-items(center);

                            &:after {
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                content: '';
                                width: 100%;
                                height: 2px;
                                @include background(linear-gradient(right, $underlineLinearGradient));
                            }

                            &.select {
                                background: darken(#E6E6E6, 10%);
                            }

                            .userAvatar, .chatThumbnail {
                                position: relative;
                                float: left;
                                width: 3em;
                                height: 3em;

                                &:before {
                                    position: absolute;
                                    width: 1em;
                                    height: 1em;
                                    left: calc(50% - 0.5em);
                                    top: calc(50% - 0.5em);
                                    color: white;
                                }

                                img {
                                    width: calc(100% - 10px);
                                    height: calc(100% - 10px);
                                    margin: 5px;
                                }
                            }

                            span {
                                @include flex(1);
                                line-height: 3;
                            }
                        }
                    }

                    &[content='friend'] {
                        @include gradient-vertical-three-colors(#7f8c8d, rgba(#7f8c8d, 0.9), 50%, #7f8c8d);

                        .initial {
                            position: relative;
                            float: left;
                            width: 100%;
                            height: 2em;
                            line-height: 2;
                            background: darken(#7f8c8d, 10%);
                            color: $color;
                        }

                        .userName {
                            position: relative;
                            float: left;
                            width: 100%;
                            height: 3em;
                            color: #fff;
                            cursor: pointer;

                            @include display-flex;
                            @include flex-direction(row);
                            @include justify-content(center);
                            @include align-items(center);

                            &.select {
                                background: lighten(#7f8c8d, 10%);
                            }

                            .userAvatar {
                                position: relative;
                                float: left;
                                width: 3em;
                                height: 3em;

                                &:before {
                                    position: absolute;
                                    width: 1em;
                                    height: 1em;
                                    left: calc(50% - 0.5em);
                                    top: calc(50% - 0.5em);
                                    color: white;
                                }

                                img {
                                    width: calc(100% - 10px);
                                    height: calc(100% - 10px);
                                    margin: 5px;
                                }
                            }

                            span {
                                @include flex(1);
                                line-height: 3;
                            }
                        }
                    }
                }
            }
        }
    }

    #chatPanel {
        position: relative;
        float: left;
        height: 100%;
        background-image: url('../images/image-chat/chat_bg.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        #chatHeader {
            position: relative;
            float: left;
            height: 3em;
            line-height: 3;

            &:after {
                position: absolute;
                right: 0;
                bottom: 0;
                content: '';
                width: 100%;
                height: 2px;

                @include background(linear-gradient(left, $underlineLinearGradient));
            }
        }

        #chatContent {
            position: relative;
            float: left;
            height: calc(100% - 3em);
            overflow: hidden;

            @include display-flex;
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(center);

            #chatListContainer {
                @include flex(1);
                width: 100%;

                #conversationItems {
                    position: relative;
                    float: left;
                    width: 100%;
                    height: 300%;
                    background: transparent;
                }

                .chatConversation {
                    position: relative;
                    float: left;
                    width: 100%;

                    @include display-flex;
                    @include flex-direction(row);
                    @include justify-content(center);
                    @include align-items(center);

                    p {
                        @include flex(1);
                        word-wrap: break-word;
                        margin: 1em 0;
                    }

                    .conversationAvatar {
                        position: relative;
                        width: 3em;
                        height: 3em;
                        opacity: 0;

                        img {
                            display: none;
                        }

                        &:nth-of-type(1) {
                            float: left;
                        }

                        &:nth-of-type(2) {
                            float: right;
                        }

                        &.sender {
                            opacity: 1;

                            &:before {
                                position: absolute;
                                width: 1em;
                                height: 1em;
                                left: calc(50% - 0.5em);
                                top: calc(50% - 0.5em);
                                color: white;
                            }

                            img {
                                width: calc(100% - 10px);
                                height: calc(100% - 10px);
                                margin: 5px;
                            }
                        }
                    }

                }
            }

            #chatInputContainer {
                position: relative;
                float: left;
                height: 3em;
                width: 100%;

                @include gradient-horizontal-three-colors(#666, rgba(#666, 0.4), 50%, #666);

                textarea {
                    position: relative;
                    float: left;
                    width: calc(100% - 5em);
                    height: 100%;
                    background: transparent;
                    color: #fff;
                    resize: none;
                }

                #sendButton {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 2em;
                    height: 2em;
                    background-color: #ddd;
                    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .135);
                    border-radius: 0.2em;
                    display: inline-block;
                    margin: 0.5em;
                    color: $color;
                    overflow: hidden;

                    &:active {
                        background-color: #555;
                        color: $activeColor;
                        box-shadow: none;
                    }

                    &:before {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        line-height: 2;
                    }
                }
            }
        }
    }

    .chatTopBar {
        position: relative;
        width: 100%;
        height: 3em;
        background: #888;
        z-index: 100;

        .chatButton {
            position: relative;
            float: right;
            top: 0.5em;
            width: 2em;
            height: 2em;
            background-color: #ddd;
            box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .135);
            border-radius: 0.2em;
            display: inline-block;
            margin-right: 0.5em;
            color: $color;
            overflow: hidden;

            &:active {
                background-color: #555;
                color: $activeColor;
                box-shadow: none;
            }

            &.chatToggleButton.select {
                background-color: #555;
                color: $activeColor;
                box-shadow: none;
            }

            &:before {
                position: absolute;
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 2;
            }
        }
    }

    #add-friend-control {
        .userDisplayQrCode {
            z-index: 1;
            position: relative;
            float: left;
            top: calc(50% - 1em);
            width: 2em;
            height: 2em;
            color: #666;

            &:before {
                position: absolute;
                width: 100%;
                height: 100%;
                line-height: 2;
                text-align: center;

                @include transition(all 0.3s);
            }
        }

        .userQrCode {
            position: absolute;
            width: 4em;
            height: 4em;
            z-index: 1;
            background: rgba(255, 255, 255, 0.7);
            pointer-events: none;
            opacity: 0;

            &.show {
                pointer-events: auto;
                @extend %puffIn;
            }

            &.hiding {
                pointer-events: none;
                @extend %puffOut;
            }

            .qrCodeImg {
                position: absolute;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
            }
        }

        .searchButton {
            border-radius: 0 0.2em 0.2em 0;
        }

        .searchInput {
            position: relative;
            float: right;
            top: 0.5em;
            width: 12em;
            height: 2em;
            border-radius: 0.2em 0 0 0.2em;
            overflow: hidden;

            input {
                position: relative;
                float: right;
                line-height: 2;
                width: 100%;
                line-height: 2;
                padding: 0;
                border: 0px inset;
            }
        }

        .searchUserContent {
            position: relative;
            width: 100%;
            height: calc(100% - 3em);
            overflow: auto;

            .searchUserItem {
                position: relative;
                float: left;
                width: 150px;
                height: 150px;
                margin: 15px;
                overflow: visible;

                @include display-flex;
                @include flex-direction(column);
                @include justify-content(center);
                @include align-items(center);

                &:active {
                    opacity: $touchOpacity;
                }

                &:after {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 1em;
                    height: 1em;
                    line-height: 1;
                    text-align: center;
                    opacity: 0;
                    color: $green1;

                    @include transition(opacity 0.3s);
                }

                &.select:after {
                    opacity: 1;
                }

                .itemAvatar {
                    position: relative;
                    float: left;
                    width: 60px;
                    height: 60px;
                    border-radius: 100%;
                    color: $blue1;
                    background: $lightColor;

                    &:before {
                        position: relative;
                        left: calc(50% - 0.5em);
                        top: calc(50% - 0.5em);
                        width: 1em;
                        height: 1em;
                        line-height: 1;
                        font-size: 32px;
                        color: white;
                    }

                    img {
                        width: calc(100% - 10px);
                        height: calc(100% - 10px);
                        margin: 5px;
                    }
                }

                .itemName {
                    width: 100%;
                    @include flex(1);

                    span {
                        position: relative;
                        float: left;
                        width: 100%;
                        line-height: 3;
                        height: 3em;
                        color: $blue1;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        text-overflow: ellipsis;
                        text-align: center;
                        overflow: hidden;
                    }
                }
            }
        }
    }

    #create-discussion-control {
        #discussionList {
            position: relative;
            float: left;
            height: 100%;

            #chatListContent {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                color: $chatColor;
                overflow-y: auto;

                #pendingChat {
                    position: relative;
                    float: left;
                    width: 100%;
                    height: 3em;
                    color: $chatColor;
                    background: #aaa;
                    overflow: hidden;

                    @include display-flex;
                    @include flex-direction(row);
                    @include justify-content(center);
                    @include align-items(center);

                    &.select + .chat {
                        margin-top: 3em;
                        @include transition(margin 1s);
                    }

                    .chatInput {
                        margin: 0 0.5em;
                        @include flex(1);
                    }

                    .chatButton {
                        position: relative;
                        float: right;
                        width: 2em;
                        height: 2em;
                        background-color: #ddd;
                        box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .135);
                        border-radius: 0.2em;
                        display: inline-block;
                        margin-right: 0.5em;
                        color: $color;
                        overflow: hidden;

                        &:active {
                            background-color: #555;
                            color: $activeColor;
                            box-shadow: none;
                        }

                        &:before {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            line-height: 2;
                        }
                    }
                }

                .chat {
                    position: relative;
                    float: left;
                    width: 100%;
                    height: 3em;
                    color: $chatColor;
                    cursor: pointer;

                    @include display-flex;
                    @include flex-direction(row);
                    @include justify-content(center);
                    @include align-items(center);
                    @include transition(margin 1s);

                    &:after {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        content: '';
                        width: 100%;
                        height: 2px;
                        @include background(linear-gradient(right, $underlineLinearGradient));
                    }

                    &.select {
                        background: darken(#E6E6E6, 10%);
                    }

                    .chatThumbnail {
                        position: relative;
                        float: left;
                        width: 3em;
                        height: 3em;

                        &:before {
                            position: absolute;
                            width: 1em;
                            height: 1em;
                            left: calc(50% - 0.5em);
                            top: calc(50% - 0.5em);
                            color: white;
                        }

                        img {
                            width: calc(100% - 10px);
                            height: calc(100% - 10px);
                            margin: 5px;
                        }
                    }

                    span {
                        @include flex(1);
                        line-height: 3;
                    }
                }
            }
        }
        #discussionUserContent {
            position: relative;
            float: left;
            height: 100%;

            #chatUserContainer {
                position: relative;
                float: left;
                width: 100%;
                height: 50%;
                overflow-y: auto;

                @include gradient-vertical-three-colors($green1, rgba($green1, 0.9), 50%, $green1);

                .chatUser {
                    position: relative;
                    float: left;
                    width: 150px;
                    height: 150px;
                    margin: 15px;
                    overflow: visible;

                    @include display-flex;
                    @include flex-direction(column);
                    @include justify-content(center);
                    @include align-items(center);

                    &:active {
                        opacity: $touchOpacity;
                    }

                    &:after {
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 1em;
                        height: 1em;
                        line-height: 1;
                        text-align: center;
                        opacity: 0;
                        color: $green1;

                        @include transition(opacity 0.3s);
                    }

                    &.select:after {
                        opacity: 1;
                    }

                    .itemAvatar {
                        position: relative;
                        float: left;
                        width: 60px;
                        height: 60px;
                        border-radius: 100%;
                        color: $blue1;
                        background: $lightColor;

                        &:before {
                            position: relative;
                            left: calc(50% - 0.5em);
                            top: calc(50% - 0.5em);
                            width: 1em;
                            height: 1em;
                            line-height: 1;
                            font-size: 32px;
                            color: white;
                        }

                        img {
                            width: calc(100% - 10px);
                            height: calc(100% - 10px);
                            margin: 5px;
                        }
                    }

                    .itemName {
                        width: 100%;
                        @include flex(1);

                        span {
                            position: relative;
                            float: left;
                            width: 100%;
                            line-height: 3;
                            height: 3em;
                            color: $blue1;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            text-overflow: ellipsis;
                            text-align: center;
                            overflow: hidden;
                        }
                    }
                }
            }

            #chatFriendContainer {
                position: relative;
                float: left;
                width: 100%;
                height: 50%;

                @include gradient-vertical-three-colors($blue3, rgba($blue3, 0.9), 50%, $blue3);

                #chatFriendList {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    overflow-y: auto;

                    .chatFriend {
                        position: relative;
                        float: left;
                        width: 150px;
                        height: 150px;
                        margin: 15px;
                        overflow: visible;

                        @include display-flex;
                        @include flex-direction(column);
                        @include justify-content(center);
                        @include align-items(center);

                        &:active {
                            opacity: $touchOpacity;
                        }

                        &:after {
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 1em;
                            height: 1em;
                            line-height: 1;
                            text-align: center;
                            opacity: 0;
                            color: $green1;

                            @include transition(opacity 0.3s);
                        }

                        &.select:after {
                            opacity: 1;
                        }

                        .itemAvatar {
                            position: relative;
                            float: left;
                            width: 60px;
                            height: 60px;
                            border-radius: 100%;
                            color: $blue1;
                            background: $lightColor;

                            &:before {
                                position: relative;
                                left: calc(50% - 0.5em);
                                top: calc(50% - 0.5em);
                                width: 1em;
                                height: 1em;
                                line-height: 1;
                                font-size: 32px;
                                color: white;
                            }

                            img {
                                width: calc(100% - 10px);
                                height: calc(100% - 10px);
                                margin: 5px;
                            }
                        }

                        .itemName {
                            width: 100%;
                            @include flex(1);

                            span {
                                position: relative;
                                float: left;
                                width: 100%;
                                line-height: 3;
                                height: 3em;
                                color: $blue1;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 1;
                                text-overflow: ellipsis;
                                text-align: center;
                                overflow: hidden;
                            }
                        }
                    }
                }

                #chatInvitationButton {
                    position: absolute;
                    bottom: 0.5em;
                    right: 1em;
                    width: 2em;
                    height: 2em;
                    background-color: #ddd;
                    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .135);
                    border-radius: 0.2em;
                    display: inline-block;
                    color: $color;
                    overflow: hidden;

                    &:active {
                        background-color: #555;
                        color: $activeColor;
                        box-shadow: none;
                    }

                    &:before {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        line-height: 2;
                    }
                }

            }
        }
    }

    #invitation-control {
        .invitationTopBar {
            position: relative;
            float: left;
            width: 100%;
            height: 2em;
            z-index: 1;

            @include box-shadow(0px 2px 3px black);

            > [ui-creative-link] {
                position: relative;
                float: left;
                width: 30%;
                height: 2em;

                &:not(:last-child):before {
                    margin-right: 1em;
                }

                .linkContent span {
                    text-align: center;
                }
            }

            @include creative-link($fallDown-value-map...);
        }

        .invitationContent {
            position: relative;
            float: left;
            width: 100%;
            height: calc(100% - 2em);

            > div {
                position: absolute;
                width: 100%;
                height: 100%;
                pointer-events: none;
                overflow-y: auto;
                background-color: #888;
                opacity: 0;

                @include backface-visibility(hidden);
                @include transform-style(preserve-3d);
                @include transform-origin(50% 50%);
                @include transform(scale(0, 0));

                &.select {
                    pointer-events: auto;
                }

                &[content='invitation'] {
                    @include gradient-vertical-three-colors(#E6E6E6, rgba(#E6E6E6, 0.9), 50%, #E6E6E6);

                    .invitationItem {
                        @include display-flex;
                        @include flex-direction(row);
                        @include justify-content(center);
                        @include align-items(center);

                        .userAvatar {
                            position: relative;
                            float: left;
                            width: 3em;
                            height: 3em;

                            &:before {
                                position: absolute;
                                width: 1em;
                                height: 1em;
                                left: calc(50% - 0.5em);
                                top: calc(50% - 0.5em);
                                color: white;
                            }

                            img {
                                width: calc(100% - 10px);
                                height: calc(100% - 10px);
                                margin: 5px;
                            }
                        }

                        span {
                            @include flex(1);
                            line-height: 3;
                            color: $blue3;
                        }

                        .invitationButton {
                            position: relative;
                            float: right;
                            top: 0.5em;
                            width: 4em;
                            height: 2em;
                            line-height: 2;
                            text-align: center;
                            background-color: #ddd;
                            box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .135);
                            border-radius: 0.2em;
                            display: inline-block;
                            margin-right: 0.5em;
                            color: $color;
                            overflow: hidden;

                            &:active {
                                background-color: #555;
                                color: $activeColor;
                                box-shadow: none;
                            }

                            &:before {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                text-align: center;
                                line-height: 2;
                            }
                        }
                    }
                }

                &[content='chatInvitation'] {
                    @include gradient-vertical-three-colors(#7f8c8d, rgba(#7f8c8d, 0.9), 50%, #7f8c8d);

                    .chatInvitationItem {
                        @include display-flex;
                        @include flex-direction(row);
                        @include justify-content(center);
                        @include align-items(center);

                        .userAvatar {
                            position: relative;
                            float: left;
                            width: 3em;
                            height: 3em;

                            &:before {
                                position: absolute;
                                width: 1em;
                                height: 1em;
                                left: calc(50% - 0.5em);
                                top: calc(50% - 0.5em);
                                color: white;
                            }

                            img {
                                width: calc(100% - 10px);
                                height: calc(100% - 10px);
                                margin: 5px;
                            }
                        }

                        span {
                            @include flex(1);
                            line-height: 3;
                            color: $blue0;
                        }

                        .invitationButton {
                            position: relative;
                            float: right;
                            top: 0.5em;
                            width: 4em;
                            height: 2em;
                            line-height: 2;
                            text-align: center;
                            background-color: #ddd;
                            box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .135);
                            border-radius: 0.2em;
                            display: inline-block;
                            margin-right: 0.5em;
                            color: $color;
                            overflow: hidden;

                            &:active {
                                background-color: #555;
                                color: $activeColor;
                                box-shadow: none;
                            }

                            &:before {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                text-align: center;
                                line-height: 2;
                            }
                        }
                    }
                }
            }
        }
    }
}
