@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/flexbox";
@import "animation/directive_animation_keyframes";
@import "animation/directive_animation";
@import "border-editor";
@import "color_picker";
@import "gradient_editor";
@import "text-shadow-editor";
@import "box-shadow-editor";
@import "shape";
@import "widget";
@import "sketch_widget";
@import "horizontal-ruler";
@import "vertical-ruler";
@import "dock";
@import "page";
@import "state_transition";
@import "normalize_include";

@include border-editor(border-control);
@include color-picker(color-control);
@include color-picker(border-color-control);
@include gradient-editor(fill-control);
@include text-shadow-editor(text-shadow-control);
@include box-shadow-editor(box-shadow-control);
@include shape(shape-control);
@include widget(widget-control);
@include page(page-control);
@include sketch-widget(sketchHolder);
@include horizontal-ruler(horizontalRuler);
@include vertical-ruler(verticalRuler);
@include dock(sketchControls);
@include state-transition(state-transition-control);
@include normalize-include(frameSketchWidgetDemoArea);

$activeBackgroundColor: rgba(0, 0, 0, 0.3);
$zIndexWidgetText: 100;

#frameSketchContainer {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;

    > .modalWindowContainer {
        position: relative;
        float: left;
        width: 100%;
        height: 100%;

        > div {
            position: absolute;
            width: 100%;
            height: 100%;
            max-width: none;
            max-height: none;
            top: 0px;
            left: 0px;

            &.md-modal {
                @include transform(translateX(0%) translateY(0%));
            }
        }

        .frameSketchModalContent {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #fff;

            .hideButton {
                position: absolute;
                top: 0.5em;
                width: 2em;
                height: 2em;
                background-color: #ddd;
                box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .135);
                border-radius: 0.2em;
                display: inline-block;
                margin: 0 0.5em;

                &:active {
                    background-color: #555;
                    color: $activeColor;
                    box-shadow: none;
                }

                &:before {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    line-height: 2;
                }
            }

            .frameSketchDemoContainer {
                position: absolute;
                top: 2em;
                width: calc(100% - 2em);
                height: calc(100% - 4em);
                margin: 1em;

                #frameSketchWidgetDemoArea {
                    position: relative;
                    float: left;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

#sketchContainer {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;

    #sketchHolder {
        position: relative;
        float: left;
        width: 100%;
        height: calc(100% - 3em);
        overflow: hidden;

        @include display-flex;
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(center);

        .deviceBackground {
            @include flex(1);

            background-repeat: no-repeat;
            background-position: center center;

            @include display-flex;
            @include flex-direction(row);
            @include justify-content(center);
            @include align-items(center);

            .deviceScreenBackground {
                @include flex(1);

                .deviceScreen {
                    position: relative;
                    float: left;

                    .deviceHolder {
                        position: relative;
                        float: left;
                        overflow: hidden;

                        .pageHolder {
                            z-index: 0;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                            color: #000;

                            .sketchWidget {
                                position: absolute;

                                &.widgetHover {
                                    @include box-shadow(3px 3px 5px 6px rgba(0, 0, 0, 0.4));
                                }
                            }

                            .resize {
                                position: absolute;
                            }

                            .widgetIncludeAnchor {
                                position: absolute;
                                width: 100%;
                                height: 100%;

                                .widgetContainer {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;

                                    > div {
                                        position: absolute;
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }

                    .ruler {
                        position: absolute;
                    }

                    #widgetText {
                        z-index: $zIndexWidgetText;
                        position: absolute;
                    }
                }

            }
        }
    }
}