@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/flexbox";
@import "animation/directive_animation_keyframes";
@import "animation/directive_animation";
@import "border-editor";
@import "color_picker";
@import "gradient_editor";
@import "text-shadow-editor";
@import "box-shadow-editor";
@import "shape";
@import "sketch_widget";
@import "horizontal-ruler";
@import "vertical-ruler";
@import "dock";
@import "page";
@import "state_transition";
@import "modal-window";

@include border-editor(border-control);
@include color-picker(color-control);
@include color-picker(border-color-control);
@include gradient-editor(fill-control);
@include text-shadow-editor(text-shadow-control);
@include box-shadow-editor(box-shadow-control);
@include shape(shape-control);
@include page(page-control);
@include sketch-widget(sketchHolder);
@include horizontal-ruler(horizontalRuler);
@include vertical-ruler(verticalRuler);
@include dock(sketchControls);
@include state-transition(state-transition-control);

$activeBackgroundColor: rgba(0, 0, 0, 0.3);
$zIndexWidgetText: 100;

#sketchContainer {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;

    #sketchHolder {
        position: relative;
        float: left;
        width: 100%;
        height: calc(100% - 3em);

        @include display-flex;
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(center);

        .deviceBackground {
            @include flex(1);

            background-repeat: no-repeat;
            background-position: center center;

            @include display-flex;
            @include flex-direction(row);
            @include justify-content(center);
            @include align-items(center);

            .deviceScreenBackground {
                @include flex(1);

                .deviceScreen {
                    position: relative;
                    float: left;

                    .deviceHolder {
                        position: relative;
                        float: left;
                        overflow: hidden;

                        .pageHolder {
                            z-index: 0;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                            color: #000;

                            .sketchWidget {
                                position: absolute;

                                &.widgetHover {
                                    @include box-shadow(3px 3px 5px 6px rgba(0, 0, 0, 0.4));
                                }
                            }

                            .resize {
                                position: absolute;
                            }
                        }
                    }

                    .ruler {
                        position: absolute;
                    }

                    #widgetText {
                        z-index: $zIndexWidgetText;
                        position: absolute;
                    }
                }

            }
        }
    }
}