@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/flexbox";
@import "animation/directive_animation_keyframes";
@import "animation/directive_animation";
@import "border-editor";
@import "widget-configurator";
@import "color_picker";
@import "gradient_editor";
@import "background-image-editor";
@import "text-shadow-editor";
@import "box-shadow-editor";
@import "shape";
@import "widget";
@import "sketch_widget";
@import "horizontal-ruler";
@import "vertical-ruler";
@import "dock";
@import "page";
@import "state_transition";
@import "normalize_include";

@include border-editor(border-control);
@include widget-configurator(widget-configurator-control);
@include color-picker(color-control);
@include color-picker(border-color-control);
@include gradient-editor(fill-control);
@include background-image-editor(background-image-control);
@include text-shadow-editor(text-shadow-control);
@include box-shadow-editor(box-shadow-control);
@include shape(shape-control);
@include widget(widget-control);
@include page(page-control);
@include sketch-widget(sketchHolder);
@include horizontal-ruler(horizontalRuler);
@include vertical-ruler(verticalRuler);
@include dock(sketchControls);
@include state-transition(state-transition-control);
@include normalize-include(frameSketchWidgetDemoArea);

$activeBackgroundColor: rgba(0, 0, 0, 0.3);
$zIndexWidgetText: 100;

#frameSketchContainer {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;

    > .modalWindowContainer {
        position: relative;
        float: left;
        width: 100%;
        height: 100%;

        > div {
            position: absolute;
            width: 100% !important;
            height: 100% !important;
            max-width: none;
            max-height: none;
            top: 0px;
            left: 0px;

            &.md-modal {
                @include transform(translateX(0%) translateY(0%));
            }
        }

        .frameSketchModalContent {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #fff;

            #frameSketchDemoModal {
                position: absolute;
                width: 100%;
                height: 100%;

                .hideButton {
                    position: absolute;
                    top: 0.5em;
                    width: 2em;
                    height: 2em;
                    background-color: #ddd;
                    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .135);
                    border-radius: 0.2em;
                    display: inline-block;
                    margin: 0 0.5em;

                    &:active {
                        background-color: #555;
                        color: $activeColor;
                        box-shadow: none;
                    }

                    &:before {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        line-height: 2;
                    }
                }

                .frameSketchDemoContainer {
                    position: absolute;
                    top: 2em;
                    width: calc(100% - 2em);
                    height: calc(100% - 4em);
                    margin: 1em;

                    #frameSketchWidgetDemoArea {
                        position: relative;
                        float: left;
                        width: 100%;
                        height: 100%;
                        overflow: auto;
                    }
                }
            }

            #widgetNameModal {
                position: absolute;
                left: 30%;
                top: 30%;
                width: 40%;
                height: 40%;
                background: #999966;

                .widgetNameContent {
                    position: absolute;
                    top: 0;
                    bottom: 3em;
                    width: calc(100% - 1em);
                    margin: 0 0.5em;

                    @include display-flex;
                    @include flex-direction(row);
                    @include justify-content(center);
                    @include align-items(center);

                    .input-group {
                        height: 2em;
                        line-height: 2;

                        @include flex(1);

                        input {
                            height: 2em;
                            line-height: 2;
                        }
                    }
                }

                .widgetNameConfirmBar {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 3em;

                    .widgetNameButton {
                        position: relative;
                        float: left;
                        height: 2em;
                        margin: 0.5em 0;

                        span {
                            position: relative;
                            float: left;
                            width: 8em;
                            height: 100%;
                            line-height: 2;
                            left: calc(50% - 4em);
                            display: inline-block;
                            background-color: #ddd;
                            box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .135);
                            border-radius: 0.2em;
                            text-align: center;

                            &:before {
                                position: absolute;
                                left: 0px;
                                width: 2em;
                                height: 2em;
                                line-height: 2;
                                text-align: center;
                            }

                            &:active {
                                background-color: #555;
                                color: $activeColor;
                                box-shadow: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

#sketchContainer {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;

    #sketchHolder {
        position: relative;
        float: left;
        width: 100%;
        height: calc(100% - 3em);
        overflow: hidden;

        @include display-flex;
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(center);

        .deviceBackground {
            @include flex(1);

            background-repeat: no-repeat;
            background-position: center center;

            @include display-flex;
            @include flex-direction(row);
            @include justify-content(center);
            @include align-items(center);

            .deviceScreenBackground {
                @include flex(1);

                .deviceScreen {
                    position: relative;
                    float: left;

                    .deviceHolder {
                        position: relative;
                        float: left;
                        overflow: hidden;

                        #pageNavigationControl {
                            z-index: 1;
                            position: absolute;
                            right: 0px;
                            bottom: 0.25em;
                            width: 4.5em;
                            height: 2em;
                            line-height: 2;
                            overflow: hidden;
                            background: transparent;

                            > div {
                                position: relative;
                                float: left;
                                height: 100%;
                                width: 50%;
                                color: #ecf0f1;

                                &:before {
                                    position: absolute;
                                    width: 2em;
                                    height: 2em;
                                    line-height: 2;
                                    text-align: center;
                                    background: rgba($color, 0.3);
                                    border-radius: 100%;
                                    font-weight: 600;
                                }

                                &:active:before {
                                    color: rgba($color, 0.3);
                                    background: #ecf0f1;
                                    border: 1px solid rgba($color, 0.3);
                                }
                            }
                        }
                    }

                    .ruler {
                        position: absolute;
                    }

                    #widgetTextHolder {
                        z-index: $zIndexWidgetText;
                        position: absolute;
                        display: none;
                        background: #fff;

                        #widgetText {
                            position: absolute;
                        }
                    }
                }
            }
        }

        .pageHolder {
            z-index: 0;
            position: absolute;
            top: 0px !important;
            left: 0px !important;
            width: 100%;
            height: 100%;
            overflow: hidden;
            color: #000;
            visibility: hidden;

            @include backface-visibility(hidden);
            @include transform(translate3d(0, 0, 0));
            @include transform-style(preserve-3d);

            &.currentPage {
                visibility: visible;
            }

            .sketchWidget {
                position: absolute;

                &.widgetHover {
                    @include box-shadow(3px 3px 5px 6px rgba(0, 0, 0, 0.4));
                }

                &.widgetIncludeAnchor .widgetContainer {
                    position: absolute;
                    width: 100% !important;
                    height: 100% !important;
                    background: transparent !important;

                    > div {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}