@import "compass/css3";
@import "compass/css3/box-shadow";
@import "text-shadow";

#textShadowContainer {
    height: calc(100% - 100px);
    margin: 50px;

    > div {
        position: relative;
        float: left;
        padding: 1em;
        margin: 2em 10px 4em;
    }
}