#repoTypeDropdown {
  /* Stack the items with a slight offset */
  /* Stack the items with a slight offset, and expand them with a slight random angle/left values.
     Each item will have a different animation delay. */
  /* Stack the items with a slight offset, and spread them as a fan.
     Each item will have a different animation delay. */
  /* Stack the items with a slight offset, and rotate the select label while clicking it. */
  /*  Show the items by sliding them from the sides. */
}
#repoTypeDropdown .cd-dropdown {
  position: relative;
  width: 100%;
  display: block;
}
#repoTypeDropdown .cd-dropdown > span {
  position: relative;
  float: left;
  width: 100%;
  height: 2em;
  line-height: 2;
  color: #999;
  font-weight: 700;
  background: #fff;
  padding-left: 1em;
  cursor: pointer;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}
#repoTypeDropdown .cd-dropdown > span:after {
  content: '\25BC';
  position: absolute;
  right: 0px;
  width: 2em;
  line-height: 2;
  text-align: center;
  border-left: 1px solid #ddd;
}
#repoTypeDropdown .cd-dropdown > span:before {
  position: absolute;
  width: 100%;
  line-height: 2;
  text-align: center;
}
#repoTypeDropdown .cd-dropdown > span > span {
  position: absolute;
  width: calc(100% - 3em);
  height: 100%;
  line-height: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
#repoTypeDropdown .cd-dropdown.cd-active > span:after {
  content: '\25B2';
}
#repoTypeDropdown .cd-dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  pointer-events: none;
}
#repoTypeDropdown .cd-dropdown ul li {
  display: block;
}
#repoTypeDropdown .cd-dropdown ul li span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  height: 2em;
  line-height: 2;
  padding-left: 1em;
  color: #bcbcbc;
  background: #eee;
  cursor: pointer;
  font-weight: 700;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}
#repoTypeDropdown .cd-dropdown ul li span:before {
  position: absolute;
  width: 100%;
  line-height: 2;
  text-align: center;
}
#repoTypeDropdown .cd-dropdown.cd-active ul {
  pointer-events: auto;
}
#repoTypeDropdown.stackWithOffset .cd-dropdown > span,
#repoTypeDropdown.stackWithOffset .cd-dropdown ul li:nth-last-child(-n+3) span {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#repoTypeDropdown.stackWithOffset .cd-dropdown ul {
  position: absolute;
  top: 0px;
  width: 100%;
}
#repoTypeDropdown.stackWithOffset .cd-dropdown ul li {
  position: absolute;
  width: 100%;
}
#repoTypeDropdown.stackWithOffset .cd-dropdown.cd-active > span {
  color: #669933;
}
#repoTypeDropdown.stackWithOffset .cd-dropdown.cd-active > span,
#repoTypeDropdown.stackWithOffset .cd-dropdown.cd-active ul li span {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#repoTypeDropdown.stackWithOffset .cd-dropdown.cd-active ul li span {
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear;
  -webkit-transition-delay: 0s;
  transition: all 0.2s linear 0s;
}
#repoTypeDropdown.stackWithOffset .cd-dropdown.cd-active ul li span:hover {
  background: #669933;
  color: #fff;
}
#repoTypeDropdown.stackAndExpand .cd-dropdown > span,
#repoTypeDropdown.stackAndExpand .cd-dropdown ul li:nth-last-child(-n+3) span {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#repoTypeDropdown.stackAndExpand .cd-dropdown ul {
  position: absolute;
  top: 0px;
  width: 100%;
}
#repoTypeDropdown.stackAndExpand .cd-dropdown ul li {
  position: absolute;
  width: 100%;
}
#repoTypeDropdown.stackAndExpand .cd-dropdown.cd-active > span {
  color: #669933;
}
#repoTypeDropdown.stackAndExpand .cd-dropdown.cd-active > span,
#repoTypeDropdown.stackAndExpand .cd-dropdown.cd-active ul li span {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#repoTypeDropdown.stackAndExpand .cd-dropdown.cd-active ul li span {
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear;
  -webkit-transition-delay: 0s;
  transition: all 0.2s linear 0s;
}
#repoTypeDropdown.stackAndExpand .cd-dropdown.cd-active ul li span:hover {
  background: #669933;
  color: #fff;
}
#repoTypeDropdown.stackAndExpandFan .cd-dropdown > span,
#repoTypeDropdown.stackAndExpandFan .cd-dropdown ul li:nth-last-child(-n+3) span {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#repoTypeDropdown.stackAndExpandFan .cd-dropdown ul {
  position: absolute;
  top: 0px;
  width: 100%;
}
#repoTypeDropdown.stackAndExpandFan .cd-dropdown ul li {
  position: absolute;
  width: 100%;
}
#repoTypeDropdown.stackAndExpandFan .cd-dropdown.cd-active > span {
  color: #669933;
}
#repoTypeDropdown.stackAndExpandFan .cd-dropdown.cd-active > span,
#repoTypeDropdown.stackAndExpandFan .cd-dropdown.cd-active ul li span {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#repoTypeDropdown.stackAndExpandFan .cd-dropdown.cd-active ul li {
  -moz-transform-origin: -200% 50% 50%;
  -ms-transform-origin: -200% 50% 50%;
  -webkit-transform-origin: -200% 50% 50%;
  transform-origin: -200% 50% 50%;
}
#repoTypeDropdown.stackAndExpandFan .cd-dropdown.cd-active ul li span {
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear;
  -webkit-transition-delay: 0s;
  transition: all 0.2s linear 0s;
}
#repoTypeDropdown.stackAndExpandFan .cd-dropdown.cd-active ul li span:hover {
  background: #669933;
  color: #fff;
}
#repoTypeDropdown.stackAndRotateSelect .cd-dropdown {
  -moz-perspective: 800px;
  -webkit-perspective: 800px;
  perspective: 800px;
}
#repoTypeDropdown.stackAndRotateSelect .cd-dropdown > span {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform-origin: 50% 0% 50%;
  -ms-transform-origin: 50% 0% 50%;
  -webkit-transform-origin: 50% 0% 50%;
  transform-origin: 50% 0% 50%;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
#repoTypeDropdown.stackAndRotateSelect .cd-dropdown > span:active {
  -moz-transform: rotateX(60deg);
  -ms-transform: rotateX(60deg);
  -webkit-transform: rotateX(60deg);
  transform: rotateX(60deg);
}
#repoTypeDropdown.stackAndRotateSelect .cd-dropdown > span,
#repoTypeDropdown.stackAndRotateSelect .cd-dropdown ul li:nth-last-child(-n+3) span {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#repoTypeDropdown.stackAndRotateSelect .cd-dropdown ul {
  position: absolute;
  top: 0px;
  width: 100%;
}
#repoTypeDropdown.stackAndRotateSelect .cd-dropdown ul li {
  position: absolute;
  width: 100%;
}
#repoTypeDropdown.stackAndRotateSelect .cd-dropdown.cd-active > span {
  color: #669933;
}
#repoTypeDropdown.stackAndRotateSelect .cd-dropdown.cd-active > span,
#repoTypeDropdown.stackAndRotateSelect .cd-dropdown.cd-active ul li span {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#repoTypeDropdown.stackAndRotateSelect .cd-dropdown.cd-active ul li span {
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear;
  -webkit-transition-delay: 0s;
  transition: all 0.2s linear 0s;
}
#repoTypeDropdown.stackAndRotateSelect .cd-dropdown.cd-active ul li span:hover {
  background: #669933;
  color: #fff;
}
#repoTypeDropdown.slide .cd-dropdown ul {
  position: absolute;
  top: 0px;
  width: 100%;
}
#repoTypeDropdown.slide .cd-dropdown > span,
#repoTypeDropdown.slide .cd-dropdown ul li {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#repoTypeDropdown.slide .cd-dropdown ul li {
  position: absolute;
  width: 100%;
  pointer-events: none;
}
#repoTypeDropdown.slide .cd-dropdown.cd-active > span {
  color: #669933;
}
#repoTypeDropdown.slide .cd-dropdown.cd-active ul li {
  pointer-events: auto;
}
#repoTypeDropdown.slide .cd-dropdown.cd-active ul li span {
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear;
  -webkit-transition-delay: 0s;
  transition: all 0.2s linear 0s;
}
#repoTypeDropdown.slide .cd-dropdown.cd-active ul li span:hover {
  background: #669933;
  color: #fff;
}

.repoContainer {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.repoContainer #repoTypes {
  position: relative;
  float: right;
  top: 0.5em;
  height: 2em;
  margin-right: 0.5em;
}
.repoContainer #repoTypes #repoTypeDropdown {
  position: absolute;
  width: 100%;
  height: 100%;
}
.repoContainer .repoContent {
  position: relative;
  float: left;
  width: 100%;
  height: calc(100% - 1em);
  margin: 0.5em 0;
  padding-bottom: 2em;
  overflow: auto;
}
.repoContainer .repoContent .repoLib {
  position: relative;
  float: left;
  width: 500px;
  height: 570px;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 15px;
  box-shadow: 0 15px 10px -10px #6D6D6D, 0 1px 4px #A4A4A4, 0 0 40px #E0E0E0 inset;
}
.repoContainer .repoContent .repoLib .repoImg {
  height: 300px;
  margin-bottom: 15px;
}
.repoContainer .repoContent .repoLib .repoImg.imgLoadError img {
  display: none;
}
.repoContainer .repoContent .repoLib .repoImg.imgLoadError div {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}
.repoContainer .repoContent .repoLib .repoImg.imgLoadError div:before {
  position: absolute;
  top: calc(50% - 1em);
  width: 100%;
  height: 2em;
  text-align: center;
  line-height: 2;
  font-weight: 900;
}
.repoContainer .repoContent .repoLib .repoImg img {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}
.repoContainer .repoContent .repoLib .repoImg div {
  display: none;
}
.repoContainer .repoContent .repoLib .repoLibInfo {
  height: 1.5em;
}
.repoContainer .repoContent .repoLib .repoLibInfo.repoLibDesc {
  height: 4em;
}
.repoContainer .repoContent .repoLib .repoLibInfo.repoLibDesc > div span {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  text-align: right;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
}
.repoContainer .repoContent .repoLib .repoLibInfo > label {
  height: 100%;
}
.repoContainer .repoContent .repoLib .repoLibInfo > div {
  height: 100%;
}
.repoContainer .repoContent .repoLib .repoLibInfo > div span {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: right;
}
.repoContainer .repoContent .repoLib .repoLibButton {
  height: 2em;
  line-height: 2;
  background-color: #ddd;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.135);
  border-radius: 0.2em;
  display: inline-block;
  margin: 0.5em 0;
  text-align: center;
}
.repoContainer .repoContent .repoLib .repoLibButton:active {
  background-color: #555;
  color: #669933;
  box-shadow: none;
}
