.sideBarContainer.rightSide {
  /* Effect 1: Slide in on top */
  /* Effect 2: Reveal */
  /* Effect 4: Slide along */
  /* Effect 5: Reverse slide out */
  /* Effect 6: Rotate pusher */
  /* Effect 7: 3D rotate in */
  /* Effect 8: 3D rotate out */
  /* Effect 9: Scale down pusher */
  /* Effect 10: Scale up */
  /* Effect 11: Scale and rotate pusher */
  /* Effect 12: Open door */
  /* Effect 13: Fall down */
  /* Effect 14: Delayed 3D rotate */
}
.sideBarContainer.rightSide.overlay > .mainContent:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.2);
  content: '';
  opacity: 1;
}
.sideBarContainer.rightSide.overlay.select > .mainContent:after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.sideBarContainer.rightSide > .mainContent {
  position: relative;
  right: 0;
  z-index: 99;
  height: 100%;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.sideBarContainer.rightSide > .mainContent > [name=mainContent] {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}
.sideBarContainer.rightSide > .barContent, .sideBarContainer.rightSide > .mainContent > .barContent {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  visibility: hidden;
  height: 100%;
  display: none;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.sideBarContainer.rightSide > .barContent > [name=barContent], .sideBarContainer.rightSide > .mainContent > .barContent > [name=barContent] {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}
.sideBarContainer.rightSide.select > .barContent {
  display: block;
}
.sideBarContainer.rightSide.slideInOnTop > .barContent {
  -moz-transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.sideBarContainer.rightSide.slideInOnTop.select > .barContent {
  visibility: visible;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sideBarContainer.rightSide.reveal > .barContent {
  z-index: 1;
}
.sideBarContainer.rightSide.reveal.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.sideBarContainer.rightSide.slideAlong > .barContent {
  z-index: 1;
  -moz-transform: translate3d(50%, 0, 0);
  -webkit-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0);
}
.sideBarContainer.rightSide.slideAlong.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sideBarContainer.rightSide.reverseSlideOut > .barContent {
  z-index: 1;
  -moz-transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
.sideBarContainer.rightSide.reverseSlideOut.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sideBarContainer.rightSide.rotatePusher {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
.sideBarContainer.rightSide.rotatePusher > .mainContent {
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sideBarContainer.rightSide.rotatePusher > .mainContent > .barContent {
  -moz-transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sideBarContainer.rightSide.rotatePusher.select > .mainContent > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(100%, 0, 0) rotateY(-15deg);
  -ms-transform: translate3d(100%, 0, 0) rotateY(-15deg);
  -webkit-transform: translate3d(100%, 0, 0) rotateY(-15deg);
  transform: translate3d(100%, 0, 0) rotateY(-15deg);
}
.sideBarContainer.rightSide.rotateIn3D {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -moz-perspective-origin: 0% 50%;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
.sideBarContainer.rightSide.rotateIn3D > .mainContent {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sideBarContainer.rightSide.rotateIn3D > .mainContent > .barContent {
  -moz-transform: translate3d(100%, 0, 0) rotateY(90deg);
  -ms-transform: translate3d(100%, 0, 0) rotateY(90deg);
  -webkit-transform: translate3d(100%, 0, 0) rotateY(90deg);
  transform: translate3d(100%, 0, 0) rotateY(90deg);
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sideBarContainer.rightSide.rotateIn3D.select > .mainContent > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(100%, 0, 0) rotateY(0deg);
  -ms-transform: translate3d(100%, 0, 0) rotateY(0deg);
  -webkit-transform: translate3d(100%, 0, 0) rotateY(0deg);
  transform: translate3d(100%, 0, 0) rotateY(0deg);
}
.sideBarContainer.rightSide.rotateOut3D {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -moz-perspective-origin: 0% 50%;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
.sideBarContainer.rightSide.rotateOut3D > .mainContent {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sideBarContainer.rightSide.rotateOut3D > .mainContent > .barContent {
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transform: translate3d(100%, 0, 0) rotateY(-90deg);
  -ms-transform: translate3d(100%, 0, 0) rotateY(-90deg);
  -webkit-transform: translate3d(100%, 0, 0) rotateY(-90deg);
  transform: translate3d(100%, 0, 0) rotateY(-90deg);
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sideBarContainer.rightSide.rotateOut3D.select > .mainContent > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(100%, 0, 0) rotateY(0deg);
  -ms-transform: translate3d(100%, 0, 0) rotateY(0deg);
  -webkit-transform: translate3d(100%, 0, 0) rotateY(0deg);
  transform: translate3d(100%, 0, 0) rotateY(0deg);
}
.sideBarContainer.rightSide.scaleDownPusher {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
.sideBarContainer.rightSide.scaleDownPusher > .mainContent {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sideBarContainer.rightSide.scaleDownPusher > .barContent {
  opacity: 1;
  -moz-transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.sideBarContainer.rightSide.scaleDownPusher.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sideBarContainer.rightSide.scaleUp {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -moz-perspective-origin: 0% 50%;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
.sideBarContainer.rightSide.scaleUp > .barContent {
  z-index: 1;
  opacity: 1;
}
.sideBarContainer.rightSide.scaleUp.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sideBarContainer.rightSide.scaleRotatePusher {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
.sideBarContainer.rightSide.scaleRotatePusher > .mainContent {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sideBarContainer.rightSide.scaleRotatePusher > .barContent {
  opacity: 1;
  -moz-transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.sideBarContainer.rightSide.scaleRotatePusher.select > .mainContent {
  -moz-transform: translate3d(-100px, 0, -600px) rotateY(20deg);
  -ms-transform: translate3d(-100px, 0, -600px) rotateY(20deg);
  -webkit-transform: translate3d(-100px, 0, -600px) rotateY(20deg);
  transform: translate3d(-100px, 0, -600px) rotateY(20deg);
}
.sideBarContainer.rightSide.scaleRotatePusher.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sideBarContainer.rightSide.openDoor {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
.sideBarContainer.rightSide.openDoor > .mainContent {
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sideBarContainer.rightSide.openDoor > .barContent {
  opacity: 1;
  -moz-transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.sideBarContainer.rightSide.openDoor.select > .mainContent {
  -moz-transform: rotateY(10deg);
  -webkit-transform: rotateY(10deg);
  transform: rotateY(10deg);
}
.sideBarContainer.rightSide.openDoor.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sideBarContainer.rightSide.fallDown {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -moz-perspective-origin: 0% 50%;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
.sideBarContainer.rightSide.fallDown > .barContent {
  z-index: 1;
  opacity: 1;
  -moz-transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.sideBarContainer.rightSide.fallDown.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -o-transition: -o-transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sideBarContainer.rightSide.delayed3DRotate {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -moz-perspective-origin: 0% 50%;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
.sideBarContainer.rightSide.delayed3DRotate > .mainContent {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sideBarContainer.rightSide.delayed3DRotate > .mainContent > .barContent {
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sideBarContainer.rightSide.delayed3DRotate.select > .mainContent > .barContent {
  visibility: visible;
  -moz-transform: translate3d(100%, 0, 0) rotateY(0deg);
  -ms-transform: translate3d(100%, 0, 0) rotateY(0deg);
  -webkit-transform: translate3d(100%, 0, 0) rotateY(0deg);
  transform: translate3d(100%, 0, 0) rotateY(0deg);
}

.sideBarContainer.leftSide {
  /* Effect 1: Slide in on top */
  /* Effect 2: Reveal */
  /* Effect 4: Slide along */
  /* Effect 5: Reverse slide out */
  /* Effect 6: Rotate pusher */
  /* Effect 7: 3D rotate in */
  /* Effect 8: 3D rotate out */
  /* Effect 9: Scale down pusher */
  /* Effect 10: Scale up */
  /* Effect 11: Scale and rotate pusher */
  /* Effect 12: Open door */
  /* Effect 13: Fall down */
  /* Effect 14: Delayed 3D rotate */
}
.sideBarContainer.leftSide.overlay > .mainContent:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.2);
  content: '';
  opacity: 1;
}
.sideBarContainer.leftSide.overlay.select > .mainContent:after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.sideBarContainer.leftSide > .mainContent {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.sideBarContainer.leftSide > .mainContent > [name=mainContent] {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}
.sideBarContainer.leftSide > .barContent, .sideBarContainer.leftSide > .mainContent > .barContent {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  height: 100%;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.sideBarContainer.leftSide > .barContent > [name=barContent], .sideBarContainer.leftSide > .mainContent > .barContent > [name=barContent] {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}
.sideBarContainer.leftSide.slideInOnTop > .barContent, .sideBarContainer.leftSide.slideInOnTop > .mainContent > .barContent {
  -moz-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.sideBarContainer.leftSide.slideInOnTop.select > .barContent, .sideBarContainer.leftSide.slideInOnTop.select > .mainContent > .barContent {
  visibility: visible;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sideBarContainer.leftSide.reveal > .barContent {
  z-index: 1;
}
.sideBarContainer.leftSide.reveal.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.sideBarContainer.leftSide.slideAlong > .barContent {
  z-index: 1;
  -moz-transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
.sideBarContainer.leftSide.slideAlong.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sideBarContainer.leftSide.reverseSlideOut > .barContent {
  z-index: 1;
  -moz-transform: translate3d(50%, 0, 0);
  -webkit-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0);
}
.sideBarContainer.leftSide.reverseSlideOut.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sideBarContainer.leftSide.rotatePusher {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
.sideBarContainer.leftSide.rotatePusher > .mainContent {
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sideBarContainer.leftSide.rotatePusher > .mainContent > .barContent {
  -moz-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sideBarContainer.leftSide.rotatePusher.select > .mainContent > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(-100%, 0, 0) rotateY(15deg);
  -ms-transform: translate3d(-100%, 0, 0) rotateY(15deg);
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(15deg);
  transform: translate3d(-100%, 0, 0) rotateY(15deg);
}
.sideBarContainer.leftSide.rotateIn3D {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -moz-perspective-origin: 0% 50%;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
.sideBarContainer.leftSide.rotateIn3D > .mainContent {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sideBarContainer.leftSide.rotateIn3D > .mainContent > .barContent {
  -moz-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  -ms-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sideBarContainer.leftSide.rotateIn3D.select > .mainContent > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  -ms-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  transform: translate3d(-100%, 0, 0) rotateY(0deg);
}
.sideBarContainer.leftSide.rotateOut3D {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -moz-perspective-origin: 0% 50%;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
.sideBarContainer.leftSide.rotateOut3D > .mainContent {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sideBarContainer.leftSide.rotateOut3D > .mainContent > .barContent {
  -moz-transform: translate3d(-100%, 0, 0) rotateY(90deg);
  -ms-transform: translate3d(-100%, 0, 0) rotateY(90deg);
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
  transform: translate3d(-100%, 0, 0) rotateY(90deg);
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sideBarContainer.leftSide.rotateOut3D.select > .mainContent > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  -ms-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  transform: translate3d(-100%, 0, 0) rotateY(0deg);
}
.sideBarContainer.leftSide.scaleDownPusher {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
.sideBarContainer.leftSide.scaleDownPusher > .mainContent {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sideBarContainer.leftSide.scaleDownPusher > .barContent {
  opacity: 1;
  -moz-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.sideBarContainer.leftSide.scaleDownPusher.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sideBarContainer.leftSide.scaleUp {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -moz-perspective-origin: 0% 50%;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
.sideBarContainer.leftSide.scaleUp > .barContent {
  z-index: 1;
  opacity: 1;
}
.sideBarContainer.leftSide.scaleUp.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sideBarContainer.leftSide.scaleRotatePusher {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
.sideBarContainer.leftSide.scaleRotatePusher > .mainContent {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sideBarContainer.leftSide.scaleRotatePusher > .barContent {
  opacity: 1;
  -moz-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.sideBarContainer.leftSide.scaleRotatePusher.select > .mainContent {
  -moz-transform: translate3d(100px, 0, -600px) rotateY(-20deg);
  -ms-transform: translate3d(100px, 0, -600px) rotateY(-20deg);
  -webkit-transform: translate3d(100px, 0, -600px) rotateY(-20deg);
  transform: translate3d(100px, 0, -600px) rotateY(-20deg);
}
.sideBarContainer.leftSide.scaleRotatePusher.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sideBarContainer.leftSide.openDoor {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
.sideBarContainer.leftSide.openDoor > .mainContent {
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sideBarContainer.leftSide.openDoor > .barContent {
  opacity: 1;
  -moz-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.sideBarContainer.leftSide.openDoor.select > .mainContent {
  -moz-transform: rotateY(-10deg);
  -webkit-transform: rotateY(-10deg);
  transform: rotateY(-10deg);
}
.sideBarContainer.leftSide.openDoor.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sideBarContainer.leftSide.fallDown {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -moz-perspective-origin: 0% 50%;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
.sideBarContainer.leftSide.fallDown > .barContent {
  z-index: 1;
  opacity: 1;
  -moz-transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.sideBarContainer.leftSide.fallDown.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -o-transition: -o-transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sideBarContainer.leftSide.delayed3DRotate {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -moz-perspective-origin: 0% 50%;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
.sideBarContainer.leftSide.delayed3DRotate > .mainContent {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sideBarContainer.leftSide.delayed3DRotate > .mainContent > .barContent {
  -moz-transform: translate3d(-100%, 0, 0) rotateY(90deg);
  -ms-transform: translate3d(-100%, 0, 0) rotateY(90deg);
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
  transform: translate3d(-100%, 0, 0) rotateY(90deg);
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.sideBarContainer.leftSide.delayed3DRotate.select > .mainContent > .barContent {
  visibility: visible;
  -moz-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  -ms-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  transform: translate3d(-100%, 0, 0) rotateY(0deg);
}
