@import "compass/css3/box-shadow";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "public/global";
@import "creative-link";

.widgetDemoContainer {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;

    .clearfix {
        &:before, &:after {
            content: " ";
            display: table;
        }

        &:after {
            clear: both;
        }
    }

    > section {
        position: relative;
        width: 100%;
        height: 6em;
        overflow: hidden;

        > span {
            position: absolute;
            left: 0;
            top: 0;
            width: 30%;
            height: 2em;
            line-height: 2;
            text-align: left;
            padding: 0 1em;

            @include emboss-title();
        }

        > [ui-widget-creative-link-1-0-0] {
            position: relative;
            float: left;
            top: 2em;
            margin: 1em 2em;
            width: 8em;
            height: 2em;
            text-transform: uppercase;

            .linkContent span {
                text-align: center;
            }
        }

        @include creative-link("_widget_creativeLinkContainer", "1.0.0");

        &#reveal {
            @include creative-link("_widget_creativeLinkContainer", "1.0.0", $color: #ffffff, $inactiveColor: #95a5a6, $backgroundColor: #cccccc, $inactiveBackgroundColor: #000000, $lineColor: #ffffff, $inactiveLineColor: #95a5a6);
        }

        &#flipUp {
            @include creative-link("_widget_creativeLinkContainer", "1.0.0", $color: #000000);
        }
    }
}
