<link rel="stylesheet" type="text/css" href="stylesheets/chat.css"/>
<link rel="stylesheet" type="text/css" href="fonts/icon-chat/style.css"/>

<script type="text/ng-template" id="_chatConversation.html">
    <div class="chatConversation fs-x-small" ui-data="animo('select', 'tinRightIn')">
        <div ng-class="{'sender':item.userId != $root.loginUser._id}"
             class="conversationAvatar fs-x-huge-before icon-chat-before icon-chat-portrait-before">
            <img ng-src="api/public/avatar/userId={{item.userId}}"
                 onerror="this.src='images/image-chat/transparent.png'">
        </div>

        <div ng-class="{'sender':item.userId == $root.loginUser._id}"
             class="conversationAvatar fs-x-huge-before icon-chat-before icon-chat-portrait-before">
            <img ng-src="api/public/avatar/userId={{item.userId}}"
                 onerror="this.src='images/image-chat/transparent.png'">
        </div>

        <p>{{item.message}}</p>

    </div>
</script>
<div class="chatContainer fs-x-medium" ng-controller="ChatController">
    <div ui-modal-window transition="fadeInScaleUp">
        <div class="chatMainContent fs-x-medium" name="mainContent">
            <div class="contactPanel no-padding col-as-3">
                <div class="userHeader">
                    <div class="contactAvatar fs-x-huge-before icon-chat-before icon-chat-portrait-before">
                        <img src="" onerror="this.src='images/image-chat/transparent.png'">
                    </div>
                    <div class="userLabel">
                        <div class="userLabelContainer">
                            <span class="userName">{{$root.loginUser.name}}</span>
                            <div ui-data="animo('select', 'tadaInfinite')"
                                 ng-click="once(this, null, 'displayInvitation')"
                                 class="invitationFlag icon-chat-before icon-chat-local_florist-before"></div>
                        </div>
                    </div>
                    <div id="chatUserDropdown" class="dropdown">
                        <div class="fs-x-huge-after icon-chat-after icon-chat-menu-after dropdown-toggle"
                             id="chatUserMenu"
                             data-toggle="dropdown"
                             aria-haspopup="true" aria-expanded="false">
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="chatUserMenu">
                            <li class="fs-x-medium-before icon-chat-before icon-chat-person_add-before"
                                ng-click="once(this, null, 'startAddFriend')"><a
                                    href="">Add Friend</a></li>
                            <li class="fs-x-medium-before icon-chat-before icon-chat-group_add-before"
                                ng-click="once(this, null, 'startCreateDiscussion')"><a
                                    href="">Create Discussion</a></li>
                            <li><a href="">Something else here</a></li>
                            <li class="fs-x-medium-before icon-chat-before icon-chat-exit-before"
                                ng-click="once(this, null, 'exitChat')"><a href="">Exit</a></li>
                        </ul>
                    </div>
                </div>
                <div class="contactDetail fs-x-medium">
                    <nav class="contactNav">
                        <div ui-creative-link effect="reveal" content="message" class="select"
                             on-select="selectContent('message')"><span
                                class="icon-chat-before icon-chat-textsms-before">Message</span>
                        </div>
                        <div ui-creative-link effect="reveal" content="friend" on-select="selectContent('friend')">
                            <span class="icon-chat-before icon-chat-person-before">Friend</span>
                        </div>
                    </nav>
                    <div class="contactContent">
                        <div content="message" class="fs-x-small select">
                            <div class="chat" ng-repeat="chat in chatList"
                                 ng-click="once(this, $event, 'selectChat', $event)">
                                <div class="chatThumbnail fs-x-huge-before icon-chat-before icon-chat-talk-before">
                                </div>
                                <span>{{chat.name}}</span>
                            </div>
                            <div class="userName" ng-repeat="conversationUser in conversationList"
                                 ng-click="once(this, $event, 'selectConversationUser', $event)">
                                <div class="userAvatar fs-x-huge-before icon-chat-before icon-chat-portrait-before">
                                    <img src="" onerror="this.src='images/image-chat/transparent.png'">
                                </div>
                                <span>{{conversationUser.name}}</span>
                            </div>
                        </div>
                        <div content="friend" class="fs-x-small" ng-click="once(this, $event, 'selectFriend', $event)">
                            <div ng-repeat="(key, userList) in friendList" ng-show="userList && userList.length">
                                <span class="initial">{{key}}</span>
                                <div class="userName" ng-repeat="user in userList">
                                    <div class="userAvatar fs-x-huge-before icon-chat-before icon-chat-portrait-before">
                                        <img src="" onerror="this.src='images/image-chat/transparent.png'">
                                    </div>
                                    <span>{{user.name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="chatPanel" class="no-padding col-as-9">
                <div id="chatHeader" class="col-as-12"></div>
                <div id="chatContent" class="col-as-12 no-padding">
                    <div id="chatListContainer">
                        <div id="conversationItems"></div>
                    </div>
                    <div id="chatInputContainer">
                        <textarea id="chatTextArea" class="fs-x-small" cols="1" rows="2"></textarea>
                        <div id="sendButton" ng-click="once(this, $event, 'sendMessage')"
                             class="icon-chat-before icon-chat-send-before"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="chatModalContent fs-x-medium" name="modalContent">
            <div id="addFriendModal" ng-show="modalUsage === 'AddFriend'"
                 ng-click="stopEvent($event, '#add-friend-control')">
                <div id="add-friend-control">
                    <div class="chatTopBar">
                        <div class="userDisplayQrCode fs-x-huge icon-chat-before icon-chat-qr-code-before"
                             ng-click="toggleDisplay('#add-friend-control .userQrCode', $event)"></div>
                        <div class="userQrCode"
                             ng-click="toggleDisplay($event)">
                            <div class="qrCodeImg"
                                 ng-style="{'background-image':'url(api/public/accountQr?userId={{$root.loginUser._id}})'}">
                            </div>
                        </div>
                        <div class="chatButton searchButton icon-chat-before icon-chat-search-before"
                             ng-click="once(this, $event, 'doSearch')"></div>
                        <div class="searchInput"><input id="searchNameInput" type="text" placeholder="Name"></div>
                        <div class="chatButton icon-chat-before icon-chat-local_florist-before"
                             ng-click="once(this, $event, 'sendInvitation')"></div>
                    </div>
                    <div class="searchUserContent">
                        <div class="fs-x-small searchUserItem icon-chat-after icon-chat-local_florist-after"
                             ng-attr-id="{{item._id}}"
                             ng-repeat="item in searchUserList"
                             ng-class="{'selected':item.selected}"
                             ng-click="once(this, $event, 'toggleSearchUserItem', $event, item)">
                            <div class="itemAvatar fs-x-huge-before icon-chat-before icon-chat-portrait-before">
                                <img ng-src="api/public/avatar/userId={{item._id}}"
                                     onerror="this.src='images/image-chat/transparent.png'">
                            </div>
                            <div class="itemName fs-x-smaller"><span>{{item.name}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="createDiscussionModal" ng-show="modalUsage === 'CreateDiscussion'"
                 ng-click="stopEvent($event, '#create-discussion-control')">
                <div id="create-discussion-control">
                </div>
            </div>
            <div id="invitationModal" ng-show="modalUsage === 'DisplayInvitation'"
                 ng-click="stopEvent($event, '#invitation-control')">
                <div id="invitation-control">
                    <div class="invitationTopBar">
                        <div ui-creative-link effect="fallDown" content="invitation" class="select"
                             on-select="selectInvitationContent('invitation')"><span
                                class="icon-chat-before icon-chat-textsms-before">Invitation</span>
                        </div>
                        <div ui-creative-link effect="fallDown" content="chatInvitation"
                             on-select="selectInvitationContent('chatInvitation')">
                            <span class="icon-chat-before icon-chat-person-before">Chat Invitation</span>
                        </div>
                    </div>
                    <div class="invitationContent">
                        <div content="invitation" class="fs-x-small" ui-data="animo('select', 'swashIn')">
                            <div class="invitationItem" ng-repeat="item in invitationList">
                                <div class="userAvatar fs-x-huge-before icon-chat-before icon-chat-portrait-before">
                                    <img ng-src="api/public/avatar/userId={{item.senderId}}"
                                         onerror="this.src='images/image-chat/transparent.png'">
                                </div>
                                <span>{{item.creatorName}} wants to become friend of you.</span>
                                <div class="invitationButton" ng-click="once(this, null, 'acceptInvitation', item)">
                                    Accept
                                </div>
                                <div class="invitationButton"
                                     ng-click="once(this, null, 'declineInvitation', item)">Decline
                                </div>
                            </div>
                        </div>
                        <div content="chatInvitation" class="fs-x-small" ui-data="animo('select', 'swashIn')">
                            <div class="chatInvitationItem" ng-repeat="item in chatInvitationList">
                                <div class="userAvatar fs-x-huge-before icon-chat-before icon-chat-portrait-before">
                                    <img ng-src="api/public/avatar/userId={{item.senderId}}"
                                         onerror="this.src='images/image-chat/transparent.png'">
                                </div>
                                <span>{{item.creatorName}} invites you to join a chat {{item.chatName}}.</span>
                                <div class="invitationButton"
                                     ng-click="once(this, null, 'acceptChatInvitation', item)">Accept
                                </div>
                                <div class="invitationButton"
                                     ng-click="once(this, null, 'declineChatInvitation', item)">Decline
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>