<link rel="stylesheet" type="text/css" href="stylesheets/frameSketch.css"/>
<link rel="stylesheet" type="text/css" href="fonts/icon-frame-sketch/style.css"/>
<link rel="stylesheet" type="text/css" href="fonts/icon-color-editor-palette/style.css"/>
<link rel="stylesheet" type="text/css" href="fonts/icon-gradient-editor/style.css"/>
<link rel="stylesheet" type="text/css" href="fonts/icon-background-image/style.css"/>
<link rel="stylesheet" type="text/css" href="fonts/icon-text-shadow/style.css"/>
<link rel="stylesheet" type="text/css" href="fonts/icon-box-shadow/style.css"/>
<link rel="stylesheet" type="text/css" href="fonts/icon-dock/style.css"/>
<link rel="stylesheet" type="text/css" href="fonts/icon-shape/style.css"/>
<link rel="stylesheet" type="text/css" href="fonts/icon-widget/style.css"/>
<link rel="stylesheet" type="text/css" href="fonts/icon-page/style.css"/>
<link rel="stylesheet" type="text/css" href="fonts/icon-state-action/style.css"/>
<link rel="stylesheet" type="text/css" href="fonts/icon-state-transition/style.css"/>
<link rel="stylesheet" type="text/css" href="fonts/icon-widget-configurator/style.css"/>
<link rel="stylesheet" type="text/css" href="fonts/icon-resource-editor/style.css"/>
<link rel="stylesheet" type="text/css" href="fonts/icon-horizontal-ruler/style.css"/>
<link rel="stylesheet" type="text/css" href="fonts/icon-vertical-ruler/style.css"/>

<div id="frameSketchContainer"
     ng-controller="FrameSketchController">
    <div ui-modal-window transition="fadeInScaleUp">
        <div class="sketchContainer fs-x-medium" name="mainContent">
            <div ui-topbar render-project="renderProject()">
                <div name="extraButtons">
                    <div ng-mouseenter="once(this, $event, 'enableAddWidget', $event)"
                         class="topbarButton icon-frame-sketch-before icon-frame-sketch-add-widget-before"
                         extensionPoint="extraButtonExtensionPoint" title="Add Widget"></div>
                    <div class="topbarButtonGroup"
                         ng-click="once(this, $event, 'toggleSelect', $event)" title="Zoom">
                        <div class="selectedButton" ng-click="$event.stopPropagation()">
                            <div ng-click="once(this, $event, 'zoomOut', $event)"
                                 class="topbarButton icon-frame-sketch-before icon-frame-sketch-zoomout-before"></div>
                        </div>
                        <div class="btn-group open" ng-click="once(this, null, 'setSelectedButton', $event)">
                            <div ng-click="once(this, null, 'zoomIn', $event)"
                                 class="topbarButton icon-frame-sketch-before icon-frame-sketch-zoomin-before"
                                 title="Zoom In"></div>
                            <div ng-click="once(this, null, 'zoomOut', $event)"
                                 class="topbarButton icon-frame-sketch-before icon-frame-sketch-zoomout-before"
                                 title="Zoom Out"></div>
                        </div>
                    </div>
                    <div class="topbarButtonGroup"
                         ng-click="once(this, $event, 'toggleSelect', $event)" title="Position Widget">
                        <div class="selectedButton" ng-click="$event.stopPropagation()">
                            <div ng-click="once(this, $event, 'alignLeft', $event)"
                                 class="topbarButton icon-frame-sketch-before icon-frame-sketch-align-left-before"></div>
                        </div>
                        <div class="btn-group open" ng-click="once(this, null, 'setSelectedButton', $event)">
                            <div ng-click="once(this, null, 'alignLeft', $event)"
                                 class="topbarButton icon-frame-sketch-before icon-frame-sketch-align-left-before"
                                 title="Align Left"></div>
                            <div ng-click="once(this, null, 'alignHorizontalCenter', $event)"
                                 class="topbarButton icon-frame-sketch-before icon-frame-sketch-align-center-horizontal-before"
                                 title="Align Center Horizontally"></div>
                            <div ng-click="once(this, null, 'alignRight', $event)"
                                 class="topbarButton icon-frame-sketch-before icon-frame-sketch-align-right-before"
                                 title="Align Right"></div>
                        </div>
                        <div class="btn-group open" ng-click="once(this, null, 'setSelectedButton', $event)">
                            <div ng-click="once(this, null, 'alignTop', $event)"
                                 class="topbarButton icon-frame-sketch-before icon-frame-sketch-align-top-before"
                                 title="Align Top"></div>
                            <div ng-click="once(this, null, 'alignVerticalCenter', $event)"
                                 class="topbarButton icon-frame-sketch-before icon-frame-sketch-align-center-vertical-before"
                                 title="Align Center Vertically"></div>
                            <div ng-click="once(this, null, 'alignBottom', $event)"
                                 class="topbarButton icon-frame-sketch-before icon-frame-sketch-align-bottom-before"
                                 title="Align Bottom"></div>
                        </div>
                    </div>
                    <div class="topbarButtonGroup"
                         ng-click="once(this, $event, 'toggleSelect', $event)" title="Resize Widget">
                        <div class="selectedButton" ng-click="$event.stopPropagation()">
                            <div ng-click="once(this, $event, 'fillParent', $event)"
                                 class="topbarButton icon-frame-sketch-before icon-frame-sketch-fill-before"></div>
                        </div>
                        <div class="btn-group open" ng-click="once(this, null, 'setSelectedButton', $event)">
                            <div ng-click="once(this, null, 'fillParent', $event)"
                                 class="topbarButton icon-frame-sketch-before icon-frame-sketch-fill-before"
                                 title="Fill All"></div>
                            <div ng-click="once(this, null, 'fillVertical', $event)"
                                 class="topbarButton icon-frame-sketch-before icon-frame-sketch-fill-vertical-before"
                                 title="Fill Vertically"></div>
                            <div ng-click="once(this, null, 'fillHorizontal', $event)"
                                 class="topbarButton icon-frame-sketch-before icon-frame-sketch-fill-horizontal-before"
                                 title="Fill Horizontally"></div>
                        </div>
                        <div class="btn-group open" ng-click="once(this, null, 'setSelectedButton', $event)">
                            <div ng-click="once(this, null, 'spanHorizontal', $event)"
                                 class="topbarButton icon-frame-sketch-before icon-frame-sketch-span-horizontal-before"
                                 title="Span Widgets Horizontally"></div>
                            <div ng-click="once(this, null, 'spanVertical', $event)"
                                 class="topbarButton icon-frame-sketch-before icon-frame-sketch-span-vertical-before"
                                 title="Span Widgets Vertically"></div>
                        </div>
                        <div class="btn-group open" ng-click="once(this, null, 'setSelectedButton', $event)">
                            <div ng-click="once(this, null, 'spaceHorizontal', $event)"
                                 class="topbarButton icon-frame-sketch-before icon-frame-sketch-space-horizontal-before"
                                 title="Space Widgets Horizontally"></div>
                            <div ng-click="once(this, null, 'spaceVertical', $event)"
                                 class="topbarButton icon-frame-sketch-before icon-frame-sketch-space-vertical-before"
                                 title="Space Widgets Vertically"></div>
                        </div>
                    </div>
                    <div ng-click="once(this, $event, 'toggleRuler', $event)"
                         class="topbarButton icon-frame-sketch-before icon-frame-sketch-ruler-before"
                         title="Ruler"></div>
                    <div ng-click="once(this, $event, 'toggleResize', $event)"
                         class="topbarDropdown icon-frame-sketch-before icon-frame-sketch-compass-before"
                         title="Custom Resize">
                        <div class="btn-group open fs-x-small" ng-click="$event.stopPropagation()">
                            <label class="col-as-4 no-padding control-label">Left</label>

                            <div class="col-as-7 no-padding" ng-if="pickedWidgetLeft">
                                <input type="text" class="form-control" ng-model="pickedWidgetLeft"/>
                            </div>
                        </div>
                        <div class="btn-group open fs-x-small" ng-click="$event.stopPropagation()">
                            <label class="col-as-4 no-padding control-label">Top</label>

                            <div class="col-as-7 no-padding" ng-if="pickedWidgetTop">
                                <input type="text" class="form-control" ng-model="pickedWidgetTop"/>
                            </div>
                        </div>
                        <div class="btn-group open fs-x-small" ng-click="$event.stopPropagation()">
                            <label class="col-as-4 no-padding control-label">Width</label>

                            <div class="col-as-7 no-padding" ng-if="pickedWidgetWidth">
                                <input type="text" class="form-control" ng-model="pickedWidgetWidth"/>
                            </div>
                        </div>
                        <div class="btn-group open fs-x-small" ng-click="$event.stopPropagation()">
                            <label class="col-as-4 no-padding control-label">Height</label>

                            <div class="col-as-7 no-padding" ng-if="pickedWidgetHeight">
                                <input type="text" class="form-control" ng-model="pickedWidgetHeight"/>
                            </div>
                        </div>
                    </div>
                    <div ng-click="once(this, $event, 'toggleDisplayRoute', $event)"
                         ng-class="{'select':$root.sketchWidgetSetting.isDefingRoute}"
                         class="topbarButton topbarToggleButton icon-frame-sketch-before icon-frame-sketch-move-route-before"
                         title="Route"></div>
                    <div ng-click="once(this, $event, 'togglePlayWidget', $event)"
                         class="topbarButton icon-frame-sketch-before"
                         ng-class="{'icon-frame-sketch-play-before':!$root.sketchWidgetSetting.isPlaying, 'icon-frame-sketch-pause-before':$root.sketchWidgetSetting.isPlaying}"
                         title="Play"></div>
                    <div ng-click="once(this, $event, 'saveProject', $event)"
                         ng-show="$root.loadedProject.projectRecord.lock"
                         class="topbarButton icon-frame-sketch-before icon-frame-sketch-save-before" title="Save"></div>
                    <div ng-click="once(this, $event, 'loadProject', $event)"
                         class="topbarButton icon-frame-sketch-before icon-frame-sketch-load-before" title="Load"></div>
                    <div ng-click="once(this, $event, 'toggleLockProject', $event)"
                         class="topbarButton icon-frame-sketch-before"
                         ng-class="{'icon-frame-sketch-unlock-before':$root.loadedProject.projectRecord.lock, 'icon-frame-sketch-lock-before':!$root.loadedProject.projectRecord.lock}"
                         title="Lock/Unlock"></div>
                    <div ng-click="once(this, $event, 'convertToHtml', $event)"
                         ng-show="$root.loadedProject.projectRecord.lock"
                         class="topbarButton icon-frame-sketch-before icon-frame-sketch-html-before"
                         title="Code Generation"></div>
                </div>
            </div>

            <div class="sketchHolder">
                <div class="deviceBackground" ng-style="{'background-image':'url(images/{{sketchDevice.img}})', 'min-width': '{{sketchDevice.width * 1.5}}', 'max-width': '{{sketchDevice.width * 1.5}}',
             'min-height': '{{sketchDevice.height * 1.5}}', 'max-height': '{{sketchDevice.height * 1.5}}'}">
                    <div class="deviceScreenBackground"
                         ng-style="{'min-width': '{{sketchDevice.width + 90}}', 'max-width': '{{sketchDevice.width + 90}}',
             'min-height': '{{sketchDevice.height + 90}}', 'max-height': '{{sketchDevice.height + 90}}'}">
                        <div class="deviceScreen"
                             ng-style="{'width': '{{sketchDevice.width + 90}}', 'height': '{{sketchDevice.height + 90}}'}">
                            <div id="deviceHolder" class="deviceHolder"
                                 ng-style="{'left': 45, 'top': 45, 'width': '{{sketchDevice.width}}', 'height': '{{sketchDevice.height}}'}">
                                <div id="pageNavigationControl" class="fs-x-medium"
                                     ng-show="$root.sketchWidgetSetting.isPlaying">
                                    <div class="icon-frame-sketch-before icon-frame-sketch-navigate_before-before"
                                         ng-click="once(this, $event, 'prevPage', $event)"></div>
                                    <div class="icon-frame-sketch-before icon-frame-sketch-navigate_next-before"
                                         ng-click="once(this, $event, 'nextPage', $event)"></div>
                                </div>
                            </div>
                            <div id="verticalRuler" class="ruler fs-x-smaller"
                                 ng-if="$root.sketchWidgetSetting.showRuler"
                                 ng-style="{'left':0, 'top': 45, 'width': 45, 'height': '{{sketchDevice.height}}'}"
                                 ui-vertical-ruler device-width="sketchDevice.width" device-height="sketchDevice.height"
                                 min-height="Math.floor(sketchDevice.height/sketchDevice.rulerMarkerCount * 1000) / 1000"
                                 marker-height="Math.floor(sketchDevice.height/sketchDevice.rulerMarkerCount * 1000) / 1000"
                                 marker-count="sketchDevice.rulerMarkerCount" picked-widget="sketchObject.pickedWidget">
                            </div>
                            <div id="horizontalRuler" class="ruler fs-x-smaller"
                                 ng-if="$root.sketchWidgetSetting.showRuler"
                                 ng-style="{'left':45, 'top': 0, 'width': '{{sketchDevice.width}}', 'height': 45}"
                                 ui-horizontal-ruler device-width="sketchDevice.width"
                                 device-height="sketchDevice.height"
                                 min-width="Math.floor(sketchDevice.width/sketchDevice.rulerMarkerCount * 1000) / 1000"
                                 marker-width="Math.floor(sketchDevice.width/sketchDevice.rulerMarkerCount * 1000) / 1000"
                                 marker-count="sketchDevice.rulerMarkerCount" picked-widget="sketchObject.pickedWidget">
                            </div>
                            <div id="widgetPopupHolder" class="fs-x-tiny">
                                <div id="widgetMenuButton"
                                     class="fs-x-tiny icon-frame-sketch-before icon-frame-sketch-menu-before"
                                     ng-click="once(this, $event, 'togglePopupMenu', $event)"></div>
                                <div id="widgetPopupMenu">
                                    <div class="btn-group open">
                                        <ul class="dropdown-menu fs-x-tiny" role="menu">
                                            <li class="icon-frame-sketch-before icon-frame-sketch-wrench-before"
                                                ng-if="uiService.isConfigurable(sketchObject.pickedWidget)"
                                                ng-click="once(this, $event, 'configureWidget', $event)"
                                                    ><a href="">Configure</a></li>
                                            <li class="icon-frame-sketch-before icon-frame-sketch-locate-before"
                                                ng-click="once(this, $event, 'locateWidget', $event)"
                                                    ><a href="">Reveal in Tree</a></li>
                                            <li class="icon-frame-sketch-before icon-frame-sketch-remove-before"
                                                ng-click="once(this, $event, 'removeWidget', $event)"
                                                    ><a href="">Remove</a></li>
                                            <li class="icon-frame-sketch-before icon-frame-sketch-duplicate-before"
                                                ng-click="once(this, $event, 'duplicateWidget', $event)"
                                                    ><a href="">Duplicate</a></li>
                                            <li class="icon-frame-sketch-before icon-frame-sketch-group-before"
                                                ng-click="once(this, $event, 'groupWidget', $event)"
                                                    ><a href="">Group</a></li>
                                            <li class="icon-frame-sketch-before icon-frame-sketch-ungroup-before"
                                                ng-click="once(this, $event, 'ungroupWidget', $event)"
                                                    ><a href="">Ungroup</a></li>
                                            <li class="icon-frame-sketch-before icon-frame-sketch-ladder-before"
                                                ng-click="once(this, $event, 'pickParentWidget', $event)"
                                                    ><a href="">Find Parent</a></li>
                                            <li class="icon-frame-sketch-before icon-frame-sketch-move-up-before"
                                                ng-click="once(this, $event, 'moveUpWidget', $event)"
                                                    ><a href="">Move Up</a></li>
                                            <li class="icon-frame-sketch-before icon-frame-sketch-move-down-before"
                                                ng-click="once(this, $event, 'moveDownWidget', $event)"
                                                    ><a href="">Move Down</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="widgetTextHolder"
                                 ng-style="{'left': 45, 'top': 45, 'width': '{{sketchDevice.width}}', 'height': '{{sketchDevice.height}}'}">
                                <div id="widgetText">
                                    <textarea></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="canvasContainer" ng-show="$root.sketchWidgetSetting.isDefingRoute"
                 ng-style="{'padding':45, 'width': '{{sketchDevice.width + 90}}', 'height': '{{sketchDevice.height + 90}}'}"
                    >
                <canvas id="sketchCanvas"></canvas>
            </div>

            <div id="canvasPopupMenu">
                <div class="btn-group open">
                    <ul class="dropdown-menu fs-x-medium" role="menu">
                        <li class="icon-frame-sketch-before icon-frame-sketch-pencil-before"
                            ng-click="once(this, $event, 'startLink', $event)"><a href="">Link To</a></li>
                        <li class="icon-frame-sketch-before icon-frame-sketch-delete-before"
                            ng-click="once(this, $event, 'removePoint', $event)"><a href="">Delete</a></li>
                    </ul>
                </div>
            </div>

            <div id="toggleCanvasEditButton" ng-show="$root.sketchWidgetSetting.isDefingRoute"
                 class="fs-x-medium icon-frame-sketch-before icon-frame-sketch-pen-checkbox-before"
                 ng-click="once(this, $event, 'toggleDefineRoute', $event)"></div>

            <div id="sketchControls" class="fs-x-large" ng-class="dockAlign" ui-dock
                 visible-pseudo-enabled-widgets="visiblePseudoEnabledWidgets">
                <div class="ui-control-group-titles fs-x-small">
                    <div tab-sel="tab-head-control-group-1" class="ui-control-group-title" tab-content="control-group">
                        Structure
                    </div>
                    <div tab-sel="tab-head-control-group-2" class="ui-control-group-title" tab-content="control-group">
                        Style
                    </div>
                    <div tab-sel="tab-head-control-group-3" class="ui-control-group-title" tab-content="control-group">
                        Icons
                    </div>
                    <div tab-sel="tab-head-control-group-4" class="ui-control-group-title" tab-content="control-group">
                        Widgets
                    </div>
                    <div tab-sel="tab-head-control-group-5" class="ui-control-group-title" tab-content="control-group">
                        Resource
                    </div>
                    <div class="showButton fs-x-large icon-dock-before icon-dock-eye-before"></div>
                    <div class="hideButton fs-x-large icon-dock-before icon-dock-eye-slash-before"></div>
                </div>
                <div class="ui-control-groups">
                    <div id="page-control-group" tab-sel="tab-content-control-group-1" class="ui-control-group">
                        <div class="structureContent" ng-click="$event.stopPropagation()">
                            <section class="tabs">
                                <input id="tab-1" type="radio" name="tabRadio" class="tab-selector-1 fs-x-smaller"
                                       checked="checked"/>
                                <label class="tab-label-1 fs-x-small">Items</label>
                                <input id="tab-2" type="radio" name="tabRadio" class="tab-selector-2 fs-x-smaller"/>
                                <label class="tab-label-2 fs-x-small" for="tab-2">States</label>
                                <input id="tab-3" type="radio" name="tabRadio" class="tab-selector-3 fs-x-smaller"/>
                                <label class="tab-label-3 fs-x-small" for="tab-3">Actions</label>

                                <div class="content">
                                    <div class="content-1">
                                        <div id="page-control" ui-page
                                             ui-page-opts="{'pageHolderClass':'deviceHolder'}"
                                             tree-node-id-prefix="'tree-node-'"
                                             dock-align="dockAlign">
                                        </div>
                                    </div>
                                    <div class="content-2">
                                        <div id="state-transition-control"
                                             ui-state-transition picked-widget="sketchObject.pickedWidget"
                                             picked-page="sketchObject.pickedPage" dock-align="dockAlign"></div>
                                    </div>
                                    <div class="content-3">
                                        <div id="state-action-control"
                                             ui-state-action picked-widget="sketchObject.pickedWidget"
                                             picked-page="sketchObject.pickedPage" dock-align="dockAlign"></div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div id="style-control-group" tab-sel="tab-content-control-group-2" class="ui-control-group">
                        <div id="controlDropDown"
                             class="fs-x-small  slide"
                             ui-simple-dropdown
                             ui-simple-dropdown-opts="{dataField:'id', labelField:'name', zIndex:100, gutter: 5, stack:false, delay:100, slidingIn:100, showTitle: true, displayUnsetOption: false, thumbnailField:'thumbnail'}"
                             selection-list="controlList"
                             select-item="pickedControl"
                             on-option-select="setSelectedConrol(pickedControl)">
                        </div>

                        <div id="pseudo-control"
                             class="fs-x-small-before">
                            <div class="input-group col-as-12 fs-x-smaller">
                                <label class="col-as-5 no-padding control-label fs-x-smaller">Pseudo</label>

                                <div class="col-as-7 no-padding">
                                    <select class="form-control vt-align-center" ng-model="pseudo"
                                            ng-change="onPseudoChange(pseudo)">
                                        <option value="{{opt}}"
                                                ng-attr-selected="{{pseudo === opt}}"
                                                ng-repeat="opt in pseudoOptions">
                                            {{opt}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div id="simple-style-editor-control"
                                 ui-simple-style-editor
                                 pseudo="pseudo"
                                 simple-style="$root.sketchWidgetSetting.simpleStyle"
                                 dock-align="dockAlign">
                            </div>
                        </div>

                        <div id="background-image-control"
                             class="ui-control ui-control-inline ui-control-bordered show"
                             ui-background-image
                             pseudo="pseudo"
                             background-image="$root.sketchWidgetSetting.backgroundImage"
                             dock-align="dockAlign">
                        </div>

                        <div id="color-control"
                             class="ui-control ui-control-inline ui-control-bordered"
                             ui-color-picker
                             pseudo="pseudo"
                             color="$root.sketchWidgetSetting.color"
                             dock-align="dockAlign">
                        </div>

                        <div id="border-control"
                             class="ui-control ui-control-inline ui-control-bordered"
                             ui-border-editor
                             pseudo="pseudo"
                             border="$root.sketchWidgetSetting.border"
                             dock-align="dockAlign">
                        </div>

                        <div id="fill-control"
                             class="ui-control ui-control-inline ui-control-bordered"
                             ui-gradient-editor
                             pseudo="pseudo"
                             linear-gradient-color="$root.sketchWidgetSetting.linearGradientColor"
                             dock-align="dockAlign">
                        </div>

                        <div id="text-shadow-control"
                             class="ui-control ui-control-inline ui-control-bordered"
                             ui-text-shadow-editor
                             pseudo="pseudo"
                             text-shadow="$root.sketchWidgetSetting.textShadow"
                             dock-align="dockAlign">
                        </div>

                        <div id="box-shadow-control"
                             class="ui-control ui-control-inline ui-control-bordered"
                             ui-box-shadow-editor
                             box-shadow="$root.sketchWidgetSetting.boxShadow"
                             dock-align="dockAlign">
                        </div>
                    </div>
                    <div id="shape-control-group" tab-sel="tab-content-control-group-3" class="ui-control-group">
                        <div id="shape-control" class="ui-control ui-control-inline enable" ui-shape
                             dock-align="dockAlign">
                        </div>
                    </div>
                    <div id="widget-control-group" tab-sel="tab-content-control-group-4" class="ui-control-group">
                        <div id="widget-control" class="ui-control ui-control-inline enable" ui-widget
                             ui-widget-opts="{elementZIndex: 99}"
                             picked-artifact="$root.sketchWidgetSetting.pickedArtifact"
                             picked-library="$root.sketchWidgetSetting.pickedLibrary"
                             dock-align="dockAlign" show-demo="showDemo()">
                        </div>
                    </div>
                    <div id="resource-control-group" tab-sel="tab-content-control-group-5" class="ui-control-group">
                        <div id="resource-editor-control" class="ui-control ui-control-inline enable" ui-resource-editor
                             dock-align="dockAlign">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="frameSketchModalContent fs-x-large" name="modalContent">
            <div id="frameSketchConfigureModal" ng-show="modalUsage === 'Configuration'"
                 ng-click="stopEvent($event, '#widget-configurator-control')">
                <div id="widget-configurator-control"
                     class="modal-control"
                     ng-if="uiService.isConfigurable(sketchObject.pickedWidget)"
                     ui-widget-configurator
                     picked-widget="sketchObject.pickedWidget"
                     dock-align="dockAlign">
                </div>
            </div>
            <div id="frameSketchDemoModal" ng-show="modalUsage === 'Demo'" ng-click="$event.stopPropagation()">
                <div class="hideButton icon-frame-sketch-before icon-frame-sketch-exit-before"
                     ng-click="once(this, $event, 'hideModal', $event)"></div>
                <div class="frameSketchDemoContainer">
                    <div id="frameSketchWidgetDemoArea"></div>
                </div>
            </div>
            <div id="widgetNameModal" ng-show="modalUsage === 'WidgetName'" ng-click="$event.stopPropagation()"
                 extensionPoint="bookWidgetCreationExtensionPoint">
                <div class="widgetNameContent">
                    <div class="input-group col-as-12 fs-x-medium">
                        <label class="col-as-4 no-padding control-label">Widget Name</label>

                        <div class="col-as-8 no-padding">
                            <input id="newWidgetName" type="text"
                                   class="form-control no-padding fs-x-medium"/>
                        </div>
                    </div>
                </div>
                <div class="widgetNameConfirmBar">
                    <div class="widgetNameButton col-as-6 no-padding"
                         ng-click="once(this, $event, 'confirmWidgetName', $event)">
                        <span class="icon-frame-sketch-before icon-frame-sketch-confirm-before">Confirm</span>
                    </div>
                    <div class="widgetNameButton col-as-6 no-padding"
                         ng-click="once(this, $event, 'hideModal', $event)">
                        <span class="icon-frame-sketch-before icon-frame-sketch-cancel-before">Cancel</span>
                    </div>
                </div>
            </div>
            <div id="resourceEditorModal" ng-show="modalUsage === 'ResourceEditor'" ng-click="$event.stopPropagation()">
                <div class="hideButton icon-frame-sketch-before icon-frame-sketch-exit-before"
                     ng-click="once(this, $event, 'hideModal', $event)"></div>
                <div class="frameSketchResourceContainer">
                    <div id="frameSketchResourceArea"></div>
                </div>
            </div>
        </div>
    </div>
</div>