<link rel="stylesheet" type="text/css" href="stylesheets/project.css"/>
<link rel="stylesheet" type="text/css" href="fonts/icon-project/style.css"/>

<div class="projectContainer fs-x-medium" ng-controller="ProjectController">
    <div ui-modal-window transition="fadeInScaleUp">
        <div class="projectMainContent" name="mainContent">
            <div ui-topbar display-project-creation="displayProjectCreation()">
                <div name="extraButtons">
                    <div class="topbarButton icon-project-before icon-project-add-before"
                         ng-click="displayProjectCreation($event)"></div>
                    <div class="topbarButton topbarToggleButton icon-project-before icon-project-edit-before"
                         ng-click="toggleProjectEditButton($event)"></div>
                    <div class="topbarButton topbarToggleButton icon-project-before icon-project-download-before"
                         action="download"
                         ng-click="toggleProjectButton($event)"></div>
                    <div class="topbarButton topbarToggleButton icon-project-before icon-project-gif-before"
                         action="gif"
                         ng-click="toggleProjectButton($event)"></div>
                </div>
            </div>
            <div class="projectContent col-as-12">
                <div class="fs-x-small projectItem" ng-repeat="projectItem in userDetail.projectList"
                     ng-attr-id="{{projectItem._id}}"
                     ng-click="toggleEditMode && displayProjectEdit(projectItem, $event) || selectProject(projectItem, $event)"
                     ng-style="{'cursor':toggleEditMode?'pointer':'default'}">
                    <div class="projectItemCheck fs-x-large icon-project-before"
                         ng-class="{'icon-project-uncheck-before':!projectItem.checked, 'icon-project-check-before':projectItem.checked}"
                         ng-click="toggleCheck(projectItem, $event)" ng-show="toggleCheckMode"></div>

                    <div class="projectItemDisplayQrCode fs-x-large icon-project-before icon-project-qr-code-before"
                         ng-click="toggleDisplay('#{0} .projectItemQrCode'.format(projectItem._id), $event)"></div>

                    <div class="projectItemInfoList col-as-12 no-padding">
                        <div class="projectItemInfo projectItemDesc col-as-12">
                            <span class="col-as-12">{{projectItem.desc}}</span>
                        </div>
                        <div class="projectItemInfo col-as-12 input-group">
                            <label class="col-as-6 no-padding-right control-label">Name</label>

                            <div class="col-as-6 no-padding-left"><span>{{projectItem.name}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="projectItemQrCode"
                         ng-click="toggleDisplay('#{0} .projectItemQrCode'.format(projectItem._id), $event)">
                        <div class="qrCodeImg" ng-include="'project/{0}/qrcode.svg'.format(projectItem._id)">
                        </div>
                    </div>
                    <div class="projectItemButton col-as-12" ng-click="removeProject(projectItem, $event)">
                        Remove
                    </div>
                </div>
            </div>
            <div class="projectActionConfirmBar" ng-class="{'select':toggleCheckMode}">
                <div class="projectActionButton col-as-6 no-padding"
                     ng-click="confirmProjectAction($event)">
                    <span class="icon-project-before icon-project-confirm-before">Confirm</span>
                </div>
                <div class="projectActionButton col-as-6 no-padding"
                     ng-click="cancelProjectAction($event)">
                    <span class="icon-project-before icon-project-cancel-before">Cancel</span>
                </div>
            </div>
        </div>
        <div class="projectModalContent" name="modalContent">
            <div class="projectInfoContainer">
                <div class="input-group fs-x-small">
                    <label class="col-as-4 no-padding-right control-label">Name</label>

                    <div class="col-as-8 no-padding-left">
                        <input type="text" class="form-control" ng-model="pickedProject.name"/>
                    </div>
                </div>
                <div class="input-group fs-x-small">
                    <label class="col-as-4 no-padding-right control-label">Description</label>

                    <div class="col-as-8 no-padding-left">
                        <input type="text" class="form-control" ng-model="pickedProject.desc"/>
                    </div>
                </div>
                <div class="input-group fs-x-small">
                    <label class="col-as-4 no-padding-right control-label">Type</label>

                    <div class="col-as-8 no-padding-left">
                        <select class="form-control no-padding fs-x-smaller"
                                ng-model="pickedProject.type">
                            <option value="sketch">Sketch</option>
                            <option value="flow">Flow</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="projectModalBar">
                <div class="projectModalButton col-as-6"
                     ng-click="toggleEditMode && modifyProject(pickedProject, $event) || addProject(pickedProject, $event)">
                    <span class="icon-project-before icon-project-confirm-before">{{toggleEditMode?"Modify":"Add"}}</span>
                </div>
                <div class="projectModalButton col-as-6"
                     ng-click="hideProjectModal($event)">
                    <span class="icon-project-before icon-project-cancel-before">Cancel</span>
                </div>
            </div>
        </div>
    </div>
</div>