<link rel="stylesheet" type="text/css" href="stylesheets/repoLib.css"/>
<link rel="stylesheet" type="text/css" href="fonts/icon-repo/style.css"/>

<div class="repoLibContainer fs-x-medium"
     ng-controller="RepoLibController">
    <div ui-modal-window transition="fadeInScaleUp">
        <div class="repoLibMainContent" name="mainContent">
            <div ui-topbar></div>
            <div class="repoLibContent col-as-12">
                <div class="fs-x-small repoArtifact"
                     ng-repeat="repoArtifact in markSelection(repoLib.artifactList, dependencyRecord.artifactList, [{target:'_id', source:'artifactId'}])"
                     ng-init="getCurrentVersion(repoArtifact)"
                     ng-click="showDemo(repoArtifact, $event)">
                    <div class="repoArtifactInfo repoArtifactDesc col-as-12">
                        <span class="col-as-12">{{repoArtifact.desc}}</span>
                    </div>
                    <div class="repoArtifactInfo col-as-12 input-group">
                        <label class="col-as-6 no-padding control-label">Name</label>

                        <div class="col-as-6 no-padding"><span>{{repoArtifact.name}}</span>
                        </div>
                    </div>
                    <div class="repoArtifactInfo col-as-12 input-group">
                        <label class="col-as-6 no-padding control-label">Designer</label>

                        <div class="col-as-6 no-padding"><span>{{repoArtifact.designer}}</span>
                        </div>
                    </div>
                    <div class="repoArtifactInfo col-as-12 input-group">
                        <label class="col-as-6 no-padding control-label">Version</label>

                        <div class="col-as-6 no-padding">
                            <div class="artifactVersionDropdown stackAndRotateSelect" ui-simple-dropdown
                                 ui-simple-dropdown-opts="{dataField:'name', labelField:'name', zIndex:1000, gutter: 2, slidingIn: true, showTitle: true, displayUnsetOption: false}"
                                 enable-selection="!repoArtifact._selected"
                                 selection-list="repoArtifact.versionList" select-item="repoArtifact._version">
                            </div>
                        </div>
                    </div>
                    <div class="repoArtifactButton col-as-12"
                         ng-click="toggleRepoArtifactSelection(repoArtifact, $event)" ng-if="project">
                        {{repoArtifact._selected?'Remove':'Add'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="repoLibModalContent" name="modalContent">
            <div class="hideButton icon-repo-before icon-repo-exit-before" ng-click="hideDemo($event)"></div>
            <div class="demoContainer">
                <div id="demoArea"></div>
            </div>
        </div>
    </div>
</div>