<div id="bg" ng-controller="ProjectRootController">
    <div id="main">
    </div>
    <div id="pageNavigationControl" class="fs-x-medium">
        <div class="icon-mobile-app-before icon-mobile-app-navigate_before-before"
             ng-click="prevPage($event)"></div>
        <div class="icon-mobile-app-before icon-mobile-app-navigate_next-before"
             ng-click="nextPage($event)"></div>
        <div class="icon-mobile-app-before icon-mobile-app-exit-before"
             ng-click="exitPage($event)"></div>
    </div>
</div>
