@import "magic_animation";

@mixin flipUpKeyframes($keyframe: flipUp) {
    @-moz-keyframes #{$keyframe} {
        0% {
            -moz-transform-origin: 50% 0;
            -moz-transform: perspective(800px) rotateX(0deg);
        }
        100% {
            -moz-transform-origin: 50% 0;
            -moz-transform: perspective(800px) rotateX(-90deg);
        }
    }

    @-webkit-keyframes #{$keyframe} {
        0% {
            -webkit-transform-origin: 50% 0;
            -webkit-transform: perspective(800px) rotateX(0deg);
        }
        100% {
            -webkit-transform-origin: 50% 0;
            -webkit-transform: perspective(800px) rotateX(-90deg);
        }
    }

    @-o-keyframes #{$keyframe} {
        0% {
            -o-transform-origin: 50% 0;
            -o-transform: perspective(800px) rotateX(0deg);
        }
        100% {
            -o-transform-origin: 50% 0;
            -o-transform: perspective(800px) rotateX(-90deg);
        }
    }

    @-ms-keyframes #{$keyframe} {
        0% {
            -ms-transform-origin: 50% 0;
            -ms-transform: perspective(800px) rotateX(0deg);
        }
        100% {
            -ms-transform-origin: 50% 0;
            -ms-transform: perspective(800px) rotateX(-90deg);
        }
    }

    @keyframes #{$keyframe} {
        0% {
            transform-origin: 50% 0;
            transform: perspective(800px) rotateX(0deg);
        }
        100% {
            transform-origin: 50% 0;
            transform: perspective(800px) rotateX(-90deg);
        }
    }
}

@mixin flipDownKeyframes($keyframe: flipDown) {
    @-moz-keyframes #{$keyframe} {
        0% {
            -moz-transform-origin: 50% 0;
            -moz-transform: perspective(800px) rotateX(-90deg);
        }
        100% {
            -moz-transform-origin: 50% 0;
            -moz-transform: perspective(800px) rotateX(0deg);
        }
    }

    @-webkit-keyframes #{$keyframe} {
        0% {
            -webkit-transform-origin: 50% 0;
            -webkit-transform: perspective(800px) rotateX(-90deg);
        }
        100% {
            -webkit-transform-origin: 50% 0;
            -webkit-transform: perspective(800px) rotateX(0deg);
        }
    }

    @-o-keyframes #{$keyframe} {
        0% {
            -o-transform-origin: 50% 0;
            -o-transform: perspective(800px) rotateX(-90deg);
        }
        100% {
            -o-transform-origin: 50% 0;
            -o-transform: perspective(800px) rotateX(0deg);
        }
    }

    @-ms-keyframes #{$keyframe} {
        0% {
            -ms-transform-origin: 50% 0;
            -ms-transform: perspective(800px) rotateX(-90deg);
        }
        100% {
            -ms-transform-origin: 50% 0;
            -ms-transform: perspective(800px) rotateX(0deg);
        }
    }

    @keyframes #{$keyframe} {
        0% {
            transform-origin: 50% 0;
            transform: perspective(800px) rotateX(-90deg);
        }
        100% {
            transform-origin: 50% 0;
            transform: perspective(800px) rotateX(0deg);
        }
    }
}

@mixin partialSlideLeftKeyframes($keyframe, $distance, $offset) {
    @-moz-keyframes #{$keyframe} {
        0% {
            -moz-transform-origin: 0 0;
            -moz-transform: translateX($offset);
        }
        100% {
            -moz-transform-origin: 0 0;
            -moz-transform: translateX(-$distance + $offset);
        }
    }

    @-webkit-keyframes #{$keyframe} {
        0% {
            -webkit-transform-origin: 0 0;
            -webkit-transform: translateX($offset);
        }
        100% {
            -webkit-transform-origin: 0 0;
            -webkit-transform: translateX(-$distance + $offset);
        }
    }

    @-o-keyframes #{$keyframe} {
        0% {
            -o-transform-origin: 0 0;
            -o-transform: translateX($offset);
        }
        100% {
            -o-transform-origin: 0 0;
            -o-transform: translateX(-$distance + $offset);
        }
    }

    @-ms-keyframes #{$keyframe} {
        0% {
            -ms-transform-origin: 0 0;
            -ms-transform: translateX($offset);
        }
        100% {
            -ms-transform-origin: 0 0;
            -ms-transform: translateX(-$distance + $offset);
        }
    }

    @keyframes #{$keyframe} {
        0% {
            transform-origin: 0 0;
            transform: translateX($offset);
        }
        100% {
            transform-origin: 0 0;
            transform: translateX(-$distance + $offset);
        }
    }
}

@mixin partialSlideRightKeyframes($keyframe, $distance, $offset) {
    @-moz-keyframes #{$keyframe} {
        0% {
            -moz-transform-origin: 0 0;
            -moz-transform: translateX(-$distance + $offset);
        }
        100% {
            -moz-transform-origin: 0 0;
            -moz-transform: translateX($offset);
        }
    }

    @-webkit-keyframes #{$keyframe} {
        0% {
            -webkit-transform-origin: 0 0;
            -webkit-transform: translateX(-$distance + $offset);
        }
        100% {
            -webkit-transform-origin: 0 0;
            -webkit-transform: translateX($offset);
        }
    }

    @-o-keyframes #{$keyframe} {
        0% {
            -o-transform-origin: 0 0;
            -o-transform: translateX(-$distance + $offset);
        }
        100% {
            -o-transform-origin: 0 0;
            -o-transform: translateX($offset);
        }
    }

    @-ms-keyframes #{$keyframe} {
        0% {
            -ms-transform-origin: 0 0;
            -ms-transform: translateX(-$distance + $offset);
        }
        100% {
            -ms-transform-origin: 0 0;
            -ms-transform: translateX($offset);
        }
    }

    @keyframes #{$keyframe} {
        0% {
            transform-origin: 0 0;
            transform: translateX(-$distance + $offset);
        }
        100% {
            transform-origin: 0 0;
            transform: translateX($offset);
        }
    }
}

@mixin twisterInDown($keyframe: twisterInDown) {
    @-moz-keyframes #{$keyframe} {
        0% {
            opacity: 0;
            -moz-transform-origin: 0 100%;
            -moz-transform: scale(0, 0) rotate(360deg) translateY(-100%);
        }
        30% {
            -moz-transform-origin: 0 100%;
            -moz-transform: scale(0, 0) rotate(360deg) translateY(-100%);
        }
        100% {
            opacity: 1;
            -moz-transform-origin: 100% 100%;
            -moz-transform: scale(1, 1) rotate(0deg) translateY(0%);
        }
    }

    @-webkit-keyframes #{$keyframe} {
        0% {
            opacity: 0;
            -webkit-transform-origin: 0 100%;
            -webkit-transform: scale(0, 0) rotate(360deg) translateY(-100%);
        }
        30% {
            -webkit-transform-origin: 0 100%;
            -webkit-transform: scale(0, 0) rotate(360deg) translateY(-100%);
        }
        100% {
            opacity: 1;
            -webkit-transform-origin: 100% 100%;
            -webkit-transform: scale(1, 1) rotate(0deg) translateY(0%);
        }
    }

    @-o-keyframes #{$keyframe} {
        0% {
            opacity: 0;
            -o-transform-origin: 0 100%;
            -o-transform: scale(0, 0) rotate(360deg) translateY(-100%);
        }
        30% {
            -o-transform-origin: 0 100%;
            -o-transform: scale(0, 0) rotate(360deg) translateY(-100%);
        }
        100% {
            opacity: 1;
            -o-transform-origin: 100% 100%;
            -o-transform: scale(1, 1) rotate(0deg) translateY(0%);
        }
    }

    @-ms-keyframes #{$keyframe} {
        0% {
            opacity: 0;
            filter: alpha(opacity=0);
            -ms-transform-origin: 0 100%;
            -ms-transform: scale(0, 0) rotate(360deg) translateY(-100%);
        }
        30% {
            -ms-transform-origin: 0 100%;
            -ms-transform: scale(0, 0) rotate(360deg) translateY(-100%);
        }
        100% {
            opacity: 1;
            filter: alpha(opacity=100);
            -ms-transform-origin: 100% 100%;
            -ms-transform: scale(1, 1) rotate(0deg) translateY(0%);
        }
    }

    @keyframes #{$keyframe} {
        0% {
            opacity: 0;
            transform-origin: 0 100%;
            transform: scale(0, 0) rotate(360deg) translateY(-100%);
        }
        30% {
            transform-origin: 0 100%;
            transform: scale(0, 0) rotate(360deg) translateY(-100%);
        }
        100% {
            opacity: 1;
            transform-origin: 100% 100%;
            transform: scale(1, 1) rotate(0deg) translateY(0%);
        }
    }
}

@mixin rotateKeyframes($keyframe: rotateUpSideDown, $deg: 180deg) {
    @-moz-keyframes #{$keyframe} {
        0% {
            -moz-transform: rotateZ(0deg);
        }
        100% {
            -moz-transform: rotateZ($deg);
        }
    }

    @-webkit-keyframes #{$keyframe} {
        0% {
            -webkit-transform: rotateZ(0deg);
        }
        100% {
            -webkit-transform: rotateZ($deg);
        }
    }

    @-o-keyframes #{$keyframe} {
        0% {
            -o-transform: rotateZ(0deg);
        }
        100% {
            -o-transform: rotateZ($deg);
        }
    }

    @-ms-keyframes #{$keyframe} {
        0% {
            -ms-transform: rotateZ(0deg);
        }
        100% {
            -ms-transform: rotateZ($deg);
        }
    }

    @keyframes #{$keyframe} {
        0% {
            transform: rotateZ(0deg);
        }
        100% {
            transform: rotateZ($deg);
        }
    }
}

@mixin sonarEffectKeyframes($keyframe: sonarEffect, $minOpacity: 0) {
    @-webkit-keyframes #{$keyframe} {
        0% {
            opacity: 0.3 + $minOpacity;
        }
        40% {
            opacity: 0.5 + $minOpacity;
            box-shadow: 0 0 0 2px rgba(192, 192, 192, 0.1), 0 0 10px 10px rgba(192, 192, 192, 0.3), 0 0 0 10px rgba(192, 192, 192, 0.5);
        }
        100% {
            box-shadow: 0 0 0 2px rgba(192, 192, 192, 0.1), 0 0 10px 10px rgba(192, 192, 192, 0.3), 0 0 0 10px rgba(192, 192, 192, 0.5);
            -webkit-transform: scale(1.5);
            opacity: 0 + $minOpacity;
        }
    }

    @-moz-keyframes #{$keyframe} {
        0% {
            opacity: 0.3 + $minOpacity;
        }
        40% {
            opacity: 0.5 + $minOpacity;
            box-shadow: 0 0 0 2px rgba(192, 192, 192, 0.1), 0 0 10px 10px rgba(192, 192, 192, 0.3), 0 0 0 10px rgba(192, 192, 192, 0.5);
        }
        100% {
            box-shadow: 0 0 0 2px rgba(192, 192, 192, 0.1), 0 0 10px 10px rgba(192, 192, 192, 0.3), 0 0 0 10px rgba(192, 192, 192, 0.5);
            -moz-transform: scale(1.5);
            opacity: 0 + $minOpacity;
        }
    }

    @keyframes #{$keyframe} {
        0% {
            opacity: 0.3 + $minOpacity;
        }
        40% {
            opacity: 0.5 + $minOpacity;
            box-shadow: 0 0 0 2px rgba(192, 192, 192, 0.1), 0 0 10px 10px rgba(192, 192, 192, 0.3), 0 0 0 10px rgba(192, 192, 192, 0.5);
        }
        100% {
            box-shadow: 0 0 0 2px rgba(192, 192, 192, 0.1), 0 0 10px 10px rgba(192, 192, 192, 0.3), 0 0 0 10px rgba(192, 192, 192, 0.5);
            transform: scale(1.5);
            opacity: 0 + $minOpacity;
        }
    }
}

/* Slide 100% width from current position to right
 * Used by directive ng.ui.dock, ng.ui-color-editor-palette, ng.ui.state-transition
 * Found in _dock.html, _color-editor-palette.html, _state_transition.html
 */
@include slideRightKeyframes(slideRight);

/* Slide from the position 100% width right to original one back
 * Used by directive ng.ui-color-editor-palette
 * Found in _color-editor-palette.html
 */
@include slideRightRetournKeyframes(slideRightRetourn);

/* Slide 100% width from current position to left
 * Used by directive ng.ui.dock, ng.ui.state-transition
 * Found in _dock.html, _state_transition.html
 */
@include slideLeftKeyframes(slideLeft);

/* Slide from the position 100% width left to original one back
 * Used by directive ng.ui-color-editor-palette
 * Found in _color-editor-palette.html
 */
@include slideLeftRetournKeyframes(slideLeftRetourn);

/* Scale from to 100% size
 * Used by directive ng.ui.color-picker, ng.ui.gradient-editor
 * Found in _color_picker.html, _gradient_editor.html
 */
@include swashInKeyframes(swashIn);

/* Flip 90deg counter clockwise on x-axis
 * Used by directive ng.ui.dock, ng.ui.state-transition
 * Found in _dock.html, _state_transition.html
 */
@include flipUpKeyframes(flipUp);

/* Flip 90deg clockwise on x-axis, with mixin flipDownOrigin to simulate paper flipping to visible
 * Used by directive ng.ui.dock, ng.ui-color-editor-palette, ng.ui-box-shadow-editor, ng.ui-text-shadow-editor
 * Found in _dock.html, _color-editor-palette.html, _border-editor.html, _text-shadow.html
 */
@include flipDownKeyframes(flipDown);

/* Slide right by distance of percent or px.
 * Used by directive ng.ui.dock
 * Found in _dock.html
 */
@include partialSlideRightKeyframes(pxDockSlideRight, 4.4em, 0em);

/* Slide left by distance of percent or px.
 * Used by directive ng.ui.dock
 * Found in _dock.html
 */
@include partialSlideLeftKeyframes(pxDockSlideLeft, 4.4em, 0em);

/* Slide right by distance of percent or px.
 * Used by directive ng.ui.dock
 * Found in _dock.html
 */
@include partialSlideRightKeyframes(pxOffsetDockSlideRight, 10.6em, 4.6em);

/* Slide left by distance of percent or px.
 * Used by directive ng.ui.dock
 * Found in _dock.html
 */
@include partialSlideLeftKeyframes(pxOffsetDockSlideLeft, 4em, 4.6em);

/* Rotate item up side down.
 * Used by directive ng.ui.shape, ng.ui.state-transition, ng.ui-box-shadow-editor, ng.ui-text-shadow-editor
 * Found in _shape.html, _state_transition.html, _border-editor.html, _text-shadow.html
 */
@include rotateKeyframes(rotateUpSideDown);

/* Rotate item by 90deg clockwise.
 * Used by directive ng.ui.state-transitoin
 * Found in _state_transition.html
 */
@include rotateKeyframes(rotateQuarterArc, 90deg);

/* Add sonar ring-out effect.
 * Used by directive ng.ui.shape
 * Found in _shape.html
 */
@include sonarEffectKeyframes(sonarEffect, 1);

/* Slide left by distance of width to original 0%.
 * Used by directive ng.ui.dock
 * Found in _dock.html
 */
@include slideLeftKeyframes(slideLeftBack, 100%);

/* Slide right by distance of width to original 0%.
 * Used by directive ng.ui.dock
 * Found in _dock.html
 */
@include slideRightKeyframes(slideRightBack, -100%);

/*
 * Used by directive ng.ui.border-editor, ng.ui.gradient-editor, ng.ui-box-shadow-editor, ng.ui-text-shadow-editor
 * Found in _border-eidtor.html, _gradient-editor.html, _border-editor.html, _text-shadow.html
 */
@include twisterInDown(twisterInDown);