.widgetDemoContainer {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  background: #333;
  /*animation*/
  /*style for the demo*/
}
.widgetDemoContainer a:focus {
  outline: thin dotted;
}
.widgetDemoContainer a:hover, .widgetDemoContainer a:active {
  outline: 0;
}
.widgetDemoContainer a {
  text-decoration: none;
  color: #2980b9;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.widgetDemoContainer a:hover, .widgetDemoContainer a:focus {
  color: #3498db;
}
.widgetDemoContainer a:active {
  color: #e0e0e0;
}
.widgetDemoContainer h1, .widgetDemoContainer h2, .widgetDemoContainer h3, .widgetDemoContainer h4, .widgetDemoContainer h5, .widgetDemoContainer h6 {
  margin: 0.625em 0;
  font-weight: inherit;
  line-height: 1.4em;
  clear: both;
}
.widgetDemoContainer h1 {
  font-size: 2.457em;
}
.widgetDemoContainer h2 {
  font-size: 2.169em;
}
.widgetDemoContainer h3 {
  font-size: 1.877em;
}
.widgetDemoContainer h4 {
  font-size: 1.433em;
}
.widgetDemoContainer h5 {
  font-size: 1.322em;
}
.widgetDemoContainer h6 {
  font-size: 1.211em;
}
.widgetDemoContainer hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}
.widgetDemoContainer #timing {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
.widgetDemoContainer #testbox {
  width: 30%;
  float: left;
  position: relative;
  z-index: 11;
  height: auto;
}
.widgetDemoContainer #testbox #retrobox {
  width: 100px;
  height: 100px;
  left: 12%;
  position: fixed;
  z-index: 12;
  top: 200px;
  text-align: center;
  line-height: 100px;
  font-size: 2em;
  border: 2px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.widgetDemoContainer #testbox #timing {
  width: 100px;
  height: 100px;
  left: 12%;
  position: fixed;
  top: 200px;
  z-index: 13;
  text-align: center;
  line-height: 100px;
  font-size: 2.4em;
  background: #EF4836;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.widgetDemoContainer #cssoptions {
  width: 70%;
  height: 100%;
  padding: 60px 4%;
  float: right;
  position: relative;
  overflow: auto;
}
.widgetDemoContainer #cssoptions h3 {
  font-weight: 100;
  color: #fff;
}
.widgetDemoContainer #cssoptions .btn {
  display: block;
  float: left;
  margin: 10px 10px 10px 0;
  padding: 12px 18px;
  background: #333;
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid #fff;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.widgetDemoContainer #cssoptions .btn:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.6);
}
