@import "base";

@include baseAnimation(_widget_creativeButton_sonarEffect, 0.5s, ease-out, 1, 75ms);

@-webkit-keyframes _widget_creativeButton_sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(192, 192, 192, 0.1), 0 0 10px 10px rgba(192, 192, 192, 0.3), 0 0 0 10px rgba(192, 192, 192, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(192, 192, 192, 0.1), 0 0 10px 10px rgba(192, 192, 192, 0.3), 0 0 0 10px rgba(192, 192, 192, 0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}

@-moz-keyframes _widget_creativeButton_sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(192, 192, 192, 0.1), 0 0 10px 10px rgba(192, 192, 192, 0.3), 0 0 0 10px rgba(192, 192, 192, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(192, 192, 192, 0.1), 0 0 10px 10px rgba(192, 192, 192, 0.3), 0 0 0 10px rgba(192, 192, 192, 0.5);
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes _widget_creativeButton_sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(192, 192, 192, 0.1), 0 0 10px 10px rgba(192, 192, 192, 0.3), 0 0 0 10px rgba(192, 192, 192, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(192, 192, 192, 0.1), 0 0 10px 10px rgba(192, 192, 192, 0.3), 0 0 0 10px rgba(192, 192, 192, 0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}