/* line 18, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Effect 1: Slide in on top */
  /* Effect 2: Reveal */
  /* Effect 4: Slide along */
  /* Effect 5: Reverse slide out */
  /* Effect 6: Rotate pusher */
  /* Effect 7: 3D rotate in */
  /* Effect 8: 3D rotate out */
  /* Effect 9: Scale down pusher */
  /* Effect 10: Scale up */
  /* Effect 11: Scale and rotate pusher */
  /* Effect 12: Open door */
  /* Effect 13: Fall down */
  /* Effect 14: Delayed 3D rotate */
}
/* line 27, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.overlay > .mainContent:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: rgba(212, 212, 212, 0.5);
  content: '';
  opacity: 1;
}
/* line 40, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.overlay.select > .mainContent:after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
/* line 50, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide > .mainContent {
  position: relative;
  right: 0;
  z-index: 99;
  height: 100%;
  background-color: #ffffff;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
/* line 59, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide > .mainContent > [name=mainContent] {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}
/* line 67, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide > .barContent, #Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide > .mainContent > .barContent {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  visibility: hidden;
  width: 30%;
  height: 100%;
  display: none;
  background-color: #cccccc;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 80, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide > .barContent > [name=barContent], #Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide > .mainContent > .barContent > [name=barContent] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 90, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.select > .barContent {
  display: block;
}
/* line 97, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.slideInOnTop > .barContent {
  -moz-transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
/* line 101, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.slideInOnTop.select > .barContent {
  visibility: visible;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 109, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.reveal > .barContent {
  z-index: 1;
}
/* line 114, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.reveal.select > .mainContent {
  -moz-transform: translate3d(-30%, 0, 0);
  -ms-transform: translate3d(-30%, 0, 0);
  -webkit-transform: translate3d(-30%, 0, 0);
  transform: translate3d(-30%, 0, 0);
}
/* line 118, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.reveal.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
/* line 128, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.slideAlong > .barContent {
  z-index: 1;
  -moz-transform: translate3d(50%, 0, 0);
  -webkit-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0);
}
/* line 134, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.slideAlong.select > .mainContent {
  -moz-transform: translate3d(-30%, 0, 0);
  -ms-transform: translate3d(-30%, 0, 0);
  -webkit-transform: translate3d(-30%, 0, 0);
  transform: translate3d(-30%, 0, 0);
}
/* line 138, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.slideAlong.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 149, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.reverseSlideOut > .barContent {
  z-index: 1;
  -moz-transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
/* line 155, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.reverseSlideOut.select > .mainContent {
  -moz-transform: translate3d(-30%, 0, 0);
  -ms-transform: translate3d(-30%, 0, 0);
  -webkit-transform: translate3d(-30%, 0, 0);
  transform: translate3d(-30%, 0, 0);
}
/* line 159, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.reverseSlideOut.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 169, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.rotatePusher {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
/* line 172, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.rotatePusher > .mainContent {
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 176, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.rotatePusher > .mainContent > .barContent {
  -moz-transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 184, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.rotatePusher.select > .mainContent {
  -moz-transform: translate3d(-30%, 0, 0) rotateY(15deg);
  -ms-transform: translate3d(-30%, 0, 0) rotateY(15deg);
  -webkit-transform: translate3d(-30%, 0, 0) rotateY(15deg);
  transform: translate3d(-30%, 0, 0) rotateY(15deg);
}
/* line 187, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.rotatePusher.select > .mainContent > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0) rotateY(-15deg);
  -ms-transform: translate3d(0, 0, 0) rotateY(-15deg);
  -webkit-transform: translate3d(0, 0, 0) rotateY(-15deg);
  transform: translate3d(0, 0, 0) rotateY(-15deg);
}
/* line 198, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.rotateIn3D {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -moz-perspective-origin: 0% 50%;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
/* line 202, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.rotateIn3D > .mainContent {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 205, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.rotateIn3D > .mainContent > .barContent {
  -moz-transform: translate3d(100%, 0, 0) rotateY(90deg);
  -ms-transform: translate3d(100%, 0, 0) rotateY(90deg);
  -webkit-transform: translate3d(100%, 0, 0) rotateY(90deg);
  transform: translate3d(100%, 0, 0) rotateY(90deg);
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 213, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.rotateIn3D.select > .mainContent {
  -moz-transform: translate3d(-30%, 0, 0);
  -ms-transform: translate3d(-30%, 0, 0);
  -webkit-transform: translate3d(-30%, 0, 0);
  transform: translate3d(-30%, 0, 0);
}
/* line 216, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.rotateIn3D.select > .mainContent > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(100%, 0, 0) rotateY(0deg);
  -ms-transform: translate3d(100%, 0, 0) rotateY(0deg);
  -webkit-transform: translate3d(100%, 0, 0) rotateY(0deg);
  transform: translate3d(100%, 0, 0) rotateY(0deg);
}
/* line 227, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.rotateOut3D {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -moz-perspective-origin: 0% 50%;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
/* line 231, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.rotateOut3D > .mainContent {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 234, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.rotateOut3D > .mainContent > .barContent {
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transform: translate3d(100%, 0, 0) rotateY(-90deg);
  -ms-transform: translate3d(100%, 0, 0) rotateY(-90deg);
  -webkit-transform: translate3d(100%, 0, 0) rotateY(-90deg);
  transform: translate3d(100%, 0, 0) rotateY(-90deg);
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 242, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.rotateOut3D.select > .mainContent {
  -moz-transform: translate3d(-30%, 0, 0);
  -ms-transform: translate3d(-30%, 0, 0);
  -webkit-transform: translate3d(-30%, 0, 0);
  transform: translate3d(-30%, 0, 0);
}
/* line 245, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.rotateOut3D.select > .mainContent > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(100%, 0, 0) rotateY(0deg);
  -ms-transform: translate3d(100%, 0, 0) rotateY(0deg);
  -webkit-transform: translate3d(100%, 0, 0) rotateY(0deg);
  transform: translate3d(100%, 0, 0) rotateY(0deg);
}
/* line 256, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.scaleDownPusher {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
/* line 259, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.scaleDownPusher > .mainContent {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 263, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.scaleDownPusher > .barContent {
  opacity: 1;
  -moz-transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
/* line 269, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.scaleDownPusher.select > .mainContent {
  -moz-transform: translate3d(0, 0, -300px);
  -ms-transform: translate3d(0, 0, -300px);
  -webkit-transform: translate3d(0, 0, -300px);
  transform: translate3d(0, 0, -300px);
}
/* line 273, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.scaleDownPusher.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 283, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.scaleUp {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -moz-perspective-origin: 0% 50%;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
/* line 287, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.scaleUp > .barContent {
  z-index: 1;
  opacity: 1;
  -moz-transform: translate3d(0, 0, -30%);
  -ms-transform: translate3d(0, 0, -30%);
  -webkit-transform: translate3d(0, 0, -30%);
  transform: translate3d(0, 0, -30%);
}
/* line 295, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.scaleUp.select > .mainContent {
  -moz-transform: translate3d(-30%, 0, 0);
  -ms-transform: translate3d(-30%, 0, 0);
  -webkit-transform: translate3d(-30%, 0, 0);
  transform: translate3d(-30%, 0, 0);
}
/* line 299, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.scaleUp.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 309, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.scaleRotatePusher {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
/* line 312, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.scaleRotatePusher > .mainContent {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 316, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.scaleRotatePusher > .barContent {
  opacity: 1;
  -moz-transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
/* line 322, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.scaleRotatePusher.select > .mainContent {
  -moz-transform: translate3d(-100px, 0, -600px) rotateY(20deg);
  -ms-transform: translate3d(-100px, 0, -600px) rotateY(20deg);
  -webkit-transform: translate3d(-100px, 0, -600px) rotateY(20deg);
  transform: translate3d(-100px, 0, -600px) rotateY(20deg);
}
/* line 326, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.scaleRotatePusher.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 336, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.openDoor {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
/* line 339, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.openDoor > .mainContent {
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 344, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.openDoor > .barContent {
  opacity: 1;
  -moz-transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
/* line 350, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.openDoor.select > .mainContent {
  -moz-transform: rotateY(10deg);
  -webkit-transform: rotateY(10deg);
  transform: rotateY(10deg);
}
/* line 354, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.openDoor.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 364, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.fallDown {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -moz-perspective-origin: 0% 50%;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
/* line 368, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.fallDown > .barContent {
  z-index: 1;
  opacity: 1;
  -moz-transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
/* line 375, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.fallDown.select > .mainContent {
  -moz-transform: translate3d(-30%, 0, 0);
  -ms-transform: translate3d(-30%, 0, 0);
  -webkit-transform: translate3d(-30%, 0, 0);
  transform: translate3d(-30%, 0, 0);
}
/* line 379, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.fallDown.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -o-transition: -o-transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 389, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.delayed3DRotate {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -moz-perspective-origin: 0% 50%;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
/* line 393, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.delayed3DRotate > .mainContent {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 396, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.delayed3DRotate > .mainContent > .barContent {
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 404, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.delayed3DRotate.select > .mainContent {
  -moz-transform: translate3d(-30%, 0, 0);
  -ms-transform: translate3d(-30%, 0, 0);
  -webkit-transform: translate3d(-30%, 0, 0);
  transform: translate3d(-30%, 0, 0);
}
/* line 407, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].rightSide.delayed3DRotate.select > .mainContent > .barContent {
  visibility: visible;
  -moz-transform: translate3d(100%, 0, 0) rotateY(0deg);
  -ms-transform: translate3d(100%, 0, 0) rotateY(0deg);
  -webkit-transform: translate3d(100%, 0, 0) rotateY(0deg);
  transform: translate3d(100%, 0, 0) rotateY(0deg);
}
/* line 417, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Effect 1: Slide in on top */
  /* Effect 2: Reveal */
  /* Effect 4: Slide along */
  /* Effect 5: Reverse slide out */
  /* Effect 6: Rotate pusher */
  /* Effect 7: 3D rotate in */
  /* Effect 8: 3D rotate out */
  /* Effect 9: Scale down pusher */
  /* Effect 10: Scale up */
  /* Effect 11: Scale and rotate pusher */
  /* Effect 12: Open door */
  /* Effect 13: Fall down */
  /* Effect 14: Delayed 3D rotate */
}
/* line 426, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.overlay > .mainContent:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(212, 212, 212, 0.5);
  content: '';
  opacity: 1;
}
/* line 439, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.overlay.select > .mainContent:after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
/* line 449, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide > .mainContent {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  background-color: #ffffff;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
/* line 458, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide > .mainContent > [name=mainContent] {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}
/* line 466, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide > .barContent, #Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide > .mainContent > .barContent {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  width: 30%;
  height: 100%;
  background-color: #cccccc;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 478, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide > .barContent > [name=barContent], #Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide > .mainContent > .barContent > [name=barContent] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 492, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.slideInOnTop > .barContent, #Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.slideInOnTop > .mainContent > .barContent {
  -moz-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
/* line 497, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.slideInOnTop.select > .barContent, #Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.slideInOnTop.select > .mainContent > .barContent {
  visibility: visible;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 506, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.reveal > .barContent {
  z-index: 1;
}
/* line 511, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.reveal.select > .mainContent {
  -moz-transform: translate3d(30%, 0, 0);
  -ms-transform: translate3d(30%, 0, 0);
  -webkit-transform: translate3d(30%, 0, 0);
  transform: translate3d(30%, 0, 0);
}
/* line 515, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.reveal.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
/* line 525, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.slideAlong > .barContent {
  z-index: 1;
  -moz-transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
/* line 531, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.slideAlong.select > .mainContent {
  -moz-transform: translate3d(30%, 0, 0);
  -ms-transform: translate3d(30%, 0, 0);
  -webkit-transform: translate3d(30%, 0, 0);
  transform: translate3d(30%, 0, 0);
}
/* line 535, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.slideAlong.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 546, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.reverseSlideOut > .barContent {
  z-index: 1;
  -moz-transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
/* line 552, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.reverseSlideOut.select > .mainContent {
  -moz-transform: translate3d(30%, 0, 0);
  -ms-transform: translate3d(30%, 0, 0);
  -webkit-transform: translate3d(30%, 0, 0);
  transform: translate3d(30%, 0, 0);
}
/* line 556, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.reverseSlideOut.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 566, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.rotatePusher {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
/* line 569, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.rotatePusher > .mainContent {
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 573, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.rotatePusher > .mainContent > .barContent {
  -moz-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 581, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.rotatePusher.select > .mainContent {
  -moz-transform: translate3d(30%, 0, 0) rotateY(-15deg);
  -ms-transform: translate3d(30%, 0, 0) rotateY(-15deg);
  -webkit-transform: translate3d(30%, 0, 0) rotateY(-15deg);
  transform: translate3d(30%, 0, 0) rotateY(-15deg);
}
/* line 584, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.rotatePusher.select > .mainContent > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(-100%, 0, 0) rotateY(15deg);
  -ms-transform: translate3d(-100%, 0, 0) rotateY(15deg);
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(15deg);
  transform: translate3d(-100%, 0, 0) rotateY(15deg);
}
/* line 595, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.rotateIn3D {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -moz-perspective-origin: 0% 50%;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
/* line 599, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.rotateIn3D > .mainContent {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 602, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.rotateIn3D > .mainContent > .barContent {
  -moz-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  -ms-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 610, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.rotateIn3D.select > .mainContent {
  -moz-transform: translate3d(30%, 0, 0);
  -ms-transform: translate3d(30%, 0, 0);
  -webkit-transform: translate3d(30%, 0, 0);
  transform: translate3d(30%, 0, 0);
}
/* line 613, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.rotateIn3D.select > .mainContent > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  -ms-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  transform: translate3d(-100%, 0, 0) rotateY(0deg);
}
/* line 624, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.rotateOut3D {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -moz-perspective-origin: 0% 50%;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
/* line 628, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.rotateOut3D > .mainContent {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 631, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.rotateOut3D > .mainContent > .barContent {
  -moz-transform: translate3d(-100%, 0, 0) rotateY(90deg);
  -ms-transform: translate3d(-100%, 0, 0) rotateY(90deg);
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
  transform: translate3d(-100%, 0, 0) rotateY(90deg);
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 639, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.rotateOut3D.select > .mainContent {
  -moz-transform: translate3d(30%, 0, 0);
  -ms-transform: translate3d(30%, 0, 0);
  -webkit-transform: translate3d(30%, 0, 0);
  transform: translate3d(30%, 0, 0);
}
/* line 642, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.rotateOut3D.select > .mainContent > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  -ms-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  transform: translate3d(-100%, 0, 0) rotateY(0deg);
}
/* line 653, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.scaleDownPusher {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
/* line 656, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.scaleDownPusher > .mainContent {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 660, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.scaleDownPusher > .barContent {
  opacity: 1;
  -moz-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
/* line 666, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.scaleDownPusher.select > .mainContent {
  -moz-transform: translate3d(0, 0, -300px);
  -ms-transform: translate3d(0, 0, -300px);
  -webkit-transform: translate3d(0, 0, -300px);
  transform: translate3d(0, 0, -300px);
}
/* line 670, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.scaleDownPusher.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 680, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.scaleUp {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -moz-perspective-origin: 0% 50%;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
/* line 684, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.scaleUp > .barContent {
  z-index: 1;
  opacity: 1;
  -moz-transform: translate3d(0, 0, -30%);
  -ms-transform: translate3d(0, 0, -30%);
  -webkit-transform: translate3d(0, 0, -30%);
  transform: translate3d(0, 0, -30%);
}
/* line 692, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.scaleUp.select > .mainContent {
  -moz-transform: translate3d(30%, 0, 0);
  -ms-transform: translate3d(30%, 0, 0);
  -webkit-transform: translate3d(30%, 0, 0);
  transform: translate3d(30%, 0, 0);
}
/* line 696, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.scaleUp.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 706, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.scaleRotatePusher {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
/* line 709, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.scaleRotatePusher > .mainContent {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 713, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.scaleRotatePusher > .barContent {
  opacity: 1;
  -moz-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
/* line 719, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.scaleRotatePusher.select > .mainContent {
  -moz-transform: translate3d(100px, 0, -600px) rotateY(-20deg);
  -ms-transform: translate3d(100px, 0, -600px) rotateY(-20deg);
  -webkit-transform: translate3d(100px, 0, -600px) rotateY(-20deg);
  transform: translate3d(100px, 0, -600px) rotateY(-20deg);
}
/* line 723, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.scaleRotatePusher.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 733, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.openDoor {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
/* line 736, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.openDoor > .mainContent {
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 741, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.openDoor > .barContent {
  opacity: 1;
  -moz-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
/* line 747, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.openDoor.select > .mainContent {
  -moz-transform: rotateY(-10deg);
  -webkit-transform: rotateY(-10deg);
  transform: rotateY(-10deg);
}
/* line 751, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.openDoor.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 761, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.fallDown {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -moz-perspective-origin: 0% 50%;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
/* line 765, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.fallDown > .barContent {
  z-index: 1;
  opacity: 1;
  -moz-transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
/* line 772, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.fallDown.select > .mainContent {
  -moz-transform: translate3d(30%, 0, 0);
  -ms-transform: translate3d(30%, 0, 0);
  -webkit-transform: translate3d(30%, 0, 0);
  transform: translate3d(30%, 0, 0);
}
/* line 776, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.fallDown.select > .barContent {
  visibility: visible;
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -o-transition: -o-transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 786, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.delayed3DRotate {
  -moz-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -moz-perspective-origin: 0% 50%;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
/* line 790, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.delayed3DRotate > .mainContent {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 793, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.delayed3DRotate > .mainContent > .barContent {
  -moz-transform: translate3d(-100%, 0, 0) rotateY(90deg);
  -ms-transform: translate3d(-100%, 0, 0) rotateY(90deg);
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
  transform: translate3d(-100%, 0, 0) rotateY(90deg);
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 801, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.delayed3DRotate.select > .mainContent {
  -moz-transform: translate3d(30%, 0, 0);
  -ms-transform: translate3d(30%, 0, 0);
  -webkit-transform: translate3d(30%, 0, 0);
  transform: translate3d(30%, 0, 0);
}
/* line 804, repo/548e48d1708048063a0041a8/sass/_sidebar.scss */
#Widget_1443190945025 ._widget_sideBarContainer[version='1.0.0'].leftSide.delayed3DRotate.select > .mainContent > .barContent {
  visibility: visible;
  -moz-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  -ms-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  transform: translate3d(-100%, 0, 0) rotateY(0deg);
}
