[ui-effect-creative-button-1-0-0][effect=sonar], [ui-effect-creative-button-1-0-0][effect=shrink], [ui-effect-creative-button-1-0-0][effect=shake] {
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: none;
  -moz-backface-visibility: none;
  -o-backface-visibility: none;
  backface-visibility: none;
}

[ui-effect-creative-button-1-0-0][effect=sonar] {
  -moz-animation-name: _effect_creativeButton_sonarEffect;
  -webkit-animation-name: _effect_creativeButton_sonarEffect;
  animation-name: _effect_creativeButton_sonarEffect;
  -moz-animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -moz-animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-delay: 75ms;
  -webkit-animation-delay: 75ms;
  animation-delay: 75ms;
}

[ui-effect-creative-button-1-0-0][effect=shrink] {
  -moz-animation-name: _effect_creativeButton_shrink;
  -webkit-animation-name: _effect_creativeButton_shrink;
  animation-name: _effect_creativeButton_shrink;
  -moz-animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -moz-animation-timing-function: forward;
  -webkit-animation-timing-function: forward;
  animation-timing-function: forward;
}

[ui-effect-creative-button-1-0-0][effect=shake] {
  -moz-animation-name: _effect_creativeButton_shake;
  -webkit-animation-name: _effect_creativeButton_shake;
  animation-name: _effect_creativeButton_shake;
  -moz-animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

@-webkit-keyframes _effect_creativeButton_sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(192, 192, 192, 0.1), 0 0 10px 10px rgba(192, 192, 192, 0.3), 0 0 0 10px rgba(192, 192, 192, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(192, 192, 192, 0.1), 0 0 10px 10px rgba(192, 192, 192, 0.3), 0 0 0 10px rgba(192, 192, 192, 0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
@-moz-keyframes _effect_creativeButton_sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(192, 192, 192, 0.1), 0 0 10px 10px rgba(192, 192, 192, 0.3), 0 0 0 10px rgba(192, 192, 192, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(192, 192, 192, 0.1), 0 0 10px 10px rgba(192, 192, 192, 0.3), 0 0 0 10px rgba(192, 192, 192, 0.5);
    -moz-transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes _effect_creativeButton_sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(192, 192, 192, 0.1), 0 0 10px 10px rgba(192, 192, 192, 0.3), 0 0 0 10px rgba(192, 192, 192, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(192, 192, 192, 0.1), 0 0 10px 10px rgba(192, 192, 192, 0.3), 0 0 0 10px rgba(192, 192, 192, 0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@-webkit-keyframes _effect_creativeButton_shrink {
  50% {
    opacity: 1;
    -webkit-transform: scale(0.7);
  }
  100% {
    opacity: 0.3;
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes _effect_creativeButton_shrink {
  50% {
    opacity: 1;
    -moz-transform: scale(0.7);
  }
  100% {
    opacity: 0.3;
    -moz-transform: scale(1);
  }
}
@keyframes _effect_creativeButton_shrink {
  50% {
    opacity: 1;
    transform: scale(0.7);
  }
  100% {
    opacity: 0.3;
    transform: scale(1);
  }
}
@-webkit-keyframes _effect_creativeButton_shake {
  0%, 100% {
    -webkit-transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
  }
}
@-moz-keyframes _effect_creativeButton_shake {
  0%, 100% {
    -moz-transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -moz-transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -moz-transform: translateX(10px);
  }
}
@keyframes _effect_creativeButton_shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
[ui-effect-creative-button-1-0-0][effect=sunken]:active {
  background: rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset, 0 1px 1px #ddd inset, 0 2px 1px #d6d6d6 inset, 0 3px 1px #ccc inset, 0 4px 1px #c5c5c5 inset, 0 5px 1px #c1c1c1 inset, 0 6px 1px #bbb inset, 0 7px 1px #777 inset, 0 8px 3px 1px rgba(0, 0, 0, 0.6) inset, 0 9px 5px 1px rgba(0, 0, 0, 0.3) inset, 0 10px 7px 0 rgba(0, 0, 0, 0.2) inset, 0 11px 17px 0 rgba(0, 0, 0, 0.2) inset, 0 12px 21px 0 rgba(0, 0, 0, 0.1) inset, 0 13px 25px 0 rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset, 0 1px 1px #ddd inset, 0 2px 1px #d6d6d6 inset, 0 3px 1px #ccc inset, 0 4px 1px #c5c5c5 inset, 0 5px 1px #c1c1c1 inset, 0 6px 1px #bbb inset, 0 7px 1px #777 inset, 0 8px 3px 1px rgba(0, 0, 0, 0.6) inset, 0 9px 5px 1px rgba(0, 0, 0, 0.3) inset, 0 10px 7px 0 rgba(0, 0, 0, 0.2) inset, 0 11px 17px 0 rgba(0, 0, 0, 0.2) inset, 0 12px 21px 0 rgba(0, 0, 0, 0.1) inset, 0 13px 25px 0 rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset, 0 1px 1px #ddd inset, 0 2px 1px #d6d6d6 inset, 0 3px 1px #ccc inset, 0 4px 1px #c5c5c5 inset, 0 5px 1px #c1c1c1 inset, 0 6px 1px #bbb inset, 0 7px 1px #777 inset, 0 8px 3px 1px rgba(0, 0, 0, 0.6) inset, 0 9px 5px 1px rgba(0, 0, 0, 0.3) inset, 0 10px 7px 0 rgba(0, 0, 0, 0.2) inset, 0 11px 17px 0 rgba(0, 0, 0, 0.2) inset, 0 12px 21px 0 rgba(0, 0, 0, 0.1) inset, 0 13px 25px 0 rgba(0, 0, 0, 0.1) inset;
  -moz-transform: rotateX(15deg);
  -ms-transform: rotateX(15deg);
  -webkit-transform: rotateX(15deg);
  transform: rotateX(15deg);
}
