* {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

*:not(input), *:not(textarea) {
  -webkit-user-select: none;
}

#rootBody #bg #main .pageHolder {
  z-index: 0;
  position: absolute;
  top: 0px !important;
  left: 0px !important;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #000;
}
#rootBody #bg #main .pageHolder .sketchWidget {
  position: absolute;
}
#rootBody #bg #main .pageHolder .sketchWidget.widgetHover {
  -moz-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
}
#rootBody #bg #main .pageHolder .sketchWidget.widgetIncludeAnchor .widgetContainer {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  background: transparent !important;
}
#rootBody #bg #main .pageHolder .sketchWidget.widgetIncludeAnchor .widgetContainer > div {
  position: absolute;
  width: 100%;
  height: 100%;
}
