@font-face {
	font-family: 'icon-standard';
	src: url('icon-standard.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.icon-standard:before {
	font-family: 'icon-standard';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-standard-before:before {
	font-family: 'icon-standard';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-standard-after:after {
	font-family: 'icon-standard';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-standard-arrow-left:before {
	content: "\e600";
}
.icon-standard-arrow-right:before {
	content: "\e601";
}
.icon-standard-arrow-up:before {
	content: "\e602";
}
.icon-standard-arrow-down:before {
	content: "\e603";
}
.icon-standard-circle-shape:before {
	content: "\e604";
}
.icon-standard-square-shape:before {
	content: "\e605";
}
.icon-standard-simple-arrow-left:before {
	content: "\e606";
}
.icon-standard-simple-arrow-down:before {
	content: "\e607";
}
.icon-standard-simple-arrow-up:before {
	content: "\e608";
}
.icon-standard-simple-arrow-right:before {
	content: "\e609";
}
.icon-standard-thick-arrow-left:before {
	content: "\e60a";
}
.icon-standard-thick-arrow-down:before {
	content: "\e60b";
}
.icon-standard-thick-arrow-up:before {
	content: "\e60c";
}
.icon-standard-thick-arrow-right:before {
	content: "\e60d";
}
.icon-standard-inner-arrow-up:before {
	content: "\e60e";
}
.icon-standard-inner-arrow-right:before {
	content: "\e60f";
}
.icon-standard-inner-arrow-down:before {
	content: "\e610";
}
.icon-standard-inner-arrow-left:before {
	content: "\e611";
}
.icon-standard-nav-arrow-nw:before {
	content: "\e612";
}
.icon-standard-nav-arrow-ne:before {
	content: "\e613";
}
.icon-standard-nav-arrow-se:before {
	content: "\e614";
}
.icon-standard-nav-arrow-sw:before {
	content: "\e615";
}
.icon-standard-angle-double-left:before {
	content: "\e616";
}
.icon-standard-angle-double-right:before {
	content: "\e617";
}
.icon-standard-angle-double-up:before {
	content: "\e618";
}
.icon-standard-angle-double-down:before {
	content: "\e619";
}


.icon-standard-arrow-left-before:before {
	content: "\e600";
}
.icon-standard-arrow-right-before:before {
	content: "\e601";
}
.icon-standard-arrow-up-before:before {
	content: "\e602";
}
.icon-standard-arrow-down-before:before {
	content: "\e603";
}
.icon-standard-circle-shape-before:before {
	content: "\e604";
}
.icon-standard-square-shape-before:before {
	content: "\e605";
}
.icon-standard-simple-arrow-left-before:before {
	content: "\e606";
}
.icon-standard-simple-arrow-down-before:before {
	content: "\e607";
}
.icon-standard-simple-arrow-up-before:before {
	content: "\e608";
}
.icon-standard-simple-arrow-right-before:before {
	content: "\e609";
}
.icon-standard-thick-arrow-left-before:before {
	content: "\e60a";
}
.icon-standard-thick-arrow-down-before:before {
	content: "\e60b";
}
.icon-standard-thick-arrow-up-before:before {
	content: "\e60c";
}
.icon-standard-thick-arrow-right-before:before {
	content: "\e60d";
}
.icon-standard-inner-arrow-up-before:before {
	content: "\e60e";
}
.icon-standard-inner-arrow-right-before:before {
	content: "\e60f";
}
.icon-standard-inner-arrow-down-before:before {
	content: "\e610";
}
.icon-standard-inner-arrow-left-before:before {
	content: "\e611";
}
.icon-standard-nav-arrow-nw-before:before {
	content: "\e612";
}
.icon-standard-nav-arrow-ne-before:before {
	content: "\e613";
}
.icon-standard-nav-arrow-se-before:before {
	content: "\e614";
}
.icon-standard-nav-arrow-sw-before:before {
	content: "\e615";
}
.icon-standard-angle-double-left-before:before {
	content: "\e616";
}
.icon-standard-angle-double-right-before:before {
	content: "\e617";
}
.icon-standard-angle-double-up-before:before {
	content: "\e618";
}
.icon-standard-angle-double-down-before:before {
	content: "\e619";
}


.icon-standard-arrow-left-after:after {
	content: "\e600";
}
.icon-standard-arrow-right-after:after {
	content: "\e601";
}
.icon-standard-arrow-up-after:after {
	content: "\e602";
}
.icon-standard-arrow-down-after:after {
	content: "\e603";
}
.icon-standard-circle-shape-after:after {
	content: "\e604";
}
.icon-standard-square-shape-after:after {
	content: "\e605";
}
.icon-standard-simple-arrow-left-after:after {
	content: "\e606";
}
.icon-standard-simple-arrow-down-after:after {
	content: "\e607";
}
.icon-standard-simple-arrow-up-after:after {
	content: "\e608";
}
.icon-standard-simple-arrow-right-after:after {
	content: "\e609";
}
.icon-standard-thick-arrow-left-after:after {
	content: "\e60a";
}
.icon-standard-thick-arrow-down-after:after {
	content: "\e60b";
}
.icon-standard-thick-arrow-up-after:after {
	content: "\e60c";
}
.icon-standard-thick-arrow-right-after:after {
	content: "\e60d";
}
.icon-standard-inner-arrow-up-after:after {
	content: "\e60e";
}
.icon-standard-inner-arrow-right-after:after {
	content: "\e60f";
}
.icon-standard-inner-arrow-down-after:after {
	content: "\e610";
}
.icon-standard-inner-arrow-left-after:after {
	content: "\e611";
}
.icon-standard-nav-arrow-nw-after:after {
	content: "\e612";
}
.icon-standard-nav-arrow-ne-after:after {
	content: "\e613";
}
.icon-standard-nav-arrow-se-after:after {
	content: "\e614";
}
.icon-standard-nav-arrow-sw-after:after {
	content: "\e615";
}
.icon-standard-angle-double-left-after:after {
	content: "\e616";
}
.icon-standard-angle-double-right-after:after {
	content: "\e617";
}
.icon-standard-angle-double-up-after:after {
	content: "\e618";
}
.icon-standard-angle-double-down-after:after {
	content: "\e619";
}
