@font-face {
    font-family: 'icon-toolbar';
    src: url('icon-toolbar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon-toolbar {
    font-family: 'icon-toolbar';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-toolbar-before:before {
    font-family: 'icon-toolbar';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-toolbar-after:after {
    font-family: 'icon-toolbar';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-toolbar-play:before {
    content: "\e600";
}
.icon-toolbar-pause:before {
    content: "\e601";
}
.icon-toolbar-stop:before {
    content: "\e602";
}
.icon-toolbar-align-left:before {
    content: "\e603";
}
.icon-toolbar-align-center:before {
    content: "\e604";
}
.icon-toolbar-align-right:before {
    content: "\e605";
}
.icon-toolbar-expand:before {
    content: "\e606";
}
.icon-toolbar-collapse:before {
    content: "\e607";
}
.icon-toolbar-locate:before {
    content: "\e608";
}
.icon-toolbar-duplicate:before {
    content: "\e609";
}
.icon-toolbar-group:before {
    content: "\e60a";
}
.icon-toolbar-ungroup:before {
    content: "\e60b";
}
.icon-toolbar-save:before {
    content: "\e60c";
}

.icon-toolbar-play-before:before {
    content: "\e600";
}
.icon-toolbar-pause-before:before {
    content: "\e601";
}
.icon-toolbar-stop-before:before {
    content: "\e602";
}
.icon-toolbar-align-left-before:before {
    content: "\e603";
}
.icon-toolbar-align-center-before:before {
    content: "\e604";
}
.icon-toolbar-align-right-before:before {
    content: "\e605";
}
.icon-toolbar-expand-before:before {
    content: "\e606";
}
.icon-toolbar-collapse-before:before {
    content: "\e607";
}
.icon-toolbar-locate-before:before {
    content: "\e608";
}
.icon-toolbar-duplicate-before:before {
    content: "\e609";
}
.icon-toolbar-group-before:before {
    content: "\e60a";
}
.icon-toolbar-ungroup-before:before {
    content: "\e60b";
}
.icon-toolbar-save-before:before {
    content: "\e60c";
}

.icon-toolbar-play-after:after {
    content: "\e600";
}
.icon-toolbar-pause-after:after {
    content: "\e601";
}
.icon-toolbar-stop-after:after {
    content: "\e602";
}
.icon-toolbar-align-left-after:after {
    content: "\e603";
}
.icon-toolbar-align-center-after:after {
    content: "\e604";
}
.icon-toolbar-align-right-after:after {
    content: "\e605";
}
.icon-toolbar-expand-after:after {
    content: "\e606";
}
.icon-toolbar-collapse-after:after {
    content: "\e607";
}
.icon-toolbar-locate-after:after {
    content: "\e608";
}
.icon-toolbar-duplicate-after:after {
    content: "\e609";
}
.icon-toolbar-group-after:after {
    content: "\e60a";
}
.icon-toolbar-ungroup-after:after {
    content: "\e60b";
}
.icon-toolbar-save-after:after {
    content: "\e60c";
}
