#Widget_1439866248491 {
  background-image: url(../resource/image/Mac_Desktop_1.jpg);
  background-position: 50undefined 50undefined;
}
#Widget_1439866248491 #Widget_1439866362641 {
  width: 1024px;
  height: 767px;
  background: #ffffff;
  left: 0px;
  top: 0px;
}
#Widget_1439866248491 #Widget_1439866362641 #Widget_1439866370970 {
  width: 1024px;
  height: 767px;
  background: #ffffff;
  left: 0px;
  top: 0px;
}
