@font-face {
    font-family: 'icon-flow';
    src: url('icon-flow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon-flow:before {
    font-family: 'icon-flow';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-flow-before:before {
    font-family: 'icon-flow';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-flow-after:after {
    font-family: 'icon-flow';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-flow-invoke-step:before {
    content: "\e600";
}

.icon-flow-flow:before {
    content: "\e601";
}

.icon-flow-exit-step:before {
    content: "\e602";
}

.icon-flow-switch-step:before {
    content: "\e603";
}

.icon-flow-repeat-step:before {
    content: "\e604";
}

.icon-flow-move-right:before {
    content: "\e605";
}

.icon-flow-move-up:before {
    content: "\e606";
}

.icon-flow-move-down:before {
    content: "\e607";
}

.icon-flow-move-left:before {
    content: "\e608";
}

.icon-flow-trash:before {
    content: "\e619";
}

.icon-flow-load:before {
    content: "\e609";
}

.icon-flow-save:before {
    content: "\e60a";
}

.icon-flow-lock:before {
    content: "\e60b";
}

.icon-flow-unlock:before {
    content: "\e60c";
}

.icon-flow-exit:before {
    content: "\e60d";
}

.icon-flow-link:before {
    content: "\e60e";
}

.icon-flow-run:before {
    content: "\e60f";
}

.icon-flow-call:before {
    content: "\e610";
}

.icon-flow-join:before {
    content: "\e611";
}

.icon-flow-terminate:before {
    content: "\e612";
}

.icon-flow-arrow-left:before {
    content: "\e613";
}

.icon-flow-arrow-right:before {
    content: "\e614";
}

.icon-flow-expand:before {
    content: "\e615";
}

.icon-flow-collapse:before {
    content: "\e616";
}

.icon-flow-sequence-step:before {
    content: "\e617";
}

.icon-flow-map-step:before {
    content: "\e618";
}

.icon-flow-invoke-step-before:before {
    content: "\e600";
}

.icon-flow-flow-before:before {
    content: "\e601";
}

.icon-flow-exit-step-before:before {
    content: "\e602";
}

.icon-flow-switch-step-before:before {
    content: "\e603";
}

.icon-flow-repeat-step-before:before {
    content: "\e604";
}

.icon-flow-move-right-before:before {
    content: "\e605";
}

.icon-flow-move-up-before:before {
    content: "\e606";
}

.icon-flow-move-down-before:before {
    content: "\e607";
}

.icon-flow-move-left-before:before {
    content: "\e608";
}

.icon-flow-trash-before:before {
    content: "\e619";
}

.icon-flow-load-before:before {
    content: "\e609";
}

.icon-flow-save-before:before {
    content: "\e60a";
}

.icon-flow-lock-before:before {
    content: "\e60b";
}

.icon-flow-unlock-before:before {
    content: "\e60c";
}

.icon-flow-exit-before:before {
    content: "\e60d";
}

.icon-flow-link-before:before {
    content: "\e60e";
}

.icon-flow-run-before:before {
    content: "\e60f";
}

.icon-flow-call-before:before {
    content: "\e610";
}

.icon-flow-join-before:before {
    content: "\e611";
}

.icon-flow-terminate-before:before {
    content: "\e612";
}

.icon-flow-arrow-left-before:before {
    content: "\e613";
}

.icon-flow-arrow-right-before:before {
    content: "\e614";
}

.icon-flow-expand-before:before {
    content: "\e615";
}

.icon-flow-collapse-before:before {
    content: "\e616";
}

.icon-flow-sequence-step-before:before {
    content: "\e617";
}

.icon-flow-map-step-before:before {
    content: "\e618";
}

.icon-flow-invoke-step-after:after {
    content: "\e600";
}

.icon-flow-flow-after:after {
    content: "\e601";
}

.icon-flow-exit-step-after:after {
    content: "\e602";
}

.icon-flow-switch-step-after:after {
    content: "\e603";
}

.icon-flow-repeat-step-after:after {
    content: "\e604";
}

.icon-flow-move-right-after:after {
    content: "\e605";
}

.icon-flow-move-up-after:after {
    content: "\e606";
}

.icon-flow-move-down-after:after {
    content: "\e607";
}

.icon-flow-move-left-after:after {
    content: "\e608";
}

.icon-flow-trash-after:after {
    content: "\e619";
}

.icon-flow-load-after:after {
    content: "\e609";
}

.icon-flow-save-after:after {
    content: "\e60a";
}

.icon-flow-lock-after:after {
    content: "\e60b";
}

.icon-flow-unlock-after:after {
    content: "\e60c";
}

.icon-flow-exit-after:after {
    content: "\e60d";
}

.icon-flow-link-after:after {
    content: "\e60e";
}

.icon-flow-run-after:after {
    content: "\e60f";
}

.icon-flow-call-after:after {
    content: "\e610";
}

.icon-flow-join-after:after {
    content: "\e611";
}

.icon-flow-terminate-after:after {
    content: "\e612";
}

.icon-flow-arrow-left-after:after {
    content: "\e613";
}

.icon-flow-arrow-right-after:after {
    content: "\e614";
}

.icon-flow-expand-after:after {
    content: "\e615";
}

.icon-flow-collapse-after:after {
    content: "\e616";
}

.icon-flow-sequence-step-after:after {
    content: "\e617";
}

.icon-flow-map-step-after:after {
    content: "\e618";
}
