@font-face {
    font-family: 'icon-meelet';
    src: url('icon-meelet.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon-meelet {
    font-family: 'icon-meelet';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-meelet-atom:before {
    content: "\e600";
}

.icon-meelet-atom-before:before {
    content: "\e600";
}

.icon-meelet-atom-after:after {
    content: "\e600";
}
