.widgetDemoContainer {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}
.widgetDemoContainer .clearfix:before, .widgetDemoContainer .clearfix:after {
  content: " ";
  display: table;
}
.widgetDemoContainer .clearfix:after {
  clear: both;
}
.widgetDemoContainer [ui-widget-modal-window-1-0-0] {
  position: absolute;
  width: 100%;
  height: 100%;
}
.widgetDemoContainer [ui-widget-modal-window-1-0-0] [name='mainContent'] {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #d94839;
  color: #fff;
}
.widgetDemoContainer [ui-widget-modal-window-1-0-0] [name='mainContent'] > header {
  text-align: center;
  padding: 3em;
  margin: 0 auto;
}
.widgetDemoContainer [ui-widget-modal-window-1-0-0] [name='mainContent'] > header h1 {
  font-size: 2.625em;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
}
.widgetDemoContainer [ui-widget-modal-window-1-0-0] [name='mainContent'] > header h1 span {
  display: block;
  font-size: 60%;
  opacity: 0.7;
  padding: 0 0 0.6em 0.1em;
}
.widgetDemoContainer [ui-widget-modal-window-1-0-0] [name='mainContent'] > .main {
  margin: 0 auto;
  padding: 2em;
  max-width: 69em;
}
.widgetDemoContainer [ui-widget-modal-window-1-0-0] [name='mainContent'] > .main .column {
  float: left;
  width: 50%;
  padding: 0 2em;
  min-height: 300px;
  position: relative;
}
.widgetDemoContainer [ui-widget-modal-window-1-0-0] [name='mainContent'] > .main .column p {
  font-weight: 300;
  font-size: 2em;
  padding: 0;
  margin: 0;
  text-align: right;
  line-height: 1.5;
}
.widgetDemoContainer [ui-widget-modal-window-1-0-0] [name='mainContent'] > .main .column button {
  border: none;
  padding: 0.6em 1.2em;
  background: #c0392b;
  color: #fff;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 3px 2px;
  border-radius: 2px;
}
.widgetDemoContainer [ui-widget-modal-window-1-0-0] [name='mainContent'] > .main .column button:hover {
  background: #A5281B;
}
.widgetDemoContainer [ui-widget-modal-window-1-0-0] [name='modalContent'] {
  position: relative;
  width: 100%;
  color: #fff;
  background: #e74c3c;
  border-radius: 3px;
  margin: 0 auto;
}
.widgetDemoContainer [ui-widget-modal-window-1-0-0] [name='modalContent'] h3 {
  margin: 0;
  padding: 0.4em;
  text-align: center;
  font-size: 2.4em;
  font-weight: 300;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px 3px 0 0;
}
.widgetDemoContainer [ui-widget-modal-window-1-0-0] [name='modalContent'] > div {
  padding: 15px 40px 30px;
  margin: 0;
  font-weight: 300;
  font-size: 1.15em;
}
.widgetDemoContainer [ui-widget-modal-window-1-0-0] [name='modalContent'] > div p {
  margin: 0;
  padding: 10px 0;
}
.widgetDemoContainer [ui-widget-modal-window-1-0-0] [name='modalContent'] > div ul {
  margin: 0;
  padding: 0 0 30px 20px;
}
.widgetDemoContainer [ui-widget-modal-window-1-0-0] [name='modalContent'] > div ul li {
  padding: 5px 0;
}
.widgetDemoContainer [ui-widget-modal-window-1-0-0] [name='modalContent'] > div button {
  display: block;
  margin: 0 auto;
  border: none;
  padding: 0.6em 1.2em;
  background: #c0392b;
  color: #fff;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2px;
}
.widgetDemoContainer [ui-widget-modal-window-1-0-0] .modalOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(143, 27, 15, 0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
