@import "base";

@mixin moveToLeftKeyframes($keyframe: moveToLeft) {

    @-moz-keyframes #{$keyframe} {
        to {
            -moz-transform: translateX(-100%);
        }
    }

    @-webkit-keyframes #{$keyframe} {
        to {
            -webkit-transform: translateX(-100%);
        }
    }

    @keyframes #{$keyframe} {
        to {
            transform: translateX(-100%);
        }
    }
}

@mixin moveFromLeftKeyframes($keyframe: moveFromLeft) {

    @-moz-keyframes #{$keyframe} {
        from {
            -moz-transform: translateX(-100%);
        }
    }

    @-webkit-keyframes #{$keyframe} {
        from {
            -webkit-transform: translateX(-100%);
        }
    }

    @keyframes #{$keyframe} {
        from {
            transform: translateX(-100%);
        }
    }
}

@mixin moveToRightKeyframes($keyframe: moveToRight) {

    @-moz-keyframes #{$keyframe} {
        to { -webkit-transform: translateX(100%); }
    }

    @-webkit-keyframes #{$keyframe} {
        to { -moz-transform: translateX(100%); }
    }

    @keyframes #{$keyframe} {
        to { transform: translateX(100%); }
    }
}

@mixin moveFromRightKeyframes($keyframe: moveFromRight) {

    @-moz-keyframes #{$keyframe} {
        from { -webkit-transform: translateX(100%); }
    }

    @-webkit-keyframes #{$keyframe} {
        from { -moz-transform: translateX(100%); }
    }

    @keyframes #{$keyframe} {
        from { transform: translateX(100%); }
    }
}

@mixin moveToTopKeyframes($keyframe: moveToTop) {

    @-moz-keyframes #{$keyframe} {
        to { -moz-transform: translateY(-100%); }
    }

    @-webkit-keyframes #{$keyframe} {
        to { -webkit-transform: translateY(-100%); }
    }

    @keyframes #{$keyframe} {
        to { transform: translateY(-100%); }
    }
}

@mixin moveFromTopKeyframes($keyframe: moveFromTop) {

    @-moz-keyframes #{$keyframe} {
        from { -webkit-transform: translateY(-100%); }
    }

    @-webkit-keyframes #{$keyframe} {
        from { -moz-transform: translateY(-100%); }
    }

    @keyframes #{$keyframe} {
        from { transform: translateY(-100%); }
    }
}

@mixin moveToBottomKeyframes($keyframe: moveToBottom) {

    @-moz-keyframes #{$keyframe} {
        to { -moz-transform: translateY(100%); }
    }

    @-webkit-keyframes #{$keyframe} {
        to { -webkit-transform: translateY(100%); }
    }

    @keyframes #{$keyframe} {
        to { transform: translateY(100%); }
    }
}

@mixin moveFromBottomKeyframes($keyframe: moveFromBottom) {

    @-moz-keyframes #{$keyframe} {
        from { -webkit-transform: translateY(100%); }
    }

    @-webkit-keyframes #{$keyframe} {
        from { -moz-transform: translateY(100%); }
    }

    @keyframes #{$keyframe} {
        from { transform: translateY(100%); }
    }
}

@mixin fadeKeyframes($keyframe: fade) {

    @-moz-keyframes #{$keyframe} {
        to { opacity: 0.3; }
    }

    @-webkit-keyframes #{$keyframe} {
        to { opacity: 0.3; }
    }

    @keyframes #{$keyframe} {
        to { opacity: 0.3; }
    }
}

@mixin moveToLeftFadeKeyframes($keyframe: moveToLeftFade) {

    @-moz-keyframes #{$keyframe} {
        to { opacity: 0.3; -moz-transform: translateX(-100%); }
    }

    @-webkit-keyframes #{$keyframe} {
        to { opacity: 0.3; -webkit-transform: translateX(-100%); }
    }

    @keyframes #{$keyframe} {
        to { opacity: 0.3; transform: translateX(-100%); }
    }
}

@mixin moveFromLeftFadeKeyframes($keyframe: moveFromLeftFade) {

    @-moz-keyframes #{$keyframe} {
        from { opacity: 0.3; -moz-transform: translateX(-100%); }
    }

    @-webkit-keyframes #{$keyframe} {
        from { opacity: 0.3; -webkit-transform: translateX(-100%); }
    }

    @keyframes #{$keyframe} {
        from { opacity: 0.3; transform: translateX(-100%); }
    }
}

@mixin moveToRightFadeKeyframes($keyframe: moveToRightFade) {

    @-moz-keyframes #{$keyframe} {
        to { opacity: 0.3; -moz-transform: translateX(100%); }
    }

    @-webkit-keyframes #{$keyframe} {
        to { opacity: 0.3; -webkit-transform: translateX(100%); }
    }

    @keyframes #{$keyframe} {
        to { opacity: 0.3; transform: translateX(100%); }
    }
}

@mixin moveFromRightFadeKeyframes($keyframe: moveFromRightFade) {

    @-moz-keyframes #{$keyframe} {
        from { opacity: 0.3; -moz-transform: translateX(100%); }
    }

    @-webkit-keyframes #{$keyframe} {
        from { opacity: 0.3; -webkit-transform: translateX(100%); }
    }

    @keyframes #{$keyframe} {
        from { opacity: 0.3; transform: translateX(100%); }
    }
}

@mixin moveToTopFadeKeyframes($keyframe: moveToTopFade) {

    @-moz-keyframes #{$keyframe} {
        to { opacity: 0.3; -moz-transform: translateY(-100%); }
    }

    @-webkit-keyframes #{$keyframe} {
        to { opacity: 0.3; -webkit-transform: translateY(-100%); }
    }

    @keyframes #{$keyframe} {
        to { opacity: 0.3; transform: translateY(-100%); }
    }
}

@mixin moveFromTopFadeKeyframes($keyframe: moveFromTopFade) {

    @-moz-keyframes #{$keyframe} {
        from { opacity: 0.3; -moz-transform: translateY(-100%); }
    }

    @-webkit-keyframes #{$keyframe} {
        from { opacity: 0.3; -webkit-transform: translateY(-100%); }
    }

    @keyframes #{$keyframe} {
        from { opacity: 0.3; transform: translateY(-100%); }
    }
}

@mixin moveToBottomFadeKeyframes($keyframe: moveToBottomFade) {

    @-moz-keyframes #{$keyframe} {
        to { opacity: 0.3; -webkit-transform: translateY(100%); }
    }

    @-webkit-keyframes #{$keyframe} {
        to { opacity: 0.3; -moz-transform: translateY(100%); }
    }

    @keyframes #{$keyframe} {
        to { opacity: 0.3; transform: translateY(100%); }
    }
}

@mixin moveFromBottomFadeKeyframes($keyframe: moveFromBottomFade) {

    @-moz-keyframes #{$keyframe} {
        from { opacity: 0.3; -webkit-transform: translateY(100%); }
    }

    @-webkit-keyframes #{$keyframe} {
        from { opacity: 0.3; -moz-transform: translateY(100%); }
    }

    @keyframes #{$keyframe} {
        from { opacity: 0.3; transform: translateY(100%); }
    }
}

@mixin scaleDownKeyframes($keyframe: scaleDown) {

    @-moz-keyframes #{$keyframe} {
        to { opacity: 0; -moz-transform: scale(.8); }
    }

    @-webkit-keyframes #{$keyframe} {
        to { opacity: 0; -webkit-transform: scale(.8); }
    }

    @keyframes #{$keyframe} {
        to { opacity: 0; transform: scale(.8); }
    }
}

@mixin scaleUpKeyframes($keyframe: scaleUp) {

    @-moz-keyframes #{$keyframe} {
        from { opacity: 0; -moz-transform: scale(.8); }
    }

    @-webkit-keyframes #{$keyframe} {
        from { opacity: 0; -webkit-transform: scale(.8); }
    }

    @keyframes #{$keyframe} {
        from { opacity: 0; transform: scale(.8); }
    }
}

@mixin scaleUpDownKeyframes($keyframe: scaleUpDown) {

    @-moz-keyframes #{$keyframe} {
        from { opacity: 0; -moz-transform: scale(1.2); }
    }

    @-webkit-keyframes #{$keyframe} {
        from { opacity: 0; -webkit-transform: scale(1.2); }
    }

    @keyframes #{$keyframe} {
        from { opacity: 0; transform: scale(1.2); }
    }
}

@mixin scaleDownUpKeyframes($keyframe: scaleDownUp) {

    @-moz-keyframes #{$keyframe} {
        to { opacity: 0; -moz-transform: scale(1.2); }
    }

    @-webkit-keyframes #{$keyframe} {
        to { opacity: 0; -webkit-transform: scale(1.2); }
    }

    @keyframes #{$keyframe} {
        to { opacity: 0; transform: scale(1.2); }
    }
}

@mixin scaleDownCenterKeyframes($keyframe: scaleDownCenter) {

    @-moz-keyframes #{$keyframe} {
        to { opacity: 0; -moz-transform: scale(.7); }
    }

    @-webkit-keyframes #{$keyframe} {
        to { opacity: 0; -webkit-transform: scale(.7); }
    }

    @keyframes #{$keyframe} {
        to { opacity: 0; transform: scale(.7); }
    }
}

@mixin scaleUpCenterKeyframes($keyframe: scaleUpCenter) {

    @-moz-keyframes #{$keyframe} {
        from { opacity: 0; -moz-transform: scale(.7); }
    }

    @-webkit-keyframes #{$keyframe} {
        from { opacity: 0; -webkit-transform: scale(.7); }
    }

    @keyframes #{$keyframe} {
        from { opacity: 0; transform: scale(.7); }
    }
}

@mixin rotateRightSideFirstKeyframes($keyframe: rotateRightSideFirst) {

    @-webkit-keyframes #{$keyframe} {
        40% { -webkit-transform: rotateY(15deg); opacity: .8; -webkit-animation-timing-function: ease-out; }
        100% { -webkit-transform: scale(0.8) translateZ(-200px); opacity:0; }
    }
    @-moz-keyframes #{$keyframe} {
        40% { -moz-transform: rotateY(15deg); opacity: .8; -moz-animation-timing-function: ease-out; }
        100% { -moz-transform: scale(0.8) translateZ(-200px); opacity:0; }
    }
    @keyframes #{$keyframe} {
        40% { transform: rotateY(15deg); opacity: .8; animation-timing-function: ease-out; }
        100% { transform: scale(0.8) translateZ(-200px); opacity:0; }
    }
}

@mixin rotateLeftSideFirstKeyframes($keyframe: rotateLeftSideFirst) {

    @-webkit-keyframes #{$keyframe} {
        40% { -webkit-transform: rotateY(-15deg); opacity: .8; -webkit-animation-timing-function: ease-out; }
        100% { -webkit-transform: scale(0.8) translateZ(-200px); opacity:0; }
    }
    @-moz-keyframes #{$keyframe} {
        40% { -moz-transform: rotateY(-15deg); opacity: .8; -moz-animation-timing-function: ease-out; }
        100% { -moz-transform: scale(0.8) translateZ(-200px); opacity:0; }
    }
    @keyframes #{$keyframe} {
        40% { transform: rotateY(-15deg); opacity: .8; animation-timing-function: ease-out; }
        100% { transform: scale(0.8) translateZ(-200px); opacity:0; }
    }
}

@mixin rotateTopSideFirstKeyframes($keyframe: rotateTopSideFirst) {

    @-webkit-keyframes #{$keyframe} {
        40% { -webkit-transform: rotateX(15deg); opacity: .8; -webkit-animation-timing-function: ease-out; }
        100% { -webkit-transform: scale(0.8) translateZ(-200px); opacity:0; }
    }
    @-moz-keyframes #{$keyframe} {
        40% { -moz-transform: rotateX(15deg); opacity: .8; -moz-animation-timing-function: ease-out; }
        100% { -moz-transform: scale(0.8) translateZ(-200px); opacity:0; }
    }
    @keyframes #{$keyframe} {
        40% { transform: rotateX(15deg); opacity: .8; animation-timing-function: ease-out; }
        100% { transform: scale(0.8) translateZ(-200px); opacity:0; }
    }
}

@mixin rotateBottomSideFirstKeyframes($keyframe: rotateBottomSideFirst) {

    @-webkit-keyframes #{$keyframe} {
        40% { -webkit-transform: rotateX(-15deg); opacity: .8; -webkit-animation-timing-function: ease-out; }
        100% { -webkit-transform: scale(0.8) translateZ(-200px); opacity:0; }
    }
    @-moz-keyframes #{$keyframe} {
        40% { -moz-transform: rotateX(-15deg); opacity: .8; -moz-animation-timing-function: ease-out; }
        100% { -moz-transform: scale(0.8) translateZ(-200px); opacity:0; }
    }
    @keyframes #{$keyframe} {
        40% { transform: rotateX(-15deg); opacity: .8; animation-timing-function: ease-out; }
        100% { transform: scale(0.8) translateZ(-200px); opacity:0; }
    }
}

@mixin flipOutRightKeyframes($keyframe: flipOutRight) {

    @-webkit-keyframes #{$keyframe} {
        to { -webkit-transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
    }
    @-moz-keyframes #{$keyframe} {
        to { -moz-transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
    }
    @keyframes #{$keyframe} {
        to { transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
    }
}

@mixin flipInLeftKeyframes($keyframe: flipInLeft) {

    @-webkit-keyframes #{$keyframe} {
        from { -webkit-transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
    }
    @-moz-keyframes #{$keyframe} {
        from { -moz-transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
    }
    @keyframes #{$keyframe} {
        from { transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
    }
}

@mixin flipOutLeftKeyframes($keyframe: flipOutLeft) {

    @-webkit-keyframes #{$keyframe} {
        to { -webkit-transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
    }
    @-moz-keyframes #{$keyframe} {
        to { -moz-transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
    }
    @keyframes #{$keyframe} {
        to { transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
    }
}

@mixin flipInRightKeyframes($keyframe: flipInRight) {

    @-webkit-keyframes #{$keyframe} {
        from { -webkit-transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
    }
    @-moz-keyframes #{$keyframe} {
        from { -moz-transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
    }
    @keyframes #{$keyframe} {
        from { transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
    }
}

@mixin flipOutTopKeyframes($keyframe: flipOutTop) {

    @-webkit-keyframes #{$keyframe} {
        to { -webkit-transform: translateZ(-1000px) rotateX(90deg); opacity: 0.2; }
    }
    @-moz-keyframes #{$keyframe} {
        to { -moz-transform: translateZ(-1000px) rotateX(90deg); opacity: 0.2; }
    }
    @keyframes #{$keyframe} {
        to { transform: translateZ(-1000px) rotateX(90deg); opacity: 0.2; }
    }
}

@mixin flipInBottomKeyframes($keyframe: flipInBottom) {

    @-webkit-keyframes #{$keyframe} {
        from { -webkit-transform: translateZ(-1000px) rotateX(-90deg); opacity: 0.2; }
    }
    @-moz-keyframes #{$keyframe} {
        from { -moz-transform: translateZ(-1000px) rotateX(-90deg); opacity: 0.2; }
    }
    @keyframes #{$keyframe} {
        from { transform: translateZ(-1000px) rotateX(-90deg); opacity: 0.2; }
    }
}

@mixin flipOutBottomKeyframes($keyframe: flipOutBottom) {

    @-webkit-keyframes #{$keyframe} {
        to { -webkit-transform: translateZ(-1000px) rotateX(-90deg); opacity: 0.2; }
    }
    @-moz-keyframes #{$keyframe} {
        to { -moz-transform: translateZ(-1000px) rotateX(-90deg); opacity: 0.2; }
    }
    @keyframes #{$keyframe} {
        to { transform: translateZ(-1000px) rotateX(-90deg); opacity: 0.2; }
    }
}

@mixin flipInTopKeyframes($keyframe: flipInTop) {

    @-webkit-keyframes #{$keyframe} {
        from { -webkit-transform: translateZ(-1000px) rotateX(90deg); opacity: 0.2; }
    }
    @-moz-keyframes #{$keyframe} {
        from { -moz-transform: translateZ(-1000px) rotateX(90deg); opacity: 0.2; }
    }
    @keyframes #{$keyframe} {
        from { transform: translateZ(-1000px) rotateX(90deg); opacity: 0.2; }
    }
}

@mixin rotateFallKeyframes($keyframe: rotateFall) {

    @-webkit-keyframes #{$keyframe} {
        0% { -webkit-transform: rotateZ(0deg); }
        20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
        40% { -webkit-transform: rotateZ(17deg); }
        60% { -webkit-transform: rotateZ(16deg); }
        100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
    }
    @-moz-keyframes #{$keyframe} {
        0% { -moz-transform: rotateZ(0deg); }
        20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
        40% { -moz-transform: rotateZ(17deg); }
        60% { -moz-transform: rotateZ(16deg); }
        100% { -moz-transform: translateY(100%) rotateZ(17deg); }
    }
    @keyframes #{$keyframe} {
        0% { transform: rotateZ(0deg); }
        20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
        40% { transform: rotateZ(17deg); }
        60% { transform: rotateZ(16deg); }
        100% { transform: translateY(100%) rotateZ(17deg); }
    }
}

@mixin rotateOutNewspaperKeyframes($keyframe: rotateOutNewspaper) {

    @-webkit-keyframes #{$keyframe} {
        to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
    }
    @-moz-keyframes #{$keyframe} {
        to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
    }
    @keyframes #{$keyframe} {
        to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
    }
}

@mixin rotateInNewspaperKeyframes($keyframe: rotateInNewspaper) {

    @-webkit-keyframes #{$keyframe} {
        from { -webkit-transform: translateZ(-3000px) rotateZ(-360deg); opacity: 0; }
    }
    @-moz-keyframes #{$keyframe} {
        from { -moz-transform: translateZ(-3000px) rotateZ(-360deg); opacity: 0; }
    }
    @keyframes #{$keyframe} {
        from { transform: translateZ(-3000px) rotateZ(-360deg); opacity: 0; }
    }
}

@mixin rotatePushLeftKeyframes($keyframe: rotatePushLeft) {

    @-webkit-keyframes #{$keyframe} {
        to { opacity: 0; -webkit-transform: rotateY(90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        to { opacity: 0; -moz-transform: rotateY(90deg); }
    }
    @keyframes #{$keyframe} {
        to { opacity: 0; transform: rotateY(90deg); }
    }
}

@mixin rotatePushRightKeyframes($keyframe: rotatePushRight) {

    @-webkit-keyframes #{$keyframe} {
        to { opacity: 0; -webkit-transform: rotateY(-90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        to { opacity: 0; -moz-transform: rotateY(-90deg); }
    }
    @keyframes #{$keyframe} {
        to { opacity: 0; transform: rotateY(-90deg); }
    }
}

@mixin rotatePushTopKeyframes($keyframe: rotatePushTop) {

    @-webkit-keyframes #{$keyframe} {
        to { opacity: 0; -webkit-transform: rotateX(-90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        to { opacity: 0; -moz-transform: rotateX(-90deg); }
    }
    @keyframes #{$keyframe} {
        to { opacity: 0; transform: rotateX(-90deg); }
    }
}

@mixin rotatePushBottomKeyframes($keyframe: rotatePushBottom) {

    @-webkit-keyframes #{$keyframe} {
        to { opacity: 0; -webkit-transform: rotateX(90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        to { opacity: 0; -moz-transform: rotateX(90deg); }
    }
    @keyframes #{$keyframe} {
        to { opacity: 0; transform: rotateX(90deg); }
    }
}

@mixin rotatePullRightKeyframes($keyframe: rotatePullRight) {

    @-webkit-keyframes #{$keyframe} {
        from { opacity: 0; -webkit-transform: rotateY(-90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        from { opacity: 0; -moz-transform: rotateY(-90deg); }
    }
    @keyframes #{$keyframe} {
        from { opacity: 0; transform: rotateY(-90deg); }
    }
}

@mixin rotatePullLeftKeyframes($keyframe: rotatePullLeft) {

    @-webkit-keyframes #{$keyframe} {
        from { opacity: 0; -webkit-transform: rotateY(90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        from { opacity: 0; -moz-transform: rotateY(90deg); }
    }
    @keyframes #{$keyframe} {
        from { opacity: 0; transform: rotateY(90deg); }
    }
}

@mixin rotatePullTopKeyframes($keyframe: rotatePullTop) {

    @-webkit-keyframes #{$keyframe} {
        from { opacity: 0; -webkit-transform: rotateX(-90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        from { opacity: 0; -moz-transform: rotateX(-90deg); }
    }
    @keyframes #{$keyframe} {
        from { opacity: 0; transform: rotateX(-90deg); }
    }
}

@mixin rotatePullBottomKeyframes($keyframe: rotatePullBottom) {

    @-webkit-keyframes #{$keyframe} {
        from { opacity: 0; -webkit-transform: rotateX(90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        from { opacity: 0; -moz-transform: rotateX(90deg); }
    }
    @keyframes #{$keyframe} {
        from { opacity: 0; transform: rotateX(90deg); }
    }
}

@mixin rotateFoldRightKeyframes($keyframe: rotateFoldRight) {

    @-webkit-keyframes #{$keyframe} {
        to { opacity: 0; -webkit-transform: translateX(100%) rotateY(90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        to { opacity: 0; -moz-transform: translateX(100%) rotateY(90deg); }
    }
    @keyframes #{$keyframe} {
        to { opacity: 0; transform: translateX(100%) rotateY(90deg); }
    }
}

@mixin rotateFoldLeftKeyframes($keyframe: rotateFoldLeft) {

    @-webkit-keyframes #{$keyframe} {
        to { opacity: 0; -webkit-transform: translateX(-100%) rotateY(-90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        to { opacity: 0; -moz-transform: translateX(-100%) rotateY(-90deg); }
    }
    @keyframes #{$keyframe} {
        to { opacity: 0; transform: translateX(-100%) rotateY(-90deg); }
    }
}

@mixin rotateFoldTopKeyframes($keyframe: rotateFoldTop) {

    @-webkit-keyframes #{$keyframe} {
        to { opacity: 0; -webkit-transform: translateY(-100%) rotateX(90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        to { opacity: 0; -moz-transform: translateY(-100%) rotateX(90deg); }
    }
    @keyframes #{$keyframe} {
        to { opacity: 0; transform: translateY(-100%) rotateX(90deg); }
    }
}

@mixin rotateFoldBottomKeyframes($keyframe: rotateFoldBottom) {

    @-webkit-keyframes #{$keyframe} {
        to { opacity: 0; -webkit-transform: translateY(100%) rotateX(-90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        to { opacity: 0; -moz-transform: translateY(100%) rotateX(-90deg); }
    }
    @keyframes #{$keyframe} {
        to { opacity: 0; transform: translateY(100%) rotateX(-90deg); }
    }
}

@mixin rotateUnfoldLeftKeyframes($keyframe: rotateUnfoldLeft) {

    @-webkit-keyframes #{$keyframe} {
        from { opacity: 0; -webkit-transform: translateX(-100%) rotateY(-90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        from { opacity: 0; -moz-transform: translateX(-100%) rotateY(-90deg); }
    }
    @keyframes #{$keyframe} {
        from { opacity: 0; transform: translateX(-100%) rotateY(-90deg); }
    }
}

@mixin rotateUnfoldRightKeyframes($keyframe: rotateUnfoldRight) {

    @-webkit-keyframes #{$keyframe} {
        from { opacity: 0; -webkit-transform: translateX(100%) rotateY(90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        from { opacity: 0; -moz-transform: translateX(100%) rotateY(90deg); }
    }
    @keyframes #{$keyframe} {
        from { opacity: 0; transform: translateX(100%) rotateY(90deg); }
    }
}

@mixin rotateUnfoldTopKeyframes($keyframe: rotateUnfoldTop) {

    @-webkit-keyframes #{$keyframe} {
        from { opacity: 0; -webkit-transform: translateY(-100%) rotateX(90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        from { opacity: 0; -moz-transform: translateY(-100%) rotateX(90deg); }
    }
    @keyframes #{$keyframe} {
        from { opacity: 0; transform: translateY(-100%) rotateX(90deg); }
    }
}

@mixin rotateUnfoldBottomKeyframes($keyframe: rotateUnfoldBottom) {

    @-webkit-keyframes #{$keyframe} {
        from { opacity: 0; -webkit-transform: translateY(100%) rotateX(-90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        from { opacity: 0; -moz-transform: translateY(100%) rotateX(-90deg); }
    }
    @keyframes #{$keyframe} {
        from { opacity: 0; transform: translateY(100%) rotateX(-90deg); }
    }
}

@mixin rotateRoomLeftOutKeyframes($keyframe: rotateRoomLeftOut) {

    @-webkit-keyframes #{$keyframe} {
        to { opacity: .3; -webkit-transform: translateX(-100%) rotateY(90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        to { opacity: .3; -moz-transform: translateX(-100%) rotateY(90deg); }
    }
    @keyframes #{$keyframe} {
        to { opacity: .3; transform: translateX(-100%) rotateY(90deg); }
    }
}

@mixin rotateRoomLeftInKeyframes($keyframe: rotateRoomLeftIn) {

    @-webkit-keyframes #{$keyframe} {
        from { opacity: .3; -webkit-transform: translateX(100%) rotateY(-90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        from { opacity: .3; -moz-transform: translateX(100%) rotateY(-90deg); }
    }
    @keyframes #{$keyframe} {
        from { opacity: .3; transform: translateX(100%) rotateY(-90deg); }
    }
}

@mixin rotateRoomRightOutKeyframes($keyframe: rotateRoomRightOut) {

    @-webkit-keyframes #{$keyframe} {
        to { opacity: .3; -webkit-transform: translateX(100%) rotateY(-90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        to { opacity: .3; -moz-transform: translateX(100%) rotateY(-90deg); }
    }
    @keyframes #{$keyframe} {
        to { opacity: .3; transform: translateX(100%) rotateY(-90deg); }
    }
}

@mixin rotateRoomRightInKeyframes($keyframe: rotateRoomRightIn) {

    @-webkit-keyframes #{$keyframe} {
        from { opacity: .3; -webkit-transform: translateX(-100%) rotateY(90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        from { opacity: .3; -moz-transform: translateX(-100%) rotateY(90deg); }
    }
    @keyframes #{$keyframe} {
        from { opacity: .3; transform: translateX(-100%) rotateY(90deg); }
    }
}

@mixin rotateRoomTopOutKeyframes($keyframe: rotateRoomTopOut) {

    @-webkit-keyframes #{$keyframe} {
        to { opacity: .3; -webkit-transform: translateY(-100%) rotateX(-90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        to { opacity: .3; -moz-transform: translateY(-100%) rotateX(-90deg); }
    }
    @keyframes #{$keyframe} {
        to { opacity: .3; transform: translateY(-100%) rotateX(-90deg); }
    }
}

@mixin rotateRoomTopInKeyframes($keyframe: rotateRoomTopIn) {

    @-webkit-keyframes #{$keyframe} {
        from { opacity: .3; -webkit-transform: translateY(100%) rotateX(90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        from { opacity: .3; -moz-transform: translateY(100%) rotateX(90deg); }
    }
    @keyframes #{$keyframe} {
        from { opacity: .3; transform: translateY(100%) rotateX(90deg); }
    }
}

@mixin rotateRoomBottomOutKeyframes($keyframe: rotateRoomBottomOut) {

    @-webkit-keyframes #{$keyframe} {
        to { opacity: .3; -webkit-transform: translateY(100%) rotateX(90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        to { opacity: .3; -moz-transform: translateY(100%) rotateX(90deg); }
    }
    @keyframes #{$keyframe} {
        to { opacity: .3; transform: translateY(100%) rotateX(90deg); }
    }
}

@mixin rotateRoomBottomInKeyframes($keyframe: rotateRoomBottomIn) {

    @-webkit-keyframes #{$keyframe} {
        from { opacity: .3; -webkit-transform: translateY(-100%) rotateX(-90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        from { opacity: .3; -moz-transform: translateY(-100%) rotateX(-90deg); }
    }
    @keyframes #{$keyframe} {
        from { opacity: .3; transform: translateY(-100%) rotateX(-90deg); }
    }
}

@mixin rotateCubeLeftOutKeyframes($keyframe: rotateCubeLeftOut) {

    @-webkit-keyframes #{$keyframe} {
        50% { -webkit-animation-timing-function: ease-out;  -webkit-transform: translateX(-50%) translateZ(-200px) rotateY(-45deg); }
        100% { opacity: .3; -webkit-transform: translateX(-100%) rotateY(-90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        50% { -moz-animation-timing-function: ease-out;  -moz-transform: translateX(-50%) translateZ(-200px) rotateY(-45deg); }
        100% { opacity: .3; -moz-transform: translateX(-100%) rotateY(-90deg); }
    }
    @keyframes #{$keyframe} {
        50% { animation-timing-function: ease-out;  transform: translateX(-50%) translateZ(-200px) rotateY(-45deg); }
        100% { opacity: .3; transform: translateX(-100%) rotateY(-90deg); }
    }
}

@mixin rotateCubeLeftInKeyframes($keyframe: rotateCubeLeftIn) {

    @-webkit-keyframes #{$keyframe} {
        0% { opacity: .3; -webkit-transform: translateX(100%) rotateY(90deg); }
        50% { -webkit-animation-timing-function: ease-out;  -webkit-transform: translateX(50%) translateZ(-200px) rotateY(45deg); }
    }
    @-moz-keyframes #{$keyframe} {
        0% { opacity: .3; -moz-transform: translateX(100%) rotateY(90deg); }
        50% { -moz-animation-timing-function: ease-out;  -moz-transform: translateX(50%) translateZ(-200px) rotateY(45deg); }
    }
    @keyframes #{$keyframe} {
        0% { opacity: .3; transform: translateX(100%) rotateY(90deg); }
        50% { animation-timing-function: ease-out;  transform: translateX(50%) translateZ(-200px) rotateY(45deg); }
    }
}

@mixin rotateCubeRightOutKeyframes($keyframe: rotateCubeRightOut) {

    @-webkit-keyframes #{$keyframe} {
        50% { -webkit-animation-timing-function: ease-out; -webkit-transform: translateX(50%) translateZ(-200px) rotateY(45deg); }
        100% { opacity: .3; -webkit-transform: translateX(100%) rotateY(90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        50% { -moz-animation-timing-function: ease-out; -moz-transform: translateX(50%) translateZ(-200px) rotateY(45deg); }
        100% { opacity: .3; -moz-transform: translateX(100%) rotateY(90deg); }
    }
    @keyframes #{$keyframe} {
        50% { animation-timing-function: ease-out; transform: translateX(50%) translateZ(-200px) rotateY(45deg); }
        100% { opacity: .3; transform: translateX(100%) rotateY(90deg); }
    }
}

@mixin rotateCubeRightInKeyframes($keyframe: rotateCubeRightIn) {

    @-webkit-keyframes #{$keyframe} {
        0% { opacity: .3; -webkit-transform: translateX(-100%) rotateY(-90deg); }
        50% { -webkit-animation-timing-function: ease-out; -webkit-transform: translateX(-50%) translateZ(-200px) rotateY(-45deg); }
    }
    @-moz-keyframes #{$keyframe} {
        0% { opacity: .3; -moz-transform: translateX(-100%) rotateY(-90deg); }
        50% { -moz-animation-timing-function: ease-out; -moz-transform: translateX(-50%) translateZ(-200px) rotateY(-45deg); }
    }
    @keyframes #{$keyframe} {
        0% { opacity: .3; transform: translateX(-100%) rotateY(-90deg); }
        50% { animation-timing-function: ease-out; transform: translateX(-50%) translateZ(-200px) rotateY(-45deg); }
    }
}

@mixin rotateCubeTopOutKeyframes($keyframe: rotateCubeTopOut) {

    @-webkit-keyframes #{$keyframe} {
        50% { -webkit-animation-timing-function: ease-out; -webkit-transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
        100% { opacity: .3; -webkit-transform: translateY(-100%) rotateX(90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        50% { -moz-animation-timing-function: ease-out; -moz-transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
        100% { opacity: .3; -moz-transform: translateY(-100%) rotateX(90deg); }
    }
    @keyframes #{$keyframe} {
        50% { animation-timing-function: ease-out; transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
        100% { opacity: .3; transform: translateY(-100%) rotateX(90deg); }
    }
}

@mixin rotateCubeTopInKeyframes($keyframe: rotateCubeTopIn) {

    @-webkit-keyframes #{$keyframe} {
        0% { opacity: .3; -webkit-transform: translateY(100%) rotateX(-90deg); }
        50% { -webkit-animation-timing-function: ease-out; -webkit-transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
    }
    @-moz-keyframes #{$keyframe} {
        0% { opacity: .3; -moz-transform: translateY(100%) rotateX(-90deg); }
        50% { -moz-animation-timing-function: ease-out; -moz-transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
    }
    @keyframes #{$keyframe} {
        0% { opacity: .3; transform: translateY(100%) rotateX(-90deg); }
        50% { animation-timing-function: ease-out; transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
    }
}

@mixin rotateCubeBottomOutKeyframes($keyframe: rotateCubeBottomOut) {

    @-webkit-keyframes #{$keyframe} {
        50% { -webkit-animation-timing-function: ease-out; -webkit-transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
        100% { opacity: .3; -webkit-transform: translateY(100%) rotateX(-90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        50% { -moz-animation-timing-function: ease-out; -moz-transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
        100% { opacity: .3; -moz-transform: translateY(100%) rotateX(-90deg); }
    }
    @keyframes #{$keyframe} {
        50% { animation-timing-function: ease-out; transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
        100% { opacity: .3; transform: translateY(100%) rotateX(-90deg); }
    }
}

@mixin rotateCubeBottomInKeyframes($keyframe: rotateCubeBottomIn) {

    @-webkit-keyframes #{$keyframe} {
        0% { opacity: .3; -webkit-transform: translateY(-100%) rotateX(90deg); }
        50% { -webkit-animation-timing-function: ease-out; -webkit-transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
    }
    @-moz-keyframes #{$keyframe} {
        0% { opacity: .3; -moz-transform: translateY(-100%) rotateX(90deg); }
        50% { -moz-animation-timing-function: ease-out; -moz-transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
    }
    @keyframes #{$keyframe} {
        0% { opacity: .3; transform: translateY(-100%) rotateX(90deg); }
        50% { animation-timing-function: ease-out; transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
    }
}

@mixin rotateCarouselLeftOutKeyframes($keyframe: rotateCarouselLeftOut) {

    @-webkit-keyframes #{$keyframe} {
        to { opacity: .3; -webkit-transform: translateX(-150%) scale(.4) rotateY(-65deg); }
    }
    @-moz-keyframes #{$keyframe} {
        to { opacity: .3; -moz-transform: translateX(-150%) scale(.4) rotateY(-65deg); }
    }
    @keyframes #{$keyframe} {
        to { opacity: .3; transform: translateX(-150%) scale(.4) rotateY(-65deg); }
    }
}

@mixin rotateCarouselLeftInKeyframes($keyframe: rotateCarouselLeftIn) {

    @-webkit-keyframes #{$keyframe} {
        from { opacity: .3; -webkit-transform: translateX(200%) scale(.4) rotateY(65deg); }
    }
    @-moz-keyframes #{$keyframe} {
        from { opacity: .3; -moz-transform: translateX(200%) scale(.4) rotateY(65deg); }
    }
    @keyframes #{$keyframe} {
        from { opacity: .3; transform: translateX(200%) scale(.4) rotateY(65deg); }
    }
}

@mixin rotateCarouselRightOutKeyframes($keyframe: rotateCarouselRightOut) {

    @-webkit-keyframes #{$keyframe} {
        to { opacity: .3; -webkit-transform: translateX(200%) scale(.4) rotateY(65deg); }
    }
    @-moz-keyframes #{$keyframe} {
        to { opacity: .3; -moz-transform: translateX(200%) scale(.4) rotateY(65deg); }
    }
    @keyframes #{$keyframe} {
        to { opacity: .3; transform: translateX(200%) scale(.4) rotateY(65deg); }
    }
}

@mixin rotateCarouselRightInKeyframes($keyframe: rotateCarouselRightIn) {

    @-webkit-keyframes #{$keyframe} {
        from { opacity: .3; -webkit-transform: translateX(-200%) scale(.4) rotateY(-65deg); }
    }
    @-moz-keyframes #{$keyframe} {
        from { opacity: .3; -moz-transform: translateX(-200%) scale(.4) rotateY(-65deg); }
    }
    @keyframes #{$keyframe} {
        from { opacity: .3; transform: translateX(-200%) scale(.4) rotateY(-65deg); }
    }
}

@mixin rotateCarouselTopOutKeyframes($keyframe: rotateCarouselTopOut) {

    @-webkit-keyframes #{$keyframe} {
        to { opacity: .3; -webkit-transform: translateY(-200%) scale(.4) rotateX(65deg); }
    }
    @-moz-keyframes #{$keyframe} {
        to { opacity: .3; -moz-transform: translateY(-200%) scale(.4) rotateX(65deg); }
    }
    @keyframes #{$keyframe} {
        to { opacity: .3; transform: translateY(-200%) scale(.4) rotateX(65deg); }
    }
}

@mixin rotateCarouselTopInKeyframes($keyframe: rotateCarouselTopIn) {

    @-webkit-keyframes #{$keyframe} {
        from { opacity: .3; -webkit-transform: translateY(200%) scale(.4) rotateX(-65deg); }
    }
    @-moz-keyframes #{$keyframe} {
        from { opacity: .3; -moz-transform: translateY(200%) scale(.4) rotateX(-65deg); }
    }
    @keyframes #{$keyframe} {
        from { opacity: .3; transform: translateY(200%) scale(.4) rotateX(-65deg); }
    }
}

@mixin rotateCarouselBottomOutKeyframes($keyframe: rotateCarouselBottomOut) {

    @-webkit-keyframes #{$keyframe} {
        to { opacity: .3; -webkit-transform: translateY(200%) scale(.4) rotateX(-65deg); }
    }
    @-moz-keyframes #{$keyframe} {
        to { opacity: .3; -moz-transform: translateY(200%) scale(.4) rotateX(-65deg); }
    }
    @keyframes #{$keyframe} {
        to { opacity: .3; transform: translateY(200%) scale(.4) rotateX(-65deg); }
    }
}

@mixin rotateCarouselBottomInKeyframes($keyframe: rotateCarouselBottomIn) {

    @-webkit-keyframes #{$keyframe} {
        from { opacity: .3; -webkit-transform: translateY(-200%) scale(.4) rotateX(65deg); }
    }
    @-moz-keyframes #{$keyframe} {
        from { opacity: .3; -moz-transform: translateY(-200%) scale(.4) rotateX(65deg); }
    }
    @keyframes #{$keyframe} {
        from { opacity: .3; transform: translateY(-200%) scale(.4) rotateX(65deg); }
    }
}

@mixin rotateSidesOutKeyframes($keyframe: rotateSidesOut) {

    @-webkit-keyframes #{$keyframe} {
        to { opacity: 0; -webkit-transform: translateZ(-500px) rotateY(90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        to { opacity: 0; -moz-transform: translateZ(-500px) rotateY(90deg); }
    }
    @keyframes #{$keyframe} {
        to { opacity: 0; transform: translateZ(-500px) rotateY(90deg); }
    }
}

@mixin rotateSidesInKeyframes($keyframe: rotateSidesIn) {

    @-webkit-keyframes #{$keyframe} {
        from { opacity: 0; -webkit-transform: translateZ(-500px) rotateY(-90deg); }
    }
    @-moz-keyframes #{$keyframe} {
        from { opacity: 0; -moz-transform: translateZ(-500px) rotateY(-90deg); }
    }
    @keyframes #{$keyframe} {
        from { opacity: 0; transform: translateZ(-500px) rotateY(-90deg); }
    }
}

@mixin rotateSlideOutKeyframes($keyframe: rotateSlideOut) {

    @-webkit-keyframes #{$keyframe} {
        25% { opacity: .5; -webkit-transform: translateZ(-500px); }
        75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
        100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
    }
    @-moz-keyframes #{$keyframe} {
        25% { opacity: .5; -moz-transform: translateZ(-500px); }
        75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
        100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
    }
    @keyframes #{$keyframe} {
        25% { opacity: .5; transform: translateZ(-500px); }
        75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
        100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
    }
}

@mixin rotateSlideInKeyframes($keyframe: rotateSlideIn) {

    @-webkit-keyframes #{$keyframe} {
        0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
        75% { opacity: .5; -webkit-transform: translateZ(-500px); }
        100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
    }
    @-moz-keyframes #{$keyframe} {
        0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
        75% { opacity: .5; -moz-transform: translateZ(-500px); }
        100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
    }
    @keyframes #{$keyframe} {
        0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
        75% { opacity: .5; transform: translateZ(-500px); }
        100% { opacity: 1; transform: translateZ(0) translateX(0); }
    }
}

@include moveToLeftKeyframes(_effect_pageTransition_moveToLeft);
@include moveFromLeftKeyframes(_effect_pageTransition_moveFromLeft);
@include moveToRightKeyframes(_effect_pageTransition_moveToRight);
@include moveFromRightKeyframes(_effect_pageTransition_moveFromRight);
@include moveToTopKeyframes(_effect_pageTransition_moveToTop);
@include moveFromTopKeyframes(_effect_pageTransition_moveFromTop);
@include moveToBottomKeyframes(_effect_pageTransition_moveToBottom);
@include moveFromBottomKeyframes(_effect_pageTransition_moveFromBottom);
@include fadeKeyframes(_effect_pageTransition_fade);
@include moveToLeftFadeKeyframes(_effect_pageTransition_moveToLeftFade);
@include moveFromLeftFadeKeyframes(_effect_pageTransition_moveFromLeftFade);
@include moveToRightFadeKeyframes(_effect_pageTransition_moveToRightFade);
@include moveFromRightFadeKeyframes(_effect_pageTransition_moveFromRightFade);
@include moveToTopFadeKeyframes(_effect_pageTransition_moveToTopFade);
@include moveFromTopFadeKeyframes(_effect_pageTransition_moveFromTopFade);
@include moveToBottomFadeKeyframes(_effect_pageTransition_moveToBottomFade);
@include moveFromBottomFadeKeyframes(_effect_pageTransition_moveFromBottomFade);
@include scaleDownKeyframes(_effect_pageTransition_scaleDown);
@include scaleUpKeyframes(_effect_pageTransition_scaleUp);
@include scaleUpDownKeyframes(_effect_pageTransition_scaleUpDown);
@include scaleDownUpKeyframes(_effect_pageTransition_scaleDownUp);
@include scaleDownCenterKeyframes(_effect_pageTransition_scaleDownCenter);
@include scaleUpCenterKeyframes(_effect_pageTransition_scaleUpCenter);
@include rotateRightSideFirstKeyframes(_effect_pageTransition_rotateRightSideFirst);
@include rotateLeftSideFirstKeyframes(_effect_pageTransition_rotateLeftSideFirst);
@include rotateTopSideFirstKeyframes(_effect_pageTransition_rotateTopSideFirst);
@include rotateBottomSideFirstKeyframes(_effect_pageTransition_rotateBottomSideFirst);
@include flipOutRightKeyframes(_effect_pageTransition_flipOutRight);
@include flipInLeftKeyframes(_effect_pageTransition_flipInLeft);
@include flipOutLeftKeyframes(_effect_pageTransition_flipOutLeft);
@include flipInRightKeyframes(_effect_pageTransition_flipInRight);
@include flipOutTopKeyframes(_effect_pageTransition_flipOutTop);
@include flipInBottomKeyframes(_effect_pageTransition_flipInBottom);
@include flipOutBottomKeyframes(_effect_pageTransition_flipOutBottom);
@include flipInTopKeyframes(_effect_pageTransition_flipInTop);
@include rotateFallKeyframes(_effect_pageTransition_rotateFall);
@include rotateOutNewspaperKeyframes(_effect_pageTransition_rotateOutNewspaper);
@include rotateInNewspaperKeyframes(_effect_pageTransition_rotateInNewspaper);
@include rotatePushLeftKeyframes(_effect_pageTransition_rotatePushLeft);
@include rotatePushRightKeyframes(_effect_pageTransition_rotatePushRight);
@include rotatePushTopKeyframes(_effect_pageTransition_rotatePushTop);
@include rotatePushBottomKeyframes(_effect_pageTransition_rotatePushBottom);
@include rotatePullRightKeyframes(_effect_pageTransition_rotatePullRight);
@include rotatePullLeftKeyframes(_effect_pageTransition_rotatePullLeft);
@include rotatePullTopKeyframes(_effect_pageTransition_rotatePullTop);
@include rotatePullBottomKeyframes(_effect_pageTransition_rotatePullBottom);
@include rotateFoldRightKeyframes(_effect_pageTransition_rotateFoldRight);
@include rotateFoldLeftKeyframes(_effect_pageTransition_rotateFoldLeft);
@include rotateFoldTopKeyframes(_effect_pageTransition_rotateFoldTop);
@include rotateFoldBottomKeyframes(_effect_pageTransition_rotateFoldBottom);
@include rotateUnfoldLeftKeyframes(_effect_pageTransition_rotateUnfoldLeft);
@include rotateUnfoldRightKeyframes(_effect_pageTransition_rotateUnfoldRight);
@include rotateUnfoldTopKeyframes(_effect_pageTransition_rotateUnfoldTop);
@include rotateUnfoldBottomKeyframes(_effect_pageTransition_rotateUnfoldBottom);
@include rotateRoomLeftOutKeyframes(_effect_pageTransition_rotateRoomLeftOut);
@include rotateRoomLeftInKeyframes(_effect_pageTransition_rotateRoomLeftIn);
@include rotateRoomRightOutKeyframes(_effect_pageTransition_rotateRoomRightOut);
@include rotateRoomRightInKeyframes(_effect_pageTransition_rotateRoomRightIn);
@include rotateRoomTopOutKeyframes(_effect_pageTransition_rotateRoomTopOut);
@include rotateRoomTopInKeyframes(_effect_pageTransition_rotateRoomTopIn);
@include rotateRoomBottomOutKeyframes(_effect_pageTransition_rotateRoomBottomOut);
@include rotateRoomBottomInKeyframes(_effect_pageTransition_rotateRoomBottomIn);
@include rotateCubeLeftOutKeyframes(_effect_pageTransition_rotateCubeLeftOut);
@include rotateCubeLeftInKeyframes(_effect_pageTransition_rotateCubeLeftIn);
@include rotateCubeRightOutKeyframes(_effect_pageTransition_rotateCubeRightOut);
@include rotateCubeRightInKeyframes(_effect_pageTransition_rotateCubeRightIn);
@include rotateCubeTopOutKeyframes(_effect_pageTransition_rotateCubeTopOut);
@include rotateCubeTopInKeyframes(_effect_pageTransition_rotateCubeTopIn);
@include rotateCubeBottomOutKeyframes(_effect_pageTransition_rotateCubeBottomOut);
@include rotateCubeBottomInKeyframes(_effect_pageTransition_rotateCubeBottomIn);
@include rotateCarouselLeftOutKeyframes(_effect_pageTransition_rotateCarouselLeftOut);
@include rotateCarouselLeftInKeyframes(_effect_pageTransition_rotateCarouselLeftIn);
@include rotateCarouselRightOutKeyframes(_effect_pageTransition_rotateCarouselRightOut);
@include rotateCarouselRightInKeyframes(_effect_pageTransition_rotateCarouselRightIn);
@include rotateCarouselTopOutKeyframes(_effect_pageTransition_rotateCarouselTopOut);
@include rotateCarouselTopInKeyframes(_effect_pageTransition_rotateCarouselTopIn);
@include rotateCarouselBottomOutKeyframes(_effect_pageTransition_rotateCarouselBottomOut);
@include rotateCarouselBottomInKeyframes(_effect_pageTransition_rotateCarouselBottomIn);
@include rotateSidesOutKeyframes(_effect_pageTransition_rotateSidesOut);
@include rotateSidesInKeyframes(_effect_pageTransition_rotateSidesIn);
@include rotateSlideOutKeyframes(_effect_pageTransition_rotateSlideOut);
@include rotateSlideInKeyframes(_effect_pageTransition_rotateSlideIn);
@include moveToLeftKeyframes(_effect_pageTransition_moveToLeftEasing);
@include moveToRightKeyframes(_effect_pageTransition_moveToRightEasing);
@include moveToTopKeyframes(_effect_pageTransition_moveToTopEasing);
@include moveToBottomKeyframes(_effect_pageTransition_moveToBottomEasing);

@include baseAnimation(_effect_pageTransition_moveToLeft, .6s, ease);
@include baseAnimation(_effect_pageTransition_moveFromLeft, .6s, ease);
@include baseAnimation(_effect_pageTransition_moveToRight, .6s, ease);
@include baseAnimation(_effect_pageTransition_moveFromRight, .6s, ease);
@include baseAnimation(_effect_pageTransition_moveToTop, .6s, ease);
@include baseAnimation(_effect_pageTransition_moveFromTop, .6s, ease);
@include baseAnimation(_effect_pageTransition_moveToBottom, .6s, ease);
@include baseAnimation(_effect_pageTransition_moveFromBottom, .6s, ease);
@include baseAnimation(_effect_pageTransition_fade, .7s, ease);
@include baseAnimation(_effect_pageTransition_moveToLeftFade, .7s, ease);
@include baseAnimation(_effect_pageTransition_moveFromLeftFade, .7s, ease);
@include baseAnimation(_effect_pageTransition_moveToRightFade, .7s, ease);
@include baseAnimation(_effect_pageTransition_moveFromRightFade, .7s, ease);
@include baseAnimation(_effect_pageTransition_moveToTopFade, .7s, ease);
@include baseAnimation(_effect_pageTransition_moveFromTopFade, .7s, ease);
@include baseAnimation(_effect_pageTransition_moveToBottomFade, .7s, ease);
@include baseAnimation(_effect_pageTransition_moveFromBottomFade, .7s, ease);
@include baseAnimation(_effect_pageTransition_scaleDown, .7s, ease);
@include baseAnimation(_effect_pageTransition_scaleUp, .7s, ease);
@include baseAnimation(_effect_pageTransition_scaleUpDown, .5s, ease);
@include baseAnimation(_effect_pageTransition_scaleDownUp, .5s, ease);
@include baseAnimation(_effect_pageTransition_scaleDownCenter, .4s, ease-in);
@include baseAnimation(_effect_pageTransition_scaleUpCenter, .4s, ease-in);
@include baseAnimation(_effect_pageTransition_rotateRightSideFirst, .8s, ease-in);
@include baseAnimation(_effect_pageTransition_rotateLeftSideFirst, .8s, ease-in);
@include baseAnimation(_effect_pageTransition_rotateTopSideFirst, .8s, ease-in);
@include baseAnimation(_effect_pageTransition_rotateBottomSideFirst, .8s, ease-in);
@include baseAnimation(_effect_pageTransition_flipOutRight, .5s, ease-in);
@include baseAnimation(_effect_pageTransition_flipInLeft, .5s, ease-in);
@include baseAnimation(_effect_pageTransition_flipOutLeft, .5s, ease-in);
@include baseAnimation(_effect_pageTransition_flipInRight, .5s, ease-in);
@include baseAnimation(_effect_pageTransition_flipOutTop, .5s, ease-in);
@include baseAnimation(_effect_pageTransition_flipInBottom, .5s, ease-in);
@include baseAnimation(_effect_pageTransition_flipOutBottom, .5s, ease-in);
@include baseAnimation(_effect_pageTransition_flipInTop, .5s, ease-in);
@include baseAnimation(_effect_pageTransition_rotateFall, 1s, ease-in);
@include baseAnimation(_effect_pageTransition_rotateOutNewspaper, .5s, ease-in);
@include baseAnimation(_effect_pageTransition_rotateInNewspaper, .5s, ease-out);
@include baseAnimation(_effect_pageTransition_rotatePushLeft, .8s, ease);
@include baseAnimation(_effect_pageTransition_rotatePushRight, .8s, ease);
@include baseAnimation(_effect_pageTransition_rotatePushTop, .8s, ease);
@include baseAnimation(_effect_pageTransition_rotatePushBottom, .8s, ease);
@include baseAnimation(_effect_pageTransition_rotatePullRight, .5s, ease);
@include baseAnimation(_effect_pageTransition_rotatePullLeft, .5s, ease);
@include baseAnimation(_effect_pageTransition_rotatePullTop, .5s, ease);
@include baseAnimation(_effect_pageTransition_rotatePullBottom, .5s, ease);
@include baseAnimation(_effect_pageTransition_rotateFoldRight, .7s, ease);
@include baseAnimation(_effect_pageTransition_rotateFoldLeft, .7s, ease);
@include baseAnimation(_effect_pageTransition_rotateFoldTop, .7s, ease);
@include baseAnimation(_effect_pageTransition_rotateFoldBottom, .7s, ease);
@include baseAnimation(_effect_pageTransition_rotateUnfoldLeft, .7s, ease);
@include baseAnimation(_effect_pageTransition_rotateUnfoldRight, .7s, ease);
@include baseAnimation(_effect_pageTransition_rotateUnfoldTop, .7s, ease);
@include baseAnimation(_effect_pageTransition_rotateUnfoldBottom, .7s, ease);
@include baseAnimation(_effect_pageTransition_rotateRoomLeftOut, .8s, ease);
@include baseAnimation(_effect_pageTransition_rotateRoomLeftIn, .8s, ease);
@include baseAnimation(_effect_pageTransition_rotateRoomRightOut, .8s, ease);
@include baseAnimation(_effect_pageTransition_rotateRoomRightIn, .8s, ease);
@include baseAnimation(_effect_pageTransition_rotateRoomTopOut, .8s, ease);
@include baseAnimation(_effect_pageTransition_rotateRoomTopIn, .8s, ease);
@include baseAnimation(_effect_pageTransition_rotateRoomBottomOut, .8s, ease);
@include baseAnimation(_effect_pageTransition_rotateRoomBottomIn, .8s, ease);
@include baseAnimation(_effect_pageTransition_rotateCubeLeftOut, .6s, ease-in);
@include baseAnimation(_effect_pageTransition_rotateCubeLeftIn, .6s, ease-in);
@include baseAnimation(_effect_pageTransition_rotateCubeRightOut, .6s, ease-in);
@include baseAnimation(_effect_pageTransition_rotateCubeRightIn, .6s, ease-in);
@include baseAnimation(_effect_pageTransition_rotateCubeTopOut, .6s, ease-in);
@include baseAnimation(_effect_pageTransition_rotateCubeTopIn, .6s, ease-in);
@include baseAnimation(_effect_pageTransition_rotateCubeBottomOut, .6s, ease-in);
@include baseAnimation(_effect_pageTransition_rotateCubeBottomIn, .6s, ease-in);
@include baseAnimation(_effect_pageTransition_rotateCarouselLeftOut, .8s, ease);
@include baseAnimation(_effect_pageTransition_rotateCarouselLeftIn, .8s, ease);
@include baseAnimation(_effect_pageTransition_rotateCarouselRightOut, .8s, ease);
@include baseAnimation(_effect_pageTransition_rotateCarouselRightIn, .8s, ease);
@include baseAnimation(_effect_pageTransition_rotateCarouselTopOut, .8s, ease);
@include baseAnimation(_effect_pageTransition_rotateCarouselTopIn, .8s, ease);
@include baseAnimation(_effect_pageTransition_rotateCarouselBottomOut, .8s, ease);
@include baseAnimation(_effect_pageTransition_rotateCarouselBottomIn, .8s, ease);
@include baseAnimation(_effect_pageTransition_rotateSidesOut, .5s, ease-in);
@include baseAnimation(_effect_pageTransition_rotateSidesIn, .5s, ease-in);
@include baseAnimation(_effect_pageTransition_rotateSlideOut, 1s, ease);
@include baseAnimation(_effect_pageTransition_rotateSlideIn, 1s, ease);
@include baseAnimation(_effect_pageTransition_moveToLeftEasing, .7s, ease-in-out);
@include baseAnimation(_effect_pageTransition_moveToRightEasing, .7s, ease-in-out);
@include baseAnimation(_effect_pageTransition_moveToTopEasing, .7s, ease-in-out);
@include baseAnimation(_effect_pageTransition_moveToBottomEasing, .7s, ease-in-out);
