@font-face {
    font-family: 'icon-modal-window';
    src: url('icon-modal-window.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon-modal-window:before {
    font-family: 'icon-modal-window';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-modal-window-before:before {
    font-family: 'icon-modal-window';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-modal-window-after:after {
    font-family: 'icon-modal-window';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-modal-window-thumbnail:before {
	content: "\e600";
}

.icon-modal-window-thumbnail-before:before {
	content: "\e600";
}

.icon-modal-window-thumbnail-after:after {
	content: "\e600";
}