@import "compass/css3/box-shadow";
@import "compass/css3/transform";
@import "compass/css3/transition";

#demoArea {
    .widgetContainer {
        position: relative;
        float: left;
        width: 100%;
        height: 100%;

        .clearfix {
            &:before, &:after {
                content: " ";
                display: table;
            }

            &:after {
                clear: both;
            }
        }

        [ui-widget-side-bar] {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            [name='mainContent'] {
                position: absolute;
                width: 100%;
                height: 100%;
                background: #f3efe0;
                color: #48a770;

                > header {
                    text-align: center;
                    padding: 3em;
                    margin: 0 auto;

                    h1 {
                        font-size: 2.625em;
                        line-height: 1.3;
                        margin: 0;
                        font-weight: 300;

                        span {
                            display: block;
                            font-size: 60%;
                            opacity: 0.7;
                            padding: 0 0 0.6em 0.1em;
                            color: #aca89a;
                        }
                    }
                }

                > .main {
                    margin: 0 auto;
                    padding: 2em;
                    max-width: 69em;

                    .column {
                        float: left;
                        width: 50%;
                        padding: 0 2em;
                        min-height: 300px;
                        position: relative;

                        p {
                            font-weight: 300;
                            font-size: 2em;
                            padding: 0;
                            margin: 0;
                            text-align: right;
                            line-height: 1.5;
                        }

                        button {
                            border: none;
                            padding: 0.6em 1.2em;
                            background: #388a5a;
                            color: #fff;
                            font-family: 'Lato', Calibri, Arial, sans-serif;
                            font-size: 1em;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            cursor: pointer;
                            display: inline-block;
                            margin: 3px 2px;
                            border-radius: 2px;

                            &:hover {
                                background: #2c774b;
                            }
                        }
                    }
                }
            }

            [name='barContent'] {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 100;
                width: 300px;
                height: 100%;
                background: #48a770;

                @include transition(all 0.5s);

                &:after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,0.2);
                    content: '';
                    opacity: 1;

                    @include transition(opacity 0.5s);
                }

                h2 {
                    margin: 0;
                    padding: 1em;
                    color: rgba(0,0,0,0.4);
                    text-shadow: 0 0 1px rgba(0,0,0,0.1);
                    font-weight: 300;
                    font-size: 2em;
                }

                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {
                        &:first-child {
                            a {
                                @include box-shadow(inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2));
                            }
                        }

                        a {
                            display: block;
                            padding: 1em 1em 1em 1.2em;
                            outline: none;
                            box-shadow: inset 0 -1px rgba(0,0,0,0.2);
                            color: #f3efe0;
                            text-transform: uppercase;
                            text-shadow: 0 0 1px rgba(255,255,255,0.1);
                            letter-spacing: 1px;
                            font-weight: 400;
                            text-decoration: none;

                            @include transition(background 0.3s, box-shadow 0.3s);
                        }
                    }
                }
            }
        }
    }
}