@font-face {
    font-family: 'icon-shape';
    src: url('icon-shape.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon-shape:before {
    font-family: 'icon-shape';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shape-before:before {
    font-family: 'icon-shape';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shape-after:after {
    font-family: 'icon-shape';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shape-glyphs:before {
    content: "\e601";
}

.icon-shape-angle-double-up:before {
    content: "\e600";
}

.icon-shape-library:before {
    content: "\e602";
}

.icon-shape-exit:before {
    content: "\e603";
}

.icon-shape-square:before {
    content: "\e604";
}

.icon-shape-square-check:before {
    content: "\e605";
}

.icon-shape-glyphs-before:before {
    content: "\e601";
}

.icon-shape-angle-double-up-before:before {
    content: "\e600";
}

.icon-shape-library-before:before {
    content: "\e602";
}

.icon-shape-exit-before:before {
    content: "\e603";
}

.icon-shape-square-before:before {
    content: "\e604";
}

.icon-shape-square-check-before:before {
    content: "\e605";
}

.icon-shape-glyphs-after:after {
    content: "\e601";
}

.icon-shape-angle-double-up-after:after {
    content: "\e600";
}

.icon-shape-library-after:after {
    content: "\e602";
}

.icon-shape-exit-after:after {
    content: "\e603";
}

.icon-shape-square-after:after {
    content: "\e604";
}

.icon-shape-square-check-after:after {
    content: "\e605";
}
