@font-face {
	font-family: 'icon-frame-sketch';
	src: url('icon-frame-sketch.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.icon-frame-sketch:before {
	font-family: 'icon-frame-sketch';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-frame-sketch-before:before {
	font-family: 'icon-frame-sketch';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-frame-sketch-after:after {
	font-family: 'icon-frame-sketch';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-frame-sketch-exit:before {
	content: "\e600";
}

.icon-frame-sketch-exit-before:before {
	content: "\e600";
}

.icon-frame-sketch-exit-after:after {
	content: "\e600";
}
