@font-face {
	font-family: 'icon-frame-sketch';
	src: url('icon-frame-sketch.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.icon-frame-sketch {
	font-family: 'icon-frame-sketch';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-frame-sketch-before:before {
	font-family: 'icon-frame-sketch';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-frame-sketch-after:after {
	font-family: 'icon-frame-sketch';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-frame-sketch-space-horizontal:before {
    content: "\e600";
}

.icon-frame-sketch-span-vertical:before {
    content: "\e601";
}

.icon-frame-sketch-span-horizontal:before {
    content: "\e602";
}

.icon-frame-sketch-space-vertical:before {
    content: "\e603";
}

.icon-frame-sketch-fill:before {
    content: "\e604";
}

.icon-frame-sketch-align-center:before {
    content: "\e605";
}

.icon-frame-sketch-align-bottom:before {
    content: "\e606";
}

.icon-frame-sketch-align-top:before {
    content: "\e607";
}

.icon-frame-sketch-fill-horizontal:before {
    content: "\e608";
}

.icon-frame-sketch-fill-vertical:before {
    content: "\e609";
}

.icon-frame-sketch-html:before {
    content: "\e60a";
}

.icon-frame-sketch-ladder:before {
    content: "\e60b";
}

.icon-frame-sketch-exit:before {
    content: "\e60c";
}

.icon-frame-sketch-insert:before {
    content: "\e60d";
}

.icon-frame-sketch-confirm:before {
    content: "\e60e";
}

.icon-frame-sketch-cancel:before {
    content: "\e60f";
}

.icon-frame-sketch-ruler:before {
    content: "\e610";
}

.icon-frame-sketch-play:before {
    content: "\e611";
}

.icon-frame-sketch-pause:before {
    content: "\e612";
}

.icon-frame-sketch-stop:before {
    content: "\e613";
}

.icon-frame-sketch-align-left:before {
    content: "\e614";
}

.icon-frame-sketch-align-center2:before {
    content: "\e615";
}

.icon-frame-sketch-align-right:before {
    content: "\e616";
}

.icon-frame-sketch-expand:before {
    content: "\e617";
}

.icon-frame-sketch-collapse:before {
    content: "\e618";
}

.icon-frame-sketch-locate:before {
    content: "\e619";
}

.icon-frame-sketch-duplicate:before {
    content: "\e61a";
}

.icon-frame-sketch-group:before {
    content: "\e61b";
}

.icon-frame-sketch-ungroup:before {
    content: "\e61c";
}

.icon-frame-sketch-load:before {
    content: "\e61d";
}

.icon-frame-sketch-save:before {
    content: "\e61e";
}

.icon-frame-sketch-remove:before {
    content: "\e61f";
}

.icon-frame-sketch-lock:before {
    content: "\e620";
}

.icon-frame-sketch-unlock:before {
    content: "\e621";
}

.icon-frame-sketch-move-up:before {
    content: "\e622";
}

.icon-frame-sketch-move-down:before {
    content: "\e623";
}

.icon-frame-sketch-space-horizontal-before:before {
    content: "\e600";
}

.icon-frame-sketch-span-vertical-before:before {
    content: "\e601";
}

.icon-frame-sketch-span-horizontal-before:before {
    content: "\e602";
}

.icon-frame-sketch-space-vertical-before:before {
    content: "\e603";
}

.icon-frame-sketch-fill-before:before {
    content: "\e604";
}

.icon-frame-sketch-align-center-before:before {
    content: "\e605";
}

.icon-frame-sketch-align-bottom-before:before {
    content: "\e606";
}

.icon-frame-sketch-align-top-before:before {
    content: "\e607";
}

.icon-frame-sketch-fill-horizontal-before:before {
    content: "\e608";
}

.icon-frame-sketch-fill-vertical-before:before {
    content: "\e609";
}

.icon-frame-sketch-html-before:before {
    content: "\e60a";
}

.icon-frame-sketch-ladder-before:before {
    content: "\e60b";
}

.icon-frame-sketch-exit-before:before {
    content: "\e60c";
}

.icon-frame-sketch-insert-before:before {
    content: "\e60d";
}

.icon-frame-sketch-confirm-before:before {
    content: "\e60e";
}

.icon-frame-sketch-cancel-before:before {
    content: "\e60f";
}

.icon-frame-sketch-ruler-before:before {
    content: "\e610";
}

.icon-frame-sketch-play-before:before {
    content: "\e611";
}

.icon-frame-sketch-pause-before:before {
    content: "\e612";
}

.icon-frame-sketch-stop-before:before {
    content: "\e613";
}

.icon-frame-sketch-align-left-before:before {
    content: "\e614";
}

.icon-frame-sketch-align-center2-before:before {
    content: "\e615";
}

.icon-frame-sketch-align-right-before:before {
    content: "\e616";
}

.icon-frame-sketch-expand-before:before {
    content: "\e617";
}

.icon-frame-sketch-collapse-before:before {
    content: "\e618";
}

.icon-frame-sketch-locate-before:before {
    content: "\e619";
}

.icon-frame-sketch-duplicate-before:before {
    content: "\e61a";
}

.icon-frame-sketch-group-before:before {
    content: "\e61b";
}

.icon-frame-sketch-ungroup-before:before {
    content: "\e61c";
}

.icon-frame-sketch-load-before:before {
    content: "\e61d";
}

.icon-frame-sketch-save-before:before {
    content: "\e61e";
}

.icon-frame-sketch-remove-before:before {
    content: "\e61f";
}

.icon-frame-sketch-lock-before:before {
    content: "\e620";
}

.icon-frame-sketch-unlock-before:before {
    content: "\e621";
}

.icon-frame-sketch-move-up-before:before {
    content: "\e622";
}

.icon-frame-sketch-move-down-before:before {
    content: "\e623";
}

.icon-frame-sketch-space-horizontal-after:after {
    content: "\e600";
}

.icon-frame-sketch-span-vertical-after:after {
    content: "\e601";
}

.icon-frame-sketch-span-horizontal-after:after {
    content: "\e602";
}

.icon-frame-sketch-space-vertical-after:after {
    content: "\e603";
}

.icon-frame-sketch-fill-after:after {
    content: "\e604";
}

.icon-frame-sketch-align-center-after:after {
    content: "\e605";
}

.icon-frame-sketch-align-bottom-after:after {
    content: "\e606";
}

.icon-frame-sketch-align-top-after:after {
    content: "\e607";
}

.icon-frame-sketch-fill-horizontal-after:after {
    content: "\e608";
}

.icon-frame-sketch-fill-vertical-after:after {
    content: "\e609";
}

.icon-frame-sketch-html-after:after {
    content: "\e60a";
}

.icon-frame-sketch-ladder-after:after {
    content: "\e60b";
}

.icon-frame-sketch-exit-after:after {
    content: "\e60c";
}

.icon-frame-sketch-insert-after:after {
    content: "\e60d";
}

.icon-frame-sketch-confirm-after:after {
    content: "\e60e";
}

.icon-frame-sketch-cancel-after:after {
    content: "\e60f";
}

.icon-frame-sketch-ruler-after:after {
    content: "\e610";
}

.icon-frame-sketch-play-after:after {
    content: "\e611";
}

.icon-frame-sketch-pause-after:after {
    content: "\e612";
}

.icon-frame-sketch-stop-after:after {
    content: "\e613";
}

.icon-frame-sketch-align-left-after:after {
    content: "\e614";
}

.icon-frame-sketch-align-center2-after:after {
    content: "\e615";
}

.icon-frame-sketch-align-right-after:after {
    content: "\e616";
}

.icon-frame-sketch-expand-after:after {
    content: "\e617";
}

.icon-frame-sketch-collapse-after:after {
    content: "\e618";
}

.icon-frame-sketch-locate-after:after {
    content: "\e619";
}

.icon-frame-sketch-duplicate-after:after {
    content: "\e61a";
}

.icon-frame-sketch-group-after:after {
    content: "\e61b";
}

.icon-frame-sketch-ungroup-after:after {
    content: "\e61c";
}

.icon-frame-sketch-load-after:after {
    content: "\e61d";
}

.icon-frame-sketch-save-after:after {
    content: "\e61e";
}

.icon-frame-sketch-remove-after:after {
    content: "\e61f";
}

.icon-frame-sketch-lock-after:after {
    content: "\e620";
}

.icon-frame-sketch-unlock-after:after {
    content: "\e621";
}

.icon-frame-sketch-move-up-after:after {
    content: "\e622";
}

.icon-frame-sketch-move-down-after:after {
    content: "\e623";
}

